﻿
	<div class="fn_pop_container cms_agree_msg"  style="background:transparent; width:100%;">
		<!--레이어 안내 팝업-->

		<div class="wrap-layerpop" style="width:80%;left:10%;">
			<div class="header2">
				<p class="txt-title">신청동의</p>
			</div>
			<div class="contents align-left">
				본인은 한국컴패션에 자동이체를 이용해 후원금을 납부하는 것에 동의합니다. 금융결제원, 효성FMS에 금융거래 정보를 제공하는 것에 동의합니다. 후원금으로 납부해야 할 금액에 대해 본인이 지정한 계좌에서 한국컴패션으로 지정 출금일(휴일일 경우 다음영업일)에 출금하는데 동의합니다. 만일 출금금액에 이의가 있을 경우 한국컴패션과 협의해서 조정하며 금융기관에는 이의를 제기하지 않을 것임을 동의합니다.
			</div>
			<div class="close2"><span class="ic-close" ng-click="cmsAgreeInstance.hide()">레이어 닫기</span></div>
		</div>

	</div>

