﻿
<div style="background: transparent;height:773px;width:800px;" class="fn_pop_container" id="popup">

	<!-- 일반팝업 width : 800 -->
	<div class="pop_type1 w800 fn_pop_content">
		<div class="pop_title">
			<span>캠페인/이벤트 신청</span>
			<button class="pop_close"><span><img src="/common/img/btn/close_1.png" alt="팝업닫기" /></span></button>
		</div>

		<div class="pop_content reserve">

			<!-- step -->
			<div class="stepWrap event">
				<ul class="clear2">
					<li class="arr on">
						<span class="bg bg2"></span>
						<span class="txt">STEP 01<br /><span class="txt2">정보 입력</span></span>
					</li>
					<li>
						<span class="bg bg3"></span>
						<span class="txt">STEP 02<br /><span class="txt2">신청 완료</span></span>
					</li>
				</ul>
			</div>
			<!--// step -->
			<!-- 정보입력 테이블 -->
			<div class="tableWrap2 mb30 content content-1">
				<table class="tbl_type1">
					<caption>정보입력 테이블</caption>
					<colgroup>
						<col style="width:17%" />
						<col style="width:83%" />
					</colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="name">이름</label></th>
                            <td><input type="text" maxlength="20" id="name" class="input_type2 name" value="" style="width:150px;" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="phone">휴대폰</label></th>
                            <td><input type="text" id="phone" class="input_type2 phone" value="" style="width:400px;" maxlength="13" /></td>
                        </tr>
                        <tr class="count_section count_div" style="display:none;">
                            <th scope="row"><label for="number">신청 인원<br />(본인 포함)</label></th>
                            <td>
                                <button class="minus" type="button">1명 삭제</button>
                                <input type="text" id="number" class="input_type3 fl" value="1" style="width:35px;" />
                                <button class="pluse" type="button">1명 추가</button>
                                &nbsp;&nbsp;&nbsp;
                                <span style="font-size: 16px;vertical-align: middle;line-height: 34px;">최대 <span id="maximun_request"></span>명</span>
                            </td>
                        </tr>
                        <tr class="date_section" style="display:none;">
                            <th scope="row"><label for="sel_1">신청 날짜</label></th>
                            <td>
                                <span class="sel_type2" style="width:200px">
                                    <select class="custom_sel date" name="" id="sel_1"></select>
                                </span>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <th scope="row"><label for="sel_2">컴패션 이벤트를<br />알게 된 경로</label></th>
                            <td>
                                <span class="sel_type2" style="width:400px">
                                    <select class="custom_sel route" name="route" id="sel_2">
                                        <option value="">선택해 주세요</option>
                                        <option value="교회">교회</option>
                                        <option value="이메일(뉴스레터)">이메일(뉴스레터)</option>
                                        <option value="우편(DM)">우편(DM)</option>
                                        <option value="SNS">SNS</option>
                                        <option value="문자(SMS)">문자(SMS)</option>
                                        <option value="컴패션 홈페이지">컴패션 홈페이지</option>
                                        <option value="컴패션 모바일앱">컴패션 모바일앱</option>
                                        <option value="지인 소개">지인 소개</option>
                                        <option value="신문/방송">신문/방송</option>
                                        <option value="잡지">잡지</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                        <tr class="request-contents" style="display:none;">
                            <th scope="row"><label for="request_contents">신청 내용<br />(최대 200자)</label></th>
                            <td>
                                <textarea Rows="2" maxlength="200" class="textarea_type2 request-contents" id="request_contents" placeholder="신청 내용을 입력해 주세요"></textarea>
                            </td>
                        </tr>
                    </tbody>
				</table>

			</div>
			<!--// 정보입력 테이블 -->

			<p class="ex_info2 content content-1">위 정보로 캠페인/이벤트 신청이 진행되오니, 입력하신 정보가 정확한지 다시 한 번 확인 부탁드립니다.</p>

			<div class="tac content content-1">
				<a href="#" class="btn_type1 btnAdd" style="display:none" onclick="$event.apply()">확인</a>
				<a href="#" class="btn_type1 btnEdit" style="display:none" onclick="$event.apply()">정보 변경하기</a>
			</div>

			<div class="complete content content-2" style="display:none;">
				<p class="txt1">
					<em class="fc_blue finish_name">홍길동</em>님 <span class="count_section">포함 총 <span class="fc_blue finish_count"></span>명의 </span>신청이 완료되었습니다.<br />
					전체 캠페인/이벤트 참여 내역은 <a href="/my/activity/event" class="my">마이컴패션</a>에서 확인하실 수 있습니다.<br />
					감사합니다.
				</p>
				<p class="sns clear2">
					<button class="facebook" data-role="sns" data-provider="fb"  title="페이스북">페이스북</button>
					<button class="story" data-role="sns" data-provider="ks" title="카카오스토리">카카오스토리</button>
					<button class="twitter" data-role="sns" data-provider="tw" title="트위터">트위터</button>
                    
				</p>
				<p class="txt2">지인들에게 컴패션 이벤트를 알려 주세요!</p>
			</div>


			<div class="tac content content-2" style="display:none;">
				<a class="btn_type1" onclick="location.reload()">확인</a>
			</div>


		</div>
	</div>
</div>
<script type="text/javascript">
    common.bindSNSAction();

</script>