﻿
<div style="background: transparent;" class="fn_pop_container" id="popup">

    <!-- 일반팝업 width : 800 -->
    <div class="pop_type1 w800 fn_pop_content" style="height:1569px;padding-top:50px;">
        <div class="pop_title">
            <span>체험전 예약</span>
            <button class="pop_close" type="button" ng-click="modalSchedule.close($event)"><span><img src="/common/img/btn/close_1.png" alt="팝업닫기" /></span></button>
        </div>

        <div class="pop_content reserve">

            <!-- step -->
            <div class="stepWrap">
                <ul class="clear2">
                    <li class="arr on">
                        <span class="bg bg1"></span>
                        <span class="txt">STEP 01<br /><span class="txt2">일정 선택</span></span>
                    </li>
                    <li class="arr">
                        <span class="bg bg2"></span>
                        <span class="txt">STEP 02<br /><span class="txt2">정보 입력</span></span>
                    </li>
                    <li>
                        <span class="bg bg3"></span>
                        <span class="txt">STEP 03<br /><span class="txt2">예약 완료</span></span>
                    </li>
                </ul>
            </div>
            <!--// step -->

            <div class="box_type3 ex_info">
                <span class="period">선택 가능 기간 : 2016년 10월 2일~2016년 10월 30일</span>
                <span class="location"></span>
            </div>

            <div class="tar">
                <span class="desc_full content content-1">- FULL</span>
            </div>

            <!-- 일정 달력 -->
            <div class="choice_cal_wrap content content-1" style="display:block;">

                <button class="btn btnLeft" style="display:none;">이전</button>
                <button class="btn btnRight" style="display:none;">다음</button>

                <div class="morning">오전</div>
                <div class="afternoon">오후</div>

                <div class="wrapper clear2 mb30">
                    <div class="daySet schedule">
                        <div class="week date"><span class="day">일</span><br />2016-10-02</div>
                        <ul class="daytime timetable"></ul>
                    </div>
                </div>

                <div class="tac">
                    <a href="#" class="btn_b_type1" onclick="$exper.step2()">다음</a>
                </div>
            </div>
            <!--// 일정 달력 -->
            <!-- 정보입력 테이블 -->
            <div class="tableWrap2 mb30 content content-2" style="display:none;">
                <table class="tbl_type1">
                    <caption>정보입력 테이블</caption>
                    <colgroup>
                        <col style="width:17%" />
                        <col style="width:83%" />
                    </colgroup>
                    <tbody>
                        <tr>
                            <th scope="row"><label for="name">이름</label></th>
                            <td><input type="text" id="name" class="input_type2 name" value="" style="width:150px;" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="phone">휴대폰</label></th>
                            <td><input type="text" id="phone" class="input_type2 phone" value="" style="width:400px;" maxlength="13" /></td>
                        </tr>
                        <tr>
                            <th scope="row"><label for="number">방문 인원<br />(본인 포함)</label></th>
                            <td>
                                <button class="minus">1명 삭제</button>
                                <input type="text" id="number" class="input_type3 fl" value="0" style="width:35px;" maxlength="1" />
                                <button class="pluse">1명 추가</button>

                                <span class="info_guide">
                                    <button class="open" onclick="$('.tooltip').fadeIn('fast');">가이드보기</button>
                                    <!-- tooltip -->
                                    <span class="tooltip">
                                        <ul>
                                            <!--<li>방문 인원 6~10명은? : <br />두 세팀으로 나누어 각 팀의 대표자가 개별적으로 신청</li>
                                            <li>방문 인원 10명 이상은? : <br />단체로 구분되오니 아래 연락처로 개별 문의 주세요 <br />02-3668-3443 / change@compassion.or.kr</li>-->
                                            <li>윈터스쿨은 15분 단위로 한 팀씩 참여합니다.</li>
                                            <li>한 팀은 최대 6명까지 신청 가능합니다.</li>
                                            <li>프로그램의 원활한 진행을 위해 단체 예약은 받지 않는 점 양해 부탁드립니다.</li>
                                            <li>6명 이상인 경우, 여러 시간대를 예약해 주시기 바랍니다.</li>
                                        </ul>
                                        <button class="close" onclick="$('.tooltip').fadeOut('fast');">닫기</button>
                                        <span class="arr"></span>
                                    </span>
                                    <!--// -->
                                </span>
                            </td>
                        </tr>
                        <tr style="display:none;">
                            <th scope="row"><label for="sel_1">컴패션체험전을<br />알게 된 경로</label></th>
                            <td>
                                <span class="sel_type2" style="width:400px">
                                    <select class="custom_sel route" name="" id="sel_1">
                                        <option value="">선택해 주세요</option>
                                        <option value="교회">교회</option>
                                        <option value="이메일(뉴스레터)">이메일(뉴스레터)</option>
                                        <option value="우편(DM)">우편(DM)</option>
                                        <option value="SNS">SNS</option>
                                        <option value="문자(SMS)">문자(SMS)</option>
                                        <option value="컴패션 홈페이지">컴패션 홈페이지</option>
                                        <option value="컴패션 모바일앱">컴패션 모바일앱</option>
                                        <option value="지인 소개">지인 소개</option>
                                        <option value="신문/방송">신문/방송</option>
                                        <option value="잡지">잡지</option>
                                    </select>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>


            <p class="ex_info2 content content-2" style="display:none;">위 정보로 체험전 예약이 진행되오니, 입력하신 정보가 정확한지 다시 한 번 확인 부탁드립니다.</p>

            <div class="tac content content-2" style="display:none;">
                <a href="#" class="btn_type4 mr10 btnAdd" onclick="$exper.step1()" style="display:none;">이전</a>
                <a href="#" class="btn_type1 btnAdd" onclick="$exper.apply()" style="display:none;">확인</a>

                <!-- 예약정보 변경 시 -->
                <a href="#" class="btn_type4 mr10 btnEdit" onclick="$exper.step1()" style="display:none;">일정 변경</a>
                <a href="#" class="btn_type1 btnEdit" onclick="$exper.apply()" style="display:none;">정보 변경하기</a>
            </div>
            <!--// 정보입력 테이블 -->
            <!-- 입력완료 -->
            <div class="complete content content-3" style="display:none;">
                <p class="txt1">
                    <em class="fc_blue finish_name">홍길동</em>님 포함 총 <span class="fc_blue finish_count">1</span>명의 체험전 신청이 완료되었습니다.<br />
                    기재하신 연락처로 예약확인 문자가 전송되었으며,<br />
                    전체 캠페인/이벤트 참여 내역은 <a class="my" onclick="location.href = '/my/activity/event'">마이컴패션</a>에서 확인하실 수 있습니다.<br />
                    감사합니다.
                </p>
                <p class="sns clear2">
                    <button class="facebook" data-role="sns" data-provider="fb" title="페이스북">페이스북</button>
                    <button class="story" data-role="sns" data-provider="ks" title="카카오스토리">카카오스토리</button>
                    <button class="twitter" data-role="sns" data-provider="tw" title="트위터">트위터</button>
                </p>
                <p class="txt2">지인들에게 컴패션체험전을 알려 주세요!</p>
            </div>


            <div class="tac content content-3" style="display:none;">
                <a href="#" class="btn_type1" onclick="location.reload()">확인</a>
            </div>


        </div>
    </div>
    <!--// popup -->
</div>
<script type="text/javascript">
    common.bindSNSAction();

</script>
