﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="payco_return.aspx.cs" Inherits="pay_payco_return" %>
<%
    Response.Charset = "UTF-8";
    
    //-----------------------------------------------------------------------------
    // USER-AGENT 구분
    //-----------------------------------------------------------------------------
    WebMode = Request.UserAgent.ToLower();
    if( !(WebMode.IndexOf("android") < 0 && WebMode.IndexOf("iphone") < 0 && WebMode.IndexOf("mobile") < 0)){
        WebMode = "MOBILE";
    } else {
        WebMode = "PC";
    }
    EXEC_API();
%>    