@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:700');

@font-face {
	font-family:'noto_t';
	src: url('/common/font/notokr-thin.eot');
	src: url('/common/font/notokr-thin.eot?#iefix') format('embedded-opentype'),
	     url('/common/font/notokr-thin.woff') format('woff'),
		 url('/common/font/notokr-thin.ttf') format('truetype'),
		 
}

@font-face {
	font-family:'noto_d';
	src: url('/common/font/notokr-demilight.eot');
	src: url('/common/font/notokr-demilight.eot?#iefix') format('embedded-opentype'),
	     url('/common/font/notokr-demilight.woff') format('woff'),
		 url('/common/font/notokr-demilight.ttf') format('truetype');
}

@font-face {
	font-family:'noto_l';
	src: url('/common/font/notokr-light.eot');
	src: url('/common/font/notokr-light.eot?#iefix') format('embedded-opentype'),
	     url('/common/font/notokr-light.woff') format('woff'),
		 url('/common/font/notokr-light.ttf') format('truetype');
}

@font-face {
	font-family:'noto_r';
	src: url('/common/font/notokr-regular.eot');
	src: url('/common/font/notokr-regular.eot?#iefix') format('embedded-opentype'),
	     url('/common/font/notokr-regular.woff') format('woff'),
		 url('/common/font/notokr-regular.ttf') format('truetype');
}

@font-face {
	font-family:'noto_m';
	src: url('/common/font/notokr-medium.eot');
	src: url('/common/font/notokr-medium.eot?#iefix') format('embedded-opentype'),
	     url('/common/font/notokr-medium.woff') format('woff'),
		 url('/common/font/notokr-medium.ttf') format('truetype');
}

@font-face {
	font-family:'noto_b';
	src: url('/common/font/notokr-bold.eot');
	src: url('/common/font/notokr-bold.eot?#iefix') format('embedded-opentype'),
	     url('/common/font/notokr-bold.woff') format('woff'),
		 url('/common/font/notokr-bold.ttf') format('truetype');
}