﻿							
<!-- 방글라데시 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/BD.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">방글라데시는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[방과 후 수업]</em>어린이센터에서 점심식사를 하고, 약 2시간 정도 프로그램 활동을 한 뒤 귀가합니다. 방글라데시의 많은 어린이들이 영양실조와 충분치 못한 교육기회로 인해 고통받고 있지만, 컴패션 후원자들의 도움으로 균형 잡힌 영양식과 교육의 기회를 제공받고 있습니다.</span>
		<span><em>[영양 지원]</em>후원어린이들은 어린이센터에서 식사를 제공받습니다. 더불어 계절 과일 및 신선한 우유를 간식으로 먹습니다. 식사는 소고기와 돼지고기를 제외한 밥, 콩, 야채, 계란, 생선, 닭고기, 양고기로 구성됩니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>어린이가 센터에 등록될 때 예방접종기록 확인 후 미 접종 시 공공기관에서 받을 수 있도록 돕습니다</span>
		<span><em>[특별활동]</em>이 프로그램은 11세 이상 후원어린이들에게 제공됩니다. 교육내용은 리더십 개발, 협동심 향상, 다양한 기술 습득을 위한 프로그램입니다. 특별 직업교육으로는 바느질과 도예가 있습니다. 또한 특별활동으로 청소년 신앙캠프, 체육대회, 찬양/율동교실, 드라마•미술 및 각종 경연대회 및 성경퀴즈대회를 비롯하여 축구, 크리켓, 배구 활동 등을 합니다.</span>
		<span><em>[학부모 모임]</em>한 달에 한번씩 부모님 모임을 통해 위생, 청결, 교육의 중요성 등을 교육합니다. 또한 가정방문을 통해서 남•여 어린이의 모두에게 교육의 필요성을 강조합니다.</span>
	</p>
</div>

