﻿							
<!-- 도미니카공화국 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/DR.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">도미니카공화국은 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>어린이들에게 영양식을 제공합니다. 또한 크리스마스와 같은 기념일에는 특별한 식사를 제공합니다. 극심한 가난을 겪는 어린이들을 위해 영양적으로 균형 있는 식사를 제공하려는 노력을 합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[신앙 활동]</em>연령대에 맞춰 성경책 제공.</span>
		<span><em>[예방접종]</em>부모님들이 시기에 맞춰 예방접종을 할 수 있도록 독려하며, 예방접종기록을 관리합니다.</span>
		<span><em>[직업 훈련]</em>컴퓨터, 미용, 제과제빵, 재봉, 이발, 목수, 차수리 등의 교육을 진행합니다.</span>
		<span><em>[특별활동]</em>어르신 집 청소와 같은 봉사활동을 실시합니다.</span>
	</p>
</div>

