﻿							
<!-- 엘살바도르 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/ES.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">엘살바도르는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[신앙 활동]</em>연령대에 맞춰 성경을 제공합니다.</span>
		<span><em>[영양 지원]</em>어린이센터의 모든 어린이에게 식사와 간식을 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>부모님들이 시기에 맞춰 예방접종을 할 수 있도록 독려하며, 예방접종기록을 관리합니다.</span>
		<span><em>[직업 훈련]</em>컴퓨터, 미용, 제과제빵, 재봉, 이발, 목수, 차 수리 등의 교육을 진행합니다.</span>
	</p>
</div>

