﻿							
<!-- 동인도네시아 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/IO.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">동인도네시아는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>어린이들에게 영양식을 제공합니다.식사는 밥, 고기, 야채 및 과일 등으로 구성됩니다. 또한 일주일에 한번씩 케이크, 빵, 도넛과 함께 우유를 간식으로 먹습니다. 어린이들을 ‘템뻬)’, 두부같이 고단백질로 구성된 식단을 제공받습니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>정기적으로 시기에 맞춰 예방접종을 진행합니다.</span>
		<span><em>[특별활동]</em>한 달에 두 번씩 체육활동을 하고, 매년 신앙캠프에 참가합니다. 12세 이상의 어린이들을 위해서 전통춤, 미술, 노래, 악기 연주 등의 문화활동을 한 달에 두 번씩 진행합니다.</span>
		<span><em>[청소년 활동]</em>컴퓨터 기술, 영어수업, 자동차 정비, 바느질 등을 배웁니다.</span>
		<span><em>[학부모 모임]</em>매월 학부모 모임을 통해 자녀양육에 관한 교육을 진행합니다.</span>
	</p>
</div>

