﻿							
<!-- 인도 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/IN.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">인도는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>일주일에 2번씩 균형 잡힌 영양식을 제공합니다. 식사에는 곡물, 시리얼, 야채, 계란, 고기 및 과일 등이 나옵니다. 영양실조에 걸린 어린이들의 경우, 특별식이 추가 제공받습니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>정기적으로 예방접종을 받을 수 있도록 합니다.</span>
		<span><em>[지적 프로그램]</em>건강한 자아 정체성 찾기, 건강한 자아인식, 대인관계 기술, 영어 말하기 등의 프로그램에 참여하고 악기, 컴퓨터, 무술 등을 배웁니다</span>
		<span><em>[특별활동]</em>청소년 캠프, 봉사활동, 어르신 방문 등을 통해 사회•정서적인 활동을 합니다.</span>
		<span><em>[직업활동]</em>목공, 용접, 전기수리, 기계수리, 운전, 배관수리 등의 직업교육을 제공합니다.</span>
		<span><em>[학부모 모임]</em>매월 학부모 모임을 통해 자녀양육훈련, 사회문제, 교육의 중요성에 대한 주제를 놓고 교육을 합니다. 이 시간을 통해 학부모들은 자녀들을  올바르게 양육하고 교육시킬 수 있는 방법을 배웁니다.</span>
	</p>
</div>

