﻿							
<!-- 케냐 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/KE.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">케냐는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>어린이들에게 영양식을 제공합니다. 간식으로는 죽, 차, 빵, 과일과 계란 등을 제공하며 점심으로는 우갈리, 소고기 스튜, 레구메와 케일 또는 양배추와 같은 채소를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[신앙 활동]</em>성경공부</span>
		<span><em>[특별활동]</em>체육 활동</span>
		<span><em>[직업 훈련]</em>청소년을 위한 바틱 만들기, 구슬 공예, 비누 제작, 바구니 제작 등의 교육 및 효율적인 농업을 위해 가뭄에 강한 농작물 교육과 비닐하우스 재배, 염소와 토끼 같은 가축 사육을 통한 수입 창출 교육을 진행합니다.</span>
		<span><em>[예방접종]</em>예방 접종을 정기적으로 실시합니다.</span>
		<span><em>[학부모 모임]</em>올바른 양육 훈련과 수입창출 교육을 받습니다.</span>
	</p>
</div>

