﻿							
<!-- 스리랑카 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/LK.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">스리랑카는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>밥, 고기, 생선, 야채 및 과일 등을 식사로 먹습니다. 또한 비스킷, 우유, 주스 등을 간식으로 제공받습니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>지역 의료기간과 연계하여 어린이들에게 필수 예방접종을 실시합니다.</span>
		<span><em>[특별활동]</em>어린이 캠프, 체육 활동, 야외활동, 학예회 등을 진행합니다.</span>
		<span><em>[학부모 모임]</em>정기적인 학부모 모임을 통해 어린이센터 활동을 안내 받고, 센터 선생님들과 유대감을 형성하여 어린이들이 가정과 센터에서 잘 양육될 수 있도록 돕습니다.</span>
	</p>
</div>

