﻿							
<!-- 멕시코 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/ME.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">멕시코는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[신앙 활동]</em>연령에 맞는 성경을 제공하며, 성경공부를 진행합니다.</span>
		<span><em>[영양 지원]</em>후원어린이들의 가정은 형편이 어려워 어린이들의 영양이 많이 부족한 상태입니다. 따라서 영양학 훈련을 받은 선생님이 균형잡힌 식단으로 식사를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>공공기관에서 예방접종을 받을 수 있도록 돕습니다.</span>
		<span><em>[특별활동]</em>12~18세 어린이들을 대상으로 정부에서 인증한 리더십 학습 프로그램 운영합니다. 또한 매년 신앙캠프 활동, 현장학습 및 생일 잔치를 진행합니다.</span>
		<span><em>[직업 훈련]</em>재봉기술, 수공예, 컴퓨터, 제과제빵, 미용학교 등의 직업훈련을 진행합니다.</span>
		<span><em>[학부모 모임]</em>정기적인 학부모 모임을 통해 자녀양육 훈련을 진행합니다.</span>
	</p>
</div>

