﻿							
<!-- 태국 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/TH.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">태국은 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>{{modalChild.item.namekr}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[신앙 활동]</em>등록 후 3개월 안에 연령별 맞춤형 성경책을 지급합니다.</span>
		<span><em>[영양 지원]</em>어린이들은 밥, 야채, 고기 등으로 만들어진 균형 잡힌 점심식사를 제공받습니다. 어린 친구들은 우유를 간식으로 받습니다. 영양실조에 걸린 어린이들에게는 도시락으로 밥, 계란, 생선 및 우유를 제공합니다. 대부분의 가정에서는 고기를 구입하지 못하므로, 어린이센터에서는 단백질 섭취를 위해 고기를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>정부에서 무상으로 제공하는 예방접종 외에 A형 간염, 수두, 폐렴구균 등의 추가 예방접종을 실시합니다. 연령대에 맞는 필수 예방접종을 어린이들에게 제공합니다.</span>
		<span><em>[특별활동]</em>방학기간에는 음악, 체육활동을 하며 마약반대 교육도 진행합니다. 또한 정기적인 기도모임도 엽니다.</span>
		<span><em>[직업 훈련]</em>컴퓨터 기술, 제과제빵, 기계수리, 농사, 목축업, 수공예 등의 교육을 받고 매년 예술과 신앙활동을 위한 캠프에 참가합니다. 수료 어린이들의 경우 어린이센터에서 일을 하거나, 어린이센터에서 제공하는 직업정보를 제공받습니다.</span>
		<span><em>[학부모 모임]</em>매년 학부모 모임을 통해 어린이들의 센터활동을 대한 소식을 듣고, 자녀들의  재능을 가정에서 어떻게 개발할 수 있는지를 배웁니다. 또한 어린이센터 선생님들은 분기별로 가정방문을 통해 면담을 진행하고 어린이와의 유대감을 쌓는데 도움을 줍니다. 양육보완프로그램을 통해 학부모들에게 직업훈련을 시키고 이를 통해 가정의 추가수입을 얻을 수 있도록 돕습니다.</span>
	</p>
</div>

