﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="default.aspx.cs" Inherits="sponsor_special_wedding_default" MasterPageFile="~/main.Master"%>
<%@ MasterType virtualpath="~/main.master" %>

<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">	
	<meta name="keywords" content="<%:this.ViewState["meta_keyword"].ToString() %>"  />
	<meta name="description" content="<%:this.ViewState["meta_description"].ToString() %>" />
	<meta property="og:url" content="<%:this.ViewState["meta_url"].ToString() %>" />
	<meta property="og:title" content="<%:this.ViewState["meta_title"].ToString() %>" />
	<meta property="og:description" content="<%:this.ViewState["meta_description"].ToString() %>" />
	<meta property="og:image" content="<%:this.ViewState["meta_image"].ToString() %>" />
</asp:Content>

<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
	<script type="text/javascript" src="/sponsor/info.js"></script>
</asp:Content>

<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">
	
	
	<div class="wrap-sectionsub">
	<!---->
    
		<div class="sponsor-special">
    	
			<div class="wrap-visualtop sectionsub-margin1" style="background:url('/common/img/page/sponsor/img-topvisual11.jpg') no-repeat">
        		<div class="dim"></div>    <!--dim-->
				<div class="contain" style="padding-top:50px">    <!--padding으로 컨텐츠 가운데에 맞게 조정-->
					<strong class="txt-slogon">나눔으로 시작하는 동행, 결혼 첫 나눔</strong>
					두 사람이 하나가 되는 결혼을 기념하여, <br />
					도움이 필요한 어린 생명에게 사랑을 나눠주세요.
					<div class="share-sns">
                		<a href="#" ng-click="sns.show($event)"><img src="/common/img/icon/share2.png" alt="SNS 공유" /></a>
					</div>
				</div>
			</div>

			<p class="txt-sub color1 mt20">&lowast; 본 캠페인은 국내 회원만 신청 가능합니다. 외국에서 후원을 원하시는 분은 ‘1:1 문의’을 통해 문의해주세요.</p>
        
		
			<p class="txt-caption mt20">신청방법</p>
			<p class="txt-sub2">
				1:1어린이양육 또는 태아·영아생존프로그램을 선택해서 신청 가능합니다.
			</p>
			<div class="gray-box">
				<span class="bu">결혼 첫나눔 신청은 기념증서 제작 및 발송을 위해, 결혼 예정일 4주 전에 신청해주세요.</span>
			</div>

			 <div class="box-bordergray mt20">
        		<p class="txt-title">결혼기념일에 태어난 어린이 1:1 양육하기</p>
				<p class="txt-note">월 45,000원씩 정기후원</p>
				<a class="bt-type4" href="/sponsor/special/wedding/regular/" runat="server" id="goPay1">신청하기</a>
			</div>
        
			<div class="box-bordergray mt20">
        		<p class="txt-title">아이티 ‘까르푸 센터’ 49 가정의 엄마와 아기 살리기</p>
				<p class="txt-note">태아·영아생존프로그램 일시후원 (10만 원 이상)</p>
				<a class="bt-type4" href="/sponsor/special/wedding/temporary/" runat="server" id="goPay2">신청하기</a>
			</div>

			<div class="bg-gray sectionsub-margin1 mt30">
        		<p class="txt-caption">컴패션에서 함께합니다!</p>
				<p class="txt-sub2">나눔으로 시작한 결혼을 특별하게 기억할 수 있는 선물을 준비해 드립니다.</p>
				<div class="mt20"><img src="/common/img/page/sponsor/img30.jpg" width="100%" alt="" /></div>
				<ul class="list-bu mt20">
            		<li><span class="color2">기념증서</span> : 부부의 사진이 담긴 기념 증서</li>
					<li><span class="color2">테이블 배너</span> :  축의금 접수처에 세워둘 수 있는 미니배너</li>
					<li><span class="color2">‘결혼 첫 나눔’ 안내문구</span> : 청첩장에 삽입할 수 있는 결혼 첫 나눔 안내문구 및 로고</li>
					<li><span class="color2">어린이 정보/ 후원금 사용처</span> : 후원 어린이 정보(1:1어린이양육시) 또는 후원금 사용처 소개서 (엄마와 아기를 구해요 프로그램 선택 시)</li>
					<li><span class="color2">기부금 영수증</span> : 후원금 결제 시 로그인된 사용자 명의로 기부금 영수증 발급(기부금 영수증은 ‘국세청 연말정산 간소화 서비스’  또는 ‘한국 컴패션 홈페이지’를 통해 확인 하실 수 잇습니다. </li>
				</ul>
			</div>

			<p class="txt-caption mt30">후원금은 이렇게 사용됩니다!</p>
			<p class="txt-sub2">‘일시 후원’을 통해 모인 후원금은 아이티 ‘까르푸 어린이센터’  태아•영아생존프로그램의 엄마와 아기들을 위해 사용됩니다.<br /><br />
        		&lowast; 어린이를 결연하신 경우, 어린이 정보가 담긴 후원자 가이드를 보내드립니다.
			</p>
			<div class="mt20"><img src="/common/img/page/sponsor/img31.jpg" width="100%" alt="" /></div>
        
			<div class="wrap-bt"><a href="http://www.srook.net/compassion/635974653145277309" target="_blank" class="bt-type6" style="width:100%">컴패션어린이센터 소개 보기</a></div>
        
		</div>
    
	<!--//-->
	</div>


</asp:Content>

