﻿
/* 나눔별 프로젝트 */
.tab-star{margin:0 0 30px}
.tab-star a{width:129px;height:34px;background:url('/image/get-involved/tab-star.png') no-repeat}
.tab-star1{margin:0 0 45px}
.tab-star1 a{width:158px;height:32px;background:url('/image/get-involved/tab-star1.png') no-repeat}
.tab-star1 li{border-color:#a3c3ed}
.tab-star1 li.on{border-color:#78a9e9;border-bottom-color:transparent}
.tab-star1 li.on, .tab-star1 li.on a{background-color:transparent}
.star .cover{height:306px;padding:0;background:url('/image/get-involved/txt-star.png') no-repeat;border:0 none;text-indent:-10000em}
.star .wrapper{width:605px;padding:39px 20px;background:url('/image/get-involved/bg-star.gif') repeat;border:1px solid #d4e3f5}
.star-intro .wrapper{width:625px;padding:39px 0 0 20px}
.star-intro .txt{background:url('/image/get-involved/txt-star-intro.png') no-repeat}
.star-intro .tit-project{height:78px;background-position:50% 0}
.star-intro .txt-project{height:500px;background-position:100% -140px} /* 수정 2012-09-06 기존: height:433px;background-position:100% -150px */
.star-intro .txt-program{height:950px;background-position:50% -720px} /* 수정 2012-09-06 기존: height:944px;background-position:50% -620px */
.star-intro .btn-request{top:50px;left:0px;padding:0;text-align:center;} /* 추가 2012-09-06 버튼박스 */
.star-intro .video{padding:28px 0 52px;text-align:center}
.star-intro .txt-info-cover{margin-top:40px;border-top:1px solid #d7d7d7;}
.star-intro .txt-info-cover .txt-info{height:52px;padding:0;background:url('/image/get-involved/txt-info.png') 10px 20px no-repeat;text-indent:-10000em;}

.star-board .txt{background:url('/image/get-involved/txt-star-board.png') no-repeat}
.star-board .txt-star-board{height:131px;background-position:50% 0}
.star-board .txt-photo{display:inline-block;width:51px;height:13px;background-position:0 -190px;vertical-align:middle}
.star-board .txt-num{color:#003796;font:bold 9pt tahoma}
.star-board .date-bar{position:relative;height:25px;margin:44px 0 38px;padding:10px 0 0;background:url('/image/get-involved/bg-star-th.gif') repeat 0 0;border-bottom:1px solid #c6d1e4;text-align:center}
.star-board .date-bar .txt-month{position:absolute;top:12px;left:20px}
.star-board .date-bar .txt-year *{font:bold 10pt arial}
.star-board .date-bar .month{padding:0 15px;color:#003796}
.star-board .date-bar .btn-pre{color:#555}
.star-board .date-bar .btn-next{color:#999}
.star-board .date-bar .func{position:absolute;top:4px;right:10px}
.star-board .write-comment textarea{width:500px}
.star-board .list-comment li .cont{color:#777}
.star-board div.write1{width:100%;overflow:hidden;border-bottom:1px solid #fafcff}
.star-board .write1 table{width:105%;margin:-1px 0 0 -2px;border-collapse:separate;border-bottom:1px solid #bfc8dd}
.star-board .list-comment ul{overflow:hidden;background:url('/image/get-involved/bg-star-li2.gif') repeat-x 0 100%}
.star-board .list-comment li{position:relative;margin:0 0 -3px;padding:16px 0 15px;background:url('/image/get-involved/bg-star-li1.gif') repeat-x 0 100%}
.star-board .view4 .info{background:url('/image/get-involved/bg-star-li1.gif') repeat-x 0 0}
.star-board .btn-list{padding:15px 0 15px}

.list-star-photo{width:100%;padding:0 0 20px 0;overflow:hidden}
.list-star-photo ul{width:105%;margin:0 0 0 5px;overflow:hidden}
.list-star-photo li{display:inline;float:left;width:186px;margin:0 15px 0 0;padding:0 0 39px}
.list-star-photo li dl{position:relative;padding:145px 0 0}
.list-star-photo li dl dt strong{font-size:1.1em}
.list-star-photo li dl .thumb{position:absolute;top:0;left:0}
.list-star-photo li dl .writer{color:#555}
.list-star-photo li dl .func, .list-star-photo li dl .func *{font:8pt tahoma}
.list-star-photo li dl .func{color:#aaa}
.list-star-photo li dl .func{color:#777}
.list-star-photo .paginator{padding:15px 0 0;background:url('/image/get-involved/bg-paginator.gif') repeat-x 0 0}

.star .list1, .star .write1, .star .view1{border-top-color:#bfc8dd;border-bottom-color:#bfc8dd;border-width:1px 0;border-collapse:separate}
.star .list1 th, .star .write1 th, .star .view1 th{width:98px;padding-left:0;background:url('/image/get-involved/bg-star-th.gif') repeat 0 0;border:1px solid #fafcff;border-color:#edf2fa #c4d2fa #c4d2fa #fafcff;text-align:center}
.star .list1 td, .star .write1 td, .star .view1 td{background:none;border:1px solid #fafcff;border-color:#fafcff #c4d2fa #cfdaff #fafcff}
.star .write1 .thumb{display:inline;float:left;width:86px;height:61px;margin:0 12px 0 0;background:#fff url('/image/ico/ico-photo1.gif') no-repeat 50% 50%}
.star .write1 .wrap{display:inline;float:left;margin:0 -15px 0 0}
.star-board ul.txt-guide1{margin:8px 0 0}
.star-board ul.txt-guide1 li{padding-left:6px;background:url('/image/ico/bul-dot9.gif') no-repeat 0 5px;font-size:.9em}
.star-board .txt-guide2{width:350px;margin:12px 0 0;color:#999;font-size:.9em}
.star-board .btn-r{padding:15px 0 0}

.star-archive .td-num{width:69px}
.star-archive .td-title{width:437px}
.star-archive .td-date{width:101px}
.star-archive .txt{background:url('/image/get-involved/txt-star-archieve.png') no-repeat}
.star-archive .txt-archive{height:78px;margin:0 0 40px;background-position:50% 0}
.star-archive .txt-archive-nodata{height:187px;background-position:50% -120px}
.star-archive .paginator{padding:14px 0 0}

/*컴패션 자료실*/ /*수정 20120515*/
/*.cps-picture .paginator{padding:20px 0 30px;border-top:1px solid #d7d7d7;}*/
.tab-cps-material{margin:0 0 30px}
.tab-cps-material a{width:129px;height:34px;background:url('/image/get-involved/tab-cps-material.png') no-repeat}

.cps-intro .imagebox{margin-top:58px;text-align:center;}
.cps-intro .imagebox strong{display:inline-block;margin-bottom:24px;background:url('/image/get-involved/bl_line.gif') repeat-x 0 100%;color:#f0761d;font-size:16px;line-height:18px;vertical-align:top;}
.cps-intro .imagebox p{padding-top:32px;line-height:20px;color:#999;}

.cps-intro .gallery-list, .wallpaper{border-top:1px solid #d7d7d7;}
.cps-intro .gallery-list{margin-top:54px;}
.cps-intro .wallpaper{margin-top:60px;}
.cps-intro .gallery-list ul{width:648px;padding-top:25px;}
.cps-intro .gallery-list ul li.first{padding-top:0;}
.cps-intro .gallery-list ul li{width:614px;overflow:hidden;margin:0 16px;padding:26px 0;background:url('/image/ico/dotted10.gif') repeat-x 0 100%;font-size:0;line-height:0;vertical-align:middle;}
.cps-intro .gallery-list ul li .img{display:inline;float:left;margin-top:10px;margin-left:9px;border:1px solid #ddd;}
.cps-intro .gallery-list ul li div.explan{width:438px;}
.cps-intro .gallery-list ul li div{float:right;width:444px;margin-right:8px;line-height:18px;}
.cps-intro .gallery-list ul li div strong{display:inline-block;padding-top:7px;font-size:14px;color:#555;}
.cps-intro .gallery-list ul li div p{padding-top:8px;}
.cps-intro .gallery-list ul li div p a{color:#777;font-size:12px;}
.cps-intro .gallery-list ul li.last{background:none;}

.wall-paper .paginator{padding-top:26px;}
.wall-paper .txt-note, .screen-saver .txt-note{width:647px;height:38px;margin-top:30px;background:url('/image/get-involved/txt-note.png') no-repeat;}
.btn-center3{margin-top:20px;}
.wallpaper ul{overflow:hidden;width:628px;padding:10px 10px 0;}
.wallpaper ul li{display:inline;float:left;width:179px;margin:20px 15px 0;text-align:center;font-size:0;line-height:0;}
.wallpaper ul li div.btn{width:179px;height:50px;margin:6px 0 0 1px;}
.wallpaper ul li div.btn a{position:relative;display:inline;float:left;width:90px;height:25px;margin:-1px 0 0 -1px;vertical-align:top;}
.wallpaper ul li span{display:block;margin-top:15px;color:#555;font-size:12px;font-weight:bold;line-height:14px;vertical-align:top;}
.wallpaper ul li a.down{display:inline-block;margin-top:6px;vertical-align:top;}
.screen-saver .paginator{padding-top:28px;}


/* 비전 트립 */
.vision-trip .cover{background:url('/image/get-involved/txt-vision-trip.jpg') no-repeat}
.vision-trip .about .txt{background:url('/image/get-involved/txt-vision-trip-about.jpg') no-repeat} /*수정 20120308*/
.vision-trip .about .txt-cover{width:236px;height:64px;margin:0 auto;background-position:0 0}
.vision-trip .about .txt-desc{background-position:0 0} /*수정 20121122*/
.vision-trip .cover{height:188px;background-position:50% 0;text-indent:-10000em}
.vision-trip .faq .tit-faq{height:14px;background-position:0 0}
.vision-trip .faq .box5{margin:40px 0 0;padding-left:25px}
.vision-trip .faq .txt-guide{height:32px;background-position:0 -40px}
.vision-trip .faq .txt{background-image:url('/image/get-involved/txt-vision-trip-faq.png')}
.vision-trip .faq .faq-list .tit-faq1{background-position:44px -87px}
.vision-trip .faq .faq-list .txt-faq1{height:71px;background-position:44px -140px}
.vision-trip .faq .faq-list .tit-faq2{background-position:44px -227px}
.vision-trip .faq .faq-list .txt-faq2{height:51px;background-position:44px -280px}
.vision-trip .faq .faq-list .tit-faq3{background-position:44px -347px}
.vision-trip .faq .faq-list .txt-faq3{height:71px;background-position:44px -400px}
.vision-trip .faq .faq-list .tit-faq4{background-position:44px -487px}
.vision-trip .faq .faq-list .txt-faq4{height:31px;background-position:44px -540px}
.vision-trip .faq .faq-list .tit-faq5{background-position:44px -597px}
.vision-trip .faq .faq-list .txt-faq5{height:51px;background-position:44px -650px}
.vision-trip .faq .faq-list .tit-faq6{background-position:44px -727px}
.vision-trip .faq .faq-list .txt-faq6{height:97px;background-position:44px -780px}
.vision-trip .faq .faq-list .tit-faq7{background-position:44px -897px}
.vision-trip .faq .faq-list .txt-faq7{height:72px;background-position:44px -950px}
.vision-trip .faq .faq-list .tit-faq8{background-position:44px -1047px}
.vision-trip .faq .faq-list .txt-faq8{height:31px;background-position:44px -1100px}
.vision-trip .faq .faq-list .tit-faq9{background-position:44px -1157px}
.vision-trip .faq .faq-list .txt-faq9{height:98px;background-position:44px -1210px}
.vision-trip .faq .faq-list .tit-faq10{background-position:44px -1327px}
.vision-trip .faq .faq-list .txt-faq10{height:52px;background-position:44px -1380px}
.vision-trip .faq .faq-list .tit-faq11{background-position:44px -1447px}
.vision-trip .faq .faq-list .txt-faq11{height:31px;background-position:44px -1500px}
.vision-trip .faq .faq-list .tit-faq12{background-position:44px -1547px}
.vision-trip .faq .faq-list .txt-faq12{height:31px;background-position:44px -1600px}
.vision-trip .faq .faq-list .tit-faq13{background-position:44px -1647px}
.vision-trip .faq .faq-list .txt-faq13{height:11px;background-position:44px -1700px}
.vision-trip .faq .faq-list .tit-faq14{background-position:44px -1727px}
.vision-trip .faq .faq-list .txt-faq14{height:31px;background-position:44px -1780px}

/* 개인방문 */
.personal-visit .about .txt{background:url('/image/get-involved/txt-personal-visit-about.jpg') no-repeat;width:647px;height:1702px;}
.personal-visit .guide .txt{background:url('/image/get-involved/txt-personal-visit-guide.jpg') no-repeat;width:647px;height:710px;}
.personal-visit .apply .txt{background:url('/image/get-involved/txt-personal-visit-apply.jpg') no-repeat;width:655px;height:656px;}

.personal-visit .faq .tit-faq{background-image:url('/image/get-involved/txt-vision-trip-faq.png');height:14px;background-position:0 0;margin-left:15px;}

.personal-visit .faq .txt{background-image:url('/image/get-involved/txt-personal-visit-qna.png')}
.personal-visit .faq .faq-list .tit-faq1{background-position:44px 12px}
.personal-visit .faq .faq-list .txt-faq1{height:15px;background-position:44px -38px}
.personal-visit .faq .faq-list .tit-faq2{background-position:44px -78px}
.personal-visit .faq .faq-list .txt-faq2{height:40px;background-position:44px -128px}
.personal-visit .faq .faq-list .tit-faq3{background-position:44px -190px}
.personal-visit .faq .faq-list .txt-faq3{height:40px;background-position:44px -240px}
.personal-visit .faq .faq-list .tit-faq4{background-position:44px -300px}
.personal-visit .faq .faq-list .txt-faq4{height:40px;background-position:44px -350px}
.personal-visit .faq .faq-list .tit-faq5{background-position:44px -410px}
.personal-visit .faq .faq-list .txt-faq5{height:60px;background-position:44px -460px}
.personal-visit .faq .faq-list .tit-faq6{background-position:44px -542px}
.personal-visit .faq .faq-list .txt-faq6{height:60px;background-position:44px -592px}
.personal-visit .faq .faq-list .tit-faq7{background-position:44px -673px}
.personal-visit .faq .faq-list .txt-faq7{height:60px;background-position:44px -723px}
.personal-visit .faq .faq-list .tit-faq8{background-position:44px -805px}
.personal-visit .faq .faq-list .txt-faq8{height:40px;background-position:44px -855px}
.personal-visit .faq .faq-list .tit-faq9{background-position:44px -915px}
.personal-visit .faq .faq-list .txt-faq9{height:40px;background-position:44px -965px}
.personal-visit .faq .faq-list .tit-faq10{background-position:44px -1026px}
.personal-visit .faq .faq-list .txt-faq10{height:40px;background-position:44px -1076px}
.personal-visit .faq .faq-list .tit-faq11{background-position:44px -1136px}
.personal-visit .faq .faq-list .txt-faq11{height:40px;background-position:44px -1186px}
.personal-visit .faq .faq-list .tit-faq12{background-position:44px -1247px}
.personal-visit .faq .faq-list .txt-faq12{height:40px;background-position:44px -1297px}
.personal-visit .faq .faq-list .tit-faq13{background-position:44px -1358px}
.personal-visit .faq .faq-list .txt-faq13{height:40px;background-position:44px -1408px}

/* 컴패션 유산기부 */
.legacy .main .txt{background:url('/image/get-involved/Legacy.jpg') no-repeat;width:647px;height:2567px;}

/* 결혼 첫 나눔 */
.wedding .main .txt{background:url('/image/get-involved/Special/Special.jpg') no-repeat;width:647px;height:1450px;}

/* get-involved */
.get-involved .headline-dep2 .txt, .get-involved .headline-dep3{background-image:url('/image/get-involved/get-involved-tit.png')}
.get-involved .headline-dep2 .txt{height:85px}
.get-involved .sponsor-enterprise .headline-dep3{background-position:0 -150px}
.get-involved .sponsor-group .headline-dep3{background-position:0 -250px}
.get-involved .supporters .headline-dep3{background-position:0 -350px}
.get-involved .partnership .headline-dep3{background-position:0 -450px}
.get-involved .compassion-sunday .headline-dep3{background-position:0 -550px}
.get-involved .compassion-day .headline-dep3{background-position:0 -650px}
.get-involved .c2c .headline-dep3{background-position:0 -750px}
.get-involved .church-vision-trip .headline-dep3{background-position:0 -1150px}
.get-involved .voc .headline-dep3{background-position:0 -850px}
.get-involved .yvoc .headline-dep3{background-position:0 -950px}
.get-involved .foc .headline-dep3{background-position:0 -1050px}
.get-involved .mate .headline-dep3{background-position:0 -1850px}
.get-involved .vision-trip .about .headline-dep3{background-position:0 -1250px}
.get-involved .vt-guide .headline-dep3{background-position:0 -1350px}
.get-involved .vt-apply .headline-dep3{background-position:0 -1450px}
.get-involved .vt-qna .headline-dep3{background-position:0 -1550px}
.get-involved .star .headline-dep3{background-position:0 -1650px}
.get-involved .compassion-band .headline-dep3{background-position:0 -1750px}
.get-involved .cps-material .headline-dep3{background-position:0 -1950px}
.get-involved .cps-picture .headline-dep3{background-position:0 -1950px}
.get-involved .personal-visit .headline-dep3{background-position:0 -2050px}
.get-involved .csp-index .headline-dep3{background-position:0 -2550px}
.get-involved .wedding .headline-dep3{background-position:0 -2650px}
.get-involved .legacy .headline-dep3{background-position:0 -2750px}

/* vision-trip-apply */
.vision-trip .apply .headline-dep3{background-position:0 -1450px}
.vision-trip .faq .headline-dep3{background-position:0 -1550px}
.vision-trip .apply .cover{margin-bottom:0;border:none}
.vision-trip .apply .txt1{width:676px;height:1424px;background:url('/image/get-involved/vision-trip-apply_pp.jpg') no-repeat -3px -1px}
.vision-trip .apply .txt2{width:676px;height:1324px;background:url('/image/get-involved/vision-trip-apply_nd.jpg') no-repeat -3px -1px}
.vision-trip .apply .txt3{width:676px;height:1324px;background:url('/image/get-involved/vision-trip-apply_dd.jpg') no-repeat -3px -1px}

/* 비전트립 안내 */
.vision-trip .guide .headline-dep3{background-position:0 -1350px}
.vision-trip .guide .cont{position:relative}
.tab-guide1{position:absolute;top:43px;left:35px}
.tab-guide1 a{width:118px;height:32px;background:url('/image/get-involved/tab-guide.png') no-repeat;text-indent:-10000em}
.tab-guide1 li.on, .tab-guide1 li.on a{background-color:transparent}
.tab-guide1 li{border-color:#a3c3ed}
.tab-guide1 li.on{border-color:#78a9e9;border-bottom-color:transparent}
.praparation-materials{width:651px;height:603px;background:url('/image/get-involved/praparation-materials.jpg') no-repeat;text-indent:-10000em}
.guide .tit1 .txt{height:15px;background:url('/image/get-involved/tit-guide.png') no-repeat}
.vision-trip .guide .tit-guide1{background-position:0 0}
.vision-trip .guide .tit-guide2{background-position:0 -50px}
.vision-trip .guide .tit-guide3{background-position:0 -100px}
.vision-trip .guide .text{background:url('/image/get-involved/txt-guide.png') no-repeat;text-indent:-10000em}
.vision-trip .guide .trip-refund{height:190px;margin-top:7px;padding-bottom:40px;background-position:0 0;border-bottom:1px solid #d7d7d7}
.vision-trip .guide .account-pay{height:180px;background-position:0 -230px}
.account-pay table{text-indent:-10000em}
.cost-trip{width:651px;height:784px;background:url('/image/get-involved/cost-trip.jpg') no-repeat;text-indent:-10000em}

.vision-trip .guide .cover, .vision-trip .faq .cover{padding-bottom:12px}
.vision-trip .about .cover,.vision-trip .apply .cover, .vision-trip .guide .cover, .vision-trip .faq .cover{margin:-28px 0 0;border:none}


/* vision-trip-apply */
.vision-trip .apply .cover{margin-bottom:0;border:none}

/*수정 2012-06-14*/  /* top 위치 : 530, 980, 1430, */
.vision-trip .apply .txt{position:relative;width:647px;background:url('/image/get-involved/vision-trip-apply.jpg') no-repeat -3px -1px} /*수정 2012-11-22*/
.vision-trip .apply .btn-m{display:block;position:absolute;top:1508px;width:647px;}
.vision-trip .apply .btn-m, .vision-trip .apply .btn-m a{text-indent:0}

/*주석처리 2013-01-02*/
/*.vision-trip .apply .btn-m1 a{display:block;position:absolute;top:602px;left:209px;width:227px;height:54px;text-align:center;}*/

/*수정 2013-01-02*/
.vision-trip .apply .btn-m1{display:block;position:absolute;top:530px;width:647px;text-align:center;}
.vision-trip .apply .btn-m1, .vision-trip .apply .btn-m1 a{text-indent:0}
/*
.vision-trip .apply .btn-m2{display:block;position:absolute;top:530px;width:647px;text-align:center;}
.vision-trip .apply .btn-m2, .vision-trip .apply .btn-m2 a{text-indent:0}
.vision-trip .apply .btn-m3{display:block;position:absolute;top:530px;width:647px;text-align:center;}
.vision-trip .apply .btn-m3, .vision-trip .apply .btn-m3 a{text-indent:0}
.vision-trip .apply .btn-m4{display:block;position:absolute;top:530px;width:647px;text-align:center;}
.vision-trip .apply .btn-m4, .vision-trip .apply .btn-m4 a{text-indent:0}
.vision-trip .apply .btn-m5{display:block;position:absolute;top:530px;width:647px;text-align:center;}
.vision-trip .apply .btn-m5, .vision-trip .apply .btn-m5 a{text-indent:0}
.vision-trip .apply .btn-m6{display:block;position:absolute;top:530px;width:647px;text-align:center;}
.vision-trip .apply .btn-m6, .vision-trip .apply .btn-m6 a{text-indent:0}
*/


/* 사업성과보고서 */
.performance-reporting .txt{background:url('/image/about-us/txt-performance-reporting.png') no-repeat}
.tit-performance-reporting{height:15px;background-position:0 0}
.performance-reporting .cont{height:614px;margin:0 -10px;background:url('/image/about-us/performance-reporting.png') no-repeat 7px 0;text-align:center}
.performance-reporting .visual{position:absolute;top:408px;left:57px}

/* vision-trip-about */
.vision-trip .txt-desc *{text-indent:-10000em}

/* 부가정보 - 자주 묻는 질문 */
.tab-faq{margin:40px 0 20px;padding:0 0 1px}
.tab-faq li{margin:0 -1px -1px 0}
.tab-faq a{width:128px;height:32px;background:url('/image/etc/tab-faq.png') no-repeat}
.etc .faq .txt{background:url('/image/etc/txt-faq.png') no-repeat}
.etc .faq .txt-guide{width:100%;height:11px;margin:0 0 13px;background-position:0 0}
.etc .faq .txt-search-faq{width:46px;height:14px;background-position:0 -50px}
/*.etc .faq .paginator{margin:0 0 50px}*/
.etc .faq .txt-more{width:450px;height:62px;margin:0 0 0 26px;background-position:0 -100px}
.etc .faq .box3{position:relative;width:100%;margin-top:50px;padding:26px 0 27px}
.etc .faq .btn{position:absolute;top:50%;right:25px;margin-top:-14px}
.etc .faq .list1{table-layout:fixed}
.etc .faq .list1 a{color:#999}
.etc .faq .list-faq .answer td{padding:0;line-height:1.7;color:#555}
.etc .faq .list-faq .answer td div{padding:27px 44px;overflow:auto;overflow-x:hidden} /* 수정 2013-05-10 : max-height:150px; 삭제 */
.etc .faq .list-faq .views td{padding:0;line-height:1.7;color:#555}
.etc .faq .list-faq .views td div{padding:27px 44px;overflow:auto;} /* 수정 2013-05-10 : max-height:150px; 삭제 */
.etc .faq .td-num{width:57px;padding:0 5px}
.etc .faq .td-sort{width:120px;padding:0 5px}
.etc .faq .td-title{width:405px;padding-left:21px}
.faq-search{padding:17px 0;background:#f6f6f6;text-align:center}
.faq-search .text{margin:0 3px 0 13px;border-color:#ccc}

/* 사이트맵 */
.sitemap .list{border-top:1px solid #e1e1e1}
.sitemap .list th, .sitemap .list td{border-bottom:1px solid #e1e1e1}
.sitemap .list th{width:150px;padding-top:40px;padding-left:19px;background:#f7f7f7;vertical-align:top}
.sitemap .list td{width:434px;padding:0 0 0 44px}
.sitemap .list li{width:100%;padding:20px 0;background:url('/image/ico/dotted6.gif') repeat-x 0 100%;overflow:hidden}
.sitemap .list ul .site-recruit{background:none;}
.sitemap .list li li{background:none}
.sitemap .list .txt{display:block !important;background:url('/image/etc/txt-sitemap.png') no-repeat;text-indent:-10000em}
.sitemap .list .txt-sponsorship{width:123px;height:149px;background-position:0 0}
.sitemap .list .txt-compassion{width:137px;height:172px;background-position:-430px 0}

.sitemap .list .txt-cdsp{width:207px;height:30px;background-position:-200px 0}
.sitemap .list .txt-ldp{width:170px;height:30px;background-position:-200px -50px}
.sitemap .list .txt-csp{width:133px;height:30px;background-position:-200px -100px}
.sitemap .list .txt-civ{width:153px;height:30px;background-position:-200px -150px}
.sitemap .list .txt-goc{width:106px;height:30px;background-position:-200px -200px}

.sitemap .list ul li ul{float:left;width:280px;overflow:hidden}
.sitemap .list ul li ul li{float:left;width:120px;padding:0 0 0 8px;background:url('/image/ico/bul-dot3.gif') no-repeat 0 9px}
.sitemap .list ul .site-event ul li{float:none;}
.sitemap .list ul li ul li a{width:120px;height:22px}
.sitemap .list .site-compassion td strong.txt{float:left;width:100px;height:50px}

.sitemap .list .txt-about-us{width:62px;height:31px;background-position:-630px 5px}
.sitemap .list .txt-introduce{background-position:-730px 5px}
.sitemap .list .txt-notice{background-position:-850px 5px}
.sitemap .list .txt-financial{background-position:-970px 5px}
.sitemap .list .txt-press{background-position:-1090px 5px}
.sitemap .list .txt-sustainability{background-position:-1210px 5px}
.sitemap .list .txt-magazine{background-position:-1330px 5px}
.sitemap .list .txt-honorary-ambassador{background-position:-1450px 5px}
.sitemap .list .txt-map{background-position:-1570px 5px}

.sitemap .list .txt-get-involved{background-position:-630px -45px}
.sitemap .list .txt-sponsor{background-position:-730px -45px}
.sitemap .list .txt-foc{background-position:-850px -45px}
.sitemap .list .txt-church{background-position:-970px -45px}
.sitemap .list .txt-mate{background-position:-1090px -45px}
.sitemap .list .txt-voc{background-position:-1210px -45px}
.sitemap .list .txt-vision-trip{background-position:-1330px -45px}
.sitemap .list .txt-yvoc{background-position:-1450px -45px}
.sitemap .list .txt-star{background-position:-1570px -45px}

.sitemap .list .txt-where{background-position:-630px -95px}
.sitemap .list .txt-asia{background-position:-730px -95px}
.sitemap .list .txt-caribbean-sea{background-position:-850px -95px}
.sitemap .list .txt-africa{background-position:-970px -95px}
.sitemap .list .txt-disaster{background-position:-1090px -95px}
.sitemap .list .txt-south-america{background-position:-1210px -95px}
.sitemap .list .txt-prayers{background-position:-1330px -95px}

.sitemap .list .txt-etc{background-position:-630px -145px}
.sitemap .list .txt-login{background-position:-730px -145px}
.sitemap .list .txt-guide{background-position:-850px -145px}
.sitemap .list .txt-join{background-position:-970px -145px}
.sitemap .list .txt-find-id{background-position:-1210px -145px}
.sitemap .list .txt-terms{background-position:-1330px -145px}
.sitemap .list .txt-sitemap{background-position:-1450px -145px}
.sitemap .list .txt-privacy{background-position:-1570px -145px}

.sitemap .list .txt-event{background-position:-630px -245px}
.sitemap .list .txt-current{background-position:-730px -245px}
.sitemap .list .txt-past{background-position:-850px -245px}

.sitemap .list .txt-recruit{background-position:-630px -195px}
.sitemap .list .txt-process{background-position:-730px -195px}
.sitemap .list .txt-hrpool{background-position:-850px -195px}
.sitemap .list .txt-ability{background-position:-970px -195px}
.sitemap .list .txt-apply-admin{background-position:-1090px -195px}
.sitemap .list .txt-duty{background-position:-1210px -195px}
.sitemap .list .txt-refer{background-position:-1330px -195px}
.sitemap .list .txt-apply{background-position:-1450px -195px}

.sitemap .list .txt-faq{position:relative;background-position:-1570px -195px}

.sitemap .list .wrap{overflow:hidden}
.sitemap .list .wrap ul{margin:0 0 -1px}

/* 후원자 가이드 */
.etc .guide .cover{position:relative;margin:0 0 60px}
.etc .guide .cont{padding:52px 39px 45px;border:1px solid #d7d7d7;border-width:0 1px 1px}
.etc .guide .cover .txt{width:387px;margin:0 0 0 15px;padding:0 0 0 259px}
.btn-ldp2, .btn-donation-breakdown, .btn-cdsp{margin:-15px 0 0 261px}
.etc .guide .cont .txt{display:block !important}

.tab-guide-payment a{height:34px;background:url('/image/etc/tab-guide-payment.png') no-repeat}
.tab-guide-payment a.t1{width:108px}
.tab-guide-payment a.t2{width:108px}
.tab-guide-payment a.t3{width:130px}
.tab-guide-payment a.t4{width:187px}
.tab-guide-payment a.t5{width:108px}
.guide-payment .cover .txt{height:138px;background:url('/image/etc/txt-guide-payment.jpg') no-repeat}
.guide-payment #cont1 .txt{height:910px;background:url('/image/etc/txt-guide-payment1.png') no-repeat}
.guide-payment #cont2 .txt{height:1210px;background:url('/image/etc/txt-guide-payment2.png') no-repeat}
.guide-payment #cont3 .txt{height:471px;background:url('/image/etc/txt-guide-payment3.png') no-repeat}
.guide-payment #cont4 .txt{height:628px;background:url('/image/etc/txt-guide-payment4.png') no-repeat}
.guide-payment #cont5 .txt{height:1231px;background:url('/image/etc/txt-guide-payment5.png') no-repeat}

.tab-guide-get-involved a{width:322px;height:34px;background:url('/image/etc/tab-guide-get-involved.png') no-repeat}
.guide-get-involved .cover .txt{height:138px;background:url('/image/etc/txt-guide-get-involved.jpg') no-repeat}
.guide-get-involved #cont1 .txt{height:732px;background:url('/image/etc/txt-guide-get-involved1.png') no-repeat}
.guide-get-involved #cont2 .txt{height:408px;background:url('/image/etc/txt-guide-get-involved2.png') no-repeat}

.tab-guide-civ a{width:214px;height:34px;background:url('/image/etc/tab-guide-civ.png') no-repeat}
.tab-guide-civ a.t3{width:215px}
.guide-civ .cover .txt{height:138px;background:url('/image/etc/txt-guide-civ.jpg') no-repeat}
.guide-civ #cont1 .txt{height:410px;background:url('/image/etc/txt-guide-civ1.png') no-repeat}
.guide-civ #cont2 .txt{height:847px;background:url('/image/etc/txt-guide-civ2.jpg') no-repeat}
.guide-civ #cont3 .txt{height:567px;background:url('/image/etc/txt-guide-civ3.png') no-repeat}

.tab-guide-ldp a{width:214px;height:34px;background:url('/image/etc/tab-guide-ldp.png') no-repeat}
.tab-guide-ldp a.t1, .tab-guide-ldp a.t3{width:161px}
.tab-guide-ldp a.t2, .tab-guide-ldp a.t4{width:160px}
.guide-ldp .cover .txt{height:138px;background:url('/image/etc/txt-guide-ldp.jpg') no-repeat}
.guide-ldp #cont1 .txt{height:1178px;background:url('/image/etc/txt-guide-ldp1.png') no-repeat}
.guide-ldp #cont2 .txt{height:586px;background:url('/image/etc/txt-guide-ldp2.jpg') no-repeat}
.guide-ldp #cont3 .txt{height:1684px;background:url('/image/etc/txt-guide-ldp3.png') no-repeat}
.guide-ldp #cont4 .txt{height:556px;margin:0 0 30px;background:url('/image/etc/txt-guide-ldp4.png') no-repeat}
.tab-guide-compassion a, .tab-guide-csp a{width:322px;height:34px;text-indent:-10000em}

/* 컴패션과 함께하는 행복한 세상 */
.guide-compassion .cover .txt{height:138px;background:url('/image/etc/txt-guide-compassion.jpg') no-repeat}
.tab-guide-compassion a{background:url('/image/etc/tab-guide-compassion.png') no-repeat}
.guide-compassion #cont1 .txt{width:567px;height:797px;background:url('/image/etc/txt-guide-compassion.png')}
.guide-compassion #cont2 .txt{width:562px;height:840px;background:url('/image/etc/txt-guide-compassion2.png')}

/* 태아 영아 살리기 */
.guide-csp .cover .txt{height:138px;background:url('/image/etc/txt-guide-csp.jpg') no-repeat}
/* .btn-csp, .btn-civ{margin:-53px 0 0 261px}*/
.btn-csp{position:absolute;left:262px;top:106px;width:166px;height:27px;background:url('/image/btn/btn-csp.png') no-repeat 0 0}
.tab-guide-csp a{background:url('/image/etc/tab-guide-csp.png') no-repeat}
.guide-csp #cont1, .guide-csp #cont2{width:562px}
.guide-csp #cont1 .txt{height:565px;background:url('/image/etc/txt-guide-csp.png')}
.guide-csp #cont2 .txt{height:691px;background:url('/image/etc/txt-guide-csp2.png')}

/* 1:1어린이 양육 */
.guide-cdsp .cover .txt{height:138px;background:url('/image/etc/txt-guide-cdsp.jpg') no-repeat}
.btn-cdsp{width:160px;height:27px;background:url('/image/btn/btn-cdsp.png') no-repeat 0 0}
.tab-guide-cdsp a.t1{width:135px}
.tab-guide-cdsp a.t2{width:203px}
.tab-guide-cdsp a.t3{width:103px}
.tab-guide-cdsp a.t4{width:97px}
.tab-guide-cdsp a.t5{width:103px}
.tab-guide-cdsp a{height:34px;background:url('/image/etc/tab-guide-cdsp.png')}
.guide-cdsp #cont1 .txt{width:562px;height:578px;background:url('/image/etc/txt-guide-cdsp1.png')}
.guide-cdsp #cont2 .txt{position:relative;width:562px;height:1106px;background:url('/image/etc/txt-guide-cdsp2.png')}
.guide-cdsp #cont4 .txt{width:565px;height:674px;background:url('/image/etc/txt-guide-cdsp4.png')}
.guide-cdsp #cont5 .txt{width:556px;height:1030px;margin-bottom:-48px;background:url('/image/etc/txt-guide-cdsp5.png')}
.guide-cdsp .txt .btn-supporter-ex{position:absolute;top:102px;left:4px;width:156px;height:27px;background:url('/image/btn/btn-supporter-ex.png') no-repeat}
.guide-cdsp .tit-edu-course{width:196px;height:20px;padding-bottom:29px;background:url('/image/etc/tit-nurture-course.png') no-repeat}
.tab-edu-course a{height:29px;background:url('/image/etc/tab-nurture-course.png') no-repeat}
.tab-edu-course a.t1, .tab-edu-course a.t2, .tab-edu-course a.t3, .tab-edu-course a.t4{width:103px}
.tab-edu-course{margin:0 0 -1px;z-index:0}
.tab-edu-course li{border-bottom-color:#00bee6 !important}
.tab-edu-course li.on{position:relative;padding:0 0 1px;border-bottom:0 none !important;border-color:#00bee6;background:url('/image/ico/dotted7.gif') repeat-x 0 100%;z-index:10}
.txt-context1, .txt-context2, .txt-context3, .txt-context4{width:555px;height:458px;background:no-repeat;border:1px solid #00bee6;text-indent:-10000em}
.txt-context1{background:url('/image/etc/txt-nurture-course1.png')}
.txt-context2{background:url('/image/etc/txt-nurture-course2.png')}
.txt-context3{background:url('/image/etc/txt-nurture-course3.png')}
.txt-context4{background:url('/image/etc/txt-nurture-course4.png')}

/* 양육을 돕는 후원 */
.btn-civ{position:absolute;left:262px;top:106px;width:125px;height:27px;background:url('/image/btn/btn-civ.png') no-repeat 0 0}

/* 컴패션 밴드 */
.compassion-band .cover{height:349px;margin:0;padding:0;background:url('/image/get-involved/compassion-band-cover.jpg') no-repeat;text-indent:-10000em;border:0 none}
.compassion-band .cont{background:url('/image/get-involved/bg-compassion-band.png') repeat; border:1px solid #e0e0e0; border-width:0 1px 1px; height:1500px;}
.compassion-band .txt{background:url('/image/get-involved/txt-compassion-band.png') no-repeat;height:1430px;}
.compassion-band .txt-title{height:110px;background-position:50% -10px}
.compassion-band .txt-desc{height:400px;background-position:0px -100px}
.compassion-band .txt-outline{width:598px;height:550px;background-position:-15px -500px;background-color:White;border-top:1px solid #d7d7d7;border-bottom:1px solid #d7d7d7}
.compassion-band .txt-apply{height:64px;margin:0 0 25px;background-position:0 -840px}
.compassion-band .txt-input-info{height:16px;background-position:0 -940px}
.compassion-band .txt-complete{height:185px;background-position:0 -990px}
.compassion-band .btn-m{padding:50px 0 0}
.compassion-band .video{text-align:center}
.compassion-band .write-field{margin:40px 0 0;padding:20px 0 0;background:url('/image/ico/dotted1.gif') repeat-x}
.compassion-band .write1{margin:11px 0 0}
.compassion-band .write1 tr th{padding-left:22px;text-align:left}
.compassion-band .write1 tr td{padding:5px 15px 5px;background-color:#fff}
.compassion-band .write1 .txt-add{font-size:.9em}
.compassion-band .write1 tr th.required{background-position:12px 15px}

/* 이벤트 */
.event #contents .txt{display:inline-block;background:url('/image/event/txt-event.png') no-repeat;vertical-align:middle;margin-top:-3px;overflow:hidden}
.event #contents .tit-period{width:31px;height:11px;background-position:0 0}
.event .list .txt-period{color:#dc7800}
.event #contents .tit-public{width:31px;height:11px;background-position:-100px 0}
.event .list{margin:0 0 20px}
.event .list li{width:100%;padding:30px 0;overflow:hidden;border-bottom:1px solid #eee}
.event .list .thumb{display:inline;float:left;margin:0 40px 0 0}
.event .list dl{padding:7px 0 0}
.event .list dt{margin:0 0 10px}
.event .list dt strong{font-size:1.3em}
.event .list .context{margin:0 0 10px;color:#666}
.evt-area{width:645px;overflow:hidden;border:1px solid #d6d6d6}
.event .nodata{width:645px;height:116px;padding:133px 0 0 0;background:#F6F6F6 url("/image/ico/state3.png") no-repeat 50% 48px;border:1px solid #d7d7d7}
.event #contents .nodata .txt{width:100%;height:61px;background-position:50% -50px;text-indent:-10000em}

.branding-guide .cont{position:relative;height:2690px;background:url('/image/about-us/branding-guide.jpg') no-repeat}
.branding-guide .cont .btn-m{position:absolute;top:1144px;width:100%}

/* 서비스개편 */
.service-reform .cont-wrap{width:522px;margin:0 auto;padding-top:42px;}

/* 찾아오시는 길 */
.map .txt, .map .layer2{background-image:url('/image/about-us/txt-map.png');background-repeat:no-repeat}
.map .tit-map{width:26px;height:15px;background-position:0 0}
.map .tit-map1{width:70px;height:15px;background-position:-485px -925px;}
.map .tit-map2{width:70px;height:15px;background-position:-485px -975px;}
.map .txt-traffic{width:51px;height:15px;background-position:0 -30px}
.map .txt-traffic1{width:90px;height:15px;background-position:-485px -950px}
.map .txt-traffic2{width:90px;height:15px;background-position:-485px -1000px}
.map .txt-contact{height:53px;margin:29px 0 0;background-position:10px -340px;overflow:hidden}
.map .txt-subway{height:58px;background-position:0 -60px}
.map .txt-bus{height:173px;background-position:0 -140px}
.map .txt-subway2{height:25px;width:470px;background-position:0 -818px}
.map .txt-bus2{height:100px;width:470px;background-position:0 -840px}
.map .txt-map{position:absolute;right:40px;width:301px;height:24px;margin:-30px 0 0;background-position:-50px 0}
.map .list2 th{width:100px;border-right:1px solid #e9e9e9}
.map .list2 th span{display:block}
.map .list2 td{padding:25px 0 25px 20px}
.map .th-subway, .map .th-bus{margin:0 auto;text-indent:-10000em}
.map .th-subway{width:37px;height:43px;background:url('/image/ico/ico-subway.png') no-repeat}
.map .th-bus{width:36px;height:40px;background:url('/image/ico/ico-bus.png') no-repeat}
.map .layer2{padding:20px;text-indent:-10000em}
.map .thumb{position:relative; z-index:2;}
.map .bus-stop{position:absolute}
.map .bus-stop1{top:117px;left:450px; z-index:10;}
.map .bus-stop2{top:168px;left:451px}
.map .bus-stop3{top:118px;left:108px; z-index:10}
.map .bus-stop4{top:167px;left:109px}
.map .bus-stop5{top:194px;left:36px;z-index:10;}
.map #bus-stop1{width:203px;height:200px;background-position:20px -395px}
.map #bus-stop2{width:203px;height:215px;background-position:-220px -395px}
.map #bus-stop3{width:163px;height:95px;background-position:20px -630px}
.map #bus-stop4{width:183px;height:71px;background-position:-180px -630px}
.map #bus-stop5{width:123px;height:96px;background-position:-400px -630px; z-index:10; }
.map .bus-stop6{top:28px;left:84px; z-index:10;}
.map .bus-stop7{top:28px;left:196px; z-index:10;}
.map .bus-stop8{top:28px;left:310px; z-index:10;}
.map .bus-stop9{top:77px;left:318px;}
.map .bus-stop10{top:77px;left:453px;}
.map .bus-stop11{top:77px;left:7px;}
.map #bus-stop6{width:200px;height:65px;background-position:20px -935px}
.map #bus-stop7{width:200px;height:75px;background-position:-210px -930px}
.map #bus-stop8{width:200px;height:35px;background-position:20px -1165px}
.map #bus-stop9{width:200px;height:85px;background-position:20px -1035px}
.map #bus-stop10{width:200px;height:70px;background-position:-210px -1035px}
.map #bus-stop11{width:200px;height:40px;background-position:-210px -1165px}
.map .bus-stop .layer2{margin-left:10px; z-index:10; }
.map .bus-stop .txt-bus{display:block;width:25px;height:28px;background:url('/image/ico/ico-bus-stop.png') no-repeat 0 0;text-indent:-10000em}
