.rolling-inner li{float:left}
.btn-iamcompassion2{width:157px;height:27px;background:url('/image/btn/btn-iamcompassion1.png') no-repeat}
.index .btn-more1{display:block;width:33px;height:14px;background:url('/image/btn/btn-more.gif') no-repeat 4px -16px;text-indent:-10000em}
/*.btn-cdsp1{display:block;width:167px;height:27px;background:url('/image/btn/btn-cdsp1.png') no-repeat 0 0;text-indent:-10000em}*/
.btn-cdsp1{margin-left:40px;display:block;width:167px;height:27px;background:url('/image/btn/btn-cdsp1.png') no-repeat 0 0;text-indent:-10000em}/*수정 2012-03-12*/
.index .btn-close2{display:block;width:50px;height:50px;background:#00bee6 url('/image/btn/btn-close2.gif') no-repeat 50% 50%;text-indent:-10000em}
.index .btn-SejinNekdiStory{display:block;width:179px;height:71px;background:#00bee6 url('/image/btn/btn_SejinNekdiStory.jpg') no-repeat;text-indent:-10000em}/*추가 2013-05-16*/

.index .btn-more, .index .btn-more1{position:absolute}

.index #wrapper{width:970px;margin:0 auto;border:0 none}
.index .cover{position:relative;height:540px;background:url('/image/index/cover.jpg') no-repeat}
.index .sec-news{position:absolute;width:182px;height:132px;top:180px;left:243px;padding:24px 30px;background-color:#fff;} /* 수정 2013-08-16 */
.index .sec-support{position:absolute;width:182px;height:132px;top:180px;right:0;padding:24px 30px;background-color:#fff;} /* 수정 2013-08-16 */
.index .article-list{margin:12px 0 0;border-top:1px solid #d9d9d9}
.index .article-list li{position:relative;padding:5px 0;background:url('/image/ico/dotted9.gif') repeat-x 0 100%}
.index .article-list li *{font-size:8pt;font-weight:bold;letter-spacing:0em;word-spacing:0em;color:#777}
.index .article-list li .date{position:absolute;top:6px;right:3px;}
.index .article-list li a{padding:0 0 0 10px;background:url('/image/ico/bul-dot10.gif') no-repeat 0 2px}
.index .article-list .tit{display:inline-block;width:100%}
.index .article-list .ar1{background-position:0 -500px}
.index .article-list .ar2{background-position:0 -525px}
.index .article-list .ar3{background-position:0 -550px}
.index .article-list .ar4{background-position:0 -575px} /*추가 2012-10-09*/
.index .sec-relations{position:absolute;top:360px;left:0;width:243px;height:180px;overflow:hidden}
.index .sec-relations ul{width:110%}
.index .sec-relations li{display:inline;float:left;width:121px;margin:0 1px 1px 0}
.index .sec-relations a{display:block;height:90px;background:url('/image/index/cover.jpg') no-repeat}
.index .sec-relations a.re1{background-position:0 -600px}
.index .sec-relations a.re1:hover{background-position:-122px -600px}
.index .sec-relations a.re2{background-position:-244px -600px}
.index .sec-relations a.re2:hover{background-position:-366px -600px}
.index .sec-relations a.re3{background-position:-488px -600px}
.index .sec-relations a.re3:hover{background-position:-610px -600px}
.index .sec-relations a.re4{background-position:-732px -600px}
.index .sec-relations a.re4:hover{background-position:-854px -600px}
.index .sec-participate{position:absolute;top:360px;left:485px;width:298px;height:145px;padding:35px 0 0 187px}
.index .sec-participate p{width:246px;height:73px;margin:0 0 17px;background:url('/image/index/cover.jpg') no-repeat 0 -710px;text-indent:-10000em}
.index .sec-participate .btn1{position:absolute;width:167px;height:27px;top:125px;margin:0 3px 17px;background:url('/image/index/cover.jpg') no-repeat 0 -850px;}
.index .floating-message{position:absolute;width:100%;height:540px;background:url('/image/index/bg-layer.png') repeat;z-index:100;overflow:hidden;}
/*.index .floating-message .message1{position:relative;float:left;padding:0 250px 0 0;z-index:100;background:#353535;background:rgba(100,100,100,0.8)}*/ /*수정 2013-05-16, 주석처리 2013-06-11*/
.index .floating-message .message1 .btn-close2{position:absolute;top:0px;left:728px;}/*수정 2013-05-16*/
.index .floating-message .message1 .btn-SejinNekdiStory{position:absolute;top:235px;left:757px;}/*추가 2013-05-16*/

/* !--추가 2012-10-09 */
.index .sec-about{position:absolute;width:243px;height:180px;top:0px;left:0px;} /*후원금은 양육비 2012-10-15 추가*/
.index .sec-nurture{position:absolute;width:243px;height:360px;top:0px;left:243px;} /*후원금은 양육비*/
.index .sec-child{position:absolute;width:486px;height:360px;top:0px;left:486px;} /*후원금은 양육비 2012-10-15 추가*/
.index .sec-letted{position:absolute;width:243px;height:360px;top:0px;left:729px;}  /*편지쓰기*/
.index .sec-finance{position:absolute;width:243px;height:180px;top:180px;left:0px;}  /*재정투명성*/
.index .sec-pray{position:absolute;width:243px;height:180px;top:180px;left:486px;}  /*기도나눔*/
.index .sec-gifts{position:absolute;width:243px;height:180px;top:360px;left:243px;}  /*기프트오브컴패션*/
.index .sec-wydick{position:absolute;width:243px;height:180px;top:360px;left:485px;}  /*기프트오브컴패션*/
.index .sec-raising{position:absolute;width:243px;height:180px;top:360px;left:728px;}  /*기프트오브컴패션*/
/* 2012-10-09--! */


.index .wrap{width:912px;padding:40px 28px 0;border:1px solid #ddd;border-width:0 1px;overflow:hidden}
.index .tit{background:url('/image/index/tit-index.png') no-repeat;text-indent:-10000em}
.index .tit-twitter{width:84px;height:14px;margin:0 0 5px;background-position:0 0}
.index .tit-story{width:84px;height:14px;background-position:0 -50px}
.index .tit-supporters{width:85px;height:14px;background-position:0 -100px}
.index .tit-prayers{width:112px;height:14px;background-position:0 -150px}
.index .tit-iamcompassion{width:430px;height:32px;background-position:0 -200px}
.index .tit-gift{width:178px;height:15px;background-position:0 -250px}
.index .tit-friends-shop{width:220px;height:15px;background-position:0 -300px}
.index .tit-sharing{width:203px;height:15px;background-position:0 -350px}
.index .tit-news{width:150px;height:21px;background-position:0 -400px}  /*수정 2012-10-09 컴패션 소식입니다!*/
.index .tit-support{width:146px;height:21px;background-position:0 -450px} /*수정 2012-10-09 궁금해요!*/

.sec-twitter{display:inline;float:left;width:293px;margin:0 21px 0 0;border:1px solid #ddd}
.sec-twitter .head{position:relative;height:51px;padding:19px 0 0 80px;border-bottom:1px solid #ddd}
.sec-twitter .thumb1{position:absolute;top:11px;left:20px}
.sec-twitter .wrap-in{height:200px;overflow:auto;overflow-x:hidden}
.sec-twitter .wrap-in li{padding:15px 0 15px 20px;background:url('/image/ico/dotted9.gif') repeat-x 0 100%}
.sec-twitter .info{color:#14c8f0}
.sec-article{display:inline;float:left;width:302px;margin:-10px 30px 0 0;overflow:hidden}
.sec-twitter .wrap-in, .sec-twitter .wrap-in *{font-size:8pt;letter-spacing:-.05em}
.sec-article .sec{position:relative;margin:-1px 0 0;padding:20px 0 20px;overflow:hidden;border-top:1px solid #ddd}
.sec-article .sec .tit, .sec-prayers .tit{margin:0 0 14px;text-indent:0;background:none}
.sec-article .sec .cont, .sec-prayers .cont{font-size:.9em;letter-spacing:-.1em;color:#777}
.sec-article .sec .cont, .sec-prayers .cont a{font-size:1em;letter-spacing:-.1em;color:#777}
.sec-article .sec .thumb1{display:inline;float:left;margin:0 15px 0 0}
.sec-article .sec dl dt, .sec-prayers dl dt{margin:0 0 9px}
.sec-article .sec .btn-more{top:25px;right:0}
.sec-prayers{float:left;width:264px;padding:10px 0 0}
.sec-prayers .thumb1{margin:0 0 10px}

.sec-banner{width:100%;height:139px;padding:0 0 40px;background:url('/main_image/banner.jpg') no-repeat;text-indent:-10000em;overflow:hidden}
.sec-banner li{float:left;width:304px}
.sec-banner li a{display:block;height:107px}

.index .visual .pagination{position:absolute;top:16px;right:16px;z-index:10;overflow:hidden} /*위치수정 2013-04-03*/
.index .visual .pagination li{float:left}
.index .visual .pagination li a{display:block;width:16px;height:16px;background:url('/image/btn/btn-paginate.gif') 2px 2px no-repeat;text-indent:-10000em}
.index .visual .pagination li.current a{background-position:-18px 2px}

.index .visual{position:relative;background:#eee}
.index .visual .slides_container{width:970px;display:none}
.index .visual .slides_container li{width:970px;height:280px;display:block}