﻿@charset "utf-8";
@import url(/common/css/font.css);

.w980 {display:block;width:980px;height:auto;margin:0 auto;}

.header a {margin:0;padding:0;border:0;font-family:'noto_d';font-size:100%;font-weight:normal;vertical-align:baseline}


/* header & gnb */
.header {width:100%;height:35px;position:relative;}

/* header & gnb */
header.topLogo {height:130px;}
header.topLogo .w980 {padding-top:28px;text-align:center;}
header.topLogo .w980 .logo {display:inline;}

.header .wrap {width:100%;position:absolute;left:0;top:0;z-index:300;}
.header .wrap.fixed {width:100%;position:fixed;left:0;top:0;z-index:300;}
.header.topOnly {height:35px;}
.header.topOnly .wrap {height:35px;}

.header .wrap .header_top {width:100%;height:35px;background:#005dab;}
.header .wrap .header_bottom {width:100%;height:95px;background:#fff;border-bottom:1px solid #efefef;
		   -webkit-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
			  -moz-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
			    -o-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
			   -ms-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
				   box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
}

.header_top ul {float:right;}
.header_top ul li {float:left;width:auto;height:35px;position:relative;}
.header_top ul li a {display:inline-block;font-size:13px;color:#fff;text-align:center;line-height:35px;padding:0 20px;border-left:1px solid #1a6eb4;vertical-align:top;}
.header_top ul li.post {position:relative;}
.header_top ul li.post a {width:70px;text-indent:-9999px;padding:0;background:url('/common/img/common/icon_post.png') no-repeat center;}
.header_top ul li.post span {display:inline-block;width:auto;height:16px;font-family:'noto_m';font-size:10px;color:#fff;text-indent:0px;text-align:center;line-height:16px;padding:0 4px 0 5px;background:#9c2032;border-radius:4px;
							 position:absolute;left:38px;top:5px;
				-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
				   -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
					 -o-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
					-ms-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
						box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
}
.header_top ul li.store a {box-sizing:border-box;width:90px;text-align:left;border-left:0;background:#004c8c url('/common/img/bu/arr_11.png') no-repeat 64px center;text-decoration:none;}
.header_top ul li.store:hover a {background:#004c8c url('/common/img/bu/arr_10.png') no-repeat 64px center;}
.header_top ul li.store .storeSub {display:none;position:absolute;right:0;top:35px;width:137px;border:1px solid #e9e9e9;border-top:0;background:#fff;z-index:10;}
.header_top ul li.store .storeSub li {width:100%;height:auto;}
.header_top ul li.store .storeSub li a {display:inline-block;width:100%;height:inherit;font-family:noto_r;font-size:14px;color:#666;line-height:inherit;text-align:right;padding:10px 20px 10px 0;border:0;background:#fff url('');}
.header_top ul li.store .storeSub li a:hover {background:#f1f1f1;text-decoration:none;}



/* footer */
.footer {width:100%;min-width:980px;background:#f5f5f5;}
.footer .fb_area1:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area1{height:69px;border-bottom:1px solid #d1d1d1;}
.footer .fb_area1 .util_menu{float:left;width:auto;}
.footer .fb_area1 .util_menu li{float:left;background:url('/common/img/common/ft_bar.png') no-repeat right center;padding:0 15px 0 13px;}
.footer .fb_area1 .util_menu li:first-child{padding-left:0;}
.footer .fb_area1 .util_menu li a{font-family:'noto_b';color:#444;line-height:70px;font-size:14px;}
.footer .fb_area1 .util_menu li a:hover{color:#005dab !important;text-decoration:underline;}
.footer .fb_area1 .util_menu:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area1 .util_menu li.noline {background:url('');}
.footer .fb_area1 .util_menu li:last-child{background:url('');}
.footer .fb_area1 .util_menu .gallery{display:inline-block;color:#005dab;padding-left:30px;background:url('/common/img/icon/ft_gallery.png') no-repeat left 28px;}
.footer .fb_area1 .ft_sns{float:right;width:auto;padding:18px 0}
.footer .fb_area1 .ft_sns:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area1 .ft_sns li{float:left;display:block;width:34px;height:34px;margin-left:10px;}
.footer .fb_area1 .ft_sns li a{display:block;width:100%;height:100%;text-indent:-9999px;background:url('/common/img/icon/sns_footer.png') no-repeat 0 0;}
.footer .fb_area1 .ft_sns li a:hover{color:#005dab !important;text-decoration:underline;}
.footer .fb_area1 .ft_sns li a.facebook{background-position:0 0;}
.footer .fb_area1 .ft_sns li a.youtube{background-position:-44px 0;}
.footer .fb_area1 .ft_sns li a.instargram{background-position:-88px 0;}
.footer .fb_area1 .ft_sns li a.twitter{background-position:-132px 0;}
.footer .fb_area1 .ft_sns li a.yellow{background-position:-176px 0;}
.footer .fb_area1 .ft_sns li a.naver_cafe{background-position:-220px 0;margin-right:0;}
.footer .fb_area1 .ft_sns li a.facebook:hover{background-position:0 -54px;}
.footer .fb_area1 .ft_sns li a.youtube:hover{background-position:-44px -54px;}
.footer .fb_area1 .ft_sns li a.instargram:hover{background-position:-88px -54px;}
.footer .fb_area1 .ft_sns li a.twitter:hover{background-position:-132px -54px;}
.footer .fb_area1 .ft_sns li a.yellow:hover{background-position:-176px -54px;}
.footer .fb_area1 .ft_sns li a.naver_cafe:hover{background-position:-220px -54px;}

.footer .fb_area2{display:inline-block;!padding-bottom:17px;border-bottom:1px solid #d1d1d1}
.footer .fb_area2 .ft_map:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area2 .ft_map li{float:left;width:196px;}
.footer .fb_area2 .ft_map li .fmap_tit{color:#444;font-size:20px;font-family:'noto_b';padding:19px 0 20px 1px;}
.footer .fb_area2 .ft_map li .fmap_lst li{margin-bottom:5px;}
.footer .fb_area2 .ft_map li .fmap_lst li a{font-family:'noto_r';color:#666;letter-spacing:-1px;font-size:13px;}
.footer .fb_area2 .ft_map li .fmap_lst li a:hover{color:#005dab !important;text-decoration:underline;}

.footer .fb_store{padding:20px 0;border-bottom:1px solid #d1d1d1;}
.footer .fb_store ul:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_store ul li{float:left;color:#767676;font-size:13px;padding:0 11px;margin-bottom:3px;background:url('/common/img/common/ft_bar.png') no-repeat right center;}
.footer .fb_store ul li:first-child{padding-left:0;}
.footer .fb_store ul li:last-child{background:url('');}

.footer .fb_area3{padding-top:24px;position:relative;}
.footer .fb_area3 .ft_logo{width:128px;height:47px;position:absolute;top:28px;left:0;}
.footer .fb_area3 .address{margin:0 0 0 160px;}
.footer .fb_area3 .address ul:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area3 .address ul li{float:left;color:#767676;line-height:20px;font-size:13px;padding:0 11px;background:url('/common/img/common/ft_bar.png') no-repeat right center;}
.footer .fb_area3 .address ul li:first-child{padding-left:0;}
.footer .fb_area3 .address ul li:last-child{background:url('');}
.footer .fb_area3 .address p{color:#767676;line-height:20px;font-size:13px;}
.footer .fb_area3 .address .copyright{font-family:'noto_r';color:#666;font-size:13px;padding:13px 0 48px;}
.footer .fb_area3 .address em {font-family:noto_b;font-style:normal;}
.footer .fb_area3 .cw{width:200px;height:36px;position:absolute;top:24px;right:0;}
.footer .fb_area3 .cw button{width:100%;height:100%;font-family:'noto_d';font-size:12px;color:#767676;text-align:left;line-height:32px;border:2px solid #d0d0d0;padding-left:15px;background:#f5f5f5 url('/common/img/common/cw_bg_up.png') no-repeat 170px center;}
.footer .fb_area3 .cw button.on{background:#f5f5f5 url('/common/img/common/cw_bg_down.png') no-repeat 170px center;}
.footer .fb_area3 .cw ul{display:none;width:200px;height:auto;position:absolute;bottom:34px;left:0;background:#f5f5f5;border:2px solid #d0d0d0;padding:15px 0 0 15px;}
.footer .fb_area3 .cw ul li{margin-bottom:13px;}
.footer .fb_area3 .cw ul li a{font-size:12px;color:#767676;text-decoration:none;}
.footer .fb_area3 .cw ul li a:hover{color:#767676;text-decoration:underline;}
.footer .address li{font-family:'noto_d'}
.footer .address p{font-family:'noto_d'}