﻿ @charset "UTF-8";

/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, select, input, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu, textarea{margin:0;padding:0;border:0;font-size:9pt;font-family:'굴림';}
html{}
body{background:#fff;color:#333;line-height:1.4;}
table{width:100%;border-spacing:0;border-collapse:collapse}
caption, th, td{font-weight:normal;}
col{display:table-column}
li{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
hr{display:none;}
a{color:#333;text-decoration:none;cursor:pointer;}
a:hover{text-decoration:underline;}
textarea{overflow:auto;}
pre{white-space:pre-wrap;word-wrap:break-word;}
input, button, select, textarea, img{vertical-align:middle;}
input, button, select, textarea{color:#777777;}
input[type='radio'], input[type='checkbox']{width:13px;height:13px;}
input.rad, input.ckb{width:13px;height:13px;}
input.text{height:18px;padding:2px 0 0 7px;border:1px solid #ddd;}
.text-w{width:100%;}
button{cursor:pointer;background:transparent;}
button span{position:relative;z-index:-1;}
address{font-style:normal;}
h1, h2, h3, h4{font-size:1em;}
select{padding:1px;border:1px solid #ccc;}
textarea{padding:2px 0 0 7px;border:1px solid #ccc;color:#888;}
.hide, .hide *{display:block;position:absolute;visibility:hidden;top:-10000em;left:0;width:0;height:0;margin:0;padding:0;overflow:hidden;text-indent:-10000em;border:0 none;}
.hidden{display:none;}
.alt strong, .alt span, .alt li{position:relative;z-index:-1;top:-1px;}
.txt{display:block;}
.txt *, .txt1 *{display:inline-block;text-indent:-10000em;}

.divide1{display:block;height:1px;border-top:1px solid #d3d3d3;overflow:hidden;}

/* btn */
.btn span{display:inline-block;text-indent:-10000em;}
.btn-search1{width:51px;height:23px;background:url('/image/mate/btn/btn-search1.png') no-repeat 0 0;}
.btn-search2{width:82px;height:27px;background:url('/image/mate/btn/btn-search2.png') no-repeat 0 0;}
.btn-more{display:block;position:absolute;width:36px;height:10px;background:url('/image/mate/btn/btn-more.png') no-repeat 1px 1px;text-indent:-10000em;}
.btn-apply-mate1{width:105px;height:28px;background:url('/image/mate/btn/btn-apply-mate1.png') no-repeat 0 0;}
.btn-install1{width:75px;height:20px;background:url('/image/mate/btn/btn-install1.png') no-repeat 0 0;}
.btn-detail1{width:75px;height:20px;background:url('/image/mate/btn/btn-detail1.png') no-repeat 0 0;}
.btn-login{width:67px;height:51px;background:url('/image/mate/btn/btn-login.png') no-repeat 0 0;}

#header{height:93px;background:url('/image/mate/bg-header.jpg') repeat-x 0 50%;}
#header .wrap{position:relative;width:960px;}
.logo1{display:inline;float:left;margin:24px 0 0 9px;}
.logo1 a{float:left;width:87px;height:46px;background:url('/image/mate/logo.png') no-repeat;text-indent:-10000em;}

.gnb li a, .related1 li a{display:block;background:url('/image/mate/txt-gnb.png') no-repeat;text-indent:-10000em;}
.gnb, .gnb li{display:inline;float:left;}
.gnb{margin:52px 0 0 42px;overflow:hidden;}
.gnb li{margin:0 0 0 -1px;background:url('/image/mate/bg-lnb.gif') repeat-y 0 0;}
.gnb li a{width:108px;height:18px;}
.gnb li a.l-introduce{background-position:21px 2px;}
.gnb li a.l-announce{background-position:21px -48px;}
.gnb li a.l-sharing{background-position:21px -98px;}
.gnb .area1{position:absolute;top:0;right:0;}

#header .related1{display:inline;float:right;margin:20px -2px 0 0;overflow:hidden;}
#header .related1 li{display:inline;float:left;margin:0 0 0 -1px;background:url('/image/mate/bg-related1.gif') no-repeat 0 1px;}
#header .related1 li a{height:12px;padding:0 7px;}
#header .related1 li a.l-login{width:28px;background-position:6px -149px;}
#header .related1 li a.l-join{width:39px;background-position:-32px -149px;}
#header .related1 li a.l-mypage{width:49px;background-position:-82px -149px;}
#header .related1 li a.l-event{width:54px;background-position:-142px -149px;}
#header .related1 li a.l-translation{width:56px;background-position:-208px -149px;}

.gnb-search{display:inline;float:right;margin:15px 4px 0 0}
.gnb-search .text{width:208px;height:16px;padding:5px 0 0 10px;border:1px solid #ccc;border-width:1px 0 1px 1px}

#container{background:url('/image/mate/bg-main.jpg') repeat 0 0;}

#wrapper{width:958px;margin:0 auto;background:#fff;border-right:1px solid #ddd;border-left:1px solid #ece9df;overflow:hidden;}

#sidebar{float:right;position:relative;width:199px;padding:0 0 100px;z-index:10;border-left:1px solid #dddddd} /* overflow:hidden; */

#contents{display:inline;float:left;position:relative;width:658px;margin:0 -1px 0 0;padding:0 50px 100px;border-right:1px solid #ddd;overflow:hidden;}

#header .wrap, #footer .wrap{position:relative;width:970px;margin:0 auto;}


/* footer */
#footer .about{overflow:hidden;background:#444 url('/image/mate/bg-footer.png') repeat;}
#footer .related1, #footer .related2{border-top:1px solid #ccc;}
#footer .tit, #footer .link a{background-image:url('/image/common/txt-footer.png');text-indent:-10000em;overflow:hidden;}
#footer .tit, #footer .cont, #footer .link li, #footer .link a, #footer .worldwide dd, #footer .logo2, #footer .about .detail{display:inline;float:left;}
#footer .related1 .link2, #footer .worldwide{position:absolute;right:0;top:0;}
#footer .logo2, #footer .about .detail{text-indent:-10000em;}
#footer .related1, #footer .related2{padding:8px 0 8px;}

#footer .share{width:100%;margin:0 0 0 15px;overflow:hidden;}
#footer .share dt{margin:7px 28px 0 0;}
#footer .share dd{padding:4px 0 0;}

#footer .related2{position:relative;z-index:100;}
#footer .related2 .link{width:100%;height:11px;margin:0 0 0 5px;padding:6px 0 6px;overflow:hidden;}
#footer .related2 .link li{position:relative;left:-1px;padding:0 9px 0 9px;border-left:1px solid #ddd;}
#footer .worldwide dt{margin:6px 15px 0 0;}
#footer .worldwide select{width:150px;}
#footer .worldwide .selectbox-wrap .new-selectbox{max-height:112px;_height:112px;}

#footer .tit-share{width:131px;height:11px;background-position:0 0;}
#footer .tit-print{width:81px;height:11px;padding:0 0 0 24px;background-position:24px -300px;border-left:1px solid #ddd;}
#footer .tit-worldwide{width:110px;height:12px;background-position:-200px -400px;}

#footer .share-facebook{width:69px;height:17px;margin:0 16px 0 0;background-position:0 -50px;}
#footer .share-twitter{width:56px;height:17px;margin:0 12px 0 0;background-position:0 -100px;}
#footer .share-nateon{width:63px;height:19px;margin:0 25px 0 0;background-position:0 -150px;}

/* --start 수정 20120628 순서변경 */
#footer .link-facebook{width:18px;height:18px;margin:3px 3px 0 0;background-position:-0px -200px;}
#footer .link-twitter{width:18px;height:18px;margin:3px 5px 0 0;background-position:-35px -200px;}
#footer .link-me2day{width:18px;height:18px;margin:3px 5px 0 0;background-position:-75px -200px;}
#footer .link-naver{width:18px;height:18px;margin:3px 5px 0 0;background-position:-115px -200px;}
#footer .link-nate{width:18px;height:18px;margin:3px 5px 0 0;background-position:-155px -200px;}
/* --end */

#footer .link-award{width:118px;height:24px;margin:0 10px 0 0;background-position:0 -250px;}
#footer .link-verified{width:36px;height:19px;background-position:-74px -250px;}
#footer .link-about{width:69px;height:11px;background-position:-200px 0;}
#footer .link-terms{width:39px;height:11px;background-position:-200px -50px;}
#footer .link-privacy{width:78px;height:11px;background-position:-200px -100px;}
#footer .link-blockspam{width:69px;height:11px;background-position:-200px -150px;}
#footer .link-faq{width:60px;height:11px;background-position:-200px -200px;}
#footer .link-counsel{width:51px;height:11px;background-position:-200px -250px;}
#footer .link-newsletter{width:60px;height:11px;background-position:-200px -300px;}
#footer .link-iamcompassion{width:86px;height:11px;background-position:-200px -350px;}

#footer .about{width:100%;padding-bottom:20px;} /* 수정 2013-06-28 */
#footer .logo2{width:154px;height:59px;margin-top:25px;background:url('/image/common/logo2.png') no-repeat 0 0} /* 수정 2013-06-28 */
#footer .about .detail{position:relative;width:776px;height:77px;margin-top:20px;margin-left:30px;background:url('/image/common/txt-about.png') no-repeat 0 0} /* 수정 2013-01-22, 수정 2013-06-28 */
#footer .about .mail1, #footer .about .mail2{display:block;position:absolute}
#footer .about .mail1{top:15px;left:638px;width:140px;height:15px;border:0px solid #ddd} /* 수정 2013-02-20, 수정 2013-06-28 */
#footer .about .mail2{top:47px;left:508px;width:160px;height:15px;border:0px solid #ddd} /* 수정 2013-02-20, 수정 2013-06-28 */
#footer address{display:inline}

/* select */
.select-type1{display:inline-block;}
.select-type2{}
.selectbox-wrap{position:relative;display:inline-block;*display:inline;*zoom:1;height:22px;background:#fff url('/image/mate/btn/select_l.gif') no-repeat 0 0;color:#aaa;vertical-align:middle}
.selectbox-wrap select{visibility:hidden;url('/image/common/txt-about.png')}
.selectbox-wrap .value-holder{position:absolute;top:0;right:0;display:inline-block;height:22px;padding:0 22px 0 5px;border:0;margin:0;background:url('/image/mate/btn/btn-selectholder.gif') no-repeat 100% 0;font:9pt 'Dotum', Dotum, sans-serif;text-align:left;vertical-align:top;cursor:default;}
#footer .selectbox-wrap{height:24px;background-position:0 -22px}
#footer .selectbox-wrap .value-holder{height:24px;background-position:100% -22px;}
.selectbox-wrap .new-selectbox{display:none;position:absolute;top:23px;right:0;padding-left:2px;border:1px solid #d8d8d8;margin:0;background:#eee;list-style:none;max-height:110px;_height:110px;overflow:auto;overflow-x:hidden; /*7개 이상일때 스크롤 처리 0225*/}
.selectbox-wrap .new-selectbox li{height:22px;padding:5px 0 0 8px;color:#666;text-align:left !important;font:12px/18px 'Gulim', Gulim, sans-serif;cursor:default;white-space:nowrap;}
.selectbox-wrap .new-selectbox .selected, .selectbox-wrap .new-selectbox .hover{background:#eee;}

.search .selectbox-wrap{position:relative;height:27px;background:#fff url('/image/mate/btn/select_l2.gif') no-repeat 0 50%;color:#aaa;}
.search .selectbox-wrap .new-selectbox{border-color:#ffc98c;background:#fff;}
.search .selectbox-wrap .new-selectbox .selected, .search .selectbox-wrap .new-selectbox .hover{background:#fff;}
.search .selectbox-wrap .value-holder{height:27px;padding:0 22px 0 5px;background:url('/image/mate/btn/btn-selectholder2.gif') no-repeat 100% 50%;}



/* mate-template */
/* headline */
.headline-dep3{width:100%;height:112px;padding-top:55px;border-bottom:5px solid #193c7a;overflow:hidden;}
.apply .headline-dep3, .mate-intro .headline-dep3{background:url('/image/mate/bg-headline.jpg') no-repeat 357px 0;}
.announce .headline-dep3{background:url('/image/mate/bg-headline2.jpg') no-repeat 322px 24px;}
.share .headline-dep3{background:url('/image/mate/bg-headline3.jpg') no-repeat 360px 0;}
.mypage .headline-dep3{background:url('/image/mate/bg-headline4.jpg') no-repeat 362px 33px;}
.mate .headline-dep3 .txt{margin-left:4px;background:url('/image/mate/tit-headline.png') no-repeat;}
.mate-intro .headline-dep3 .txt{height:74px;background-position:0 0;}
.apply .headline-dep3 .txt{height:74px;background-position:0 -150px;}
.business-mate .headline-dep3 .txt{height:74px;background-position:0 -300px;}
.event-mate .headline-dep3 .txt{height:74px;background-position:0 -450px;}
.speciality-mate .headline-dep3 .txt{height:74px;background-position:0 -600px;}
.notice .headline-dep3 .txt{height:74px;background-position:0 -750px;}
.monthly-mate .headline-dep3 .txt{height:74px;background-position:0 -900px;}
.mate-faq .headline-dep3 .txt{height:76px;background-position:0 -1050px;}
.our-story .headline-dep3 .txt{height:74px;background-position:0 -1200px;}
.today-word .headline-dep3 .txt{height:74px;background-position:0 -1350px;}
.master-challenge .headline-dep3 .txt{height:74px;background-position:0 -1500px;}
.translation-qna .headline-dep3 .txt{height:74px;background-position:0 -1650px;}
.benefit-letter .headline-dep3 .txt{height:74px;background-position:0 -1800px;}
.service-breakdown .headline-dep3 .txt{height:74px;background-position:0 -1950px;}
.apply-result .headline-dep3 .txt{height:74px;background-position:0 -2100px;}
.my-grade .headline-dep3 .txt{height:74px;background-position:0 -2250px;}
.program-down .headline-dep3 .txt{height:74px;background-position:0 -2400px;}
.online .headline-dep3 .txt{height:74px;background-position:0 -2550px;}


/* contents */
.breadcrumbs{width:100%;margin:0 0 27px;padding:12px 0 5px;text-align:left;border-bottom:none;text-indent:4px;}
.breadcrumbs a, .breadcrumbs strong{color:#aaa;font-size:.9em;letter-spacing:-1px;}
.breadcrumbs a{margin:0 4px 0 0;padding:0 9px 0 0;background:url('/image/ico/bul-arrow1.gif') no-repeat 100% 2px;}


/* 추가 20120504 */
/* 메이트 활동 연장 동의서 */
.trans .txt{position:relative;background:url('/image/mate/transmate_main.jpg') no-repeat}
/*.trans .txt-desc{position:relative;width:600px;height:1300px;background-position:0 0;}*/
/*.trans .txt-desc{position:relative;width:600px;height:750px;background-position:0 0;}*/ /*수정 2012-11-05*/
.trans .txt-desc{position:relative;width:600px;height:345px;background-position:0 0;float:left;left:50px;} /*수정 2013-05-02*/
.trans .video{position:relative;width:389px;height:292px;float:left;left:150px;} /*추가 2013-05-02*/
.trans .txt-cont{position:relative;width:600px;height:580px;background-position:0 -640px;float:left;left:50px;} /*추가 2013-05-02*/
.trans .tran-date{position:relative;width:140px;height:25px;background-position:0 -1320px;float:left;text-indent:-10000em}
.trans .tran-date-txt{position:relative;width:300px;height:25px;float:left;}
.trans .tran-name{position:relative;width:40px;height:25px;background-position:-350px -1320px;float:left;text-indent:-10000em}
.trans .tran-name-txt{position:relative;width:150px;height:25px;float:left;}
.trans .tran-line{width:600px;height:20px;background-position:-25px -1335px;text-indent:-10000em;margin:20px}
/*.trans .tran-btn{width:159px;height:48px;background-position:-212px -1375px;text-indent:-10000em;margin:40px 250px;border:0;}*/
/*.trans .tran-btn{width:159px;height:47px;background-position:-220px -770px;text-indent:-10000em;margin:40px 250px;border:0;}*/ /*수정 2012-11-05*/
.trans .tran-btn{position:absolute;top:513px;left:222px;width:157px;height:46px;border:0px solid #777;} /*수정 2013-05-02*/


/* 게시판 - list */
table tbody .last-tr th, table tbody .last-tr td, table tbody th.last-tr, table tbody td.last-tr{border-bottom:0 none;}
table tbody th.mid-td, table tbody td.mid-td{border-right:1px solid #e9e9e9;}
table tbody td.mid-tr{border-bottom:0 none;}
table tr .last-td{border-right:0 none;}
td.td-num, td.td-date, td.td-view, td.td-sort, td.td-period, td.td-status, td.td-writer, .mate-list .td-sort4, .td-hits{color:#999;text-align:center;}
.mate-list tr th, .confirmation tr th{height:29px;background:url('/image/mate/bg-mate-th.gif') repeat 0 0;}
.mate-list tbody th, .mate-list tbody td{padding-top:9px;padding-bottom:6px;border-bottom:1px solid #e5e5e5;}
.mate-list tbody .first-tr td{padding-top:13px;}
.mate-list tbody .last-tr td{padding-bottom:12px;}
.mate-list .td-title a, .td-title2 a, .mate-list .td-sort2, .mate-list .td-sort3{color:#777777;}
.mate-list .td-num{width:74px;}
.mate-list .td-date{width:83px;}
.mate-list .td-sort{width:65px;}
.mate-list .td-writer{width:92px;}
.mate-list .td-hits{width:75px;}
.mate-list td.td-title{padding-left:7px;padding-right:17px;}
.mate-list a strong{letter-spacing:-1px;}
.ico-new{display:inline-block;width:13px;height:13px;margin-left:8px;background:url('/image/mate/ico/ico-new.gif') no-repeat;text-indent:-10000em;vertical-align:middle;overflow:hidden;}
.comment-num{color:#FF8400;}
.mate-list .no-notice{color:#ff8400;}

/* 게시판 -view */
.view-context2{position:relative;padding:56px 29px 44px;border-bottom:1px solid #d5d5d5;}
.txt-attach2{position:absolute;top:20px;right:10px;}
.txt-attach2 .down-txt1{display:inline-block;color:#888888;font-size:0.9em;}
.btn-file-down{display:inline-block;width:70px;height:20px;background:url('/image/mate/btn/btn-all-files.gif') no-repeat;text-indent:-10000em;vertical-align:middle;}
.txt-attach2 a{margin-left:7px;}
.view-context2 p{color:#777777;line-height:1.8;}

/* button */
.btn-list{width:100%;padding:15px 0 40px;overflow:hidden;text-align:center;}
.btn-l{float:left;}
.btn-r{float:right;}
.btn-m{text-align:center;}
a.btn, span.btn{display:inline-block;vertical-align:middle;}
.btn-prestep3{width:58px;height:28px;background:url('/image/mate/btn/btn-prestep2.png') no-repeat;}
.btn-nextstep3{width:58px;height:28px;background:url('/image/mate/btn/btn-nextstep3.png') no-repeat;}
.btn-answer2{width:78px;height:28px;background:url('/image/mate/btn/btn-answer2.png') no-repeat;}
.btn-list3{width:78px;height:28px;background:url('/image/mate/btn/btn-list2.png') no-repeat;}
.btn-modify{width:78px;height:28px;background:url('/image/mate/btn/btn-modify.png') no-repeat;}
.btn-modify3{width:78px;height:28px;background:url('/image/mate/btn/btn-modify3.png') no-repeat;}
.btn-registration{width:78px;height:28px;background:url('/image/mate/btn/btn-registration.png') no-repeat;}
.btn-cancel{width:78px;height:28px;background:url('/image/mate/btn/btn-cancel.png') no-repeat;}
.btn-print{width:28px;height:21px;background:url('/image/common/txt-footer.png') no-repeat 0 -350px;text-indent:-10000em}
.btn-print1{width:105px;height:30px;background:url('/image/btn/btn-print1.png') no-repeat 0 0}
.btn-print2{width:157px;height:46px;background:url('/image/mate/btn/btn-print2.png') no-repeat 0 0}
.btn-prev1, .btn-next1{float:left;height:18px;background:url('/image/mate/btn/btn-move2.gif') no-repeat;text-indent:-10000em;}
.btn-prev1{width:18px;background-position:0 0;}
.btn-next1{width:17px;background-position:-18px 0;}
.btn-submit1{width:112px;height:32px;background:url('/image/mate/btn/btn-submit1.png') no-repeat;text-indent:-10000em;}
.btn-list2{width:78px;height:28px;background:url('/image/mate/btn/btn-list2.png') no-repeat;}
.btn-delete{width:78px;height:28px;background:url('/image/mate/btn/btn-delete.png') no-repeat;}
.btn-delete2{width:58px;height:28px;background:url('/image/mate/btn/btn-delete2.png') no-repeat;}
.btn-delete3{width:38px;height:17px;margin-left:6px;background:url('/image/mate/btn/btn-delete3.png') no-repeat;}
/* 댓글 */
.list-comment2{padding:4px 30px 5px;background-color:#f9f9f9;border:1px solid #e5e5e5;}
.list-comment2 ul{width:100%;overflow:hidden;}
.bul-tail{display:block;width:14px;height:21px;margin:-1px 0 2px 39px;background:url('/image/mate/ico/bul-tail.gif') no-repeat;z-index:10;}
.list-comment2 li{float:left;width:100%;margin-bottom:-1px;padding:19px 0 17px;background:url('/image/mate/ico/dotted9.gif') repeat-x 0 100%;overflow:hidden;}
.list-comment2 li .writer2, .list-comment2 li .text{float:left;}
.list-comment2 li .writer2{width:92px;color:#1e53b9;}
.list-comment2 li .text{width:480px;word-break:break-all;word-wrap:break-word;}
.list-comment2 li .text p{color:#777777;line-height:1.6;}
/*.list-comment2 li .text p{padding-right:100px;}*/
.add-info, .add-info{padding-left:14px;}
.add-info, .add-info a{color:#999;vertical-align:middle;white-space:nowrap;}


.write-comment2{margin-bottom:40px;}
.tit-reply2{position:relative;top:-2px;display:inline-block;width:92px;height:12px;margin:0 9px 0 0;background:url('/image/mate/text/tit-reply2.gif') no-repeat 0 0;vertical-align:middle;}
.write-comment2 legend{margin-bottom:6px;padding-left:2px;color:#b7b7b7;}
.write-comment2 textarea{width:533px;height:43px;padding:7px 0 0 7px;border:1px solid #d5d5d5;color:#777;line-height:1.6;}
.btn-reply2{width:112px;height:52px;background:url('/image/mate/btn/btn-reply2.png') no-repeat 0 0;}

/* paginator */
.paginator{position:relative;width:100%;padding:20px 0 30px;text-align:center;border-top:1px solid #d5d5d5;}
.paginator a, .paginator font{display:inline-block;position:relative;padding:0 4px;text-decoration:none;vertical-align:middle;}

/* paginator
.paginator{position:relative;width:100%;margin-top:-1px;padding:19px 0 28px;border-top:1px solid #d5d5d5;text-align:center;}
.paginator .btns{height:11px;background:#fff url('/image/mate/btn/btn-paginator.gif') no-repeat;border:1px solid #ddd;overflow:hidden;}
.paginator .num, .paginator a, .paginator strong{display:inline-block;vertical-align:middle;}
.paginator a.btn-fir{width:18px;margin:-1px -5px 0 0;background-position:5px 2px;}
.paginator a.btn-prev{width:13px;margin:-1px 5px 0 0;background-position:-11px 2px;}
.paginator a.btn-next{width:13px;margin:-1px 0 0 4px;background-position:-25px 2px;}
.paginator a.btn-last{width:18px;margin:-1px 0 0 -5px;background-position:-40px 2px;}
.paginator .num{position:relative;color:#555555;line-height:1.2;overflow:hidden;}
.paginator .num a{color:#999999;}
.paginator .num a, .paginator .num strong{position:relative;right:-2px;height:13px;padding:0 9px 0 2px;background:url('/image/mate/ico/bul-dot.gif') no-repeat 100% 4px;font-size:.9em;} */

/* article search */
.article-search{padding:13px 0;background-color:#f5f5f5;text-align:center;}
.article-search .text{width:196px;}
.btn-search{width:62px;height:22px;background:url('/image/mate/btn/btn-search.gif') no-repeat 50% 50%;}
.article-search input.text{margin-right:-1px;border-color:#d5d5d5;}

/* write */
.write1{position:relative;border:1px solid #d5d5d5;z-index:10;}
.write1 input{color:#999999;}
.write1 th{width:89px;background:url('/image/mate/bg-write-th.gif') repeat;text-align:left;}
.write1 th img{padding-left:22px;}
.write1 th, .write1 td{padding:2px 0;border-bottom:1px solid #e5e5e5;}
.write1 td{padding:6px 0 5px 8px;text-align:left;color:#777777;}
.write1 td .text, .write1 td .file-attach{margin:-4px 0 -3px;}
.write-area{width:100%;overflow:hidden;margin-top:-1px;}
.write-area textarea{float:left;width:629px;height:258px;padding:0 0 0 27px;border-color:#dddddd;color:#999999;}

/* 첨부파일 */
.file-attach{width:100%;overflow:hidden;}
.list-attached{height:22px;float:left;width:456px;padding-left:4px;border:1px solid #ddd;}
.list-attached li{float:left;padding:5px 0 3px 6px;color:#ffab4c;font-size:0.9em;}
.btn-file-select{width:77px;height:24px;margin-left:1px;background:url('/image/mate/btn/btn-file-select.gif') no-repeat;text-indent:-10000em;}
.btn-del{width:12px;height:12px;margin:-2px 4px 0;background:url('/image/mate/ico/ico-del.gif') no-repeat;cursor:pointer;}

/* sidebar */
#sidebar .tit{width:199px;height:126px;text-indent:-10000em;}
.sec-about .tit{background:url('/image/mate/about-mate.png') no-repeat;}
.sec-notice .tit{background:url('/image/mate/notice-faq.png') no-repeat;}
.sec-community .tit{background:url('/image/community-mate.png') no-repeat;}
.sec-mypage .tit{background:url('/image/mate/mypage-mate.png') no-repeat;}

.lnb{border-top:1px solid #ededed;border-bottom:1px solid #dddddd;overflow:hidden;}
.lnb li{position:relative;margin-bottom:-1px;background:url('/image/mate/bg-lnb.png') no-repeat;border-bottom:1px solid #ededed;}
.lnb li .sub-wrap{width:149px;background:#f0f0f0;border-top:1px solid #ededed;}
.lnb li ul li{border:0;}
.lnb li ul li a{height:24px;padding:11px 0 0 15px;}

.sec-about .lnb li span{background:url('/image/mate/lnb-about.png') no-repeat;}
.sec-notice .lnb li span{background:url('/image/mate/lnb-notice.png') no-repeat;}
.sec-community .lnb li span{background:url('/image/mate/lnb-community.png') no-repeat;}
.sec-mypage .lnb li span{background:url('/image/mate/lnb-mypage.png') no-repeat;}
.lnb li a, .lnb li strong{display:block;height:27px;padding:14px 0 0 41px}
.lnb li a span, .lnb li strong span{display:block;text-indent:-10000em;}
.sub-wrap{position:relative;padding:1px 25px 2px;}
.sub-wrap ul{position:relative;width:100%;overflow:hidden;}
.sub-wrap ul li{position:relative;width:100%;background:url('/image/mate/ico/dotted.gif') repeat-x 0 100%;}
.banner1 li{border-bottom:1px solid #dddddd;}

.lnb li a.dep1 span{background-position:0 0}
.lnb li a.dep2 span{background-position:0 -50px}
.lnb li a.dep3 span{background-position:0 -100px}
.lnb li a.dep4 span{background-position:0 -150px}
.lnb li a.dep5 span{background-position:0 -200px}
.lnb li a.dep6 span{background-position:0 -250px}
.lnb li a.dep2-1 span{background-position:0 -100px}
.lnb li a.dep2-2 span{background-position:0 -150px}
.lnb li a.dep2-3 span{background-position:0 -200px}
.lnb li a.dep2-4 span{background-position:0 -250px}

.lnb li.on{background-position:0 -40px}
.lnb li.on a.dep1 span{background-position:-200px 0}
.lnb li.on a.dep2 span{background-position:-200px -50px}
.lnb li.on a.dep3 span{background-position:-200px -100px}
.lnb li.on a.dep4 span{background-position:-200px -150px}
.lnb li.on a.dep5 span{background-position:-200px -200px}
.lnb li.on a.dep6 span{background-position:-200px -250px}
.lnb li.on li.on a.dep2-1 span, .lnb li li a.dep2-1:hover span{background-position:-200px -100px}
.lnb li.on li.on a.dep2-2 span, .lnb li li a.dep2-2:hover span{background-position:-200px -150px}
.lnb li.on li.on a.dep2-3 span, .lnb li li a.dep2-3:hover span{background-position:-200px -200px}
.lnb li.on li.on a.dep2-4 span, .lnb li li a.dep2-4:hover span{background-position:-200px -250px}

/* tab */
.tab2 li, .tab2 li a, .tab1 li, .tab1 li a, .tab3 li, .tab3 li a, .tab4 li, .tab4 li a{display:inline;float:left}
.tab2, .tab4{width:100%;overflow:hidden}
.tab2 li a, .tab3 li a, .tab4 li a{text-indent:-10000em;overflow:hidden}
.tab2 .t1{background-position:50% 0}
.tab2 .t2{background-position:50% -100px}
.tab2 .t3{background-position:50% -200px}
.tab2 .t4{background-position:50% -300px}
.tab2 .t1:hover, .tab2 .on .t1{background-position:50% -50px}
.tab2 .t2:hover, .tab2 .on .t2{background-position:50% -150px}
.tab2 .t3:hover, .tab2 .on .t3{background-position:50% -250px}
.tab2 .t4:hover, .tab2 .on .t4{background-position:50% -350px}

.tab3{width:635px;margin:16px 10px 0;overflow:hidden;border:1px solid #d5d5d5;border-width:1px 0 1px 1px;}
.tab3 li a{border-right:1px solid #d5d5d5;}
.tab3 .t1, .tab4 .t1{background-position:50% 0}
.tab3 .t2, .tab4 .t2{background-position:50% -200px}
.tab3 .t3, .tab4 .t3{background-position:50% -400px}
.tab3 .t4, .tab4 .t4{background-position:50% -600px}
.tab3 .t5, .tab4 .t5{background-position:50% -800px}
.tab3 .t1:hover, .tab3 .on .t1, .tab4 .t1:hover, .tab4 .on .t1{background-position:50% -100px}
.tab3 .t2:hover, .tab3 .on .t2, .tab4 .t2:hover, .tab4 .on .t2{background-position:50% -300px}
.tab3 .t3:hover, .tab3 .on .t3, .tab4 .t3:hover, .tab4 .on .t3{background-position:50% -500px}
.tab3 .t4:hover, .tab3 .on .t4, .tab4 .t4:hover, .tab4 .on .t4{background-position:50% -700px}
.tab3 .t5:hover, .tab3 .on .t5, .tab4 .t5:hover, .tab4 .on .t5{background-position:50% -900px}

.tab-mate{padding-bottom:40px;}
.business-mate .tab-mate{padding-bottom:29px;}
.speciality-mate .tab-mate{padding-bottom:35px;}
.tab-mate li a{width:126px;height:33px;background:url('/image/mate/tab-mate.png') no-repeat;}
.tab-step li a{width:126px;height:84px;background:url('/image/mate/tab-step.png') no-repeat;}
.tab-benefit-letter li a{width:195px;height:33px;background:url('/image/mate/tab-benefit-letter.png') no-repeat;}

/* layer */
.layer1{position:relative;height:100%;background:#fff url('/image/mate/bg-layer.png') repeat-x 0 0;}
.layer1 .tit{padding:13px 0 16px 20px;}
.test-result-fail .tit strong, .test-result-success .tit strong{display:inline-block;width:218px;height:19px;background:url('/image/mate/tit-result.png') no-repeat;text-indent:-10000em;}
.benefit-child-letter .tit strong{display:block;width:140px;height:19px;background:url('/image/mate/tit-child-letter.png') no-repeat;text-indent:-10000em;}
.benefit-letter-pop .tit strong{display:block;width:218px;height:19px;background:url('/image/mate/tit-benefit-letter.png') no-repeat;text-indent:-10000em;}
.sample-test-submit .tit strong{display:inline-block;width:210px;height:18px;background:url('/image/mate/tit-test-submit.png') no-repeat;text-indent:-10000em;}
.layer1 .btn-close{position:absolute;top:12px;right:15px;}
.layer1 .btn-m{margin-top:35px;padding:20px 0 0;border-top:1px solid #d6d6d6;}
.btn-close{width:21px;height:21px;background:url('/image/mate/btn/btn-close.png') no-repeat;}
.btn-modify2{width:85px;height:34px;background:url('/image/mate/btn/btn-modify2.png') no-repeat;}
.btn-confirm{width:85px;height:34px;background:url('/image/mate/btn/btn-confirm.png') no-repeat;}
.btn-word-check{width:146px;height:52px;background:url('/image/mate/btn/btn-word-check.png') no-repeat;}
.btn-detail-view{width:136px;height:52px;background:url('/image/mate/btn/btn-detail-view.png') no-repeat;}
.test-result-success, .test-result-fail{top:1025px;}

.lay-cont{padding:45px 30px 0;}
.benefit-child-letter .lay-cont{width:548px;padding:40px 30px 0;}
.benefit-letter-pop .lay-cont{padding:27px 30px 0;}
.benefit-child-letter .btn-r{margin-top:20px;}
.test-result-fail .txt1{width:252px;height:38px;margin:0 auto;background:url('/image/mate/txt-result-fail.png') no-repeat;text-indent:-10000em;}
.test-result-success .txt1{width:202px;height:66px;margin:0 auto;background:url('/image/mate/txt-result-success.png') no-repeat;text-indent:-10000em;}
.benefit-child-letter .slides_container li{width:548px;height:400px;margin:0 auto;border:1px solid #dddddd;overflow:auto;overflow-x:hidden;}
.sample-test-submit .txt1{width:249px;height:41px;margin:0 auto;background:url('/image/mate/txt-test-submit.png') no-repeat;text-indent:-10000em;}
.benefit-child-letter .patrial-num{margin-top:23px;padding-bottom:12px;width:100%;overflow:hidden;}
.benefit-child-letter .slide{position:relative;}
.benefit-child-letter .btn-prev2, .benefit-child-letter .btn-next2{position:absolute;top:-30px;display:inline-block;height:15px;background:red url('/image/mate/btn/btn-move3.gif') no-repeat;line-height:999;overflow:hidden;}
/* .benefit-child-letter .btn-prev2 span, .benefit-child-letter .btn-next2 span{display:inline-block;text-indent:-10000em;} */
.benefit-child-letter .btn-prev2{right:20px;width:15px;padding:0;background-position:0 0;}
.benefit-child-letter .btn-next2{right:0;width:15px;padding:0;background-position:-17px 0;}
.benefit-child-letter .paginator1{position:absolute;top:-30px;right:50px}
.benefit-child-letter .paginator1 li{float:left;}
.benefit-child-letter .paginator1 p{display:inline;float:left;margin-right:10px;color:#333;}
.benefit-child-letter .paginator1 strong{margin:0;color:#333;}
.benefit-child-letter .paginator1 a{margin:0;}
.benefit-child-letter .paginator1{float:right;width:70px;}

.benefit-letter .cont{padding:0 10px;}
.benefit-letter .mate-list{margin-top:40px;}
.benefit-letter .td-num, .benefit-letter .td-initial, .benefit-letter .td-writer2, .benefit-letter .td-date2, .benefit-letter .td-hits, .benefit-letter .td-nation{text-align:center;}
.benefit-letter .td-initial, .benefit-letter .td-term a{color:#777777;}
.benefit-letter .td-writer2, .benefit-letter .td-date2, .benefit-letter .td-nation{color:#999999;}
.benefit-letter .td-num{width:54px;}
.benefit-letter .td-initial{width:41px;}
.benefit-letter .td-nation, .benefit-letter .td-writer2{width:81px;}
.benefit-letter .td-date2{width:75px;}
.benefit-letter .td-hits{width:54px;}
.benefit-letter .mate-list td.td-term{padding-left:25px;padding-right:17px;}


.benefit-letter-pop table{border:1px solid #d5d5d5;}
.benefit-letter-pop table tr th{width:122px;height:33px;background-color:#f7f7f7;border-right:1px solid #dddddd;vertical-align:middle;text-align:left;}
.benefit-letter-pop table tr th img{padding-left:10px;}
.benefit-letter-pop table tr td{width:284px;padding-left:17px;color:#777777;}
.benefit-letter-pop table tr th, .benefit-letter-pop table tr td{border-bottom:1px solid #dddddd;}
.td-mean2{padding:19px 35px 26px 17px;line-height:1.8;}
.td-mean{height:144px;}

.tit-count, .write-info{width:100%;overflow:hidden;}
.tit-count{margin-bottom:13px;}
.write-info{margin-top:14px;}
.tit-count .txt-l{float:left;color:#ff8700;}
.tit-count .txt-l strong{font-size:1.3em;}
.tit-count .txt-r, .write-info p{float:right;padding-top:5px;color:#777777;}

.benefit-tab li a{width:137px;height:34px;background:url('/image/mate/tab-popup.png') no-repeat;}
.benefit-tab .t1{background-position:50% 0;}
.benefit-tab .t1:hover, .bd-tab .on .t1{background-position:50% -50px;}
.benefit-tab .t2{background-position:50% -100px;}
.benefit-tab .t2:hover, .bd-tab .on .t2{background-position:50% -150px;}
.benefit-tab .t3{background-position:50% -200px;}
.benefit-tab .t3:hover, .bd-tab .on .t3{background-position:50% -250px;}

.in-ei .t1{background-position:50% -300px;}
.in-ei .t1:hover, .in-ei .on .t1{background-position:50% -350px;}
.in-ei .t2{background-position:50% -100px;}
.in-ei .t2:hover, .in-ei .on .t2{background-position:50% -150px;}
.in-ei .t3{background-position:50% -400px;}
.in-ei .t3:hover, .in-ei .on .t3{background-position:50% -450px;}
.in-ei .t4{background-position:50% 0;}
.in-ei .t4:hover, .in-ei .on .t4{background-position:50% -50px;}

.benefit-child-letter .io-id li a{width:182px;}
.io-id .t1{background-position:50% -500px;}
.io-id .t1:hover, .io-id .on .t1{background-position:50% -550px;}
.io-id .t2{background-position:50% -600px;}
.io-id .t2:hover, .io-id .on .t2{background-position:50% -650px;}
.io-id .t3{background-position:50% -700px;}
.io-id .t3:hover, .io-id .on .t3{background-position:50% -750px;}
.io-id .t4{background-position:50% -800px;}
.io-id .t4:hover, .io-id .on .t4{background-position:50% -850px;}
.io-id .t5{background-position:50% -900px;}
.io-id .t5:hover, .io-id .on .t5{background-position:50% -950px;}

.ph-tab .t1{background-position:50% -1000px;}
.ph-tab .t1:hover, .ph-tab .on .t1{background-position:50% -1050px;}
.ph-tab .t2{background-position:50% -1100px;}
.ph-tab .t2:hover, .ph-tab .on .t2{background-position:50% -1150px;}
.ph-tab .t3{background-position:50% -100px;}
.ph-tab .t3:hover, .ph-tab .on .t3{background-position:50% -150px;}
.ph-tab .t4{background-position:50% -200px;}
.ph-tab .t4:hover, .ph-tab .on .t4{background-position:50% -250px;}

.gh-tab .t1{background-position:50% -1200px;}
.gh-tab .t1:hover, .gh-tab .on .t1{background-position:50% -1250px;}
.gh-tab .t2{background-position:50% 0;}
.gh-tab .t2:hover, .gh-tab .on .t2{background-position:50% -50px;}
.gh-tab .t3{background-position:50% -400px;}
.gh-tab .t3:hover, .gh-tab .on .t3{tbackground-position:50% -450px;}
.gh-tab .t4{background-position:50% -100px;}
.gh-tab .t4:hover, .gh-tab .on .t4{background-position:50% -150px;}

.rw-tab .t1{background-position:50% 0;}
.rw-tab .t1:hover, .rw-tab .on .t1{background-position:50% -50px;}
.rw-tab .t2{background-position:50% -100px;}
.rw-tab .t2:hover, .rw-tab .on .t2{background-position:50% -150px;}


.bf-tab .t2{background-position:50% -400px;}
.bf-tab .t2:hover, .bf-tab .on .t2{background-position:50% -450px;}
.bf-tab .t3{background-position:50% -100px;}
.bf-tab .t3:hover, .bf-tab .on .t3{background-position:50% -150px;}
.bf-tab .t1{background-position:50% -1300px;}
.bf-tab .t1:hover, .bf-tab .on .t1{background-position:50% -1350px;}

.ug-tab .t1{background-position:50% 0;}
.ug-tab .t1:hover, .ug-tab .on .t1{background-position:50% -50px;}
.ug-tab .t2{background-position:50% -400px;}
.ug-tab .t2:hover, .ug-tab .on .t2{background-position:50% -450px;}
.ug-tab .t3{background-position:50% -100px;}
.ug-tab .t3:hover, .ug-tab .on .t3{background-position:50% -150px;}

.ke-tab .t1{background-position:50% -400px;}
.ke-tab .t1:hover, .ke-tab .on .t1{background-position:50% -450px;}
.ke-tab .t2{background-position:50% -100px;}
.ke-tab .t2:hover, .ke-tab .on .t2{background-position:50% -150px;}
.ke-tab .t3{background-position:50% -1400px;}
.ke-tab .t3:hover, .ke-tab .on .t3{background-position:50% -1450px;}

.tz-tab .t1{background-position:50% -1200px;}
.tz-tab .t1:hover, .tz-tab .on .t1{background-position:50% -1250px;}
.tz-tab .t2{background-position:50% -400px;}
.tz-tab .t2:hover, .tz-tab .on .t2{background-position:50% -450px;}
.tz-tab .t3{background-position:50% 0;}
.tz-tab .t3:hover, .tz-tab .on .t3{background-position:50% -50px;}
.tz-tab .t4{background-position:50% -100px;}
.tz-tab .t4:hover, .tz-tab .on .t4{background-position:50% -150px;}

.tg-tab .t1{background-position:50% -1200px;}
.tg-tab .t1:hover, .tg-tab .on .t1{background-position:50% -1250px;}
.tg-tab .t2{background-position:50% -100px;}
.tg-tab .t2:hover, .tg-tab .on .t2{background-position:50% -150px;}
.tg-tab .t3{background-position:50% -200px;}
.tg-tab .t3:hover, .tg-tab .on .t3{background-position:50% -250px;}

.repetition-tab .t1{background-position:50% 0;}
.repetition-tab .t1:hover, .repetition-tab .on .t1{background-position:50% -50px;}
.repetition-tab .t2{background-position:50% -100px;}
.repetition-tab .t2:hover, .repetition-tab .on .t12{background-position:50% -150px;}

.benefit-child-letter .txt1{float:left;width:150px;height:16px;background:url('/image/mate/popup-tit.png') no-repeat;}
.benefit-child-letter .popup-tit1{background-position:0 0;}
.benefit-child-letter .popup-tit2{background-position:0 -50px;}
.benefit-child-letter .popup-tit3{background-position:0 -100px;}
.benefit-child-letter .popup-tit4{background-position:0 -150px;}
.benefit-child-letter .popup-tit5{background-position:0 -200px;}
.benefit-child-letter .popup-tit6{background-position:0 -250px;}
.benefit-child-letter .popup-tit7{background-position:0 -300px;}
.benefit-child-letter .popup-tit8{background-position:0 -350px;}
.benefit-child-letter .popup-tit9{background-position:0 -400px;}
.benefit-child-letter .popup-tit10{background-position:0 -450px;}
.benefit-child-letter .popup-tit11{background-position:0 -500px;}
.benefit-child-letter .popup-tit12{background-position:0 -550px;}
.benefit-child-letter .popup-tit13{background-position:0 -600px;}
.benefit-child-letter .popup-tit14{background-position:0 -650px;}
.benefit-child-letter .popup-tit15{background-position:0 -700px;}
.benefit-child-letter .popup-tit16{background-position:0 -750px;}
.benefit-child-letter .popup-tit17{background-position:0 -800px;}
.benefit-child-letter .popup-tit18{background-position:0 -850px;}
.benefit-child-letter .popup-tit19{background-position:0 -900px;}
.benefit-child-letter .popup-tit20{background-position:0 -950px;}
.benefit-child-letter .popup-tit21{background-position:0 -1000px;}
.benefit-child-letter .popup-tit22{background-position:0 -1050px;}
.benefit-child-letter .popup-tit23{background-position:0 -1100px;}
.benefit-child-letter .popup-tit24{background-position:0 -1150px;}
.benefit-child-letter .popup-tit25{background-position:0 -1200px;}
.benefit-child-letter .popup-tit26{background-position:0 -1250px;}

.translation-location.layer1{position:relative;width:582px;height:100%;background:#fff url('/image/mate/bg-layer.png') repeat-x 0 0;}
.translation-location .lay-cont{width:480px;padding:50px;}
.translation-location .tit strong{display:inline-block;width:197px;height:19px;background:url('/image/mate/tit-translation-location.png') no-repeat;text-indent:-10000em;}
.translation-location .txt1{width:417px;height:90px;margin:0 auto;background:url('/image/mate/txt-translation-location.png') no-repeat;text-indent:-10000em;}
.translation-location .eng-translation-location{width:481px;margin:50px auto 0;padding:20px 0 10px;border-top:1px solid #d6d6d6;overflow:hidden;}
.translation-location .eng-translation-location .txt2{float:right;width:91px;height:10px;background:url('/image/mate/eng-translation-location.png') no-repeat;text-indent:-10000em;}
.translation-location .cont-wrap{width:481px;height:400px;margin:0 auto;border:1px solid #dddddd;overflow:auto;overflow-x:hidden;}
/* MATE 란? */
.mate-intro .text{width:641px;margin:0 auto;background:url('/image/Intro-text.png') no-repeat;text-indent:-10000em;}
.mate-intro .sec1, .mate-intro .sec2{margin-bottom:41px;border-bottom:1px solid #dddddd;}
.mate-intro .sec1{padding-top:27px;}
.mate-intro .sec1 .video{padding:0 0 50px;text-align:center;}
.mate-intro .txt-cover{height:239px;padding-bottom:58px;background-position:0 0;}
.mate-intro .txt-pursuit-worth{height:671px;padding-bottom:40px;background-position:0 -300px;}
.mate-intro .txt-do{height:63px;background-position:0 -1100px;}
.mate-intro .txt-detail-view{width:100%;margin-top:45px;background-position:9px -1300px;overflow:hidden;}
.mate-intro .txt-detail-view li{position:relative;float:left;width:164px;height:135px;}
.mate-intro .txt-detail-view ul li a{display:block;position:absolute;top:115px;left:20px;}
.mate-intro .txt-detail-view ul .fir-field a{display:block;position:absolute;top:115px;left:9px;}

.btn-detail2{width:75px;height:20px;background:url('/image/mate/btn/btn-detail2.png') no-repeat;}

/* 번역 메이트 */
.translation-mate .text{width:639px;margin:0 auto;background:url('/image/mate/translation-text.png') no-repeat;text-indent:-10000em;}
.apply .sec{margin-bottom:40px;border-bottom:1px solid #dddddd;}
.translation-mate .txt-intro{height:299px;background-position:0 0;}
.translation-mate .apply-qualification{height:180px;padding-bottom:40px;background-position:0 -378px;} /* 수정 2012-11-27 */ 
.translation-mate .apply-process{height:239px;padding-bottom:40px;background-position:0 -600px;}
.apply .contact-wrap{border-top:1px solid #dddddd;}
.apply .text-contact{width:610px;height:26px;background:url('/image/mate/call-info.png') no-repeat 10px 15px;text-indent:-10000em;} /* 수정 2012-06-28 */
.business-mate .contact-wrap .text-contact{height:28px;background:url('/image/mate/txt-business-contact.png') no-repeat 10px 15px;}
.apply .btn-m{padding-top:50px;}
.btn-apply{width:157px;height:46px;background:url('/image/mate/btn/btn-application.png') no-repeat;text-indent:-10000em;}

/* 사무 메이트 */
.business-mate .text{width:639px;margin:0 auto;background:url('/image/mate/business-text.png') no-repeat;text-indent:-10000em;}
.business-mate .txt-intro{height:188px;background-position:0 0;}
.business-mate .apply-qualification{height:113px;padding-bottom:26px;background-position:0 -250px;}
.business-mate .apply-process{height:167px;padding-bottom:45px;background-position:0 -450px;}
.business-list{width:638px;margin:0 auto 40px;border:1px solid #d5d5d5;}
.business-list tr th{height:29px;background:url('/image/mate/bg-mate-th.gif') repeat 0 0;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;}
.business-list tr td{padding-left:15px;color:#999999;border-right:1px solid #d5d5d5;}
.td-division{border-bottom:1px solid #e5e5e5;}
td.td-department{width:102px;}
td.td-field{width:106px;}
td.td-activity{width:184px;}
td.td-qualification{width:185px;}

.business-mate .qualification-wrap{padding-bottom:40px;}
.business-mate .list1{width:638px;margin:0 auto;border:1px solid #d5d5d5;}
.business-mate .list1 tr th{padding:9px 0;background:url('/image/mate/bg-mate-th.gif') repeat 0 0;border-right:1px solid #d5d5d5;border-bottom:1px solid #d5d5d5;}
.business-mate .list1 tr th img{display:block;margin:0 auto;}
.business-mate .list1 tr td{padding:9px 0 7px 14px;color:#999999;border-right:1px solid #d5d5d5;border-bottom:1px solid #e5e5e5;}

.business-mate .list1 .txt-bold1, .list1 .txt-desc{font-size:.9em;letter-spacing:-1px;word-break:keep-all}
.business-mate .list1 tbody .last-tr th, .list1 tbody .last-tr td, .list1 tbody th.last-tr, .list1 tbody td.last-tr,
.business-mate .write1 tbody .last-tr th, .write1 tbody .last-tr td, .write1 tbody th.last-tr, .write1 tbody td.last-tr{border-bottom:0 none}
.business-mate table tbody th.mid-td, table tbody td.mid-td{border-right:1px solid #e9e9e9}
.business-mate table tbody td.mid-tr{border-bottom:0 none}

/* 행사 메이트 */
.event-mate .text{width:622px;margin-left:10px;background:url('/image/mate/event-text.png') no-repeat;text-indent:-10000em;}
.event-mate .txt-intro{height:192px;background-position:0 0;}
.event-mate .txt-recruit{height:192px;padding-bottom:40px;background-position:0 -250px;}
.event-mate .txt-apply{height:44px;padding-bottom:38px;background-position:0 -550px;}

/* 전문 메이트 */
.speciality-mate .text{width:622px;margin-left:10px;background:url('/image/mate/speciality-text.png') no-repeat;text-indent:-10000em;}
.speciality-mate .txt-intro{height:187px;background-position:0 0;}
.speciality-mate .txt-recruit{height:192px;padding-bottom:40px;background-position:0 -250px;}
.speciality-mate .txt-apply{height:44px;padding-bottom:38px;background-position:0 -550px;}

/* 우리들의 이야기 */
.our-story-cover{width:582px;height:330px;margin:40px 0 28px 55px;background:url('/image/mate/our-story-cover.jpg') no-repeat;text-indent:-10000em;}
.our-story .btn-r, .today-word .btn-r, .master-challenge .btn-r, .translation-qna .btn-r, .online .btn-r{margin:-10px 0 15px;}
.btn-write {width:80px;height:28px;background:url('/image/mate/btn/btn-write.png') no-repeat;}
.td-title2{padding-left:31px;}

/* 번달이 도전기 */
.master-challenge-cover{width:660px;height:287px;margin:-20px 0 33px;background:url('/image/mate/master-challenge-cover.jpg') no-repeat;text-indent:-10000em;}

/* 번역 qna */
.translation-qna .mate-list .td-sort2{width:117px;text-align:center;}

/* 공지사항 */
.notice .write-comment2 .alert-right{height:33px;padding-top:17px;background-color:#fff;text-align:center;font-weight:bold;}

/* 이달의 메이트 */
.monthly-mate .monthly-cover{position:relative;width:646px;height:249px;margin:29px auto 24px;background:url('/image/mate/monthly-mate-cover.jpg') no-repeat;}
.monthly-mate .monthly-cover .medal{position:absolute;left:4px;top:4px;width:85px;height:126px;background:url('/image/mate/medal.png') no-repeat;z-index:10;}
.monthly-mate .monthly-cover .thumbs1{position:absolute;width:228px;left:55px;top:44px;border:1px solid #f4d686;}

.monthly-mate .monthly-cover .excellent-mate{position:absolute;left:305px;top:96px;}
.monthly-mate .monthly-cover .excellent-mate .txt{display:inline-block;height:15px;background:url('/image/mate/txt-mate.png') no-repeat;vertical-align:middle;}
.monthly-mate .monthly-cover .excellent-mate .txt-mate1{width:110px;background-position:0 0;}
.monthly-mate .monthly-cover .excellent-mate .txt-mate2{width:12px;background-position:-162px; 0;}
.monthly-mate .monthly-cover .excellent-mate .txt-name{position:relative;left:2px;top:2px;color:#0039a8;font-size:1.2em;}
.monthly-mate .mate-list .td-sort3{width:109px;text-align:center;}
.monthly-mate .mate-list .td-sort4{width:101px;text-align:center;}

/* mate-faq */
.mate-faq .faq-list{width:636px;margin:0 10px;}
.faq-list .txt1{display:block;position:absolute;left:24px;top:11px;width:12px;height:11px;background:url('/image/mate/txt-no.png') no-repeat;text-indent:-10000em}
.faq-list .txt-no1{background-position:0 0;}
.faq-list .txt-no2{background-position:-30px 0;}
.faq-list .txt-no3{background-position:-60px 0;}
.faq-list .txt-no4{background-position:-90px 0;}
.faq-list .txt-no5{background-position:-120px 0;}
.faq-list .txt-no6{background-position:-150px 0;}
.faq-list .txt-no7{background-position:-180px 0;}
.faq-list .txt-no8{background-position:-210px 0;}
.faq-list .txt-no9{background-position:-240px 0;}
.faq-list .txt-no10{background-position:-270px 0;}
.faq-list .txt-no11{background-position:-300px 0;}
.faq-list .txt-no12{background-position:-330px 0;}
.faq-list .txt-no13{background-position:-360px 0;}
.faq-list .txt-no14{background-position:-390px 0;}
.faq-list .txt-no15{background-position:-420px 0;}
.faq-list .txt-no16{background-position:-450px 0;}
.faq-list .txt-no17{background-position:-480px 0;}

.faq-list dt{position:relative;margin:0 0 -1px;background:url('/image/mate/ico/bul-down.gif') no-repeat 614px 14px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.faq-list dt.unfold{background:url('/image/mate/ico/bul-up.gif') no-repeat 614px 14px #f9f9f9;border-top:1px solid #d5d5d5;}
.faq-list dt a{height:12px;padding:10px 0;overflow:hidden;}
.faq-list{border:1px solid #e5e5e5;border-width:0 1px 1px;}
.faq-list dd{position:relative;width:100%;margin-bottom:-1px;padding:25px 0;background-color:#f9f9f9;border-top:1px solid #e5e5e5;border-bottom:1px solid #d5d5d5;z-index:10;}
.faq-list dd .txt{width:100%;}
.mate-faq .btn-online-counsel{width:94px;height:20px;background:url('/image/mate/btn/btn-online-counsel.png') no-repeat;}
.mate-faq .txt{display:block;background:url('/image/mate/txt-faq.png') no-repeat;text-indent:-10000em;}
.mate-faq .txt-faq{height:39px;margin-left:10px;background-position:0 0;}
.mate-faq .txt-more{width:546px;height:54px;margin:0 0 0 30px;background-position:0 -50px;}

.mate-faq .faq-list .tit-faq1{background-position:61px -140px;}
.mate-faq .faq-list dt.unfold .tit-faq1{background-position:61px -170px;}
.mate-faq .faq-list .txt-faq1{height:33px;background-position:30px -210px;}

.mate-faq .faq-list .tit-faq2{background-position:61px -340px;}
.mate-faq .faq-list dt.unfold .tit-faq2{background-position:61px -370px;}
.mate-faq .faq-list .txt-faq2{height:11px;background-position:30px -410px;}

.mate-faq .faq-list .tit-faq3{background-position:61px -540px;}
.mate-faq .faq-list dt.unfold .tit-faq3{background-position:61px -570px;}
.mate-faq .faq-list .txt-faq3{height:56px;background-position:30px -610px;}

.mate-faq .faq-list .tit-faq4{background-position:61px -740px;}
.mate-faq .faq-list dt.unfold .tit-faq4{background-position:61px -770px;}
.mate-faq .faq-list .txt-faq4{height:34px;background-position:30px -810px;}

.mate-faq .faq-list .tit-faq5{background-position:61px -940px;}
.mate-faq .faq-list dt.unfold .tit-faq5{background-position:61px -970px;}
.mate-faq .faq-list .txt-faq5{height:12px;background-position:30px -1010px;}

.mate-faq .faq-list .tit-faq6{background-position:61px -1140px;}
.mate-faq .faq-list dt.unfold .tit-faq6{background-position:61px -1170px;}
.mate-faq .faq-list .txt-faq6{height:12px;background-position:30px -1210px;}

.mate-faq .faq-list .tit-faq7{background-position:61px -1340px;}
.mate-faq .faq-list dt.unfold .tit-faq7{background-position:61px -1370px;}
.mate-faq .faq-list .txt-faq7{height:123px;background-position:30px -1410px;}

.mate-faq .faq-list .tit-faq8{background-position:61px -1540px;}
.mate-faq .faq-list dt.unfold .tit-faq8{background-position:61px -1570px;}
.mate-faq .faq-list .txt-faq8{height:12px;background-position:30px -1610px;}

.mate-faq .faq-list .tit-faq9{background-position:61px -1740px;}
.mate-faq .faq-list dt.unfold .tit-faq9{background-position:61px -1770px;}
.mate-faq .faq-list .txt-faq9{height:55px;background-position:30px -1810px;}

.mate-faq .faq-list .tit-faq10{background-position:61px -1940px;}
.mate-faq .faq-list dt.unfold .tit-faq10{background-position:61px -1970px;}
.mate-faq .faq-list .txt-faq10{height:33px;background-position:30px -2010px;}

.mate-faq .faq-list .tit-faq11{background-position:61px -2140px;}
.mate-faq .faq-list dt.unfold .tit-faq11{background-position:61px -2170px;}
.mate-faq .faq-list .txt-faq11{height:33px;background-position:30px -2210px;}

.mate-faq .faq-list .tit-faq12{background-position:61px -2340px;}
.mate-faq .faq-list dt.unfold .tit-faq12{background-position:61px -2370px;}
.mate-faq .faq-list .txt-faq12{height:77px;background-position:30px -2410px;}

.mate-faq .faq-list .tit-faq13{background-position:61px -2540px;}
.mate-faq .faq-list dt.unfold .tit-faq13{background-position:61px -2570px;}
.mate-faq .faq-list .txt-faq13{height:56px;background-position:30px -2610px;}

.mate-faq .faq-list .tit-faq14{background-position:61px -2740px;}
.mate-faq .faq-list dt.unfold .tit-faq14{background-position:61px -2770px;}
.mate-faq .faq-list .txt-faq14{height:33px;background-position:30px -2810px;}

.mate-faq .faq-list .tit-faq15{background-position:61px -2940px;}
.mate-faq .faq-list dt.unfold .tit-faq15{background-position:61px -2970px;}
.mate-faq .faq-list .txt-faq15{height:80px;background-position:30px -3010px;} /*수정 2013-04-19*/

.mate-faq .faq-list .tit-faq16{background-position:61px -3140px;}
.mate-faq .faq-list dt.unfold .tit-faq16{background-position:61px -3170px;}
.mate-faq .faq-list .txt-faq16{height:78px;background-position:30px -3210px;}

.mate-faq .faq-list .tit-faq17{background-position:61px -3340px;}
.mate-faq .faq-list dt.unfold .tit-faq17{background-position:61px -3370px;}
.mate-faq .faq-list .txt-faq17{height:55px;background-position:30px -3410px;}

.tab-faq{padding:30px 0 20px;}
.tab-faq li a{width:128px;height:51px;background:url('/image/mate/tab-faq.png') no-repeat;}
.mate-faq .tab-faq{margin:0 0 0 10px;}
.mate-faq .faq-box{position:relative;width:638px;margin:30px 0 0 10px;padding:25px 0 63px;background-color:#f5f5f5;}
.mate-faq .faq-box .btns{position:absolute;left:29px;top:96px;}
.btn-counsel-board{width:118px;height:20px;background:url('/image/mate/btn/btn-counsel-board.png') no-repeat;}

/* step */
.apply .txt-procedure{height:16px;margin-left:10px;background:url('/image/mate/txt-procedure.png') no-repeat;text-indent:-10000em;}
.apply .step-wrap{width:634px;margin:-1px 10px 0;border:1px solid #d5d5d5; border-widht:0 1px 1px;}
/*pdf-down step01*/
.pdf-down .text{background:url('/image/mate/txt-step01.png') no-repeat;text-indent:-10000em;}
.pdf-down .txt-notice{height:30px;margin:30px 0 55px;padding-bottom:30px;background-position:30px 0;border-bottom:1px solid #d5d5d5;}
.pdf-down .txt-pdf-down{height:67px;margin-bottom:33px;background-position:155px -100px;}
.pdf-down .video{text-align:center;}
.pdf-down .video img{border:1px solid #6a6a6a;}
.pdf-down .txt-down-info{height:103px;margin:0 30px;background-position:0 -185px;border-top:1px solid #dddddd;}
.pdf-down .btn-m{padding:25px 0 50px;}
.pdf-down .btn-r, .consent-sign .btn-r, .mini-test .btn-r{padding:15px 12px 0 0;}
.btn-download{width:213px;height:42px;background:url('/image/mate/btn/btn-download.png') no-repeat;}
.btn-nextstep{width:78px;height:28px;background:url('/image/mate/btn/btn-nextstep.png') no-repeat;}
/*mini-test step02*/
.mini-test .text{background:url('/image/mate/txt-step02.png') no-repeat;text-indent:-10000em;}
.mini-test .txt-notice{height:96px;margin:65px 0 45px;background-position:154px 0;}
.mini-test .questionnaire{padding:3px 36px 35px 32px;background:url('/image/mate/step02-border.png') no-repeat 50% 0;}
.questionnaire ol{padding:27px 25px 11px 25px;background:#fafafa;border:1px solid #eaeaea;border-width:0 1px 1px;}
.mini-test input.rad{margin:0;vertical-align:top;}
.mini-test .questionnaire .q-list{width:100%;overflow:hidden;}
.mini-test .questionnaire ol li ul li label{display:inline-block;margin-top:-2px;vertical-align:top;overflow:hidden;}
.mini-test .questionnaire ul{padding-bottom:20px;}
.mini-test .questionnaire ul li{padding:0 0 5px 37px;}
.questionnaire ol li ul li label{position:relative;top:3px;}
.mini-test .txt-num1{float:left;width:20px;height:16px;background-position:0 -150px;}
.mini-test .txt-num2{float:left;width:28px;height:15px;background-position:-50px -150px;}
.mini-test .txt-num3{float:left;width:25px;height:18px;background-position:-100px -150px;}
.mini-test .txt-num4{float:left;width:30px;height:19px;background-position:-150px -150px;}
.mini-test .txt-num5{float:left;width:28px;height:19px;background-position:-200px -150px;}
.mini-test .txt-num6{float:left;width:24px;height:20px;background-position:-250px -150px;}
.mini-test .txt-num7{float:left;width:26px;height:17px;background-position:-300px -150px;}
.mini-test .txt-q1{position:relative;top:2px;width:277px;height:13px;margin-left:36px;padding-bottom:12px;background-position:0 -200px;}
.mini-test .txt-q2{position:relative;top:1px;width:235px;height:13px;margin-left:36px;padding-bottom:12px;background-position:0 -450px;}
.mini-test .txt-q3{position:relative;top:3px;width:319px;height:12px;margin-left:36px;padding-bottom:15px;background-position:0 -700px;}
.mini-test .txt-q4{position:relative;top:2px;width:403px;height:31px;margin-left:36px;padding-bottom:14px;background-position:0 -950px;}
.mini-test .txt-q5{position:relative;top:3px;width:279px;height:33px;margin-left:36px;padding-bottom:12px;background-position:0 -1200px;}
.mini-test .txt-q6{position:relative;top:5px;width:413px;height:33px;margin-left:36px;padding-bottom:16px;background-position:0 -1400px;}
.mini-test .txt-q7{position:relative;top:0;width:347px;height:13px;margin-left:36px;padding-bottom:11px;background-position:0 -1650px;}
.mini-test .txt-ex1{width:94px;height:11px;background-position:0 -250px;}
.mini-test .txt-ex2{width:94px;height:11px;background-position:0 -300px;}
.mini-test .txt-ex3{width:94px;height:11px;background-position:0 -350px;}
.mini-test .txt-ex4{width:420px;height:29px;background-position:0 -400px;}
.mini-test .txt-ex5{width:10px;height:11px;background-position:0 -500px;}
.mini-test .txt-ex6{width:30px;height:11px;background-position:0 -550px;}
.mini-test .txt-ex7{width:30px;height:11px;background-position:0 -600px;}
.mini-test .txt-ex8{width:282px;height:30px;background-position:0 -650px;}
.mini-test .txt-ex9{width:19px;height:11px;background-position:0 -750px;}
.mini-test .txt-ex10{width:9px;height:11px;background-position:0 -800px;}
.mini-test .txt-ex11{width:40px;height:11px;background-position:0 -850px;}
.mini-test .txt-ex12{width:67px;height:13px;background-position:0 -900px;}
.mini-test .txt-ex13{width:20px;height:11px;background-position:0 -1000px;}
.mini-test .txt-ex14{width:41px;height:11px;background-position:0 -1050px;}
.mini-test .txt-ex15{width:51px;height:11px;background-position:0 -1100px;}
.mini-test .txt-ex16{width:169px;height:13px;background-position:0 -1150px;}
.mini-test .txt-ex17{width:229px;height:14px;background-position:0 -1250px;}
.mini-test .txt-ex18{width:193px;height:13px;background-position:0 -1300px;}
.mini-test .txt-ex19{width:258px;height:14px;background-position:0 -1350px;}
.mini-test .txt-ex20{width:41px;height:11px;background-position:0 -1450px;}
.mini-test .txt-ex21{width:40px;height:11px;background-position:0 -1500px;}
.mini-test .txt-ex22{width:43px;height:11px;background-position:0 -1550px;}
.mini-test .txt-ex23{width:83px;height:11px;background-position:0 -1600px;}
.mini-test .txt-ex24{width:56px;height:10px;background-position:0 -1700px;}
.mini-test .txt-ex25{width:55px;height:10px;background-position:0 -1750px;}
.mini-test .txt-ex26{width:93px;height:11px;background-position:0 -1800px;}
.mini-test .txt-ex27{width:116px;height:11px;background-position:0 -1850px;}
input.btn{cursor:pointer;}
.btn-prestep{width:78px;height:28px;background:url('/image/mate/btn/btn-prestep.png') no-repeat;}
.btn-submit2{width:78px;height:28px;background:url('/image/mate/btn/btn-submit2.png') no-repeat;}
.btn-submit3{width:157px;height:46px;background:url('/image/mate/btn/btn-submit3.png') no-repeat;}

/* sample-test step03 */
.sample-test .text{background:url('/image/mate/txt-step03.png') no-repeat;text-indent:-10000em;}
.sample-test .step-wrap{padding-bottom:21px;}
.sample-test .btn-r{margin:15px 12px 0 0;}
.sample-test .txt-notice{height:95px;margin-top:35px;padding-bottom:35px;background-position:35px 0;border-bottom:1px solid #d5d5d5;}
.sample-test .txt-choice{height:80px;margin:65px 0 49px;background-position:107px -150px;}  /* 수정 2012-12-07 */
.sample-test .txt-choice2{height:40px;margin:65px 0 49px;background-position:107px -150px;} /* 추가 2012-09-13 */
.sample-test .txt-description{height:30px;margin-bottom:41px;background-position:30px -250px;}
.sample-test .tit-image{width:73px;height:15px;margin:0 0 10px 30px;background-position:0 -300px;}
.sample-test .tit-sample{width:75px;height:15px;margin:0 0 12px 30px;background-position:-200px -300px;}
.sample-test .tit-motive{width:58px;height:16px;margin:0 0 10px 30px;background-position:-400px -300px;}
.choice-wrap{padding-top:1px;background:url('/image/mate/step02-border.png') no-repeat 50% 0;}
.choice-wrap .tab-step03{width:370px;margin:0 auto;padding-bottom:31px;}
.choice-wrap .tab-step03 li a{width:185px;height:41px;background:url('/image/mate/tab-step03.png') no-repeat;}
.choice-wrap .tab-step03 .t1{background-position:0 0;}
.choice-wrap .tab-step03 .t2{background-position:-200px 0;}
.choice-wrap .tab-step03 .t1:hover, .tab-step03 .on .t1{background-position:0 -50px;}
.choice-wrap .tab-step03 .t2:hover, .tab-step03 .on .t2{background-position:-200px -50px;}
.sample-test .img-area{width:560px;height:368px;margin:0 0 40px 30px;border:1px solid #d5d5d5;overflow:auto;}
.sample-test .cont-area textarea{width:560px;height:146px;margin:0 0 29px 30px;border-color:#d5d5d5;color:#777;}

/* consent-sign step04 */
.consent-sign .text{background:url('/image/mate/txt-step04.png') no-repeat;}
.consent-sign .text *{display:inline-block;text-indent:-10000em;}
.consent-sign .txt-consent-form{height:920px;margin:50px 45px 47px 50px;padding-bottom:45px;background-position:0 0;border-bottom:1px solid #ddd;}
.consent-sign .txt-activity-term{margin:0 50px 74px 48px;}
.consent-sign .txt-activity-term .txt-activity-term1{display:block;width:131px;height:16px;padding-bottom:11px;background-position:0 -1000px;}
.consent-sign .txt-activity-term .txt-activity-term2{color:#ff8700;font-size:1.2em;text-decoration:underline;}
.consent-sign .txt-activity-term .txt-activity-term3{display:block;width:335px;height:16px;margin-top:11px;background-position:0 -1100px;}
.consent-sign .signature-wrap{width:532px;;margin:0 auto 60px;border:1px solid #ddd;overflow:hidden;}
.consent-sign .signature-wrap dt, .consent-sign .signature-wrap dd{float:left;overflow:hidden;}
.consent-sign .signature-wrap dt{height:39px;}
.consent-sign .signature-wrap dd{height:27px;padding:12px 0 0;}
.consent-sign .signature-wrap strong{line-height:1.2}
.consent-sign .signature-wrap .txt-sign-date1{width:68px;background-position:15px -1138px;background-color:#f7f7f7;border-right:1px solid #eee;}
.consent-sign .signature-wrap .txt-sign-date2, .consent-sign .signature-wrap .txt-signing2{color:#777777;white-space:nowrap;}
.consent-sign .signature-wrap .txt-sign-date2{width:104px;text-align:center;font-family:tahoma;font-size:1.2em;line-height:1.1}
.consent-sign .signature-wrap .txt-signing1{width:68px;background-position:-178px -1138px;border-left:1px solid #eee;border-right:1px solid #eee;background-color:#f7f7f7;}
.consent-sign .signature-wrap .txt-signing2{display:inline;float:left;width:67px;height:20px;margin:-6px 10px 0 10px;padding:3px 0 0;text-align:center;border:1px solid #ddd;font-weight:bold;line-height:1.4;}
.consent-sign .signature-wrap .txt-signing3{float:left;width:176px;height:11px;background-position:-350px -1150px;}

/* apply-complete step05*/
.apply-complete .text{background:url('/image/mate/txt-step05.png') no-repeat;text-indent:-10000em;}
.apply-complete .txt-greeting{width:388px;height:159px;margin:68px auto 80px;background-position:0 0;}
.apply-complete .txt-info{width:576px;height:76px;margin:0 30px;background-position:0 -186px;border-top:1px solid #ddd;}
.apply-complete .txt-info p{margin-top:14px;}


/* 수혜국 편지 용어 */
.benefit-letter .cover{height:172px;margin:34px 0 0;background:url('/image/mate/benefit-letter-cover.jpg') no-repeat;text-indent:-10000em;}
.benefit-letter .txt{background:url('/image/mate/txt-benefit-letters.png') no-repeat;}
/*.benefit-letter .cont{padding:0 10px;}*/

.tit-upload-wording{position:relative;width:115px;height:39px;margin:0 0 10px -35px;background-position:0 -550px !important;text-indent:-10000em;}
.txt-upload-wording{width:154px;height:48px;margin:0 0 19px;background-position:-150px -550px !important;text-indent:-10000em;}
.upload-wording{position:relative;padding:15px 20px 0;background:#f3f3f3;border-bottom:1px solid #ddd;}
.upload-wording .txt {background: url("/image/mate/txt-benefit-letters.png") no-repeat scroll 0 0 transparent;}
.upload-wording .field{padding:0 0 20px;overflow:hidden;}
.upload-wording .field dt, .upload-wording .field dd{float:left;}
.upload-wording .field dt{clear:both;width:31px;padding:5px 0 0;}
.upload-wording .field dd{width:128px;margin:0 0 3px;}
.upload-wording .txt-wording{width:21px;background-position:-300px 0;}
.upload-wording .txt-nation{width:21px;background-position:-400px 0;}
.upload-wording .txt-initial{width:21px;background-position:-500px 0;}
.upload-wording .txt-context{width:21px;background-position:-600px 0;}
.upload-wording textarea{width:112px;height:130px;padding: 2px 7px 0;}
.upload-wording .btn-m{padding:20px 0;border-top:1px solid #e5e5e5;}

.search-benefit-letter{background:url('/image/mate/bg-search-field.gif') repeat;border:1px solid #ffdcb5;text-align:center;}
.search-benefit-letter .search{padding:15px 0;border-bottom:1px solid #ffdcb5;}
.search-benefit-letter .sort{padding:12px 0 8px;}
.search-benefit-letter .sort .align, .search-benefit-letter .sort .align li{display:inline;}
.search-benefit-letter .sort .align li{margin:0 0 0 15px;padding:3px 0 0 15px;border-left:1px solid #d4cdce;}
.search-benefit-letter .sort .selectbox-wrap{margin:-4px 0 0;}
.search-benefit-letter .txt{display:inline-block;vertical-align:middle;overflow:hidden;}
.search-benefit-letter .txt-nation{width:54px;margin:0 5px 0 0;background-position:0 0;}
.search-benefit-letter .txt-ascending{width:65px;background-position:-100px 0;}
.search-benefit-letter .txt-hits{width:31px;background-position:-200px 0;}
.search-benefit-letter .text{width:217px;height:23px;margin-right:-4px;padding-left:13px;border:1px solid #ffc98c;}

.benefit-letter .nodata{padding:144px 0}
.benefit-letter .txt-nodata{width:334px;height:20px;margin:0 auto;background-position:0 -150px;text-indent:-10000em;}


.benefit-letter .letter{background:url('/image/mate/txt-benefit-letters.png') no-repeat;text-indent:-10000em;}
.benefit-letter .letter-a{background-position:0 -50px;}
.benefit-letter .letter-b{background-position:-50px -50px;}
.benefit-letter .letter-c{background-position:-100px -50px;}
.benefit-letter .letter-d{background-position:-150px -50px;}
.benefit-letter .letter-e{background-position:-200px -50px;}
.benefit-letter .letter-f{background-position:-250px -50px;}
.benefit-letter .letter-g{background-position:-300px -50px;}
.benefit-letter .letter-h{background-position:-350px -50px;}
.benefit-letter .letter-i{background-position:-400px -50px;}
.benefit-letter .letter-j{background-position:-450px -50px;}
.benefit-letter .letter-k{background-position:-500px -50px;}
.benefit-letter .letter-l{background-position:-550px -50px;}
.benefit-letter .letter-m{background-position:-600px -50px;}
.benefit-letter .letter-n{background-position:0 -100px;}
.benefit-letter .letter-o{background-position:-50px -100px;}
.benefit-letter .letter-p{background-position:-100px -100px;}
.benefit-letter .letter-q{background-position:-150px -100px;}
.benefit-letter .letter-r{background-position:-200px -100px;}
.benefit-letter .letter-s{background-position:-250px -100px;}
.benefit-letter .letter-t{background-position:-300px -100px;}
.benefit-letter .letter-u{background-position:-350px -100px;}
.benefit-letter .letter-v{background-position:-400px -100px;}
.benefit-letter .letter-w{background-position:-450px -100px;}
.benefit-letter .letter-x{background-position:-500px -100px;}
.benefit-letter .letter-y{background-position:-550px -100px;}
.benefit-letter .letter-z{background-position:-600px -100px;}

.benefit-letter .area{margin:29px 0 40px;}
.benefit-letter .scrollwrap, .benefit-letter-pop .scrollwrap{height:100px;margin:-19px -35px -26px -17px;padding:19px 35px 26px 17px;overflow:auto;overflow-x:hidden;}

.letters{margin:30px 0 0;border:1px solid #c9c9c9;border-width:1px 0 0 1px;overflow:hidden;}
.letters li{float:left;width:158px;height:80px;border:1px solid #c9c9c9;border-width:0 1px 1px 0;}
.letters li.on{background:#f3f3f3;}
.letters ul{float:left;width:95px;padding:12px 0 0 15px;background:url('/image/mate/txt-benefit-letters.png') no-repeat -699px -25px;}
.letters ul li{float:none;width:auto;height:auto;border:0 none;}
.letters .letter{float:left;width:47px;height:40px;margin:25px 0 0;text-align:center;opacity:0.5;filter:alpha(opacity=50);}
.letters li.on .letter{opacity:1;filter:alpha(opacity=100);}
.letters li a:hover{color:#ff8700;font-weight:bold;letter-spacing:-1px;}

.letter-detail{position:relative;margin:30px 0 15px;border:1px solid #d5d5d5;}
.letter-detail .letter-index{position:absolute;top:0;lefT:0;width:60px;height:45px;margin:0;padding:15px 0 0;background-color:#f3f3f3;border-bottom:1px solid #d5d5d5;border-right:1px solid #d5d5d5;}
.letter-detail .letter{display:block;height:31px;}

.letter-detail ul{overflow:hidden;padding:21px 60px;background:url('/image/ico/bg-dot1.gif') repeat-y 50% 0;}
.letter-detail ul li{float:left;width:50%;padding:2px 0 1px;}
.letter-detail ul li a{margin:0 0 0 29px;color:#777;}
.letter-detail ul li a:hover{font-weight:bold;letter-spacing:-1px;}

.benefit-letter .child-letters{position:relative;border-bottom:1px solid #dddddd;}
.benefit-letter .txt-child-letters{width:455px;height:125px;margin:40px 0 96px;background-position:11px -650px;}
.benefit-letter .tit-letter-view{width:165px;height:15px;margin:0;background-position:0 -200px;}
.btn-position-search{position:absolute;left:11px;top:150px;width:167px;height:28px;background:url('/image/mate/btn/btn-position-search.png') no-repeat;text-indent:-10000em;}

.letter-detail .paginator1{position:absolute;top:15px;right:15px;overflow:hidden;}
.paginator1 .btn-move{float:left;overflow:hidden;}
.paginator1 strong{display:inline;float:left;margin:1px 10px 0 0;color:#999;}

.letter-view{overflow:hidden;margin:15px 0 0;background:url('/image/mate/bg-letter-view.gif') repeat-y 0 0;border:1px solid #ddd;}
.letter-view li{float:left;width:113px;margin:0 0 -1px;padding:13px 0 10px 14px;background:url('/image/mate/ico/ico-arrow1.gif') no-repeat 113px 16px;border-bottom:1px solid #ddd;}
.letter-view li a{display:block;height:13px;background:url('/image/mate/txt-benefit-letters.png') no-repeat;text-indent:-10000em;overflow:hidden;}
.letter-view li a.nation-bf{background-position:0 -250px;}
.letter-view li a.nation-ug{background-position:-130px -250px;}
.letter-view li a.nation-th{background-position:-260px -250px;}
.letter-view li a.nation-es{background-position:-390px -250px;}
.letter-view li a.nation-bo{background-position:-520px -250px;}

.letter-view li a.nation-gh{background-position:0 -300px;}
.letter-view li a.nation-ke{background-position:-130px -300px;}
.letter-view li a.nation-ph{background-position:-260px -300px;}
.letter-view li a.nation-ni{background-position:-390px -300px;}
.letter-view li a.nation-ha{background-position:-520px -300px;}

.letter-view li a.nation-tg{background-position:0 -350px;}
.letter-view li a.nation-tz{background-position:-130px -350px;}
.letter-view li a.nation-io{background-position:-260px -350px;}
.letter-view li a.nation-co{background-position:-390px -350px;}
.letter-view li a.nation-dr{background-position:-520px -350px;}

.letter-view li a.nation-pw{background-position:0 -400px;}
.letter-view li a.nation-in{background-position:-130px -400px;}
.letter-view li a.nation-me{background-position:-260px -400px;}
.letter-view li a.nation-ec{background-position:-390px -400px;}
.letter-view li a.nation-hq{background-position:-520px -400px;}

.letter-view li a.nation-sl{background-position:0 -450px;}
.letter-view li a.nation-bd{background-position:-130px -450px;}
.letter-view li a.nation-gu{background-position:-260px -450px;}
.letter-view li a.nation-pe{background-position:-390px -450px;}
.letter-view li a.nation-br{background-position:-520px  -450px;}

.letter-view li a.nation-et{background-position:0 -500px;}


/* 메인 페이지 */
.last-el th, .last-el td{border-bottom:0 none !important;}

/* btn */
.btn span{display:inline-block;text-indent:-10000em;}
.btn-search1{width:51px;height:23px;background:url('/image/mate/btn/btn-search1.png') no-repeat 0 0;}
.btn-more{display:block;position:absolute;width:36px;height:10px;background:url('/image/mate/btn/btn-more.png') no-repeat 1px 1px;text-indent:-10000em;}
.btn-apply-mate1{width:105px;height:28px;background:url('/image/mate/btn/btn-apply-mate1.png') no-repeat 0 0;}
.btn-install1{width:75px;height:20px;background:url('/image/mate/btn/btn-install1.png') no-repeat 0 0;}
.btn-detail1{width:75px;height:20px;background:url('/image/mate/btn/btn-detail1.png') no-repeat 0 0;}
.btn-login{width:67px;height:51px;background:url('/image/mate/btn/btn-login.png') no-repeat 0 0;}
.btn-mypage{width:81px;height:26px;background:url('/image/mate/btn/btn-mypage.png') no-repeat 0 0;}
.btn-conf-voluntary{width:88px;height:26px;background:url('/image/mate/btn/btn-conf-voluntary.png') no-repeat 0 0;}
.btn-logout{width:72px;height:26px;background:url('/image/mate/btn/btn-logout.png') no-repeat 0 0;}

/* header */
#header{position:relative;height:93px;background:url('/image/mate/bg-header.jpg') repeat-x 0 50%;z-index:101;}
#header .wrap{position:relative;width:960px;}
.logo1{display:inline;float:left;margin:24px 0 0 9px;}
.logo1 a{float:left;width:87px;height:46px;background:url('/image/mate/logo.png') no-repeat;text-indent:-10000em;}

.gnb li a, .related1 li .l-greeting, .related1 li a{display:block;background:url('/image/mate/txt-gnb.png') no-repeat;text-indent:-10000em;}
.gnb, .gnb li{display:inline;float:left;}
.gnb{margin:52px 0 0 42px;overflow:hidden;}
.gnb li{margin:0 0 0 -1px;background:url('/image/mate/bg-lnb.gif') repeat-y 0 0;}
.gnb li a{width:108px;height:18px;}
.gnb li a.l-introduce{background-position:21px 2px;}
.gnb li a.l-announce{background-position:21px -48px;}
.gnb li a.l-sharing{background-position:21px -98px;}
.gnb li a.l-introduce:hover, .gnb li .on a.l-introduce{background-position:-129px 2px;}
.gnb li a.l-announce:hover, .gnb li .on a.l-announce{background-position:-129px -48px;}
.gnb li a.l-sharing:hover, .gnb li .on a.l-sharing{background-position:-129px -98px;}
.gnb li div{position:absolute;margin:18px 0 0 -13px;width:101px;padding:10px 20px 4px;background:url('/image/mate/bg-gnb-sub1.png') no-repeat;}
.gnb li div ul{overflow:hidden;}
.gnb li div li{margin:0 0 -1px;background:url('/image/mate/ico/dotted1.gif') repeat-x 0 100%;}
.gnb li div li a{height:27px;}
.gnb li div li a.dep1-1{background-position:-300px 7px;}
.gnb li div li a.dep1-2{background-position:-600px 7px;}
.gnb li div li a.dep1-1:hover{background-position:-450px 7px;}
.gnb li div li a.dep1-2:hover{background-position:-750px 7px;}
.gnb li div li a.dep2-1{background-position:-300px -43px;}
.gnb li div li a.dep2-2{background-position:-600px -43px;}
.gnb li div li a.dep2-3{background-position:-900px -43px;}
.gnb li div li a.dep2-1:hover{background-position:-450px -43px;}
.gnb li div li a.dep2-2:hover{background-position:-750px -43px;}
.gnb li div li a.dep2-3:hover{background-position:-1050px -43px;}
.gnb li div li a.dep3-1{background-position:-300px -93px;}
.gnb li div li a.dep3-2{background-position:-600px -93px;}
.gnb li div li a.dep3-3{background-position:-900px -93px;}
.gnb li div li a.dep3-4{background-position:-1200px -93px;}
.gnb li div li a.dep3-5{background-position:-1500px -93px;}
.gnb li div li a.dep3-6{background-position:-1800px -93px;}
.gnb li div li a.dep3-1:hover{background-position:-450px -93px;}
.gnb li div li a.dep3-2:hover{background-position:-750px -93px;}
.gnb li div li a.dep3-3:hover{background-position:-1050px -93px;}
.gnb li div li a.dep3-4:hover{background-position:-1350px -93px;}
.gnb li div li a.dep3-5:hover{background-position:-1650px -93px;}
.gnb li div li a.dep3-6:hover{background-position:-1950px -93px;}

#header .area1{position:absolute;top:0;right:0;width:400px;overflow:hidden;}

#header .related1{display:inline;float:right;margin:19px -2px 0 0;padding:1px 0 0;overflow:hidden;}
#header .related1 li{display:inline;float:left;margin:0 -1px 0 0;background:url('/image/mate/bg-related1.gif') no-repeat 100% 1px;}
#header .related1 li a{height:12px;padding:0 7px;overflow:hidden;}
#header .related1 li a.l-login{width:28px;background-position:6px -149px;}
#header .related1 li a.l-logout{width:38px;background-position:-213px -149px;}
#header .related1 li .l-greeting{display:inline-block;width:66px;background-position:0 -169px;vertical-align:middle;overflow:hidden;}
#header .related1 li a.l-join{width:39px;background-position:-32px -149px;}
#header .related1 li a.l-mypage{width:49px;background-position:-82px -149px;}
#header .related1 li a.l-translation{width:56px;background-position:-142px -149px;}
#header .related1 li.greeting{position:relative;top:-2px;padding:0 10px 0 0;background:none;color:#fff;}
#header .related1 li.greeting strong{vertical-align:middle;line-height:1.2;}

.gnb-search{display:inline;float:right;margin:15px 4px 0 0}
.gnb-search .text{width:208px;height:16px;padding:5px 0 0 10px;border:1px solid #ccc;border-width:1px 0 1px 1px}

/* index page */
.index #container{background:url('/image/mate/bg-main.jpg') repeat 50% 0;}
.index #wrapper{width:959px;padding:7px 0 0;background:url('/image/mate/bg-main-bar.png') no-repeat 0 0;border-width:0 1px 0 0;}
.index #contents{width:645px;margin:0;padding:46px 30px 0 0;z-index:0;}
.index #sidebar{width:283px;padding:21px 0 0;background:url('/image/mate/bg-main1.jpg') repeat-y 0 0;border-left:0 none;z-index:1000;}

/* index - cover 영역 */
.slides_container{width:1048px;display:none;margin:0 auto;z-index:100;}
.slides_container li{width:1048px;height:405px;display:block}

.index .cover{position:relative;width:1048px;height:405px;margin:0 auto -53px;text-align:center;}
.index .tab-cover{position:relative;width:1048px;height:36px;margin:0 auto -36px;z-index:10;}
.index .pagination{position:absolute;top:18px;right:18px;z-index:101;}
.index .pagination li, .index .pagination li a{display:inline;float:left;}
.index .pagination li{margin:0 0 0 5px;}
.index .pagination li a{width:18px;height:18px;background:url('/image/mate/btn/btn-move1.jpg') no-repeat;text-indent:-10000em;}
.index .pagination li.current a{background-position:-18px 0;}

/* index - 오늘의 말씀 */
.today-word-cover{width:638px;height:218px;margin:32px 0 32px 10px;;background:url('/image/mate/today-word-cover.jpg') no-repeat;text-indent:-10000em;}
.index .todays-words{position:relative;width:643px;overflow:hidden;border:1px solid #ddd;}
.index .todays-words dt, .index .todays-words dd{float:left;height:33px;}
.index .todays-words dt{width:109px;border-right:1px solid #eee;text-align:center;}
.index .todays-words dd{width:514px;padding:0 0 0 19px;background:#fff;color:#00bee6;}
.index .todays-words .context{padding-bottom:5px;color:#00bee6;font-family:'돋움', dotum;letter-spacing:-1px;word-spacing:-1px;line-height:1.8;font-weight:bold;}
.simply-scroll-clip {position:relative;overflow:hidden;z-index:2;}
.simply-scroll-list {position:absolute;top:0;left:0;z-index:1;overflow:hidden;margin:0;padding:0;list-style:none;}
.simply-scroll-list li {padding: 0;margin: 0;list-style: none;}
.simply-scroll-list li img {border:none;display:block;}
.simply-scroll-btn {position:absolute;background-image: url('/image/btn/btn-move5.gif');width:16px;height:16px;z-index:3;cursor:pointer;border:1px solid #ddd;}
.simply-scroll-btn-up {right:-1px;top:-1px;background-position:0 0;}
.simply-scroll-btn-down {right:-1px;top:16px;background-position:0 -17px;}
.vert .simply-scroll-clip {width:500px;height:24px;margin:6px 0 0;}
.vert .simply-scroll-list li {width: 490px;}

/* index - 최근 게시물 */
.index .articles{width:100%;padding:40px 0 34px;overflow:hidden;}
.index .articles .tabs1{width:100%;margin:0 0 4px 0;overflow:hidden;}
.index .articles .tabs1 li{display:inline;float:left;margin:0 0 0 -1px;padding:0 10px;border-left:1px solid #ddd;}
.index .articles .wrap, .index .articles .sec{display:inline;float:left;}
.index .articles .sec{position:relative;padding:0 0 0 10px;}
.index .articles .sec li{position:relative;width:278px;margin:8px 0 0;padding:0 0 0 9px;background:url('/image/mate/ico/bul-dot1.gif') no-repeat 0 4px;}
.index .articles .sec li a{color:#777;}
.index .articles .sec li .date{position:absolute;top:-1px;right:0;color:#999;font:1em tahoma;}
.index .articles .wrap{width:297px;margin:0 42px 0 0;overflow:hidden;}
.index .articles .wrap .btn-more{top:-16px;right:0;}
.index .articles .sec-member .btn-more{top:2px;right:0;}
.index .articles .sec-notice ul li{color:#777;}

/* index - 관련 링크 */
.index .linked{width:100%;overflow:hidden;padding:40px 0 40px;border-top:1px solid #ddd;}
.index .linked .sec{display:inline;float:left;position:relative;width:195px;margin:0 10px;}
.index .linked .cont{position:relative;height:130px;margin:10px 0 0;}
.index .linked .caption{position:absolute;bottom:0;left:0;width:100%;height:25px;padding:6px 0 0;color:#c5beb9;text-indent:15px;}
.index .linked .caption strong{position:relative;z-index:10;font-size:.9em;}
.index .linked .caption .bg{position:absolute;bottom:0;left:0;width:100%;height:31px;background:#000;filter: alpha(opacity=60);opacity:.6;}
.index .linked .btn-more{top:3px;right:0;}

/* index - MATE 신청 */
.index .applied{width:100%;height:201px;overflow:hidden;padding:40px 0 0;border-top:1px solid #ddd;}
.index .applied .sec-mate-apply{float:left;width:420px;height:176px;margin:-1px 0 0;padding:0 0 0 10px;background:url('/image/mate/bg-mate-recommend.png') no-repeat 213px 100%;}
.index .applied .sec-imate{float:left;padding:0 0 20px 9px;border-bottom:1px solid #e2e2e2;}
.index .applied .sec-certificate{float:left;padding:19px 0 19px 9px;}

.index .txt{display:block;text-indent:-10000em;overflow:hidden;}
.index .txt, .index .login-area .wrap input.text{background:url('/image/mate/txt-index.png') no-repeat;}
.index .todays-words .txt{background-position:25px 9px;background-color:#f7f7f7;}
.index .tab-notice .txt{width:51px;height:13px;background-position:0 -50px;}
.index .teb-mate-faq .txt{width:63px;height:14px;background-position:0 -100px;}
.index .sec-member .txt{width:91px;height:13px;margin:0 0 13px;background-position:0 -150px;}
.index .sec-mate-recommend .txt{width:82px;height:13px;background-position:0 -200px;}
.index .sec-translate .txt{width:78px;height:13px;background-position:0 -250px;}
.index .sec-wording .txt{width:95px;height:13px;background-position:0 -300px;}
.index .txt-mate-apply{width:269px;height:63px;margin:0 0 20px;background-position:0 -350px;}
.index .txt-imate{width:189px;height:33px;margin:0 0 11px;background-position:0 -450px;}
.index .txt-certificate{width:176px;height:33px;margin:0 0 11px;background-position:0 -500px;}
.index .txt-login{width:127px;height:15px;background-position:0 -550px;}
.index .txt-join{width:37px;height:18px;background-position:6px -596px;}
.index .txt-find-id{width:48px;height:18px;background-position:-68px -596px;}
.index .txt-find-pw{width:38px;height:18px;background-position:-143px -596px;}
.index .txt-class{width:38px;height:18px;background-position:-218px -596px;}

/* index - 오늘의 편지 현황 */
.index .sec-update{padding:20px; }
.index .sec-update h2.txt{width:170px;height:13px;margin:0 0 10px;background-position:0 -800px;}
.index .sec-update .wrap{background:#fff;border:1px solid #ddd;}
.index .sec-update .wrap th, .index .sec-update .wrap td{border-bottom:1px solid #eee;}
.index .sec-update .wrap th{width:115px;padding:8px 0 8px 30px;background:url('/image/mate/ico/ico-letter.gif') no-repeat 11px 9px;border-right:1px solid #eee;text-align:left;}
.index .sec-update .wrap td{width:84px;padding:0 11px 0 0;}
.index .sec-update .wrap .first-tr th{padding-top:9px;}
.index .sec-update .wrap .last-tr th{padding-bottom:9px;}
.index .sec-update .wrap td div{float:right;}
.index .sec-update .wrap .txt-num{color:#fa7d00;font:bold .9em tahoma;}
.index .sec-update .wrap td .txt{display:inline-block;vertical-align:middle;}
.index .sec-update .txt-today-child{width:110px;height:11px;background-position:0 -850px;} /*수정 2012-12-05*/
.index .sec-update .txt-today-supporter{width:110px;height:11px;background-position:-150px -850px;} /*수정 2012-12-05*/
.index .sec-update .txt-past-mate{width:94px;height:11px;background-position:0 -900px;}
.index .sec-update .txt-past-letter{width:84px;height:11px;background-position:-150px -900px;}
.index .sec-update .txt-letter{width:10px;height:11px;margin:0 0 0 11px;background-position:-290px -800px;}
.index .sec-update .txt-person{width:10px;height:11px;margin:0 0 0 11px;background-position:-224px -800px;}

/* index - banner */
.index  .banner1{border-top:1px solid #ddd;}

/* index - twitter */
.index .sec-twitter{height:315px;padding:0;background:url('/image/mate/bg-twitter.jpg') no-repeat 0 0;}
.index .sec-twitter .wrap{height:243px;overflow:auto;overflow-x:hidden;}
.index .sec-twitter .wrap li{padding:13px 19px 12px;background:url('/image/mate/bg-dotted1.gif') repeat-x 0 100%;color:#777;line-height:1.45;}
.index .sec-twitter .wrap *{font-size:8pt;letter-spacing:-1px;}
.index .sec-twitter .info{color:#fa7d00;}
.index #sidebar .sec-twitter .tit{height:50px;padding:20px 0 0 20px;border-top:1px solid #ddd;border-bottom:1px solid #ddd}
.index .sec-twitter .txt{width:158px;height:14px;background-position:0 -950px;}

/* index - 로그인 */
.index .login-area{padding:22px  20px 17px;border-bottom:1px solid #e7e7e7;}
.index .login-area .wrap{width:100%;margin:8px 0 0;overflow:hidden;}
.index .login-area .wrap ul, .login-area .wrap .btn{float:left;}
.index .login-area .wrap ul{margin:-3px 0 0;}
.index .login-area .wrap ul li{margin:3px 0 0;}
.index .login-area .wrap .btn{margin:0 0 0 6px;}
.index .login-area .wrap input.text{width:161px;height:20px;background-color:#fff;}
.index .login-area .wrap input.inp-id{background-position:9px -644px;}
.index .login-area .wrap input.inp-pw{background-position:9px -694px;}
.index .login-area .link{position:relative;width:100%;left:2px;margin:5px 0 0; overflow:hidden;}
.index .login-area .link li{display:inline;float:left;height:18px;margin:0 0 0 -1px;background:url('/image/mate/ico/bul-bar1.gif') no-repeat 0 4px;overflow:hidden;}
.index .login-area .link li a{padding:0 7px;overflow:hidden;}
.index .personalize{padding:19px 0 24px;border-bottom: 1px solid #E7E7E7;text-align:center;}
.index .personalize p strong{position:relative;font-size:1.2em;letter-spacing:-1px;vertical-align:middle}
.index .personalize .txt-greeting{display:inline-block;width:85px;height:14px;background-position:0 -750px;vertical-align:middle}
.index .personalize .btns{margin:25px 0 0;}
.index .personalize .btns a{margin:0 -1px;}

/* service-breakdown */
.service-breakdown .txt{background:url('/image/mate/txt-service-breakdown.png') no-repeat;}
.search-service-breakdown{padding:13px 0;background:url('/image/mate/bg-search-field2.png') repeat;border:1px solid #bae5ed;text-align:center;}
.search-service-breakdown .date{width:141px;height:18px;margin-right:-4px;padding-top:8px;border:1px solid #bae5ed;text-align:center;}
.search-service-breakdown .btn-calendar{width:26px;height:26px;background:#e8e8e8 url('/image/mate/btn/btn-calendar.png') no-repeat 50% 50%; border:1px solid #bae5ed;border-width:1px 1px 1px 0}
.btn-inquiry{width:80px;height:28px;margin-left:4px;background:url('/image/mate/btn/btn-inquiry.png') no-repeat;text-indent:-10000em;}
.bul-wave{display:inline-block;width:7px;height:4px;margin:0 3px 0 4px;background:url('/image/mate/ico/bul-wave.gif') no-repeat;vertical-align:middle;text-indent:-10000em;}
.service-breakdown .result-wrap{margin-top:24px;padding-bottom:70px;border:1px solid #d9d9d9;}
.service-breakdown .result-wrap .sort{position:relative;width:621px;padding:17px 15px 9px 20px;border-bottom:1px solid #eaeaea;}

.result-wrap .sort input.rad, .result-wrap .sort label{color:#777777;vertical-align:middle;}
.result-wrap .sort label.left-sel{padding-right:7px;}
.result-wrap .sort .txt-form{display:inline-block;width:44px;height:13px;padding-right:16px;background-position:0 0;vertical-align:middle;}
.result-wrap .sort .txt-type{display:inline-block;width:60px;height:13px;margin:0 16px 0 23px;background-position:-85px 0;border-left:1px solid #cccccc;overflow:hidden;vertical-align:middle;}
.service-breakdown .result-wrap .txt-info{display:inline-block;width:100%;height:50px;margin:185px 0 116px;background-position:191px -50px;}
.result-wrap .sort .btn-print2{position:absolute;display:inline-block;left:519px;top:9px;width:90px;height:25px;background:url('/image/mate/btn/btn-print.png') no-repeat;text-indent:-10000em;}
.result-wrap .txt-breakdown{display:inline-block;width:100%;height:29px;margin:60px 0 30px;background-position:226px -150px;}
.confirmation {width:554px;margin:0 auto;border:1px solid #d5d5d5;border-width:1px 0 1px 1px;}
.confirmation .td-num{width:79px;}
.confirmation .td-title{width:262px;}
.confirmation .td-date{width:110px;}
.confirmation .td-hour{width:100px;}
.confirmation thead th{border-bottom:1px solid #d5d5d5;}
.confirmation tbody tr{border-bottom:1px solid #e5e5e5;}
.confirmation thead th, .confirmation  tbody tr td{border-right:1px solid #d5d5d5;}
td.td-title a, td.td-hour{color:#999999;text-align:center;}
.confirmation tbody td{padding-top:9px;padding-bottom:6px}
.confirmation td.td-title{padding-left:7px;}
.confirmation .last-tr{border-bottom:0 none;}
.btn-case{position:absolute;display:inline-block;left:618px;top:10px;width:23px;height:24px;background:url('/image/mate/btn/btn-case.png') no-repeat;}
.service-breakdown .case-wrap{position:absolute;left:500px;top:-20px;padding-bottom:5px;}
.service-breakdown .case-wrap .txt-case{display:inline-block;padding:2px 8px 1px;background:#ff8700;color:#ffffff;white-space:nowrap;}
.service-breakdown .case-wrap .bul-tail2{display:block;position:absolute;left:133px;bottom:0;width:6px;height:5px;background:url('/image/mate/ico/bul-tail2.gif') no-repeat;z-index:10;overflow:hidden;}

/* apply-result */
.apply-result .cont-wrap{padding-bottom:80px;border-bottom:1px solid #d5d5d5;}
.apply-result .txt{background:url('/image/mate/txt-apply-result.png') no-repeat;}
.apply-result .txt-celebration1{width:100%;height:46px;margin-top:71px;background-position:153px 0;}
.apply-result .txt-celebration2{width:100%;height:40px;margin:4px 0 34px;background-position:153px -50px;}
.apply-result .txt-celebration3{width:100%;height:40px;margin:12px 0 22px;background-position:175px -150px;}
.apply-result .txt-celebration4{width:100%;height:40px;margin:12px 0 22px;background-position:175px -200px;}
.apply-result .txt-celebration5{width:100%;height:40px;margin:12px 0 25px;background-position:175px -250px;}
.apply-result .list-wrap{position:relative;width:288px;height:99px;margin:0 auto;padding:37px 99px 39px 90px;background:#f6f5f0;border:1px solid #ede8d9;text-align:center;}
.apply-result .cont{height:77px;padding-bottom:0;}
.apply-result .list-wrap p{line-height:1.5;}
.apply-result .list-wrap .txt-pass1{display:inline-block;width:48px;background-position:0 -300px;}
.apply-result .list-wrap .txt-pass2{display:inline-block;width:40px;background-position:-150px -300px;}
.apply-result .list-wrap .txt-pass3{display:inline-block;width:36px;background-position:0 -350px;}
.apply-result .list-wrap .txt-pass4{display:inline-block;width:134px;margin-left:-1px;background-position:-150px -350px;}
.apply-result .list-wrap .text-breakdown{color:#ff8700;font-size:1.2em;}
.apply-result .list-wrap .butterfly{position:absolute;left:-14px;top:10px;width:73px;height:45px;background:url('/image/mate/temp/butterfly.gif') no-repeat;}
.btn-consent{width:192px;height:34px;margin-top:22px;background:url('/image/mate/btn/btn-consent.png') no-repeat;}
/* 추가 2013-06-10 */
.apply-result .wrap_bg{position:relative;top:50px;left:20px;width:492px;height:177px;margin:0 auto;padding:50px 20px 50px 20px;background:url('/image/mate/mate_apply_result.png') no-repeat;text-align:center;font-size:9pt;}
.apply-result .wrap_bg .text-breakdown{color:#ff8700;font-size:9pt;font-weight:bold;}

/* my-grade */
.my-grade .txt{width:638px;margin:0 auto;background:url('/image/mate/txt-my-grade.png') no-repeat;}
.my-grade .mygrade-wrap{width:636px;margin:0 auto 36px;padding:22px 0 18px;border:1px solid #e2e2e2;text-align:center;}
.mygrade-wrap .txt-mygrade1{display:inline-block;width:74px;height:20px;padding-left:3px;background-position:0 0;vertical-align:middle;}
.mygrade-wrap .txt-mygrade3{position:relative;display:inline-block;top:-5px;width:163px;height:32px;background-position:-300px 0;vertical-align:middle;}
.mygrade-wrap .txt-mygrade2{display:inline-block;color:#fa7d00;font-size:1.8em;vertical-align:middle;}
.my-grade .txt-grade{height:375px;padding-bottom:60px;background-position:0 -50px;}
.my-grade .txt-grade-up{height:179px;background-position:0 -500px;}
.my-grade .sec{margin-bottom:41px;border-bottom:1px solid #e5e5e5;}

/* program-down */
.program-down .txt{background:url('/image/mate/txt-program-down.png') no-repeat;}
.program-down .txt-install{height:51px;margin-top:57px;padding-bottom:29px;background-position:124px 0;}
.program-down .install-wrap{width:638px;margin:0 auto;padding:47px 0 50px;border:1px solid #ededed;background:url('/image/mate/bg-field.png') repeat;}
.program-down .install-wrap .txt-order{height:203px;background-position:137px -100px;}
.program-down .contact-wrap{border-top:1px solid #dddddd;}
.program-down .txt-contact{height:28px;background-position:9px -385px;}
.program-down .btn-m{margin:40px 0 70px;}
.btn-imate{width:145px;height:46px;background:url('/image/mate/btn/btn-imate.png') no-repeat;}
.btn-attention{width:145px;height:46px;margin-left:-2px;margin-right:11px;background:url('/image/mate/btn/btn-attention.png') no-repeat;}
.btn-install{width:157px;height:46px;background:url('/image/mate/btn/btn-install.png') no-repeat;}

/* search-result */
.search-result #contents .txt{display:inline-block;}
.search-result .headline-dep3{background:url('/image/mate/bg-headline5.jpg') no-repeat 368px 24px;}
.search-result .txt{background:url('/image/mate/txt-search-result.png') no-repeat;vertical-align:middle;}
.search-result .headline-dep3 .txt{width:253px;height:74px;background-position:0 0;}
.search-result .txt-result1{width:20px;height:11px;background-position:0 -100px;}
.search-result .txt-result2{width:114px;height:11px;background-position:-120px -100px;}
.search-result .txt-result3{width:57px;height:11px;background-position: -260px -100px;}
.search-result .txt-article{color:#1e53b9;}

.tab-search-result{position:relative;width:100%;height:66px;padding:15px 0 35px;overflow:hidden;}

.tab-search-result li{float:left;width:160px;height:33px;background:url('/image/mate/tab-cover.png') repeat-x;}
.tab-search-result li.on{background-position:0 -50px;}
.tab-search-result li a{background-position:50% 0;}
.tab-search-result li.on a, .tab-search-result li a:hover{background-position:50% -50px;}
.tab-search-result li a, .tab-search-result li a span{display:block;}
.tab-search-result li a{margin:0 auto;height:33px;background:url('/image/mate/tab-search-result.png') no-repeat;text-indent:-10000em;}
.tab-search-result li a.t1{width:25px;background-position:50% -10px;}
.tab-search-result li a.t2{width:47px;background-position:50% -90px;}
.tab-search-result li a.t3{width:77px;background-position:50% -190px;}
.tab-search-result li a.t4{width:85px;background-position:50% -290px;}
.tab-search-result li a.t5{width:73px;background-position:50% -390px;}
.tab-search-result li a.t6{width:49px;background-position:50% -490px;}
.tab-search-result li a.t7{width:62px;background-position:50% -590px;}
.tab-search-result li a.t8{width:62px;background-position:50% -690px;}

.tab-search-result li a.t1:hover, .tab-search-result li.on a.t1{background-position:50% -40px;}
.tab-search-result li a.t2:hover, .tab-search-result li.on a.t2{background-position:50% -140px;}
.tab-search-result li a.t3:hover, .tab-search-result li.on a.t3{background-position:50% -240px;}
.tab-search-result li a.t4:hover, .tab-search-result li.on a.t4{background-position:50% -340px;}
.tab-search-result li a.t5:hover, .tab-search-result li.on a.t5{background-position:50% -440px;}
.tab-search-result li a.t6:hover, .tab-search-result li.on a.t6{background-position:50% -540px;}
.tab-search-result li a.t7:hover, .tab-search-result li.on a.t7{background-position:50% -640px;}

.term-search{position:relative;background:url('/image/mate/bg-search-field.gif') repeat;border:1px solid #ffdcb5;}
.term-search .txt-term{width:331px;height:31px;background-position:0 -250px;}
.btn-search3{position:absolute;left:499px;top:21px;width:117px;height:29px;background:url('/image/mate/btn/btn-search3.png') no-repeat;text-indent:-10000em;}

.popup1{padding:30px;}
.popup1 .tit{height:31px;padding:0 0 0 21px;background:url('/image/mate/bg-popup.png') no-repeat 0 2px;}
.popup1 .cont{padding:30px 0 0;}
.popup1 .btn-m{padding:29px 0 0;}

/* 사무 메이트 지원 동기 */
.business-mate-motive .tit strong, .business-mate-motive .txt{display:block;background:url('/image/mate/business-mate-motive.png') no-repeat;text-indent:-10000em;overflow:hidden;}
.business-mate-motive .tit strong{width:100%;height:17px;}
.business-mate-motive .txt1{height:108px;margin:0 0 15px;background-position:0 -50px;}
.business-mate-motive .txt2{height:13px;margin:9px 0 0;background-position:0 -170px;}
.business-mate-motive textarea{width:481px;height:148px;}

/* 봉사활동 확인서 */
.print-certification .tit strong, .print-certification .txt{display:block;background:url('/image/mate/print-certification.png') no-repeat;text-indent:-10000em;overflow:hidden;}
.print-certification .tit strong{width:100%;height:19px;}
.print-certification .cont {height:500px;overflow:auto;overflow-x:hidden;}
.print-certification .cont img{border:1px solid #d5d5d5;}