/* 이메일로 친구들에게 공유하기 */
.email-sharing .tit span{background:url('/image/popup/tit-email-sharing.png') no-repeat;}
.email-sharing .txt{background:url('/image/popup/txt-email-sharing.png') no-repeat;}
.email-sharing .txt-send-many{height:13px;margin:7px 0 0;background-position:0 0;}
.email-sharing .tit-comment{height:13px;margin:20px 0 11px;background-position:0 -50px;}
.email-sharing .write1 th{width:114px;padding-left:19px;text-align:left;}
.email-sharing textarea{width:415px;height:198px;}

/* 후원금 인상 동의 신청하기 */
.agree-donation-increase .tit span{background:url('/image/popup/tit-agree-donation-increase.png') no-repeat;}
.agree-donation-increase .txt{background:url('/image/popup/txt-agree-donation-increase.png') no-repeat;}
.agree-donation-increase .tit-id-pw{height:14px;background-position:0 0;}
.agree-donation-increase .tit-name-regnum{height:14px;margin:20px 0 10px;background-position:0 -50px;}
.agree-donation-increase .tit-foreigner{height:14px;background-position:0 -100px;}
.agree-donation-increase .tit-comment{height:149px;background-position:0 -150px;}
.agree-donation-increase fieldset{margin:9px 0 20px;padding:30px 20px;border:1px solid #d7d7d7;}
.agree-donation-increase .txt-bar{color:#ccc;}
.agree-donation-increase .field tr th{width:52px;padding-left:20px;padding-right:0;text-align:left;}

/* 로그인 이후 확인 가능 */
.login-confirm .wrap{padding:15px 0 10px;}
.login-confirm .wrap .btn-m{padding:38px 0 10px !important;}
.txt-login-confirm{width:195px;height:48px;margin:0 auto;background:url('/image/popup/txt-login-confirm.png') no-repeat;text-indent:-10000em;}

/* 메이트 회원만 다운로드 가능 */
.mate-download .wrap{padding:15px 0 10px;}
.mate-download .wrap .btn-m{padding:38px 0 10px !important;}
.txt-mate-download{width:251px;height:48px;margin:0 auto;background:url('/image/popup/txt-mate-download.png') no-repeat;text-indent:-10000em;}

/* 어린이 정보 상세 */
.child-info-detail .tit span{background:url('/image/popup/tit-child-info.png') no-repeat;}
.child-info-detail .txt-child-name{display:block;margin:0 0 14px;font-size:1.2em;text-align:center;}
.child-info-detail .btn-prev2, .child-info-detail .btn-next2{position:absolute;top:239px;}
.child-info-detail .btn-prev2{left:86px;}
.child-info-detail .btn-next2{right:86px;}
.child-info-detail .thumbs2{margin:0 auto;}
.child-info-detail .conts{margin:36px 0 0;color:#999;}
.child-info-detail .tab-content{height:125px;overflow:auto;overflow-x:hidden;}
.child-info-detail .wrap{padding:22px 0 26px;border:1px solid #d7d7d7;}

/* 컴패션 돌잔치 */
.first-birthday .tit h1 span{height:20px;background:url('/image/csp/csp-pop-tit.png') no-repeat}
.first-birthday .top-txt{height:176px;margin:35px 0 30px;background:url('/image/csp/csp-top.png') no-repeat;text-indent:-10000em}
.first-birthday .csp-txt{height:560px;background:url('/image/csp/csp-body.jpg') no-repeat;text-indent:-10000em}
.sketch img{height:1073px;padding-top:19px}
.tab-csp li a{width:160px;height:34px;background:url('/image/csp/tab-csp.png') no-repeat}
.first-birthday .csp-tit{height:37px;margin:37px 0 24px;background:url('/image/csp/csp-pop-tit2.png') no-repeat 1px 0;text-indent:-10000em}
.first-birthday .icon{display:block;position:absolute;width:14px;height:13px;text-indent:-10000em}
.first-birthday .tit-q{top:12px;left:20px;background:url('/image/ico/ico-question.gif') no-repeat}
.first-birthday .tit-a{top:29px;left:20px;background:url('/image/ico/ico-answer.gif') no-repeat}
/*.first-birthday .faq-list dt{background:none}*/
.first-birthday .faq-list dd{padding:30px 0 30px 0}
.first-birthday .faq-list .txt{background:url('/image/csp/txt-faq.png') no-repeat}
.first-birthday .faq-list .tit-faq1{height:12px;background-position:44px 13px}
.first-birthday .faq-list .txt-faq1{height:51px;background-position:44px -50px}
.first-birthday .faq-list .tit-faq2{height:12px;background-position:44px -137px}
.first-birthday .faq-list .txt-faq2{height:11px;background-position:44px -200px}
.first-birthday .faq-list .tit-faq3{height:12px;background-position:44px -287px}
.first-birthday .faq-list .txt-faq3{height:31px;background-position:44px -350px}
.first-birthday .faq-list .tit-faq4{height:32px;background-position:44px -437px}
.first-birthday .faq-list .txt-faq4{height:92px;background-position:44px -550px}
.first-birthday .faq-list .tit-faq5{height:12px;background-position:44px -687px}
.first-birthday .faq-list .txt-faq5{height:31px;background-position:44px -750px}
.first-birthday .cont{height:471px;overflow:auto;overflow-x:hidden}

/* layer */
.layer1{position:relative;height:100%;background:#fff url('/image/popup/bg-layer.png') repeat-x 0 0}
.lay-tit{padding:12px 0 12px 38px;background:url('/image/ico/bul-dot4.gif') no-repeat 20px 14px}
.lay-tit .txt{display:inline-block;vertical-align:middle}
.lay-cont{padding:52px 0 0}
.result-child .btn-m{border:none!important;}
.layer1 .btn-m{margin:40px 0 0;padding:30px 0 0;border-top:1px solid #d7d7d7}
.layer1 .btn-close2{position:absolute;top:0;right:0}
.layer-apply-login .lay-tit strong{width:65px;height:19px;background:url('/image/popup/tit-apply.png') no-repeat}
.layer-apply-login .txt1{width:215px;height:47px;margin:0 auto;background:url('/image/popup/txt-apply-login.png') no-repeat 0 0;text-indent:-10000em}
.layer-apply-nodata .lay-tit strong{width:87px;height:19px;background:url('/image/popup/tit-apply-admin.png') no-repeat}
.layer-apply-nodata .txt1{width:255px;height:47px;margin:0 auto;background:url('/image/popup/txt-apply-nodata.png') no-repeat 0 0;text-indent:-10000em}
.layer2{position:absolute;background-color:#fff;border:1px solid #ddd}

.goc-cont .tit, .goc-cont .txt, .layer-ask-friend .tit, .layer-ask-friend .txt{display:block;background:url('/image/goc/txt-goc-detail.png') no-repeat;text-indent:-10000em}
.goc-cont .tit{margin:0 auto;padding:40px 0 25px;border-top:1px solid #d7d7d7}
.goc-cont1 .tit{height:21px;background-position:50% -60px}
.goc-cont2 .tit{height:21px;background-position:50% -160px}
.goc-cont3 .tit{height:21px;background-position:50% -260px}
.goc-cont4 .tit{height:21px;background-position:50% -360px}
.goc-cont5 .tit{height:21px;background-position:50% -460px}
.goc-cont6 .tit{height:21px;background-position:50% -880px} /* 추가 2012-09-17 크리스마스 */
.goc-cont7 .tit{height:21px;background-position:50% -950px} /* 추가 2013-01-16 꿈이 자라는 교실 만들기 */
.goc-cont8 .tit{height:21px;background-position:50% -1010px} /* 추가 2013-03-21 음메음메 착한 염소 */
.goc-cont9 .tit{height:21px;background-position:50% -1070px} /* 추가 2013-03-21 워터 프로젝트 */
.goc-cont10 .tit{height:21px;background-position:50% -1130px} /* 추가 2014-03-26 치유의 보금자리 */
.goc-cont11 .tit{height:21px;background-position:50% -1190px} /* 추가 2014-03-26 치유의 보금자리 */
.goc-cont12 .tit{height:21px;background-position:50% -1310px}  /* 추가 2016-02-12 컴파스 상에 놀이터 */
.goc-cont13 .tit{height:21px;background-position:50% -1250px} /* 추가 2016-02-12 컴퓨터 교실 */
.goc-cont .txt-gift-use{width:120px;height:13px;margin:0 0 12px;background-position:0 0}
..goc-cont .txt-gift-use{width:120px;height:13px;margin:0 0 12px;background-position:0 0}
.goc-cont{padding:224px 0 0;border:1px solid #d7d7d7}
.goc-cont1{background:url('/image/goc/cover1.jpg') no-repeat 0 0}
.goc-cont2{background:url('/image/goc/cover2.jpg') no-repeat 0 0}
.goc-cont3{background:url('/image/goc/cover3.jpg') no-repeat 0 0}
.goc-cont4{background:url('/image/goc/cover4.jpg') no-repeat 0 0}
.goc-cont5{background:url('/image/goc/cover5.jpg') no-repeat 0 0}
.goc-cont6{background:url('/image/goc/cover6.jpg') no-repeat 0 0} /* 추가 2012-09-17 크리스마스 */
.goc-cont7{background:url('/image/goc/cover7.jpg') no-repeat 0 0} /* 추가 2013-01-16 꿈이 자라는 교실 만들기 */
.goc-cont8{background:url('/image/goc/cover8.jpg') no-repeat 0 0} /* 추가 2013-03-21 음메음메 착한 염소 */
.goc-cont9{background:url('/image/goc/cover9.jpg') no-repeat 0 0} /* 추가 2013-03-21 워터 프로젝트 */
.goc-cont10{background:url('/image/goc/cover10.jpg') no-repeat 0 0 } /* 추가 2013-03-26 치유의 보금자리 */
.goc-cont11{background:url('/image/goc/cover11.jpg') no-repeat 0 0 } /* 추가 2013-03-26 119!! 긴급구호 */
.goc-cont12{background:url('/image/goc/cover12.jpg') no-repeat 0 0 } /* 추가 2016-02-12 컴파스 상에 놀이터 */
.goc-cont13{background:url('/image/goc/cover13.jpg') no-repeat 0 0 } /* 추가 2016-02-12 컴퓨터 교실 */
.goc-cont .list1{border:0 none}
.goc-cont .list1 th, .layer-ask-friend .list1 th{width:97px;padding-left:20px;vertical-align:top}
.goc-cont .list1 td, .layer-ask-friend .list1 td{padding-left:15px}
.goc-cont .list1 td{width:144px}
.goc-cont .pay-amount{position:absolute;top:0;right:0;width:241px;padding:20px 0 22px;text-align:center;background:none;border-width:0 0 0 1px}
.goc-cont .box1{position:relative;width:509px;margin:0 auto;padding:0}
.goc-cont .box1 .list1{width:267px}
.goc-cont .box1 .list1 .selectbox-wrap{margin:-7px 0}
.goc-cont .btn-m{padding:30px 0 50px}

.layer-ask-friend .lay-cont{position:relative;height:519px;padding:48px 30px 60px;overflow:auto;overflow-x:hidden}
.layer-ask-friend .lay-tit .txt{width:130px;height:19px;background-position:0 -600px}
.layer-ask-friend .txt-cover{height:118px;margin:0 0 35px;background-position:50% -650px}
.layer-ask-friend .goc-cont{position:relative;width:503px;margin:0 auto;padding:224px 0 30px}
.layer-ask-friend .goc-cont .box1{width:443px}
.layer-ask-friend .goc-cont .list1{width:207px}
.layer-ask-friend .goc-cont .pay-amount{width:225px}
.layer-ask-friend .tit-ask-mail{width:99px;height:15px;background-position:0 -800px}
.layer-ask-friend .list1 input, .layer-ask-friend .list1 textarea{width:95%}

/* reg-words1 */
.reg-word1 .txt-wrap{height:300px;margin:-23px -30px 0 0;padding:20px 15px 0 0;overflow:auto;overflow-x:hidden}
.reg-word1 .txt-wrap1{margin:0 0 7px;color:#e1af00;font-weight:bold;font-size:1.1em}
.reg-word1 .txt-wrap2{margin:0 0 33px;color:#999}
.reg-word1 .txt-wrap3{margin:0 0 20px;text-align:right}
.reg-word1 .tit h1 span{background:url("/image/get-involved/recommend-word.png") no-repeat}
.reg-word1 .btn-list .btn-confirm2{width:82px;height:30px;background:url('/image/btn/btn-confirm2.png') no-repeat ;border:0;cursor:pointer}
.reg-word1 .btn-list{border-top:1px solid #d7d7d7;padding:20px 0 40px}

/*후원자 카드 예시*/
.guide-supporters-card .tit h1 span{background:url("/image/etc/tit-supporter-ex.png") no-repeat}
.guide-supporters-card .cont{border:1px solid #ddd}
.txt-supporters-card img{width:456px;height:321px;margin:30px 20px;}
.guide-supporters-card .btn-list .btn-confirm2{width:82px;height:30px;background:url('/image/btn/btn-confirm2.png') no-repeat ;border:0;cursor:pointer}
.apply-credit .list1{color:#999}

/* apply-cms */
.apply-cms .tit h1 span{height:21px;background:url('/image/popup/tit-apply-cms.png') no-repeat}
.apply-cms .txt{background:url('/image/popup/txt-apply-cms.png') no-repeat;text-indent:-10000em}
.apply-cms .receipt-info{height:59px;padding-bottom:29px;background-position:0 0;border-bottom:1px solid #d7d7d7}
.apply-cms .automatic-input{height:14px;margin:30px 0 10px;background-position:0 -100px}
.apply-cms .cms-explanation{height:100px;margin-top:15px;background-position:0 -150px;border-bottom:1px solid #d7d7d7}
.apply-cms .cms-explanation2{width:100%;height:60px;margin:0 auto;background:url('/image/payment/txt-verify-payinfo.png') no-repeat 25px -354px;text-indent:-10000em;} /* 추가 2012-07-23 border-top:1px solid #D7D7D7 수정 2012-09-14 */
.apply-cms .cms-explanation3{width:100%;height:120px;margin:0 auto;background:url('/image/payment/txt-verify-payinfo.png') no-repeat 25px -431px;text-indent:-10000em;} /* 추가 2012-09-14, 수정 2012-11-30 */
.apply-cms .list1 th{padding-left:20px}
.apply-cms .content{display:inline-block;height:11px;margin-left:5px;background:url('/image/text/td-apply-cms.gif') no-repeat;text-indent:-10000em;vertical-align:middle}
.apply-cms .person{width:21px;background-position:0 0}
.apply-cms .others{width:20px;background-position:-50px 0}
.apply-cms .five-days{width:15px;height:11px;background-position:0 -30px}
.apply-cms .fifteen-days{width:21px;height:11px;background-position:-50px -30px}
.apply-cms .twenty-five{width:21px;height:11px;background-position:-100px -30px}

/* application-cms */
.application-cms .tit h1 span{height:21px;background:url('/image/popup/tit-application-cms.png') no-repeat}
.application-cms .list1 th{padding-left:19px}
.application-cms .cms-justice{height:73px;padding-bottom:30px;background:url('/image/popup/txt-cms-justice.png') no-repeat;text-indent:-10000em}
.application-cms .cps-clause-agree{margin-top:-1px;padding:30px 26px 34px 20px;border:1px solid #d7d7d7}
@media print{ .cms-justice, .application-cms .tit, .application-cms .btn-list{display:none} }
/* 추가 2012-08-09 결과페이지 */
.application-cms .txt{background:url('/image/payment/txt-verify-payinfo.png') no-repeat;text-indent:-10000em}
.application-cms .txt_result_cms{margin:0 150px;width:100%;height:50px;background-position:-0px -190px}
.application-cms .txt_cms1{margin:0 130px;width:100%;height:36px;background-position:-0px -380px}


/* application-complete */
.application-complete .tit h1 span{height:21px;background:url('/image/popup/tit-application.png') no-repeat}
.application-complete .txt-application{height:56px;background:url('/image/popup/txt-application.png') no-repeat;text-indent:-10000em}

/* 배송 반품 교환 환불 안내 */
.delivery-return .txt{background:url('/image/mypage/tit-pop.png') no-repeat;text-indent:-10000em}
.delivery-return .lay-tit strong{width:190px;height:18px;background-position:0 0}
.delivery-return .txt1{width:372px;height:18px;margin:36px 0 15px 25px;background-position:0 -50px}
.delivery-return .txt-cont{margin:0 25px;padding:29px 0 29px 18px;background:#f6f6f6;border:1px solid #d7d7d7}
.delivery-return .txt-cont .delivery-detail{width:435px;height:223px;background:url('/image/mypage/txt-delivery.png') no-repeat;text-indent:-10000em}
.delivery-return .txt2{width:460px;height:19px;margin:30px 0 15px 25px;background-position:0 -100px}
.delivery-return .txt-cont .return-detail{width:421px;height:149px;background:url('/image/mypage/txt-return.png') no-repeat;text-indent:-10000em}

/* 회원 탈퇴 - layers */
.secession-layers .lay-tit strong{width:64px;height:18px;background:url('/image/popup/tit-secession.png') no-repeat}
.secession-layers .txt1, .secession-layers .txt2, .secession-layers .txt3{height:47px;margin:0 auto;background:no-repeat;text-indent:-10000em}
.secession-layers .txt1{width:238px;background:url('/image/popup/txt-secession-layers1.png')}
.secession-layers .txt2{width:307px;background:url('/image/popup/txt-secession-layers2.png')}
.secession-layers .txt3{width:255px;background:url('/image/popup/txt-secession-layers3.png')}

/* 오프라인 회원가입 */
.off-line .tit h1 span{height:20px;background:url('/image/etc/tit-joining.png') no-repeat}
.off-line .txt{height:11px;background:url('/image/etc/txt-joining.png') no-repeat;margin-bottom:15px;}
.off-line td input.id-input{width:156px;}
.off-line td input{width:228px;}