﻿<div style="background:#fff; overflow-y:auto;" class="fn_pop_container" id="popChildren">

    <div class="wrap-layerpop fn_pop_content" style="width:100%;left:0;background:#fff">
        <!-- 상단바 -->
        <section class="appPageNav">
            <div class="left"><a class="back" href="#" ng-click="modalChild.hide($event)"></a></div>
            <div class="center"><a href="#"><span class="txt">어린이 선택</span></a></div>
        </section>

        <div class="appContent">

            <div class="top-childselect appContent-margin1">
                한 번의 편지 작성으로 선택한<br />
                후원어린이들에게 편지를 보내실 수 있습니다. <br />
                단, 편지에 특정 어린이의<br />
                이름을 쓰지 않으셔야 정상적으로 발송될 수 있습니다.
            </div>

            <span class="checkbox-ui mt20">
                <input type="checkbox" class="css-checkbox" id="chk_all2" ng-click="modalChild.checkAllChild($event)" ng-hide="modalChild.readonly" />
                <label for="chk_all2" class="css-label" style="font-size:13px" ng-hide="modalChild.readonly">후원 중인 모든 어린이 선택</label>
            </span>

            <ul class="list-checkboxchild">
                <li ng-repeat="item in modalChild.list">
                    <span class="field">
                        <span class="field-th" ng-hide="modalChild.readonly">
                            <span class="checkbox3-ui">
                                <input type="checkbox" class="css-checkbox3" id="cb{{$index}}" ng-checked="item.checked" name="supportchild" ng-click="modalChild.checkChild(item)" />
                                <label for="cb{{$index}}" class="css-label3">&nbsp;</label>
                            </span>
                        </span>
                        <span class="field-td">
                            <span class="txt-name">{{item.name}} ({{item.personalnameeng}})</span>
                            <span class="txt-info">
                                <em>어린이 ID :</em> {{item.childkey}}<br />
                                <em>국가 :</em> {{item.countryname}}<br />
                                <em>생일 :</em> {{item.birthdate | date:'yyyy.MM.dd'}}
                            </span>
                        </span>
                    </span>
                </li>
            </ul>

            <paging class="small" page="modalChild.params.page" page-size="modalChild.params.rowsPerPage" total="modalChild.total" show-prev-next="true" show-first-last="true" paging-action="modalChild.getList({page : page})"></paging>


            <div class="linebar"></div>

            <div class="wrap-bt mb20">
                <a class="bt-type4 fl" style="width:49%" href="#" ng-hide="modalChild.readonly" ng-click="modalChild.cancel($event);">취소</a>
                <a class="bt-type6 fr" style="width:49%" href="#" ng-hide="modalChild.readonly" ng-click="modalChild.apply($event);">선택 완료</a>
            </div>

        </div>
    </div>
    <!--//레이어 안내 팝업(장바구니)-->

    <script type="text/javascript">

		function initPopChildren($http, $scope, modal, utils , paramService , readonly) {


			$scope.modalChild = {

				instance: modal,
				is_reply: getParameterByName("c") != "",  // 답장여부
				readonly: false ,
				total : -1 ,
				data : [] ,
				list : [],
				params: {

					page: 1,
					rowsPerPage: 5
				},

				hide: function ($event) {
					$event.preventDefault();
					$scope.modalChild.instance.hide();
				},

				cancel: function ($event) {
					$event.preventDefault();
					$scope.modalChild.instance.hide();
				},

				// 선택완료
				apply: function ($event) {
					$event.preventDefault();

					var targets = $.grep($scope.modalChild.data, function (r) {
						return r.checked;
					});

					$scope.children = $.extend([], targets);
					$scope.selectedChildren();
					$scope.modalChild.instance.hide();
				},

				// 어린이 선택
				checkChild: function (item) {
					item.checked = !item.checked;

				},

				checkAllChild: function (sender) {

					$.each($scope.modalChild.data, function () {
						this.checked = $(sender.toElement).prop("checked");
					});
				},

				// 어린이 목록
				getList : function (params) {
					var params = $.extend($scope.modalChild.params, params);


					var data = $scope.modalChild.data;
					var is_reply = $scope.modalChild.is_reply;

					var showList = function () {
						var begin = (params.page - 1) * params.rowsPerPage;
						var end = (params.page) * params.rowsPerPage;
						$scope.modalChild.list = data.slice(begin, end);

						loading.hide();

					};

					if (data.length) {
						showList();
					} else {
					    $http.get("/api/my/child.ashx?t=list", { params: { letter: 1, page: 1, rowsPerPage: 1000 } }).success(function (r) {
							if (r.success) {
								data = $.extend(data, r.data);
								console.log(data);

								$.each(data, function () {
									this.checked = false;
									this.birthdate = new Date(moment(this.birthdate, "YYYY-MM-DD"));
								});

								if (is_reply) {
									var childmasterid = getParameterByName("c").split('|')[0];
									data = $.grep(data, function (r) {
										return r.childmasterid == childmasterid
									});

									if (data.length < 1) {
										alert("후원중인 어린이가 아닙니다.");
										history.back();
										return;
									}

									$scope.modalChild.total = 1;
									data[0].checked = true;
								} else if (readonly) {

									data = $.grep(data, function (r) {

										return $.grep($scope.children, function (r2) {
											return r.childmasterid == r2.childmasterid
										}).length > 0;


									});

								}else{

									$scope.modalChild.total = data.length > 0 ? data[0].total : 0;
								}
								showList();
							} else {

								if (r.action == "not_sponsor") {

									$scope.modalChild.total = 0;
								}
								//alert(r.message);
							}
						});
					}

				} ,

			}

			$scope.modalChild.readonly = $scope.modalChild.is_reply || readonly;

			$scope.modalChild.getList();

			//$(".fn_pop_content").height(utils.windowHeight())
			//console.log(utils.windowHeight());
		}

    </script>

</div>
