﻿<div style="background:#fff;" class="fn_pop_container" id="popChildren">

	<div class="wrap-layerpop fn_pop_content" style="width:100%;left:0;background:#fff">


		<section class="appPageNav">
			<div class="left"><a class="back" ng-click="modalSample.hide($event)"></a></div>
			<div class="center"><a href="#"><span class="txt">편지 예문</span></a></div>
		</section>
		<!-- 컨텐츠 영역 -->

		<div class="appContent">

			<div class="letterwrite-example">
				<p class="txt-caption">{{title}}</p>
				<ul class="list-example"  ng-show="modalSample.total > -1">
					<li ng-repeat="item in modalSample.list">
						{{item.samplelettercodename}}

						<span class="ic-new" ng-if="item.new == true"><img src="/common/img/icon/new.png" alt="New" /></span>
						<span class="ic-txt" ng-if="item.used == 'Y'">사용</span>

						<span class="tab-lang">
							<a class="lang_btn lang_ko" ng-click="modalSample.select($event,item,'ko')">한글</a>
							<a class="lang_btn lang_en" ng-click="modalSample.select($event,item,'en')">영어</a>
						</span>

						<div class="ex-layer" style="display:inline-block;white-space:pre-line" ng-show="item.select_ko || item.select_en" ng-bind-html="modalSample.content">
							
						</div>
						
					</li>
				</ul>

				<paging class="small" page="modalSample.params.page" page-size="modalSample.params.rowsPerPage" total="modalSample.total" show-prev-next="true" show-first-last="true" paging-action="modalSample.getList({page : page})"></paging>


				<div class="linebar"></div>

				<div class="wrap-bt mb20">
					<a class="bt-type4 fl" style="width:49%" ng-click="modalSample.cancel($event);" ng-show="modalSample.total > -1">취소</a>
					<a class="bt-type6 fr" style="width:49%" ng-click="modalSample.apply($event);" ng-show="modalSample.total > -1">선택 완료</a>
				</div>


			</div>

		</div>
		<!--// 컨텐츠 영역 -->

	</div>
	<!--//레이어 안내 팝업(장바구니)-->


	<script type="text/javascript">
        var selectedItem = null;
		function initPopLetterSample($http, $scope, modal, utils , type1 , title) {

			$scope.title = title;
		//	$(".fn_pop_content").height(utils.windowHeight())
			$scope.modalSample = {

				instance: modal,
				code: null,		// 선택된 코드
				title: null,		// 선택된 코드
				content : null ,	// 선택된 내용
				total: -1,
				data: [],
				list: [],
				params: {
					page: 1,
					rowsPerPage: 10
				},

				hide: function ($event) {
					$event.preventDefault();
					$scope.modalSample.instance.hide();
				},

				cancel: function ($event) {
					$event.preventDefault();
					$scope.modalSample.instance.hide();
				},

				// 선택완료
				apply: function ($event) {
					$event.preventDefault();

					if (!$scope.modalSample.title) {
						alert("예문을 선택해 주세요")
						return false;
					}

					$scope.selectedItem = selectedItem;
					$scope.samplelettercode = $scope.modalSample.code;
					$scope.selectTypeName2 = $scope.modalSample.title;
					$scope.selectContent = $scope.modalSample.content;
					$("#comment_count").html(getByteLength($scope.selectContent));

					$scope.modalSample.instance.hide();
				},

				select: function ($event, item, lang) {
					$event.preventDefault();

					selectedItem = item;

					$(".lang_btn").removeClass("selected");
					angular.element($event.currentTarget).addClass("selected");

					$scope.modalSample.title = item.samplelettercodename;
					$scope.modalSample.code = item.samplelettercode;

					$.each($scope.modalSample.data, function () {
						this.select_ko = false;
						this.select_en = false;
					})

					if (lang == "ko") {
						item.select_ko = true;
						$scope.modalSample.content = item.contextkor;
					} else {
						item.select_en = true;
						$scope.modalSample.content = item.contexteng;
					}

					//
					setTimeout(function () {
					    if (modal.iscroll)
						    modal.iscroll.refresh();
					}, 500);
					

				} ,

				// 어린이 목록
				getList: function (params) {

					var params = $.extend($scope.modalSample.params, params);

					var data = $scope.modalSample.data;
					var is_reply = $scope.modalSample.is_reply;

					var showList = function () {
						var begin = (params.page - 1) * params.rowsPerPage;
						var end = (params.page) * params.rowsPerPage;
						$scope.modalSample.list = data.slice(begin, end);

						loading.hide();

						setTimeout(function () {
						    if ($scope.selectedLang == 'ko')
						        $('.lang_en').hide();
						    else
						        $('.lang_ko').hide();

						    if (modal.iscroll)
						        modal.iscroll.refresh();
						}, 500);
					};

					if (data.length) {
						showList();
					} else {

						// 예문데이타 로딩
						$http.get("/api/my/letter.ashx?t=sample-letter", { params: { type: type1 } }).success(function (r) {
							if (r.success) {
								data = $.extend(data, r.data);
								console.log(r.data);

								$.each(data, function () {
									this.registerdate = new Date(this.registerdate);
									this.modifydate = new Date(this.modifydate);
									this.new = moment(new Date()).diff(this.registerdate, "days") < 30;
								//	this.contexteng = this.contexteng.replace(/\n/g, '<br />');
								//	this.contextkor = this.contextkor.replace(/\n/g, '<br />');


								})

								$scope.modalSample.total = data.length;

								showList();

                                

							} else {
								alert(r.message);
							}
						});

					}

				},

			}

			$scope.modalSample.getList();
		}
	</script>

</div>
