﻿<div style="background:transparent;width:100%;" class="fn_pop_container">
	<div class="wrap-layerpop" style="width:80%;left:10%;">
		
		<div style="width:100%;" class="zoom-container">
			<div class="panzoom">
				<img ng-src="{{zoom.item}}" style="width:100%">
			</div>
		</div>

		<script>
			//$(".zoom-container").height($(window).height() * 0.7);
			
			(function () {
				$(".zoom-container").css({ top: "10%", height: $(window).height() * 0.7 })
				//https://github.com/timmywil/jquery.panzoom
				$('.panzoom').panzoom({
					contain : "invert",
					minScale: 1, panOnlyWhenZoomed: true
				});
			})();
		</script>

		<div class="close"><span class="ic-close" ng-click="zoom.hide($event)">레이어 닫기</span></div>
	</div>
	<!--//레이어 안내 팝업(장바구니)-->
</div>