﻿<div style="background:#fff;" class="fn_pop_container" id="childWrapper">

    <div class="store-mychild wrap-layerpop fn_pop_content" style="width:100%;left:0;background:#fff">
        <!-- 상단바 -->
        <section class="appPageNav">
            <div class="left"><a class="back" href="#" ng-click="modalChild2.hide($event)"></a></div>
            <div class="center"><a href="#"><span class="txt">나의 어린이에게 선물하고 싶어요.</span></a></div>
        </section>

        <div class="appContent">
            <div class="box-gift">
                <span class="photo"><img src=""></span>
                <p class="txt-product">{{modalChild2.title}}</p>
                <select name="" data-id="option"></select>
            </div>

            <p class="txt-title">나의 어린이 선택</p>
            <div class="box-child" ng-repeat="item in modalChild2.list">
                <div ng-if="item.ea > 0">
                    <p class="txt-name">{{item.namekr}}</p>
                    <p class="txt-info">
                        <em>ID</em>{{item.childkey}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <em>성별</em>{{item.gender}}&nbsp;&nbsp;&nbsp;&nbsp;
                        <em>생일</em>{{item.birthdate | date:'yyyy.MM.dd'}}
                    </p>
                    <span class="count">
                        <a class="count-minus" data-group="{{item.childkey}}" ng-click="modalChild2.minusEA($event ,item)">수량 빼기</a>
                        <input type="number" id="quantity" value="{{item.ea}}" data-id="ea" ng-value="{{item.ea}}" data-group="{{item.childkey}}" readonly />
                        <a class="count-plus" data-group="{{item.childkey}}" ng-click="modalChild2.plusEA($event ,item)">수량 더하기</a>
                    </span>
                </div>
            </div>


            <paging ng-if="modalChild2.total > 0" class="small" page="modalChild2.page" page-size="modalChild2.rowsPerPage" total="modalChild2.total" show-prev-next="true" show-first-last="true" paging-action="modalChild2.getList({page : page});"></paging>


            <p class="txt-title">선택결과</p>
            <table class="tbl-result">
                <colgroup><col style="width:36%" /><col style="width:30%" /><col style="width:34%" /></colgroup>
                <caption>선택된 어린이, 총상품갯수, 총금액</caption>
                <thead>
                    <tr>
                        <th>선택된 어린이</th>
                        <th>총 상품 개수</th>
                        <th>총 금액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-id="child_count">{{modalChild2.child_count | number:0}}</td>
                        <td data-id="item_count">{{modalChild2.item_count | number:0}}</td>
                        <td><span class="color1" data-id="total_amount">{{modalChild2.total_amount | number:0}}<em>원</em></span></td>
                    </tr>
                </tbody>
            </table>

            <div class="wrap-bt">
                <!--<a style="width:29%" class="bt-type7 fl" href="#" ng-click="modalChild2.buy('cart')">장바구니</a>-->
                <a style="width:69%" class="bt-type6 fr" href="#" ng-click="modalChild2.buy('buy')">선택 된 어린이에게 즉시 선물</a>
            </div>

        </div>
    </div>
    <!--//레이어 안내 팝업(장바구니)-->


</div>
