﻿<div class="modal fade preview-modal" id="preview-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
	<style type="text/css">
		.preview-modal img {
			width: 100%;
		}
	</style>

	<div class="modal-dialog" role="document" style="width:400px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modalLabel">미리보기</h4>
			</div>
			<div class="modal-body" style="height:710px;padding:0;">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>