﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="terms.aspx.cs" Inherits="app_terms" Culture="auto" UICulture="auto" MasterPageFile="~/main.Master" EnableEventValidation="false" %>

<%@ MasterType VirtualPath="~/main.master" %>

<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
</asp:Content>
<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
</asp:Content>


<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">
    <script type="text/javascript">
        $(function () {


            $.urlParam = function (param) {
                
                var results = new RegExp('[\?&amp;]' + param + '=([^&amp;#]*)').exec(window.location.href);
                return results[1] || 0;
            }

            if ($.urlParam("tab") == 1) {
                $(".check").removeClass("selected");
                $("[data-id=privacy]").addClass("selected");
                $("#term").hide();
                $("#privacy").show();
            }


            $(".check").click(function () {

                if ($(".check").hasClass("selected")) {
                    $(".check").removeClass("selected");
                }

                $(this).addClass("selected");
                if ($(this).data("id") == "term") {
                    $("#term").show();
                    $("#privacy").hide();
                    
                } else {
                    $("#term").hide();
                    $("#privacy").show();
                    
                }

            })

        });

    </script>
    <div class="appContent">

        <div class="policy appContent-margin1">

            <!-- tab -->
            <div class="wrap-tab3">
                <a style="width: 50%" class="selected check" href="/app/terms?tab=2" data-id="term">이용약관</a>
                <a style="width: 50%" class="check" href="/app/terms?tab=1" data-id="privacy">개인정보 처리방침</a>
            </div>
            <!-- //tab -->

            <div class="con" id="term">

                <div class="etc-agree">
    	
					<strong class="txt-caption">제 1 조 (목적)</strong>
					이 약관은 사회복지법인 한국컴패션(이하 "한국컴패션"이라 한다)이 제공하는 온라인 서비스(이하 "서비스"라 한다)를 이용함에 있어 한국컴패션과 이용자의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
					<br /><br />
					<strong class="txt-caption">제 2 조 (정의)</strong>
					(1) "서비스"란 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 한국컴패션이 온라인 서비스를 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 구축한 제반 서비스를 말합니다.<br />
					(2) "이용자"란 "서비스"에 접속하여 이 약관에 따라 "서비스"가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.<br />
					(3) "회원"이란 "서비스"에 개인정보를 제공하여 회원 등록한 자로서, "서비스"의 정보를 지속적으로 제공 받으며, "서비스"가 제공하는 자료를 계속적으로 이용할 수 있는 자를 말합니다.<br />
					(4) "비회원"이란 "회원"에 가입하지 않고 "사이트"가 제공하는 서비스를 이용하는 자를 말합니다.<br />
					(5) "후원자"란 한국컴패션의 "후원 회원"을 말합니다.<br />
					(6) 위에서 정하는 것 외의 용어의 정의는 관계법령 및 한국컴패션이 정하는 바에 의합니다.
					<br /><br />
					<strong class="txt-caption">제 3 조 (약관의 효력 및 변경)</strong>
					(1) 본 약관은 본 "서비스"의 화면에 게시함으로써 효력이 발생합니다.<br />
					(2) "한국컴패션"은 이 약관의 내용과 상호, 기관소재지, 대표자 성명, 사업자등록번호, 연락처(전화,팩스,전자우편,주소) 등을 이용자가 알 수 있도록 "서비스"의 초기화면에 게시합니다.<br />
					(3) "한국컴패션"은 중요한 사유가 있을 시 전기통신기본법, 전기통신사업법, 전자거래기본법 등 관련법에 위배하지 않는 범위에서 이 약관을 변경할 수 있습니다.<br />
					(4) "한국컴패션"은 약관을 개정할 경우 적용일자 및 개정사유를 명시하여 현행 약관과 함께 홈페이지의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.<br />
					(5) "한국컴패션"이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에는 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 단, 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기 원하는 뜻을 개정약관의 공지기간 내에 "한국컴패션"에 보내어 "한국컴패션"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.<br />
					(6) 본 약관에 명시되어 있지 않은 사항은 전기통신기본법, 전기통신사업법, 전자거래기본법등 관계법령에 규정된 바에 따릅니다.
					<br /><br />
					<strong class="txt-caption">제 4 조 (서비스의 제공 및 변경)</strong>
					(1) "서비스"가 제공하는 서비스의 내용은 다음과 같습니다.<br />
					&emsp;1. 후원신청 서비스<br />
					&emsp;2. 자원봉사 참여 서비스<br />
					&emsp;3. 후원자 정보 관리 서비스<br />
					&emsp;4. 문서, 멀티미디어, 자료실 서비스<br />
					&emsp;5. 컴패션 소식, 메일 전송 서비스<br />
					&emsp;6. 개방형 서비스 (블로그, 클럽 등)<br />
					&emsp;7. 쇼핑몰 서비스<br />
					&emsp;8. 기타 "한국컴패션"이 정하거나 개발하거나 제휴하는 일체의 서비스<br />
					(2) "서비스"는 필요한 경우 서비스의 내용을 추가 또는 변경할 수 있습니다. 이 경우 한국컴패션은 추가 또는 변경 내용을 회원에게 통지합니다.
					<br /><br />
					<strong class="txt-caption">제 5 조 (서비스의 이용 및 제한)</strong>
					(1) "서비스" 이용은 한국컴패션의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다. 다만, 서비스가 통제할 수 없는 사유로 인한 서비스의 중단(시스템 관리자의 고의, 과실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우 예외로 합니다.<br />
					(2) 전항의 서비스 이용시간은 시스템 정기점검 등 한국컴패션이 필요한 경우, 회원에게 사전 통지한 후 제한할 수 있습니다.
					<br /><br />
					<strong class="txt-caption">제 6 조 (서비스의 사용료)</strong>
					(1) "서비스"는 회원으로 등록한 모든 사람들이 무료로 사용할 수 있습니다.<br />
					(2) 한국컴패션이 특정 서비스를 유료화할 경우 유료화의 시기, 정책, 비용에 대하여 유료화 실시 이전에 서비스에 공시하여야 합니다.
					<br /><br />
					<strong class="txt-caption">제 7 조 (회원가입)</strong>
					(1) 이용자는 "서비스"가 정한 양식에 따라 회원정보를 사실대로 기입한 후 이 약관에 동의한다는 의사표시를 하고 회원가입을 신청함으로 이루어집니다.<br />
					(2) "한국컴패션"은 제 1항과 같이 회원으로 가입할 것을 신청한 이용자중 다음 각 호에 해당하는 경우 회원가입을 승낙하지 않을 수 있습니다.<br />
					&emsp;가) 다른 사람의 명의를 사용하여 신청하였을 때<br />
					&emsp;나) 등록 내용이 허위, 기재누락, 오기가 있는 경우<br />
					&emsp;다) 본인의 실명으로 신청하지 않았을 때<br />
					&emsp;라) 사회의 안녕과 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때<br />
					&emsp;마) 기타 회원으로 등록하는 것이 "서비스"의 기술상 현저히 지장이 있다고 판단되는 경우.<br />
					(3) "회원"은 회원 가입시 등록한 회원정보에 변경이 있을 경우, 즉시 전자우편 등 기타 방법으로 "한국컴패션"에 알려야 합니다.
					<br /><br />
					<strong class="txt-caption">제 8 조 (서비스 탈퇴 및 이용 제한)</strong>
					(1) 회원이 "서비스"의 탈퇴를 원하면 회원 본인이 직접 "사이트"또는 전자메일을 통해 "한국컴패션"에 해지 신청을 요청할 수 있습니다.<br />
					(2) 탈퇴 신청시 본인임을 알 수 있는 이름, 주민등록번호, ID, 전화번호, 해지사유를 알려주면, 가입기록과 일치여부를 확인한 후 가입을 해지합니다.<br />
					(3) 탈퇴 여부는 기존의 ID와 비밀번호로 로그인이 되지 않는 것으로 확인 가능합니다.<br />
					(4) "서비스"는 회원이 다음 사항에 해당하는 행위를 했을 경우, 사전 통지 없이 이용 계약을 해지하거나 기간을 정하여 서비스 이용을 중지할 수 있습니다.<br />
					&emsp;가) 가입 신청시에 허위 내용을 등록한 경우<br />
					&emsp;나) 공공 질서 및 미풍 양속에 반하는 경우<br />
					&emsp;다) 범죄적 행위에 관련되는 경우<br />
					&emsp;라) 국익 또는 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행할 경우<br />
					&emsp;마) 타인의 ID 및 비밀번호를 도용한 경우<br />
					&emsp;바) 타인의 명예를 손상시키거나 불이익을 주는 경우<br />
					&emsp;사) 같은 사용자가 다른 ID로 이중 등록을 한 경우<br />
					&emsp;아) 서비스에 위해를 가하는 등 건전한 이용을 저해하는 경우<br />
					&emsp;자) 기타 관련 법령이나 "한국컴패션"이 정한 이용조건에 위배되는 경우<br />
					&emsp;차) "서비스"에서 얻은 정보를 "한국컴패션"의 사전 승낙 없이 회원이 얻은 정보의 참고 외에 복제 또는 출판 및 방송 등에 사용하거나 제 3자에게 제공하는 경우
					<br /><br />
					<strong class="txt-caption">제 9 조 (후원신청)</strong>
					후원신청을 하려는 자는 후원 프로그램이 요구하는 사항에 따라 다음의 정보를 입력하여야 합니다.<br />
					(1) 성명, 주소, 전화번호 등 후원자 정보 입력 (일시후원 프로그램 및 나눔펀딩의 경우 회원 후원/비회원 후원/무기명 후원 선택 가능)<br />
					(2) 후원종류의 선택<br />
					(3) 후원세부정보 입력<br />
					(4) 결제방법의 선택(세부결제방법 입력)
					<br /><br />
					<strong class="txt-caption">제 10 조 (후원신청의 성립)</strong>
					(1)"한국컴패션"은 제 9 조와 같은 후원신청에 대하여 다음 각 호에 해당하지 않는 한 승낙합니다.<br />
					&emsp;가) 신청 내용에 허위, 기재누락, 오기가 있는 경우<br />
					&emsp;나) 미성년자가 부모의 동의 없이 불안정한 상황에서 신청한 경우<br />
					&emsp;다) 기타 후원신청에 승낙하는 것이 "한국컴패션"에 현저히 지장이 있다고 판단하는 경우<br />
					(2) "한국컴패션"이 신청확인 메시지를 이용자에게 전송함으로 후원신청이 성립한 것으로 합니다.
					<br /><br />
					<strong class="txt-caption">제 11 조 (후원금 납부방법)</strong>
					"서비스"에서 신청하는 후원은 다음 각 호의 하나로 후원금을 납부할 수 있습니다.<br />
					&emsp;가.신용카드 결제<br />
					&emsp;나.계좌이체 결제<br />
					&emsp;다.휴대폰 결제 (일시후원 프로그램 및 나눔펀딩에 한함)<br />
					&emsp;라.온라인 결제 (카카오 페이, 페이코 등이며 일시후원 프로그램 및 나눔펀딩에 한함)
					<br /><br />
					<strong class="txt-caption">제 12 조 (후원금의 사용)</strong>
					(1) 후원금은 컴패션을 통해 경제적으로 어려움을 겪고 있는 컴패션 수혜국에 지급됩니다.<br />
					(2) 후원금 사용내역은 매년 회계법인의 감사를 받습니다.<br />
					(3) 후원금 내역은 연 1회 후원자들에게 사업보고서(Annual Report)를 우편으로 발송하며 "사이트"에 투명하게 공고합니다.
					<br /><br />
					<strong class="txt-caption">제 13 조 ("서비스"의 의무)</strong>
					(1) "서비스"는 특별한 사정이 없는 한 회원이 서비스를 이용할 수 있도록 합니다.<br />
					(2) "서비스"는 이 약관에서 정한 바에 따라 계속적, 안정적으로 제공할 의무가 있습니다.<br />
					(3) "서비스"는 회원으로부터 소정의 절차에 의해 제기되는 의견에 대해서 적절한 절차를 거쳐 처리하며, 처리시 일정기간이 소요될 경우 회원에게 그 사유와 처리 일정을 알려주어야 합니다.<br />
					(4) "서비스"는 개인의 신분 확인이 가능한 정보를 회원 혹은 사용자의 사전허락 없이 한국컴패션과 관계가 없는 제3자에게 팔거나 제공하지 않습니다.<br />
					(5) "서비스"는 자발적으로 제공된 이용자 정보를 다음과 같은 경우에 활용할 수 있습니다.<br />
					&emsp;가) 회원들에게 유용한 새 기능, 정보, 서비스 개발에 필요한 정보를 개발자들에게 제공하는 경우<br />
					(6) 게시판, 사진첩 등의 커뮤니티 페이지에 개인 신분 확인이 가능한 정보(사용자 이름, ID, e-mail 주소 등)가 회원의 동의 하에 공개될 수 있습니다. 공개된 정보는 제3자에 의해 수집되고 연관되어 사용될 수 있으며 한국컴패션은 회원이 자발적으로 공개한 정보의 이용에 관한 책임을 지지 않습니다.
					<br /><br />
					<strong class="txt-caption">제 14 조 (회원 정보 보안의 의무)</strong>
					(1) 회원의 ID와 비밀번호에 관한 관리의 책임은 회원에게 있습니다.<br />
					(2) 회원은 자신의 ID와 비밀번호를 제 3자에게 이용하게 해서는 안됩니다.<br />
					(3) 자신의 ID가 부정하게 사용되거나, 제 3자가 사용하고 있음을 인지한 경우 바로 "한국컴패션"에 통보하고 "한국컴패션"의 안내에 따라야 합니다.
					<br /><br />
					<strong class="txt-caption">제 15 조 (이용자의 게시물)</strong>
					이용자는 "사이트" 내의 각종 게시판에 글을 올리기 위하여 반드시 "사이트"에 접속함으로써 본인임을 밝히는 게시판 실명제를 준수하여야 하며, "사이트"는 이용자가 게시판 내용물에 대해서 다음 각 호에 해당하는 경우 사전 통보 없이 삭제할 수 있습니다.<br />
					(1) "사이트"가 작성한 저작물에 대한 저작권, 기타 지적재산권은 "사이트"에 귀속됩니다.<br />
					(2) “이용자”가 "사이트" 내에 게시한 게시물의 저작권은 해당 게시물의 “저작자”에게 귀속됩니다.<br />
					(3) "이용자"가 "사이트" 내에 게시하는 게시물은 검색결과 내지 "서비스" 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다.<br />
					(4) "회사"가 “이용자"의 “게시물”을 이용하고자 하는 경우에는 전화, 팩스, 전자우편 등을 통해 사전에 "이용자"의 동의를 얻어야 합니다.
					<br /><br />
					<strong class="txt-caption">제 16 조 (저작권의 귀속 및 이용 제한)</strong>
					(1) “이용자”는 "사이트"를 이용함으로써 얻은 정보를 "회사"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 영리 및 비영리 목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.<br />
					(2) 게시물(이용자가 "사이트"에 공개한 글, 영상, 소리 등)에 대한 권리와 책임은 “이용자”에게 있습니다. "회사"는 이용자의 동의 없이 게시물을 영리적 목적으로 사용하지 않습니다.<br />
					(3) “이용자”는 "사이트" 내의 각종 게시판에 글을 올리기 위하여 반드시 "사이트"에 접속함으로써 본인임을 밝히는 게시판 실명제를 준수하여야 하며, "사이트"는 이용자가 게시판 내용물에 대해서 다음 각 호에 해당하는 경우 사전 통보 없이 삭제할 수 있습니다.<br />
					&emsp;가) 타인에 대한 인신공격성 발언, 저속한 표현 등을 사용한 경우<br />
					&emsp;나) 음란한 자료 혹은 음란사이트 관련 링크를 올리는 경우<br />
					&emsp;다) "사이트"를 포함한 타인의 저작권을 침해한 게시물의 경우<br />
					&emsp;라) 미풍양속을 저해하거나 관계법령에 위반되는 경우<br />
					&emsp;마) 영리 목적의 글 또는 금전에 관련된 게시물 또는 관련 링크를 올리는 경우
					<br /><br />
					<strong class="txt-caption">제 17 조 (면책조항)</strong>
					(1) "서비스"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우 "서비스"를 제공하지 않습니다.<br />
					(2) "서비스"는 회원의 귀책사유로 인한 "서비스" 이용의 장애에 대하여 책임을 지지 않습니다.<br />
					(3) "서비스"는 회원 본인이 정보를 오류로 기재하여 문제가 발생한 사항에 대하여 책임을 지지 않습니다.<br />
					(4) "서비스"는 이용회원이 "서비스" 제공으로부터 기대되는 이익을 얻지 못하였거나 "서비스" 자료에 대한 선택적 이용으로 발생하는 손해 등에 대해서는 책임이 면제됩니다.
					<br /><br />
					<strong class="txt-caption">제 18 조 (분쟁조정)</strong>
					(1) 본 이용약관에 규정된 것을 제외하고 발생하는 "서비스" 이용에 관한 제반 문제에 관한 분쟁은 최대한 쌍방합의에 의해 해결하도록 합니다.<br />
					(2) "서비스" 이용으로 발생한 분쟁에 대해 소송이 제기될 경우 한국컴패션의 소재지를 관할하는 법원을 관할법원으로 합니다.
					<br /><br />
					<strong class="txt-caption">[부칙]</strong>
					(1) 이 약관은 2016년 11월 14일부터 시행합니다.<br />
					(2) 이전의 이용약관은 아래에서 확인하실 수 있습니다.<br />
					<br />
					<a href="/etc/terms_100612?app_ex=1" target="_blank">- 2010.06.12 적용 (클릭)</a>
					<br /><br />
        
				</div>
        

            </div>

            <div class="con" style="display: none;" id="privacy">

                <div class="etc-agree">
					‘한국컴패션'(이하 '기관')은 정보통신망 이용촉진 및 정보보호에 관한 법률, 개인정보 보호법 등 관련 법령상의 개인정보보호 규정을 준수하며, 관련 법령에 의거한 개인정보 처리방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다.<br />
        본 개인정보 처리방침을 통하여 회원 및 후원 시 이용자가 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며, 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 이용자들이 쉽게 알아볼 수 있도록 주요 변경 내용 및 개정일자 등을 홈페이지 공지사항(또는 개별공지)를 통하여 고지할 것입니다. 
		<%--<em class="txt-bold">본 방침은 2016년 11월 14일부터 시행됩니다.</em>--%>
		<br /><br />
		<strong class="txt-caption">1. 수집하는 개인정보 항목 및 수집방법</strong>
		기관은 회원가입, 상담, 서비스 신청 등을 위해 아래와 같은 개인정보를 수집하고 있습니다.<br />
        <br />
		1)	개인정보 수집항목<br />
        <br />
        (홈페이지 회원가입)<br />
        - 필수항목 : 이름, 생년월일, 휴대폰번호, 이메일, 전화번호, 아이디(ID), 비밀번호, 법정대리인 이름, 법정대리인 핸드폰번호, 교회직분<br />
        <br />
        (기업/단체회원)<br />
        - 필수항목 : 기업명(교회명), 사업자번호, 담당자이름, 담당자휴대폰번호, 이메일, 전화번호, 아이디(ID), 비밀번호,<br />
        - 선택항목 : 사업자등록증<br />
        <br />
        (후원신청)<br />
        - 필수항목 : 영문이름, 종교, 교회명, 주소, 후원 계기<br />
        - 선택항목: 주민등록번호(국세청 연말정산간소화서비스 등록을 위한 수집 시)<br />
        <br />
        (비회원 후원)<br />
        - 필수항목 : 이름<br />
        - 선택항목 : 주민등록번호(국세청 연말정산간소화서비스 등록을 위한 수집 시)<br />
        <br />
        (후원금결제)<br />
        - 신용카드 : 카드사명, 카드번호, 유효기간, 카드명의자명, 카드명의자 생년월일<br />
        - 자동이체(CMS) : 은행명, 계좌번호, 예금주명, 예금주 생년월일<br />
        <br />
        (첫 생일 첫 나눔)<br />
         - 필수항목 : 아기 성별, 아기이름, 생년월일, 사진, 신청자 이름, 아기와의 관계, 휴대폰번호, E-Mail<br />
         - 선택항목 : 주민등록번호(국세청 연말정산간소화서비스 등록을 위한 수집 시)<br />
        <br />
        (결혼첫나눔-정기후원)<br />
         - 필수항목 : 신부이름, 신랑이름, 결혼년월일, 휴대폰번호, E-Mail, 결혼사진, 주소, <br />
        영문이름, 종교, 교회명, 후원 계기<br />
        - 선택항목 : 주민등록번호(국세청 연말정산간소화서비스 등록을 위한 수집 시)<br />
        <br />
        (결혼첫나눔-일시후원)<br />
        - 필수항목 : 신부이름, 신랑이름, 결혼년월일, 휴대폰번호, E-Mail, 결혼사진, 주소<br />
        - 선택항목 : 주민등록번호(국세청 연말정산간소화서비스 등록을 위한 수집 시)<br />
        <br />
        (컴패션사역훈련 수강신청)<br />
        - 필수항목 : 이름, 아이디(ID), 생년월일, 휴대전화, 주소<br />
        - 선택항목 : 소속교회, 교회직분<br />
        <br />
        (스토어)<br />
        - 필수항목 : 수령인, 휴대폰, 배송주소<br />
        - 선택항목 : 비상연락처<br />
        <br />
        (모바일 결연서)<br />
        - 필수항목 : 이름, 영문이름, 휴대폰번호, 생년월일, 주소<br />
        - 선택항목 : 주민번호 뒷자리(국세청 연말정산간소화서비스 등록을 위한 수집 시), E-Mail, 아이디(ID), 비밀번호<br />
        <br />
        (인재채용)<br />
        - 필수항목 : 이름(한글,영문), 생년월일, 성별, 거주지 주소, 휴대폰번호, E-Mail, 연봉, 병역구분, 보훈대상, 보훈번호, 학력구분, 학교명, 전공, 입학/졸업연월, 소재지, 컴패션 후원여부, 자기소개서, 경력기술서, 신앙간증문, 추천인, 종교<br />
        - 선택항목 : 외국어명, 인증기관, 점수/등급, 취득일, 자격증명, 발급기관, 자격증번호, 합격일, 이전 회사명, 고용형태, 근무기간, 근무부서, 직급, 담당업무, 포트폴리오<br />
        - 민감정보 : 장애여부, 장애유형, 장애등급<br />
        <br />
		2) 개인정보 수집방법<br />
        <br />
		- 홈페이지, 서명양식, 팩스, 전화, 상담게시판, E-Mail, 이벤트 응모, SNS 및 캠페인<br />
        등 확장 플랫폼을 통한 수집<br />
        - 협력회사 및 해외 Compassion으로부터의 제공<br />
        - 생성정보 수집 툴을 통한 수집(쿠키 등)<br />
        <br />
		<br />
        <strong class="txt-caption">2. 개인정보의 수집 및 이용 목적 </strong>
		기관에서 정의한 “개인정보”라 함은 생존하는 개인에 관한 정보로서, 성명, 연락처, 주소 등의 사항에 의하여 개인을 식별할 수 있는 정보를 말하며, 기관은 서비스를 통해 홈페이지 회원 및 후원회원, 쇼핑, 사역 등을 통한 후원관리를 위하여 이용자 개인의 정보를 수집하고 있습니다. <br />
		<br />
        기관은 수집된 정보를 다음과 같은 목적으로 이용합니다.</br>
        <br />
        1) 홈페이지 회원 가입 및 관리<br />
		- 회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 가입 의사 확인, 연령확인, 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인, 불만처리 등 민원처리, 고지사항 전달<br />
        <br />		
        2) 후원자 서비스 제공<br />
		개인식별, 후원금 납부 관련 서비스 이용, 고지사항 전달, 이벤트 안내 등 마케팅 활동, 후원사실 확인을 위한 기록보존, 후원 신청, 후원금 결제, 청구서 등 발송, 자원봉사 신청<br />
		<br />
        3) 신규 서비스 개발 및 기관 자체 후원자 대상 마케팅, 광고에의 활용<br />
		신규 서비스 개발 및 맞춤 서비스 제공, 통계학적 특성에 따른 서비스 제공 및 광고 게재, 서비스의 유효성 확인, 이벤트 및 광고성 정보 제공 및 참여기회 제공, 접속빈도 파악, 회원의 서비스이용에 대한 통계<br />
		<br />
        4) 직원 채용을 위한 채용 관련업무진행 및 입사 지원자 중 최종 입사자의 경우 근로계약의 체결 및 유지와 입사 후 인력관리 등의 직원관리를 위한 활용<br />
		<br />
        기관에서 수집한 개인정보는 위 목적으로 사용되나, 이용자의 기본적 인권침해의 우려가 있는 민감한 개인정보(인종, 사상 및 신조, 출신지, 본적, 정치적 성향, 범죄기록, 성생활정보 등)는 가급적 수집하지 않으며, 부득이하게 수집하는 경우 이용자들의 사전 동의를 반드시 구하도록 하겠습니다.
		<br />
        <br />
		<strong class="txt-caption">3. 개인정보의 제3자 제공 및 위탁 </strong>
		기관은 이용자 및 후원자의 개인정보를 “개인정보 수집 및 이용목적”에서 고지한 범위 내에서만 사용하며, 이용자 및 후원자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br />
		- 이용자들이 사전에 동의한 경우<br />
		- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우 <br />
		<br />
        1) 수집한 개인정보의 이용 및 제3자 제공<br />
        - 개인정보 제3자 제공<br />
        기관은 법령에 근거가 있는 등의 예외적인 경우를 제외하고 이용자의 동의 없이 개인정보를 제3자에게 제공하지 않습니다. 다만, 제휴사, 후원사 등에 이용자의 개인정보를 제공할 수 있으나, 이는 이용자에게 최적, 양적의 서비스를 제공하기 위한 목적으로만 행해지는 것이고, 그 경우에도 “개인정보 보호법”에 따른 5가지 고지사항을 준수합니다.<br />
        • 제공받는 자<br />
        • 제공받는 자의 이용 목적<br />
        • 제공 개인정보 항목<br />
        • 개인정보 보유 및 이용기간<br />
        • 동의 거부에 따른 불이익<br />
        <br />
        <table class="tbl_rules">
			<caption>개인정보를 위탁중인 외부 전문업체 리스트</caption>
			<colgroup>
				<col style="width:25%" />
				<col style="width:25%" />
                <col style="width:25%" />
                <col style="width:25%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">제공받는 자</th>
					<th scope="col">제공받는 자의 이용 목적</th>
                    <th scope="col">제공 개인정보 항목</th>
                    <th scope="col">개인정보 보유 및 이용기간</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>소속교회 북한사역 담당 목회자</td>
					<td>소속교회 참가자 인적 정보 확인</td>
                    <td>이름, 휴대폰번호, E-Mail, 교회직책</td>
                    <td>회원 탈퇴 및 목적 달성시까지</td>
				</tr>
			</tbody>
		</table>
        <br />
        ※ 제3자 제공 동의 거부 시 소속교회 북한사역 담당 목회자에게 개인정보가 전달될 수 없음으로 소속교회 참가자 인적 정보 확인이 소속교회에서는 불가합니다.<br />
        <br />
        2) 개인정보 취급 위탁<br />
        <br />
        기관은 후원자 서비스 향상을 위하여 다음과 같이 일부 개인정보 취급 업무를 외부 전문업체에 위탁하고 있으며, 개인정보 보호법 26조에 따라 위탁계약 시 개인정보가 안전하게 관리될 수 있도록 필요한 사항을 규정하고 관리/감독하고 있습니다.<br />
        <br />
        <table class="tbl_rules">
			<caption>개인정보를 위탁중인 외부 전문업체 리스트</caption>
			<colgroup>
				<col style="width:30%" />
				<col style="width:45%" />
                <col style="width:25%" />
			</colgroup>
			<thead>
				<tr>
					<th scope="col">수탁업체</th>
					<th scope="col">위탁업무 내용</th>
                    <th scope="col">개인정보 보유 및 이용기간</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>㈜고우아이티</td>
					<td>온라인 서비스 유지보수, 후원자관리 프로그램 유지보수</td>
                    <td rowspan="16">후원/회원 탈퇴 및 위탁계약 종료 시 까지</td>
				</tr>
                <tr>
					<td>㈜다우기술</td>
					<td>후원자 및 회원에게 SMS 발송</td>
				</tr>
                <tr>
					<td>㈜케이티</td>
					<td>후원자 및 회원으로부터 SMS 수신</td>
				</tr>
                <tr>
					<td>㈜월드피에이디</td>
					<td>후원자 뉴스레터, 매거진 발송 대행</td>
				</tr>
                <tr>
					<td>Compassion International</td>
					<td>어린이 결연 및 후원자 응대</td>
				</tr>
                <tr>
					<td>서울신용평가정보㈜</td>
					<td>실명인증 및 본인확인</td>
				</tr>
                <tr>
					<td>㈜한국사이버결제</td>
					<td>전자 결제 처리, 신용카드 결제 처리</td>
				</tr>
                <tr>
					<td>금융결제원</td>
					<td>계좌이체 결제 처리</td>
				</tr>
                <tr>
					<td>효성에프엠에스㈜</td>
					<td>계좌이체 결제 처리(1회성)</td>
				</tr>
                <tr>
					<td>주식회사 SMTNT</td>
					<td>MO(Message Oriented) 서비스 제공</td>
				</tr>
                <tr>
					<td>종로6가우편집중국</td>
					<td>어린이 사진, 편지 및 각종 우편물 발송</td>
				</tr>
                <tr>
					<td>한국갤럽</td>
					<td>후원자 설문조사 프로그래밍 및 조사 진행</td>
				</tr>
                <tr>
					<td>테크빌교육(주)</td>
					<td>NK교육훈련사이트 운영 및 유지보수</td>
				</tr>
                <tr>
					<td>(주)커스토머인사이트</td>
					<td>CRM시스템 유지보수</td>
				</tr>
                <tr>
					<td>(주)여행상점</td>
					<td>왕복항공권 구매, 비자 발급, 여행자보험 가입</td>
				</tr>
                <tr>
					<td>(주)베러웨이시스템즈</td>
					<td>어린이 자료 등 후원관련 우편물의 인쇄 및 발송</td>
				</tr>
			</tbody>
		</table>
        <br />
        <br />
		<strong class="txt-caption">4. 개인정보의 보유 및 이용기간 </strong>
		기관은 수집한 개인정보의 이용목적이 달성하면 지체 없이 파기하며, 특히 탈퇴 회원 및 탈퇴 후원자 개인정보는 7일 이내에 파기하고 있습니다. 다만, 개인정보의 수집 및 이용목적이 달성된 경우에도 상법, 전자상거래 등에서의 소비자 보호에 관한 법률 등 관련 법령의 규정에 의하여 보존할 필요성이 있을 경우 및 사전에 보유기간을 이용자에게 고지하거나 명시한 경우 등은 그에 따라 개인정보를 보관할 수 있습니다. 개인정보를 보존하려고 하는 경우 사전에 그 보존근거 및 보존하는 개인정보 항목을 E-Mail, 서면, 유선전화로 개별통지 하거나 인터넷 사이트에 명시하여 이용자의 동의를 받도록 하겠습니다.<br />
		<br />
        •	관련법령에 의한 정보보유 사유<br />
        - 계약 또는 청약철회 등에 관한 기록<br />
        - 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법룔 <br />
        - 보존 기간 : 5년<br />
        •	대금결제 및 재화 등의 공급에 관한 기록<br />
        - 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법룔 <br />
        - 보존 기간 : 5년<br />
        •	소비자의 불만 또는 분쟁처리에 관한 기록<br />
        - 보존 이유 : 전자상거래 등에서의 소비자보호에 관한 법룔<br />
        - 보존 기간 : 3년<br />
        •	본인확인에 관한 기록<br />
        - 보존 이유 : 정보통신망 이용촉진 및 정보보호에 관한 법률 <br />
        - 보존 기간 : 6개월<br />
        •	 접속에 관한 기록<br />
        - 보존 이유 : 통신비밀보호법<br />
        - 보존 기간 : 3개월 <br />
        <br />
        <br />
		<strong class="txt-caption">5. 개인정보의 파기절차 및 방법 </strong>
		기관은 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다.<br />
        파기절차 및 방법은 다음과 같습니다.
		<br />
        1) 파기절차<br />
        - 회원이 회원가입 등을 위해 입력한 정보는 목적이 달성된 후 별도의 데이터베이스로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기됩니다.<br />
        별도 데이터베이스로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는 다른 목적으로 이용되지 않습니다.<br />
        <br />
        2) 파기방법<br />
        - 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제, 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다. <br />
        <br />
        <br />
		<strong class="txt-caption">6. 만14세 미만 아동을 포함한 이용자 권리와 그 행사방법 </strong>
		1) 이용자 및 법정대리인의 권리와 그 행사방법<br />
        <br />
        • 이용자 및 법정 대리인은 언제든지 등록되어 있는 본인 혹은 당해 만 14세 미만 아동의 개인정보를 열람, 정정을 요구할 수 있으며, 개인정보 수집, 이용, 제공 등에 대한 동의를 철회할 수 있습니다. <br />
        • 이용자 및 법정 대리인은 개인정보 열람, 정정을 위해 기관의 웹사이트에 로그인 후 ‘마이컴패션  개인정보수정’ 버튼을 클릭하여 변경할 수 있습니다.<br />
        • 웹사이트 회원탈퇴(동의철회)를 위해서는 ‘마이컴패션  개인정보수정  회원탈퇴 바로가기’ 메뉴 클릭 후 본인 확인 절차를 거쳐 탈퇴가 가능합니다.<br />
        • 웹사이트 후원을 통해 수집한 개인정보의 삭제 및 후원 종료를 위해서는 기관 콜센터(02-740-1000)로 연락 주시면 본인 확인 후 종료할 수 있습니다.<br />
        • 개인정보보호책임자에게 서면, 유선 또는 E-Mail로 연락하시면 지체 없이 조치하겠습니다.<br />
        <br />
        2) 만14세 미만 아동의 회원가입<br />
        <br />
        • ‘개인정보 보호법’상 만 14세 미만의 아동은 온라인으로 타인에게 개인정보를 보내기 전에 반드시 개인정보의 수집 및 이용목적에 대하여 충분히 숙지하고 법정대리인의 동의를 받아야 합니다.<br />
        • 법정대리인의 성명, 생년월일, 휴대폰번호, E-Mail은 아동의 개인정보 수집에 대한 동의여부 확인이 목적으로만 사용되며, 해당 정보는 아동의 회원 및 후원 종료시까지 보유합니다.<br />
        • 법정대리인은 만14세 미만 아동의 개인정보를 열람, 정정, 동의 철회를 요청할 수 있으며, 이러한 요청이 있을 경우 기관은 지체 없이 필요한 조치를 취합니다.<br />
        <br />
        3) 이용자의 의무<br />
        <br />
        • 이용자는 개인정보를 최신의 상태로 정확하게 입력하여 불의의 사고를 예방해야 합니다. 이용자가 입력한 부정확한 정보로 인해 발생하는 사고의 책임은 이용자 자신에게 있으며, 타인 정보의 도용 등 허위정보를 입력할 경우 회원자격이 상실될 수 있습니다.<br />
        • 이용자는 개인정보를 보호 받을 권리와 함께 스스로를 보호하고 타인의 정보를 침해하지 않을 의무도 가지고 있습니다. 비밀번호를 포함한 개인정보가 유출되지 않도록 조심하고, 타인의 개인정보를 훼손하지 않도록 유의해야 합니다. 만약 이 같은 책임을 다하지 못하고 타인의 정보를 훼손할 시에는 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ 및 ‘개인정보 보호법’ 등에 의해 처벌 받을 수 있습니다.<br />
        • 이용자가 타인의 개인정보를 도용하여 회원가입 등을 하였음을 알게 된 때에는 지체 없이 해당 아이디에 대한 필요한 조치를 취해야 합니다.<br />
        <br />
        <br />
		<strong class="txt-caption">7. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항 </strong>
		기관은 회원의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’를 운용합니다. 쿠키란 브라우저에 존재하는 메모리 영역의 일부로 서버와 통신하는데 있어 지속적인 정보를 저장하는 곳을 지칭합니다. 기관의 서버가 회원의 브라우저로 쿠키를 보내서 회원의 컴퓨터 하드디스크에 저장됩니다. 기관은 다음과 같은 목적을 위해 쿠키를 사용합니다.<br />
		<br />
        1) 쿠키(Cookie) 사용 목적<br />
        • 회원과 비회원의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스를 제공하기 위해 사용합니다.<br />
        <br />
        2) 쿠키(Cookie) 설치/운영 및 거부<br />
        • 회원은 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br />
        • 회원이 사용하는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 하거나, 모든 쿠키의 저장을 거부할 수 있습니다.<br />
        • 쿠키 허용 여부 설정방법(Internet Explorer의 경우) : 웹 브라우저 상단의 [도구] -> [인터넷 옵션] -> 개인정보에서 [개인정보취급 수준]을 설정하시면 됩니다.<br /> 
        <br />
        <br />
		<strong class="txt-caption">8. 개인정보의 안정성 확보조치에 관한 사항 </strong>
		기관은 회원들의 개인정보를 취급함에 있어 개인정보가 분실, 도난, 누출, 변조 또는 훼손되지 않도록 안전성 확보를 위하여 다음과 같은 기술적/관리적 대책을 강구하고 있습니다.<br />
		1) 기술적 보호 조치<br />
        - 개인정보 암호화<br />
        아이디(ID)의 비밀번호는 복호화가 불가능하도록 암호화되어 저장 및 관리되고 있어 본인만이 알고 있으며, 개인정보의 확인 및 변경도 비밀번호를 알고 있는 본인에 의해서만 가능합니다.<br />
        - 해킹 등에 대비한 대책<br />
        기관은 해킹이나 컴퓨터 바이러스 등에 의해 회원의 개인정보가 유출되거나 훼손되는 것을 막기 위해 자료를 수시로 백업하고 있고, 최신 백신프로그램을 이용하여 이용자들의 개인정보나 자료가 누출되거나 손상되지 않도록 방지하고 있으며, 암호화 통신 등을 통하여 네트워크상에서 개인정보를 안전하게 전송할 수 있도록 하고 있습니다.<br />
        그리고 침입차단시스템을 이용하여 외부로부터의 무단 접근을 통제하고 있으며, 기타 시스템적으로 보안성을 확보하기 위한 가능한 모든 기술적 장치를 갖추려 노력하고 있습니다.<br />
        <br />
        2) 관리적 보호 조치<br />
        - 기관은 회원 및 후원자의 개인정보 관련 취급 담당자를 한정시키고 있으며, 이를 위한 별도의 계정을 부여하여 정기적으로 갱신하고 있습니다.<br />
        - 기관은 내부 개인정보처리지침 및 내부관리 계획을 수립하여 보안정책 수립, 암호화 정책, 계정관리방안, 정기 관리/감독 등에 대한 대책을 마련하여 운영하고 있습니다.<br />
        - 취급 직원의 최소화 및 교육<br />
        기관의 개인정보관련 취급 직원은 담당자에 한정시키고 있고 이를 위한 별도의 비밀번호를 부여하여 정기적으로 갱신하고 있으며, 담당자에 대한 수시 교육을 통하여 개인정보 처리방침의 준수를 항상 강조하고 있습니다. <br />
        <br />
		<br />
		<strong class="txt-caption">9. 개인정보 보호책임자 </strong>
		기관에서는 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 보호책임자 및 민원처리 부서를 아래와 같이 지정하고 있으며, 개인정보 유출신고 및 기타 신고사항에 대해 신속하고 정확하게 답변 드리도록 노력하겠습니다.<br />
		<table class="tbl_rules">
			<caption>개인정보 관리 책임자 및 담당부서 정보</caption>
			<colgroup>
				<col style="width:15%" />
				<col style="width:35%" />
                <col style="width:15%" />
				<col style="width:35%" />
			</colgroup>
			<tbody>
				<tr>
					<td colspan="4">
						개인정보 보호책임자
					</td>
				</tr>
                <tr>
					<th scope="col">
						이 름
					</th>
                    <td>
						김미라
					</td>
                    <th scope="col">
						소 속
					</th>
                    <td>
						경영지원실
					</td>
				</tr>
                <tr>
					<th scope="col">
						직 책
					</th>
                    <td>
						실장
					</td>
                    <th scope="col">
						전 화
					</th>
                    <td>
						02)470-1000
					</td>
				</tr>
                <tr>
					<th scope="col">
						E-MAIL
					</th>
                    <td colspan="3">
						privacy@compassion.or.kr
					</td>
				</tr>
			</tbody>
		</table>
        <br />
        기타 개인정보침해에 대한 신고나 상담이 필요한 경우에는 아래 기관에 문의하시기 바랍니다.<br />
        - 개인정보침해신고센터 (www.118.or.kr / 118)<br />
        - 대검찰청 첨단범죄수사과 (www.spo.go.kr / 02-3480-2000)<br />
        - 경찰청 사이버테러대응센터 (www.ctrc.go.kr / 02-392-0330)<br />
        <br />
        <br />
		<strong class="txt-caption">10. 본 개인정보 처리방침의 적용범위 </strong>
		본 개인정보 처리방침은 기관의 사이트 중 ‘컴패션(www.compassion.or.kr)’ , ‘컴패션메이트(mate.compassion.or.kr)’ , ‘컴패션사역훈련(training.nkcompassion.or.kr)’ , 컴패션스토어(www.compassion.or.kr/store)’ 캠페인(campaign.compassion.or.kr), 채용(www.compassion.or.kr/recruit) 및 제반서비스 (모바일 웹/앱/모바일 결연서 포함)에 적용되며, 그 외 다른 사이트는 별개의 개인정보 처리방침이 적용될 수 있습니다.<br />
		<br />
		<br />
		<strong class="txt-caption">11. 개인정보 처리방침 시행 및 개정사항(고지의 의무)</strong>
		기관은 ‘정보통신망 이용촉진 및 정보보호 등에 관한 법률’ ‘개인정보 보호법’ ‘신용정보의 이용 및 보호에 관한 법률’ ‘전자거래기본법’ ‘전자거래소비자보호지침’ 등 개인정보 보호와 관련한 법률을 준수합니다. 따라서 기관은 개인정보 처리방침 추가, 삭제, 수정이 발생할 경우 개정 최소 7일전에 홈페이지 “공지사항”을 통해 고지하며, 개인정보의 수집/이용, 제3자 제공 등과 같이 이용자의 권리의 중요한 변경이 있을 경우에는 최소 30일 전에 고지합니다.<br />
		<br />
        1) 이 개인정보 처리방침은 2018년 6월 04일부터 적용됩니다.<br />
        2) 개인정보 처리방침 개정<br />
        • 개인정보 처리방침 Version : V1.4<br />
        • 개인정보 처리방침 개정 일자 : 2018년 6월04일<br />
        • 개인정보 처리방침 개정사유 : 개인정보보호법에 따른 처리방침 전면 개정 및 개인정보 보호책임자 변경<br />
        <br />
        <a href="/etc/privacy_140701">■ 이전 개인정보 처리방침 보기 (2014년 07월 01일 ~ 2018년 06월 03일)</a><br />
		<br />

				</div>
            </div>
        </div>

    </div>

</asp:Content>
