﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="privacy_081201.aspx.cs" Inherits="etc_privacy" Culture="auto" UICulture="auto" MasterPageFile="~/main.Master" EnableEventValidation="false" %>

<%@ MasterType VirtualPath="~/main.master" %>
<%@ Register Src="/common/breadcrumb.ascx" TagPrefix="uc" TagName="breadcrumb" %>

<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
</asp:Content>
<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
</asp:Content>


<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">

    <section class="sub_body">

        <!-- 타이틀 -->
        <div class="page_tit">
            <div class="titArea">
                <h1><em>개인정보 취급방침</em></h1>
                <span class="desc">회원의 소중한 개인정보보호를 위해 항상 노력하고 있습니다</span>

                <uc:breadcrumb runat="server" />
            </div>
        </div>
        <!--// -->

        <!-- s: sub contents -->
        <div class="subContents etc">

           <div class="rules w980">
				
				<p class="s_con3">
					‘한국컴패션'은 (이하 '기관'은) 회원님의 개인정보를 중요시하며, 정보통신망 이용촉진 및 정보보호에 관한 법률을 준수하고 있습니다. 기관은 개인정보취급방침을 통하여 회원님께서 제공하시는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 어떠한 조치가 취해지고 있는지 알려드립니다. 기관은 개인정보취급방침을 개정하는 경우 웹사이트 공지사항(또는 개별공지)을 통하여 공지할 것입니다.<br />
					<em>본 방침은 2008 년 12 월 01 일 부터 시행됩니다.</em>
				</p>
				<br /><br />
				<div class="s_tit1">1. 개인정보의 수집 및 이용 목적</div>
				<br />
				<p class="s_con3">
					기관은 수집한 개인정보를 다음의 목적을 위해 활용합니다. 회원제 서비스 이용에 따른 본인확인 , 개인 식별 , 불량회원의 부정 이용 방지와 비인가 사용 방지 , 가입 의사 확인 , 연령확인 , 만14세 미만 아동 개인정보 수집 시 법정 대리인 동의여부 확인 , 불만처리 등 민원처리, 고지사항 전달, 이벤트 등 광고성 정보 전달 , 접속빈도 파악 또는 회원의 서비스 이용에 대한 통계, 후원 신청, 후원금 결제, 청구서 등 발송, 자원봉사 신청
				</p>
				<br /><br />
				<div class="s_tit1">2. 개인정보의 보유 및 이용기간</div>
				<br />
				<p class="s_con3">
					원칙적으로, 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체 없이 파기합니다. 단, 관계법령의 규정에 의하여 보존할 필요가 있는 경우 기관은 아래와 같이 관계법령에서 정한 일정한 기간 동안 회원정보를 보관합니다.<br />
					- 보존 항목 : 이름, 생년월일, 성별, 로그인ID, 비밀번호, 후원자번호, 자택 전화번호, 자택 주소, 휴대전화번호, 이메일, 직업, 회사전화번호, 법정대리인정보, 주민등록번호, 종교, 신용카드 정보, 은행계좌 정보, 서비스 이용기록, 접속 로그 , 쿠키, 접속 IP 정보, 결제기록<br />
					- 보존 근거 : 전자금융거래법 시행령<br />
					- 보존 기간 : 5년
				</p>
				<br /><br />
				<div class="s_tit1">3. 개인정보의 파기절차 및 방법</div>
				<br />
				<p class="s_con3">
					기관은 원칙적으로 개인정보 수집 및 이용목적이 달성된 후에는 해당 정보를 지체없이 파기합니다.<br />
					파기절차 및 방법은 다음과 같습니다.<br />
					파기절차<br />
					- 회원님이 회원가입 등을 위해 입력하신 정보는 목적이 달성된 후 별도의 데이터베이스로 옮겨져(종이의 경우 별도의 서류함) 내부 방침 및 기타 관련 법령에 의한 정보보호 사유에 따라(보유 및 이용기간 참조) 일정 기간 저장된 후 파기되어집니다.<br />
					별도 데이터베이스로 옮겨진 개인정보는 법률에 의한 경우가 아니고서는, 보유되어지는 이외의 다른 목적으로 이용되지 않습니다.<br />
					파기방법<br />
					- 전자적 파일형태로 저장된 개인정보는 기록을 재생할 수 없는 기술적 방법을 사용하여 삭제, 종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기 방법으로 파기합니다.
				</p>
				<br /><br />
				<div class="s_tit1">4. 개인정보 제공</div>
				<br />
				<p class="s_con3">
					기관은 이용자의 개인정보를 원칙적으로 외부에 제공하지 않습니다. 다만, 아래의 경우에는 예외로 합니다.<br />
					- 이용자들이 사전에 동의한 경우<br />
					- 법령의 규정에 의거하거나, 수사 목적으로 법령에 정해진 절차와 방법에 따라 수사기관의 요구가 있는 경우
				</p>
				<br /><br />
				<div class="s_tit1">5. 수집한 개인정보의 위탁</div>
				<br />
				<p class="s_con3">
					기관은 고객님의 동의없이 고객님의 정보를 외부 업체에 위탁하지 않습니다. 향후 그러한 필요가 생길 경우, 위탁 대상자와 위탁 업무 내용에 대해 고객님에게 통지하고 필요한 경우 사전 동의를 받도록 하겠습니다.
				</p>
				<br /><br />
				<div class="s_tit1">6. 이용자 및 법정대리인의 권리와 그 행사방법</div>
				<br />
				<p class="s_con3">
					이용자 및 법정 대리인은 언제든지 등록되어 있는 본인 혹은 당해 만 14세 미만 아동의 개인정보를 조회하거나 수정할 수 있으며 가입해지를 요청할 수도 있습니다. 이용자 혹은 만 14세 미만 아동의 개인정보 조회,수정을 위해서는 ‘개인정보변경’(또는 ‘회원정보수정’ 등)을 가입해지(동의철회)를 위해서는 온라인 상담을 클릭하여 “회원탈퇴”요청글을 남기면, 본인 확인 절차를 거친 후 직접 열람, 정정 또는 탈퇴가 가능합니다.<br />
					혹은 개인정보관리책임자에게 서면, 전화 또는 이메일로 연락하시면 지체없이 조치하겠습니다.<br />
					회원님이 개인정보의 오류에 대한 정정을 요청하신 경우에는 정정을 완료하기 전까지 당해 개인정보를 이용 또는 제공하지 않습니다. 또한, 잘못된 개인정보를 제3자에게 이미 제공한 경우에는 정정 처리결과를 제3자에게 지체없이 통지하여 정정이 이루어지도록 하겠습니다.<br />
					기관은 이용자 혹은 법정 대리인의 요청에 의해 해지 또는 삭제된 개인정보는 “기관이 수집하는 개인정보의 보유 및 이용기간”에 명시된 바에 따라 처리하고 그 외의 용도로 열람 또는 이용할 수 없도록 처리하고 있습니다.
				</p>
				<br /><br />
				<div class="s_tit1">7. 개인정보 자동수집 장치의 설치, 운영 및 그 거부에 관한 사항</div>
				<br />
				<p class="s_con3">
					기관은 회원님의 정보를 수시로 저장하고 찾아내는 ‘쿠키(cookie)’ 를 운용합니다. 쿠키란 브라우저에 존재하는 메모리 영역의 일부로 서버와 통신하는데 있어 지속적인 정보를 저장하는 곳을 지칭합니다. 기관의 서버가 회원님의 브라우저로 쿠키를 보내서 회원님의 컴퓨터 하드디스크에 저장됩니다. 기관은 다음과 같은 목적을 위해 쿠키를 사용합니다.<br />
					- 쿠키 등 사용 목적 - 회원과 비회원t의 접속 빈도나 방문 시간 등을 분석, 이용자의 취향과 관심분야를 파악 및 자취 추적, 각종 이벤트 참여 정도 및 방문 회수 파악 등을 통한 타겟 마케팅 및 개인 맞춤 서비스 제공. 회원님는 쿠키 설치에 대한 선택권을 가지고 있습니다. 따라서, 웹브라우저에서 옵션을 설정함으로써 모든 쿠키를 허용하거나, 쿠키가 저장될 때마다 확인을 거치거나, 아니면 모든 쿠키의 저장을 거부할 수도 있습니다.<br />
					- 쿠키 설정 거부 방법 예: 쿠키 설정을 거부하는 방법으로는 회원님이 사용하시는 웹 브라우저의 옵션을 선택함으로써 모든 쿠키를 허용하거나 쿠키를 저장할 때마다 확인을 하거나, 모든 쿠키의 저장을 거부할 수 있습니다.<br />
					- 설정방법 예(인터넷 익스플로어의 경우) : 웹 브라우저 상단의 도구 -> 인터넷 옵션 -> 개인정보<br />
					단, 회원님께서 쿠키 설치를 거부하였을 경우 서비스 제공에 어려움이 있을 수 있습니다.
				</p>
				<br /><br />
				<div class="s_tit1">8. 개인정보에 관한 민원서비스</div>
				<br />
				<p class="s_con3">
					기관은 고객의 개인정보를 보호하고 개인정보와 관련한 불만을 처리하기 위하여 아래와 같이 관련 부서 및 개인정보관리책임자를 지정하고 있습니다.
				</p>
				<br /><br />
				<div class="s_tit1">9. 개인정보 관리 책임자 및 담당자</div>
				<br />
				<p class="s_con3">
					귀하께서는 기관의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. 기관은 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다.<br />
					&lt; 개인정보 관리 책임자 &gt;<br />
					고객서비스담당 부서 : 후원자 서비스팀<br />
					전화 : 02)740-1000(구 02-3668-3400)<br />
					e-mail : info@compassion.or.kr
				</p>
			</div>

        </div>
        <!--// e: sub contents -->

        <div class="h100"></div>


    </section>

</asp:Content>
