<div class="dropdown">
  <a class="btn" ng-click="toggleSelect()" ng-disabled="disabled" ng-class="{'error': !valid()}" >
    <span class="pull-left">{{header}}</span>
    <!--<span class="caret pull-right"></span>-->
  </a>
  <ul class="dropdown-menu">
    <li>
      <input class="input-block-level" type="text" ng-model="searchText.label" autofocus="autofocus" placeholder="Filter" style="display:none;"/>
    </li>
    <li ng-show="multiple">
        <div style="width:100%; margin:0px auto;text-align:center;">
            <span class="btn-link btn-small mr20" ng-click="checkAll()"><i class="icon-ok"></i> 모두 선택</span>
            <span class="btn-link btn-small" ng-click="uncheckAll()"><i class="icon-remove"></i> 모두 취소</span>
        </div>
    </li>
    <li ng-repeat="i in items | filter:searchText">
      <a ng-click="select(i); focus()">
        <i style="border:1px solid;vertical-align:sub;margin-right:5px;" ng-class="{'icon-ok': i.checked, 'icon-empty': !i.checked}"></i>{{i.label}} &nbsp; {{i.model.id}}</a>
    </li>
  </ul>
</div>