﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="term.aspx.cs" Inherits="participation_visiontrip_form_term" %>

<div style="background: transparent;" class="fn_pop_container" id="tripNotice">
    <div class="pop_type1 w600 fn_pop_content" style="margin-top: 50px; margin-bottom: 50px;">
        <style>
            .txtdeco {
                text-decoration: underline;
                font-weight: bold;
            }
            .pl40
        </style>
        <!-- 일반팝업 width : 800 -->
        <div class="pop_type1 w600">
            <div class="pop_title">
                <span>{{agreementModal.title}} 약관 전문보기</span>
                <button class="pop_close" ng-click="agreementModal.close($event)">
                    <span>
                        <img src="/common/img/btn/close_1.png" alt="팝업닫기" /></span></button>
            </div>

            <div class="pop_content">
                <div class="pop_common">
                    <table class="tbl_type1">
                        <tr>
                            <td ng-show="agreementModal.type1">
                                <div>
                                    <p class="s_con4">어린이보호서약서</p>
                                    <br />
                                    <div><p class="fl fc_blue"><b>제1항.</b></p><p class="pl45 pb5"> 나는 모든 어린이가 존귀하다는 것을 인정하고 존중할 것이며, 인종, 성별, 연령, 종교, 장애 여부, 사회 적 배경 및 문화에 상관없이 예수님의 사랑으로 양육하는 컴패션의 가치를 인지하며 행동할 것입니다.</p> </div>
                                    <div><p class="fl fc_blue"><b>제2항.</b></p><p class="pl45 pb5"> 나는 성경적 원리에 입각하여 어린이들의 존귀함과 가치가 존중될 수 있도록 적극 힘쓸 것이며, 연령 에 맞는 기준에서 그들을 이해할 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제3항.</b></p><p class="pl45 pb5"> 나는 어린이에게 언어적, 감성적, 성적 또는 신체적 수치심을 유발하거나 모욕적일 수 있는 행동을 절 대 하지 않을 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제4항.</b></p><p class="pl45 pb5"> 나는 결코 어린이에게 부적절한 언어나 신체적 가해를 하지 않을 것이며, 어린이와 신체적 또는 성적 관계를 조장하지 않을 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제5항.</b></p><p class="pl45 pb5"> 나는 공개적인 장소에서 이루어지는 어린이 활동에 참여할 것이며, 한 어린이와만 따로 개별적인 시간 을 보내지 않을 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제6항.</b></p><p class="pl45 pb5"> 나는 컴패션 어린이 또는 청소년과‘사적 관계(dating relationship)’를 갖지 않을 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제7항.</b></p><p class="pl45 pb5"> 나는 후원어린이나 가족들, 어린이센터 선생님 및 컴패션 직원에게 개인적인 연락을 위한 정보를 제공 하지 않을 것이며, 또한 그들의 개인적인 정보를 묻거나 기록하지 않을 것입니다. (전화번호, 이메일 주 소, 각종 SNS(페이스북, 트위터, 인스타그램 등)) 그리고 상대방이 개인정보를 요청했을 시에는 기관 의 방침에 따라 즉시 담당 인솔자에게 알려서 보호 조치할 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제8항.</b></p><p class="pl45 pb5"> 나는 후원어린이와 가족들 혹은 현지에 현금(선물금) 제공을 희망할 경우에는 항상 기관의 방침을 따 를 것입니다. 나는 어린이센터 선생님, 컴패션 직원, 후원어린이와 가족들에게 기관의 동의 없이 현금 을 전달하지 않을 것입니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제9항.</b></p><p class="pl45 pb5"> 나는 본 서약 내용을 위반할 경우, 이에 대한 일체의 책임질 것을 약속합니다. </p></div>
                                    <div><p class="fl fc_blue"><b>제10항.</b></p><p class="pl45"> 나는 컴패션이 필요하다고 결정할 경우, 어린이 학대 혐의에 대한 조사가 실시될 것이라는 것을 인지 하고, 만일 본 서약 내용을 위반할 경우, 적용 가능한 현지법에 의한 징계 및 기관의 규범에 따라 조치 된다는 것을 인정합니다.</p></div>
                                    <br />
                                    <p><b>나는 위 컴패션 어린이보호서약서의 내용을 모두 확인하였으며, 모든 행동지침을 성실히 이행할 것을 서약합니다. </b></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.type2">
                                <div>
                                    <p class="s_con4">개인정보의 수집 및 활용</p>
                                    <br />
                                    <p class="mb10">본인은 참가신청서에 기재된 개인 정보를 한국컴패션이 비전트립 서비스 및 부가서비스 제공의 목적으로 수집, 활용하는 것에 동의합니다(한국컴패션 홈페이지 (www.compassion.or.kr) 개인정보 처리방침 참조).</p>
                                    <p>a. 수집하는 개인정보의 항목: 성명, 생년월일, 성별, 주소, 이메일 주소, 연락처, 종교, 직업, 병역 여부 등  </p>
                                    <p>b. 개인정보의 수집 및 이용 목적: 개인식별, 고지사항 전달, 왕복항공권 구매, 비자 발급, 여행자보험 가입 등 </p>
                                    <p>c. 개인정보의 보유 및 이용 기간: 참가 비전트립 종료 이후 1년 보관 후 폐기</p>
                                    <p>d. 개인정보의 위탁: 비전트립 참가자 정보관리를 위한 시스템 개발, 유지보수 목적을 충족하기 위한 범위 내에서 수탁업체가 관리</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.type8">
                                <div>
                                    <p class="s_con4">고유식별정보 수집 및 이용</p>
                                    <br />
                                    <p class="mb10">본인은 여권번호 등의 고유식별정보를 왕복항공권 구매, 비자 발급, 여행자보험 가입을 위한 목적으로 한국컴패션에서 수집, 이용하는 것에 동의합니다.</p>
                                    <p>a. 수집하는 개인정보의 항목: 성명, 국적, 주민등록번호, 성별, 여권번호, 여권만료일 등 </p>
                                    <p>b. 개인정보의 수집 및 이용 목적: 왕복항공권 구매, 비자 발급, 여행자보험 가입 등 </p>
                                    <p>c. 개인정보의 보유 및 이용 기간: 참가 비전트립 종료 후 폐기</p>
                                    <p>d. 개인정보의 위탁: 왕복항공권 구매, 비자 발급, 여행자보험 가입 등의 목적을 충족하기 위한 범위 내에서 수탁 업체가 관리</p>
                                    <p class="mb10">고유식별정보 수집, 이용을 거부할 수 있으며 위 사항에 동의하지 않을 경우, 신청서 제출 직후 컴패션으로 연락을 주셔야 합니다. 왕복항공권 구매, 비자 발급, 여행자보험 가입 등은 개별 진행하셔야 하며 관련하여 발생하는 모든 사항은 한국컴패션에 책임이 없습니다.</p>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td ng-show="agreementModal.type3">
                                <div>
                                    <p class="s_con4">사진 및 영상자료공유</p>
                                    <br />
                                    <p>본인은 나 또는 나의 자녀(참가자가 미성년자일 경우)의 이름, 사진, 음성, 영상, 후기 등 비전트립 관련 자료가 컴패션 후원 활동에 도움이 되는 홍보 및 마케팅 목적의 제작물에 사용되는 것에 동의하며 향후 재동의는 불필요합니다. 비전트립 시 참가자가 촬영한 사진, 영상은 상업적인 목적으로 사용할 수 없습니다. </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.type4">
                                <div>
                                    <p class="s_con4">일정변경 또는 취소</p>
                                    <br />
                                    <p class="mb10">국외여행표준약관 제13조(여행조건의 변경요건 및 요금 등의 정산), 14조(손해배상)에 의거 다음의 경우에 여행이 변경 또는 취소 되는 것에 동의합니다.</p>
                                    <p>a. 여행자의 안전과 보호를 위하여 방문이 부득이하다고 상호 합의한 경우</p>
                                    <p>b. 천재지변, 전란, 정부의 명령, 운송ㆍ숙박기관 등의 파업ㆍ휴업 등으로 여행의 목적을 달성할 수 없는 경우</p>
                                    <p>c. 당사의 고의 또는 과실이 아닌 항공기, 기차, 선박 등 교통기관의 연발착 또는 교통체증 등으로 인한 여행일정 변경의 경우</p>
                                    <p class="mt10"><span class="txtdeco">※ (최소)신청인원 미달 시 트립이 취소될 수 있으며 납부된 비용은 환불됩니다.</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.type5">
                                <div>
                                    <p class="s_con4">환불규정</p>
                                    <br />
                                    <p>참가자의 개인적인 사유로 비전트립 취소 시, 아래와 같은 규정을 적용하는 것에 동의합니다.</p>
                                    <p class="mt10 mb5"><span class="txtdeco">[비전트립 신청 취소 시 환불 규정]</span></p>
                                    <p>신청 마감 후: 신청비 환불 불가</p>
                                    <p>출발 30일 전: 신청비를 제외한 참가비 납부액의 전액 환불 </p>
                                    <p>출발 29~20일 전: 신청비를 제외한 참가비 납부액의 90% 환불 </p>
                                    <p>출발 19~10일 전: 신청비를 제외한 참가비 납부액의 80% 환불 </p>
                                    <p>출발 9~5일 전: 신청비를 제외한 납부액의 60% 환불</p>
                                    <p>출발 4~1일 전: 신청비를 제외한 참가비 납부액의 40% 환불</p>
                                    <p>출발 당일: 전체 트립 비용 환불 불가</p>
                                    <p class="mt10 mb10">*항공 예약 취소 시 계약금을 포함한 취소 수수료가 발생할 경우, 이는 위 금액과 별도로 환불 금액에서 공제됩니다. </p>
                                    <p><span class="txtdeco">※ 비전트립을 취소하실 경우, 반드시 전화로 연락을 주셔야 합니다.</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.type6">
                                <div>
                                    <p class="s_con4">예방접종</p>
                                    <br />
                                    <p>본인은 여행 전 필요한 예방접종 및 예방약 처방과 관련하여 의사와 상의 후 진행할 것이며, 본인 의지에 따른 미접종/처방으로 발생한 질병에 대하여 본인에게 책임이 있습니다.</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.type7">
                                <div>
                                    <p class="s_con4">기타사항</p>
                                    <br />
                                    <p>미성년자 참가 시 한국컴패션 안내에 따라 필요한 모든 서류를 제출할 것이며 현지 입국 시 서류 미비로 인한 불이익 발생 시 본인에게 책임이 있습니다.</p>
                                    <p>본인은 해외여행을 위한 건강상의 문제 및 결격 사유가 없다는 점을 서약합니다. 본인은 비전트립 중 본인에게 발생할 수 있는 천재지변, 테러, 납치, 각종 전염병 및 개인적 질환, 본인의 부주의나 과실로 인한 사고 등 컴패션의 고의 또는 중대한 과실에 의하지 않은 손해에 대하여 컴패션에 책임을 묻지 않겠습니다. 또한 일정 중 발생한 사고에 대한 보상은 가입된 여행자보험 관련 규정에 따를 것에 동의 합니다. </p>
                                    <p class="mt10"><span class="txtdeco">※ 참가자 연령별, 보상 기준에 차이가 있습니다.</span></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.typei1">
                                <div>
                                    <p class="s_con4">어린이보호서약서</p>
                                    <br />
                                    <div><p class="fl fc_blue"><b>제1항.</b></p><p class="pl45 pb5"> 나는 모든 어린이가 존귀하다는 것을 인정하고 존중할 것이며, 인종, 성별, 연령, 종교, 장애 여부, 사회 적 배경 및 문화에 상관없이 예수님의 사랑으로 양육하는 컴패션의 가치를 인지하며 행동할 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제2항.</b></p><p class="pl45 pb5"> 나는 성경적 원리에 입각하여 어린이들의 존귀함과 가치가 존중될 수 있도록 적극 힘쓸 것이며, 연령 에 맞는 기준에서 그들을 이해할 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제3항.</b></p><p class="pl45 pb5"> 나는 어린이에게 언어적, 감성적, 성적 또는 신체적 수치심을 유발하거나 모욕적일 수 있는 행동을 절 대 하지 않을 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제4항.</b></p><p class="pl45 pb5"> 나는 결코 어린이에게 부적절한 언어나 신체적 가해를 하지 않을 것이며, 어린이와 신체적 또는 성적 관계를 조장하지 않을 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제5항.</b></p><p class="pl45 pb5"> 나는 공개적인 장소에서 이루어지는 어린이 활동에 참여할 것이며, 한 어린이와만 따로 개별적인 시간 을 보내지 않을 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제6항.</b></p><p class="pl45 pb5"> 나는 컴패션 어린이 또는 청소년과‘사적 관계(dating relationship)’를 갖지 않을 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제7항.</b></p><p class="pl45 pb5"> 나는 후원어린이나 가족들, 어린이센터 선생님 및 컴패션 직원에게 개인적인 연락을 위한 정보를 제공 하지 않을 것이며, 또한 그들의 개인적인 정보를 묻거나 기록하지 않을 것입니다. (전화번호, 이메일 주 소, 각종 SNS(페이스북, 트위터, 인스타그램 등)) 그리고 상대방이 개인정보를 요청했을 시에는 기관 의 방침에 따라 즉시 담당 인솔자에게 알려서 보호 조치할 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제8항.</b></p><p class="pl45 pb5"> 나는 후원어린이와 가족들 혹은 현지에 현금(선물금) 제공을 희망할 경우에는 항상 기관의 방침을 따를 것입니다. 나는 어린이센터 선생님, 컴패션 직원, 후원어린이와 가족들에게 기관의 동의 없이 현금 을 전달하지 않을 것입니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제9항.</b></p><p class="pl45 pb5"> 나는 본 서약 내용을 위반할 경우, 이에 대한 일체의 책임질 것을 약속합니다. </p> </div>
                                    <div><p class="fl fc_blue"><b>제10항.</b></p><p class="pl45 pb5"> 나는 컴패션이 필요하다고 결정할 경우, 어린이 학대 혐의에 대한 조사가 실시될 것이라는 것을 인지 하고, 만일 본 서약 내용을 위반할 경우, 적용 가능한 현지법에 의한 징계 및 기관의 규범에 따라 조치 된다는 것을 인정합니다. </p> </div>
                                    <br />
                                    <p><b>나는 위 컴패션 어린이보호서약서의 내용을 모두 확인하였으며, 모든 행동지침을 성실히 이행할 것을 서약합니다.</b></p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.typei2">
                                <div>
                                    <p class="s_con4">개인정보의 수집 및 활용</p>
                                    <br />
                                    <p class="mb10">본인은 개인방문 신청서에 기재된 개인 정보를 한국컴패션이 개인방문 서비스 및 부가서비스 제공의 목적으로 수집, 활용하는 것에 동의합니다(한국컴패션 홈페이지 (www.compassion.or.kr) 개인정보 처리방침 참조).</p>
                                    <p>a. 수집하는 개인정보의 항목: 성명, 생년월일, 성별, 이메일 주소, 국내/현지 연락처 및 주소</p>
                                    <p>b. 개인정보의 수집 및 이용 목적: 개인식별, 공지사항 전달 등 </p>
                                    <p>c. 개인정보의 보유 및 이용 기간: 동의일로부터 방문 종료 이후 1년 보관 후 폐기</p>
                                    <p>d. 개인정보의 위탁: 개인방문 참가자 정보관리를 위한 시스템 개발, 유지보수 목적을 충족하기 위한 범위 내에서 수탁업체가 관리</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.typei3">
                                <div>
                                    <p class="s_con4">신청 및 방문 절차</p>
                                    <br />
                                    <p class="mb10">본인은 아래에 명시된 사항들이 한국컴패션(이하 ‘기관’)에서 진행하는 모든 방문일정과 신청 과정에 적용되며, 만일 아래의 사항을 준수하지 않을 경우 한국컴패션이 후원어린이 방문을 취소할 수 있음에 동의합니다.</p>
                                     
                                    <p>a. 후원어린이를 방문하기 최소 8주 전 기관으로 연락해 후원어린이 방문 허가를 받을 것이며, 향후 후원어린이 방문을 희망할 경우에도 기관에서 진행하는 동일한 신청 절차를 따르겠습니다.</p>
                                    <p>b. 기관에서 후원어린이가 거주하고 있는 현지 컴패션 사무실과 연락하여 후원어린이의 방문 여부를 확인 할 수 있도록 여행 일정에 관한 정보를 현지 컴패션에 제공하는 것에 동의합니다</p>
                                    <p>c. 후원어린이가 거주하고 있는 국가를 여행하는 데 필요한 교통, 숙식, 여행자보험을 직접 예약하고, 모든 비용을 부담하겠습니다. 후원어린이 방문 당일을 제외하고, 현지에서 이루어지는 모든 개인 일정에 관하여 기관에 책임을 묻지 않겠습니다.</p>
                                    <p>b. 현지의 불가피한 사정으로 인해 후원어린이 방문이 취소될 수 있다는 것에 동의합니다. </p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.typei4">
                                <div>
                                    <p class="s_con4">일정변경 또는 취소</p>
                                    <br />
                                    <p class="mb10">국외여행표준약관 제13조(여행조건의 변경요건 및 요금 등의 정산), 14조(손해배상)에 의거 다음의 경우에 <span class="txtdeco">여행이</span> 변경 또는 취소 되는 것에 동의합니다.</p>
                                    <p>a. 여행자의 안전과 보호를 위하여 방문이 부득이하다고 상호 합의한 경우</p>
                                    <p>b. 천재지변, 전란, 정부의 명령, 운송ㆍ숙박기관 등의 파업ㆍ휴업 등으로 여행의 목적을 달성할 수 없는 경우</p>
                                    <p>c. 당사의 고의 또는 과실이 아닌 항공기, 기차, 선박 등 교통기관의 연발착 또는 교통체증 등으로 인한 여행일정 변경의 경우</p>
                                    <p class="mt10"><span class="txtdeco">※ 불가피한 사정으로 인하여 후원어린이 개인방문을 취소하게 될 경우에는, 반드시 컴패션으로 전화로 연락을 주셔야 하며 취소로 인한 비용이 발생 시 본인이 부담합니다.</span></p>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.typei5">
                                <div>
                                    <p class="s_con4">예방접종</p>
                                    <br />
                                    <p>본인은 여행 전 필요한 예방접종 및 예방약 처방과 관련하여 의사와 상의 후 진행할 것이며, 본인 의지에 따른 미접종/처방으로 발생한 질병에 대하여 본인에게 책임이 있습니다.</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="agreementModal.typei6">
                                <div>
                                    <p class="s_con4">기타사항</p>
                                    <br />
                                    <p>a. 동반자 참가 시 한국컴패션 안내에 따라 필요한 모든 서류를 제출할 것이며 현지 입국 시 서류 미비로 인한 불이익 발생 시 본인에게 책임이 있습니다</p>
                                    <p>b. 본인은 해외여행을 위한 건강상의 문제 및 결격 사유가 없다는 점을 서약합니다. </p>
                                    <p>c. 컴패션어린이센터, 후원어린이의 주택, 현지인의 주택에서 숙식하지 않겠습니다.</p>
                                    <p>d. 현지 컴패션 직원, 어린이들, 가족들, 현지인들을 만날 때 예의를 갖추고, 현지 문화의 민감성을 고려하여 행동할 것입니다.</p>
                                    <p>e. 여행 기간에 당할 수 있는 모든 상해나 사고에 관하여 기관에 책임을 묻지 않겠습니다. 또한 일정 중 발생한 사고에 대한 보상은 본인이 가입한 여행자보험 관련 규정에 따를 것에 동의 합니다. </p>
                                    <p>f. 후원어린이를 만남으로 인해 발생하는 교통비, 식사비, 통역비 등 모든 비용을 부담할 것이며, 현지 컴패션 또는 컴패션어린이센터에서 관련 경비가 발생할 경우 기관을 통해 모두 상환하겠습니다.</p>

                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="h30"></div>
            </div>
        </div>
        <!--// popup -->

    </div>
</div>
