﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="main-pop.aspx.cs" Inherits="etc_main_pop" %>


<div style="position:absolute;width:80%;left:10%;top:600px;z-index:991">  <!--페이지 임시좌표-->
    
    <div class="wrap-layerpop">
        
        <div class="contents2">
        	<img src="/common/img/temp/temp28.gif" alt="" width="100%" />

            <div class="today"><span class="txt" onClick="">오늘 하루 동안 보지 않기</span></div>
        </div>
        <div class="close"><span class="ic-close" onClick="">레이어 닫기</span></div>
    </div>
    
</div>    
	
