﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="terms.aspx.cs" Inherits="etc_terms" Culture="auto" UICulture="auto" MasterPageFile="~/main.Master" EnableEventValidation="false" %>

<%@ MasterType VirtualPath="~/main.master" %>
<%@ Register Src="/common/breadcrumb.ascx" TagPrefix="uc" TagName="breadcrumb" %>

<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
</asp:Content>
<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
</asp:Content>


<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">

    <div class="wrap-sectionsub">
<!---->
    
   <div class="etc-agree">
    	
		<strong class="txt-caption">제 1 조 (목적)</strong>
		이 약관은 사회복지법인 한국컴패션(이하 "한국컴패션"이라 한다)이 제공하는 온라인 서비스(이하 "서비스"라 한다)를 이용함에 있어 한국컴패션과 이용자의 권리, 의무 및 책임사항, 기타 필요한 사항을 규정함을 목적으로 합니다.
		<br /><br />
		<strong class="txt-caption">제 2 조 (정의)</strong>
		(1) "서비스"란 구현되는 단말기(PC, TV, 휴대형단말기 등의 각종 유무선 장치를 포함)와 상관없이 한국컴패션이 온라인 서비스를 이용자에게 제공하기 위하여 컴퓨터 등 정보통신설비를 이용하여 구축한 제반 서비스를 말합니다.<br />
		(2) "이용자"란 "서비스"에 접속하여 이 약관에 따라 "서비스"가 제공하는 서비스를 받는 회원 및 비회원을 말합니다.<br />
		(3) "회원"이란 "서비스"에 개인정보를 제공하여 회원 등록한 자로서, "서비스"의 정보를 지속적으로 제공 받으며, "서비스"가 제공하는 자료를 계속적으로 이용할 수 있는 자를 말합니다.<br />
		(4) "비회원"이란 "회원"에 가입하지 않고 "사이트"가 제공하는 서비스를 이용하는 자를 말합니다.<br />
		(5) "후원자"란 한국컴패션의 "후원 회원"을 말합니다.<br />
		(6) 위에서 정하는 것 외의 용어의 정의는 관계법령 및 한국컴패션이 정하는 바에 의합니다.
		<br /><br />
		<strong class="txt-caption">제 3 조 (약관의 효력 및 변경)</strong>
		(1) 본 약관은 본 "서비스"의 화면에 게시함으로써 효력이 발생합니다.<br />
		(2) "한국컴패션"은 이 약관의 내용과 상호, 기관소재지, 대표자 성명, 사업자등록번호, 연락처(전화,팩스,전자우편,주소) 등을 이용자가 알 수 있도록 "서비스"의 초기화면에 게시합니다.<br />
		(3) "한국컴패션"은 중요한 사유가 있을 시 전기통신기본법, 전기통신사업법, 전자거래기본법 등 관련법에 위배하지 않는 범위에서 이 약관을 변경할 수 있습니다.<br />
		(4) "한국컴패션"은 약관을 개정할 경우 적용일자 및 개정사유를 명시하여 현행 약관과 함께 홈페이지의 초기화면에 그 적용일자 7일 이전부터 적용일자 전일까지 공지합니다.<br />
		(5) "한국컴패션"이 약관을 개정할 경우에는 그 개정약관은 그 적용일자 이후에는 체결되는 계약에만 적용되고 그 이전에 이미 체결된 계약에 대해서는 개정 전의 약관조항이 그대로 적용됩니다. 단, 이미 계약을 체결한 이용자가 개정약관 조항의 적용을 받기 원하는 뜻을 개정약관의 공지기간 내에 "한국컴패션"에 보내어 "한국컴패션"의 동의를 받은 경우에는 개정약관 조항이 적용됩니다.<br />
		(6) 본 약관에 명시되어 있지 않은 사항은 전기통신기본법, 전기통신사업법, 전자거래기본법등 관계법령에 규정된 바에 따릅니다.
		<br /><br />
		<strong class="txt-caption">제 4 조 (서비스의 제공 및 변경)</strong>
		(1) "서비스"가 제공하는 서비스의 내용은 다음과 같습니다.<br />
		&emsp;1. 후원신청 서비스<br />
		&emsp;2. 자원봉사 참여 서비스<br />
		&emsp;3. 후원자 정보 관리 서비스<br />
		&emsp;4. 문서, 멀티미디어, 자료실 서비스<br />
		&emsp;5. 컴패션 소식, 메일 전송 서비스<br />
		&emsp;6. 개방형 서비스 (블로그, 클럽 등)<br />
		&emsp;7. 쇼핑몰 서비스<br />
		&emsp;8. 기타 "한국컴패션"이 정하거나 개발하거나 제휴하는 일체의 서비스<br />
		(2) "서비스"는 필요한 경우 서비스의 내용을 추가 또는 변경할 수 있습니다. 이 경우 한국컴패션은 추가 또는 변경 내용을 회원에게 통지합니다.
		<br /><br />
		<strong class="txt-caption">제 5 조 (서비스의 이용 및 제한)</strong>
		(1) "서비스" 이용은 한국컴패션의 업무상 또는 기술상 특별한 지장이 없는 한 연중무휴, 1일 24시간을 원칙으로 합니다. 다만, 서비스가 통제할 수 없는 사유로 인한 서비스의 중단(시스템 관리자의 고의, 과실이 없는 디스크 장애, 시스템 다운 등)으로 인하여 사전 통지가 불가능한 경우 예외로 합니다.<br />
		(2) 전항의 서비스 이용시간은 시스템 정기점검 등 한국컴패션이 필요한 경우, 회원에게 사전 통지한 후 제한할 수 있습니다.
		<br /><br />
		<strong class="txt-caption">제 6 조 (서비스의 사용료)</strong>
		(1) "서비스"는 회원으로 등록한 모든 사람들이 무료로 사용할 수 있습니다.<br />
		(2) 한국컴패션이 특정 서비스를 유료화할 경우 유료화의 시기, 정책, 비용에 대하여 유료화 실시 이전에 서비스에 공시하여야 합니다.
		<br /><br />
		<strong class="txt-caption">제 7 조 (회원가입)</strong>
		(1) 이용자는 "서비스"가 정한 양식에 따라 회원정보를 사실대로 기입한 후 이 약관에 동의한다는 의사표시를 하고 회원가입을 신청함으로 이루어집니다.<br />
		(2) "한국컴패션"은 제 1항과 같이 회원으로 가입할 것을 신청한 이용자중 다음 각 호에 해당하는 경우 회원가입을 승낙하지 않을 수 있습니다.<br />
		&emsp;가) 다른 사람의 명의를 사용하여 신청하였을 때<br />
		&emsp;나) 등록 내용이 허위, 기재누락, 오기가 있는 경우<br />
		&emsp;다) 본인의 실명으로 신청하지 않았을 때<br />
		&emsp;라) 사회의 안녕과 질서 혹은 미풍양속을 저해할 목적으로 신청하였을 때<br />
		&emsp;마) 기타 회원으로 등록하는 것이 "서비스"의 기술상 현저히 지장이 있다고 판단되는 경우.<br />
		(3) "회원"은 회원 가입시 등록한 회원정보에 변경이 있을 경우, 즉시 전자우편 등 기타 방법으로 "한국컴패션"에 알려야 합니다.
		<br /><br />
		<strong class="txt-caption">제 8 조 (서비스 탈퇴 및 이용 제한)</strong>
		(1) 회원이 "서비스"의 탈퇴를 원하면 회원 본인이 직접 "사이트"또는 전자메일을 통해 "한국컴패션"에 해지 신청을 요청할 수 있습니다.<br />
		(2) 탈퇴 신청시 본인임을 알 수 있는 이름, 주민등록번호, ID, 전화번호, 해지사유를 알려주면, 가입기록과 일치여부를 확인한 후 가입을 해지합니다.<br />
		(3) 탈퇴 여부는 기존의 ID와 비밀번호로 로그인이 되지 않는 것으로 확인 가능합니다.<br />
		(4) "서비스"는 회원이 다음 사항에 해당하는 행위를 했을 경우, 사전 통지 없이 이용 계약을 해지하거나 기간을 정하여 서비스 이용을 중지할 수 있습니다.<br />
		&emsp;가) 가입 신청시에 허위 내용을 등록한 경우<br />
		&emsp;나) 공공 질서 및 미풍 양속에 반하는 경우<br />
		&emsp;다) 범죄적 행위에 관련되는 경우<br />
		&emsp;라) 국익 또는 사회적 공익을 저해할 목적으로 서비스 이용을 계획 또는 실행할 경우<br />
		&emsp;마) 타인의 ID 및 비밀번호를 도용한 경우<br />
		&emsp;바) 타인의 명예를 손상시키거나 불이익을 주는 경우<br />
		&emsp;사) 같은 사용자가 다른 ID로 이중 등록을 한 경우<br />
		&emsp;아) 서비스에 위해를 가하는 등 건전한 이용을 저해하는 경우<br />
		&emsp;자) 기타 관련 법령이나 "한국컴패션"이 정한 이용조건에 위배되는 경우<br />
		&emsp;차) "서비스"에서 얻은 정보를 "한국컴패션"의 사전 승낙 없이 회원이 얻은 정보의 참고 외에 복제 또는 출판 및 방송 등에 사용하거나 제 3자에게 제공하는 경우
		<br /><br />
		<strong class="txt-caption">제 9 조 (후원신청)</strong>
		후원신청을 하려는 자는 후원 프로그램이 요구하는 사항에 따라 다음의 정보를 입력하여야 합니다.<br />
		(1) 성명, 주소, 전화번호 등 후원자 정보 입력 (일시후원 프로그램 및 나눔펀딩의 경우 회원 후원/비회원 후원/무기명 후원 선택 가능)<br />
		(2) 후원종류의 선택<br />
		(3) 후원세부정보 입력<br />
		(4) 결제방법의 선택(세부결제방법 입력)
		<br /><br />
		<strong class="txt-caption">제 10 조 (후원신청의 성립)</strong>
		(1)"한국컴패션"은 제 9 조와 같은 후원신청에 대하여 다음 각 호에 해당하지 않는 한 승낙합니다.<br />
		&emsp;가) 신청 내용에 허위, 기재누락, 오기가 있는 경우<br />
		&emsp;나) 미성년자가 부모의 동의 없이 불안정한 상황에서 신청한 경우<br />
		&emsp;다) 기타 후원신청에 승낙하는 것이 "한국컴패션"에 현저히 지장이 있다고 판단하는 경우<br />
		(2) "한국컴패션"이 신청확인 메시지를 이용자에게 전송함으로 후원신청이 성립한 것으로 합니다.
		<br /><br />
		<strong class="txt-caption">제 11 조 (후원금 납부방법)</strong>
		"서비스"에서 신청하는 후원은 다음 각 호의 하나로 후원금을 납부할 수 있습니다.<br />
		&emsp;가.신용카드 결제<br />
		&emsp;나.계좌이체 결제<br />
		&emsp;다.휴대폰 결제 (일시후원 프로그램 및 나눔펀딩에 한함)<br />
		&emsp;라.온라인 결제 (카카오 페이, 페이코 등이며 일시후원 프로그램 및 나눔펀딩에 한함)
		<br /><br />
		<strong class="txt-caption">제 12 조 (후원금의 사용)</strong>
		(1) 후원금은 컴패션을 통해 경제적으로 어려움을 겪고 있는 컴패션 수혜국에 지급됩니다.<br />
		(2) 후원금 사용내역은 매년 회계법인의 감사를 받습니다.<br />
		(3) 후원금 내역은 연 1회 후원자들에게 사업보고서(Annual Report)를 우편으로 발송하며 "사이트"에 투명하게 공고합니다.
		<br /><br />
		<strong class="txt-caption">제 13 조 ("서비스"의 의무)</strong>
		(1) "서비스"는 특별한 사정이 없는 한 회원이 서비스를 이용할 수 있도록 합니다.<br />
		(2) "서비스"는 이 약관에서 정한 바에 따라 계속적, 안정적으로 제공할 의무가 있습니다.<br />
		(3) "서비스"는 회원으로부터 소정의 절차에 의해 제기되는 의견에 대해서 적절한 절차를 거쳐 처리하며, 처리시 일정기간이 소요될 경우 회원에게 그 사유와 처리 일정을 알려주어야 합니다.<br />
		(4) "서비스"는 개인의 신분 확인이 가능한 정보를 회원 혹은 사용자의 사전허락 없이 한국컴패션과 관계가 없는 제3자에게 팔거나 제공하지 않습니다.<br />
		(5) "서비스"는 자발적으로 제공된 이용자 정보를 다음과 같은 경우에 활용할 수 있습니다.<br />
		&emsp;가) 회원들에게 유용한 새 기능, 정보, 서비스 개발에 필요한 정보를 개발자들에게 제공하는 경우<br />
		(6) 게시판, 사진첩 등의 커뮤니티 페이지에 개인 신분 확인이 가능한 정보(사용자 이름, ID, e-mail 주소 등)가 회원의 동의 하에 공개될 수 있습니다. 공개된 정보는 제3자에 의해 수집되고 연관되어 사용될 수 있으며 한국컴패션은 회원이 자발적으로 공개한 정보의 이용에 관한 책임을 지지 않습니다.
		<br /><br />
		<strong class="txt-caption">제 14 조 (회원 정보 보안의 의무)</strong>
		(1) 회원의 ID와 비밀번호에 관한 관리의 책임은 회원에게 있습니다.<br />
		(2) 회원은 자신의 ID와 비밀번호를 제 3자에게 이용하게 해서는 안됩니다.<br />
		(3) 자신의 ID가 부정하게 사용되거나, 제 3자가 사용하고 있음을 인지한 경우 바로 "한국컴패션"에 통보하고 "한국컴패션"의 안내에 따라야 합니다.
		<br /><br />
		<strong class="txt-caption">제 15 조 (이용자의 게시물)</strong>
		이용자는 "사이트" 내의 각종 게시판에 글을 올리기 위하여 반드시 "사이트"에 접속함으로써 본인임을 밝히는 게시판 실명제를 준수하여야 하며, "사이트"는 이용자가 게시판 내용물에 대해서 다음 각 호에 해당하는 경우 사전 통보 없이 삭제할 수 있습니다.<br />
		(1) "사이트"가 작성한 저작물에 대한 저작권, 기타 지적재산권은 "사이트"에 귀속됩니다.<br />
		(2) “이용자”가 "사이트" 내에 게시한 게시물의 저작권은 해당 게시물의 “저작자”에게 귀속됩니다.<br />
		(3) "이용자"가 "사이트" 내에 게시하는 게시물은 검색결과 내지 "서비스" 및 관련 프로모션 등에 노출될 수 있으며, 해당 노출을 위해 필요한 범위 내에서는 일부 수정, 복제, 편집되어 게시될 수 있습니다.<br />
		(4) "회사"가 “이용자"의 “게시물”을 이용하고자 하는 경우에는 전화, 팩스, 전자우편 등을 통해 사전에 "이용자"의 동의를 얻어야 합니다.
		<br /><br />
		<strong class="txt-caption">제 16 조 (저작권의 귀속 및 이용 제한)</strong>
		(1) “이용자”는 "사이트"를 이용함으로써 얻은 정보를 "회사"의 사전 승낙 없이 복제, 송신, 출판, 배포, 방송 등 기타 방법에 의하여 영리 및 비영리 목적으로 이용하거나 제3자에게 이용하게 하여서는 안됩니다.<br />
		(2) 게시물(이용자가 "사이트"에 공개한 글, 영상, 소리 등)에 대한 권리와 책임은 “이용자”에게 있습니다. "회사"는 이용자의 동의 없이 게시물을 영리적 목적으로 사용하지 않습니다.<br />
		(3) “이용자”는 "사이트" 내의 각종 게시판에 글을 올리기 위하여 반드시 "사이트"에 접속함으로써 본인임을 밝히는 게시판 실명제를 준수하여야 하며, "사이트"는 이용자가 게시판 내용물에 대해서 다음 각 호에 해당하는 경우 사전 통보 없이 삭제할 수 있습니다.<br />
		&emsp;가) 타인에 대한 인신공격성 발언, 저속한 표현 등을 사용한 경우<br />
		&emsp;나) 음란한 자료 혹은 음란사이트 관련 링크를 올리는 경우<br />
		&emsp;다) "사이트"를 포함한 타인의 저작권을 침해한 게시물의 경우<br />
		&emsp;라) 미풍양속을 저해하거나 관계법령에 위반되는 경우<br />
		&emsp;마) 영리 목적의 글 또는 금전에 관련된 게시물 또는 관련 링크를 올리는 경우
		<br /><br />
		<strong class="txt-caption">제 17 조 (면책조항)</strong>
		(1) "서비스"는 천재지변 또는 이에 준하는 불가항력으로 인하여 "서비스"를 제공할 수 없는 경우 "서비스"를 제공하지 않습니다.<br />
		(2) "서비스"는 회원의 귀책사유로 인한 "서비스" 이용의 장애에 대하여 책임을 지지 않습니다.<br />
		(3) "서비스"는 회원 본인이 정보를 오류로 기재하여 문제가 발생한 사항에 대하여 책임을 지지 않습니다.<br />
		(4) "서비스"는 이용회원이 "서비스" 제공으로부터 기대되는 이익을 얻지 못하였거나 "서비스" 자료에 대한 선택적 이용으로 발생하는 손해 등에 대해서는 책임이 면제됩니다.
		<br /><br />
		<strong class="txt-caption">제 18 조 (분쟁조정)</strong>
		(1) 본 이용약관에 규정된 것을 제외하고 발생하는 "서비스" 이용에 관한 제반 문제에 관한 분쟁은 최대한 쌍방합의에 의해 해결하도록 합니다.<br />
		(2) "서비스" 이용으로 발생한 분쟁에 대해 소송이 제기될 경우 한국컴패션의 소재지를 관할하는 법원을 관할법원으로 합니다.
		<br /><br />
		<strong class="txt-caption">[부칙]</strong>
		(1) 이 약관은 2016년 11월 14일부터 시행합니다.<br />
		(2) 이전의 이용약관은 아래에서 확인하실 수 있습니다.<br />
		<br />
		<a href="/etc/terms_100612">- 2010.06.12 적용 (클릭)</a>
		<br /><br />
        
    </div>
    
<!--//-->
</div>

  </asp:Content>
