﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GetCheckID.aspx.cs" Inherits="common_AsyncRequest_GetCheckID" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="UTF-8">
	<title>한국컴패션 - 꿈을 잃은 어린이들에게 그리스도의 사랑을</title> 
		
    <script type="text/javascript" src="/common/js/jquery-1.6.2.min.js"></script>
    <script type="text/javascript">
    <!--
        function setData(val) {
            top.document.getElementById("hdInputUserIDChk").value = val;

            top.textChang(val);
        }
    //-->
    </script>
</head>

<body>
<form id="form1" runat="server">
<div>
</div>

</form>
</body>
</html>
