﻿TD { COLOR: #746F6A; FONT-FAMILY:"굴림"; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none }
BODY { COLOR: #F00000; FONT-FAMILY:"굴림"; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A:link { COLOR: #333333; FONT-FAMILY:"굴림"; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none}
A:visited { COLOR: #555555; FONT-FAMILY:"굴림"; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A:active { COLOR: #69297E; FONT-FAMILY:"굴림"; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: none }
A:hover { COLOR: #5377A8; FONT-FAMILY:"굴림"; FONT-SIZE: 9pt; FONT-STYLE: normal; LINE-HEIGHT: normal; TEXT-DECORATION: underline }
body {line-height: 12pt ; font-size: 9pt ; font-family:"굴림";
      scrollbar-face-color: white;scrollbar-shadow-color: gray;scrollbar-highlight-color: gray;
      scrollbar-3dlight-color: white;scrollbar-darkshadow-color: white;
      scrollbar-track-color: #F0F0F0;scrollbar-arrow-color:gray}
select {BACKGROUND-COLOR: white; BORDER-BOTTOM: #A5A4A4 1px solid; BORDER-LEFT: #A5A4A4  1px solid; BORDER-RIGHT: #A5A4A4  1px solid; BORDER-TOP: #A5A4A4 1px solid; FONT-FAMILY: gulim; FONT-SIZE: 9pt; HEIGHT: 10px}
table {line-height: 12pt ; font-size: 9pt ; font-family:"굴림"}
td {line-height: 12pt ; font-size: 9pt ; font-family:"굴림"}
tr {line-height: 12pt ; font-size: 9pt ; font-family:"굴림"}
.text {BACKGROUND-COLOR: white; BORDER-BOTTOM: #D2D2D2 1px solid; BORDER-LEFT: #D2D2D2 1px solid; BORDER-RIGHT: #D2D2D2 1px solid; BORDER-TOP: #D2D2D2 1px solid; FONT-FAMILY: gulim; FONT-SIZE: 9pt; HEIGHT: 19px}
.multi  {BACKGROUND-COLOR: white; BORDER-BOTTOM: #D2D2D2 1px solid; BORDER-LEFT: #D2D2D2  1px solid; BORDER-RIGHT: #D2D2D2  1px solid; BORDER-TOP: #D2D2D2 1px solid; FONT-FAMILY: gulim; FONT-SIZE: 9pt;}