A:link, A:active, A:visited {
font-size: 9pt;
color: #666666;
line-height:150%;
text-decoration: none;
}
A:hover {
font-size: 9pt;
color: #666666;
line-height:150%;
text-decoration: none;
}
TD {
font-size: 9pt;
color: #666666;
line-height:150%;
text-decoration: none;
}

.form
{
    BORDER-BOTTOM: #7E4D14 1px solid;
    BORDER-LEFT: #7E4D14 1px solid;
    BORDER-RIGHT: #7E4D14 1px solid;
    BORDER-TOP: #7E4D14 1px solid;
    Background-color: #F6F0ED;
    COLOR: #7E4D14}
.form2
{
    BORDER-BOTTOM: #CDD7D5 1px solid;
    BORDER-LEFT: #CDD7D5 1px solid;
    BORDER-RIGHT: #CDD7D5 1px solid;
    BORDER-TOP: #CDD7D5 1px solid;
    Background-color: #F7F6F4;
    COLOR: glay}

.form3
{
    BORDER-BOTTOM: white 1px solid;
    BORDER-LEFT: white 1px solid;
    BORDER-RIGHT: white 1px solid;
    BORDER-TOP: white 1px solid;
    Background-color: white;
    COLOR: glay}
