﻿							
<!-- 부르키나파소 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">부르키나 파소는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    정기적으로 균형 잡힌 식사와 간식을 제공합니다. 간식은 달걀, 샌드위치, 차, 과일 및 크래커, 과일 샐러드, 오트밀 또는 빵을 제공하며 점심식사로는 야채 수프, 렌틸 버거, 샐러드, 밥, 과일 주스와 디저트를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	교외활동으로 박물관, 국립 공원 등으로 소풍이나 캠프를 가기도 하고 전인적 발달을 위해 나무를 심거나 어린이센터 주변 청소 등의 지역봉사활동에 참여합니다. <br /><br />

	<strong class="txt-childinfo3">직업훈련</strong>
	청소년들은 자동차정비, 이발 기술, 바느질, 비누 제작, 정원 가꾸기 및 가축 사육 등의 기술 훈련을 받기도 합니다. <br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	일 년에 2~3회 보호자를 대상으로 청결 유지, 말라리아 방지, 영양섭취 및 경제적 자립을 위한 활동 등의 교육을 실시하며 구충제, 말라리아 예방을 위한 모기장 등을 제공합니다.
</div>