﻿							
<!-- 콜롬비아 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">콜롬비아는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    어린이들에게 영양식을 제공합니다. 식사는 밥, 콩, 주스로 구성되고 간식은 비스킷과 주스를 먹습니다.학교에서 급식을 먹지 못하는 어린이들의 경우 어린이센터에서 매일 점심을 먹습니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	후 1년 이내에 성경책을 지급합니다. 또한 정기적으로 성경 모임을 합니다.<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	체육, 음악 활동을 하며 매년 수련회를 진행합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	컴퓨터 수리, 미용, 제단, 쿠킹, 제화 교육 등을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	예방 접종을 정기적으로 실시합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	격월로 학부모 모임을 진행하여 자녀양육, 어린이보호에 대한 교육을 진행합니다.
</div>