﻿							
<!-- 에콰도르 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">에콰도르는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    식사는 탄수화물과 야채가 풍부하게 들어간 수프와 고기 등이 제공됩니다. 또한 귀가 시 간식을 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	연령에 따라 성경에 대한 이해, 기도훈련, 예배, 성경공부 등 다양한 신앙 교육을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	지역에 따라 방과 후 교실 개념의 수업을 시행하며 축구, 미술, 음악 교실, 캠프 등을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	매우 다양한 직업훈련 프로그램을 운영합니다. 또한, 연령에 맞춘 눈높이 직업훈련을 통해 어린이들의 자립을 돕습니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	예방 접종을 정기적으로 실시합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	월별 학부모 모임을 통해 어린이들이 어린이센터에 집중할 수 있도록 요청합니다. 또한 성경공부를 통해 부모님들의 영적 성장을 돕습니다.
</div>