﻿							
<!-- 니카라과 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">니카라과는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	연령에 맞는 성경을 제공하며, 성경공부를 진행합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
	어린이센터에서는 밥과 고기, 토틸라와 과일 샐러드로 구성된 식사를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	어린이가 센터에 등록될 때 예방접종기록 확인 후 미 접종 시 공공기관에서 받을 수 있도록 돕습니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	재봉기술, 수공예, 컴퓨터, 제과제빵, 미용학교 등의 직업훈련을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	정기적인 학부모 모임을 통해 자녀양육 훈련을 진행합니다.
</div>