﻿							
<!-- 필리핀 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">필리핀은 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">성경 지급</strong>
	성경을 통해 개인적인 신앙활동을 할 수 있도록 장려하고, 가정에서 부모님과 말씀을 나눌 수 있도록 돕습니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    균형 잡힌 점심 식사와 함께 간식을 먹습니다. 식사는 주로 생선, 고기, 야채와 함께 밥이 제공됩니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	기본적인 예방접종은 정부에서 무상제공되며, 어린이센터 근처에 있는 의료센터에서 그 외의 추가 예방접종을 받습니다.<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	신앙캠프, 체육활동, 야외활동 및 학예회를 합니다. 고학년이 되면, 한 달에 두 번씩 특별활동에 참여합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	연령에 맞춘 눈높이 직업훈련 프로그램 운영<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	성경공부, 자녀에게 편지쓰기 등을 활동을 하며 어린이들의 어린이센터 활동을 지원할 수 있도록 독려합니다.
</div>