﻿							
<!-- 르완다 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">르완다는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    아침으로 죽, 점심으로는 쌀과 포쇼(옥수수 가루로 만든 동아프리카 전통 음식), 감자, 야채 및 콩 등을 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	필요에 따라 예방접종 및 건강검진, 의료 혜택을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">교외 활동</strong>
	건강한 신체를 위해 체육 시간이 있고 한 달에 두 번 르완다 전통 춤을 배우는 시간이 있습니다.<br /><br />

	<strong class="txt-childinfo3">청소년 프로그램</strong>
	급격한 신체 변화, 감정 변화에 적응할 수 있도록 교육을 실시합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	스스로 수입을 창출할 수 있도록 뜨개질, 양장 기술, 바구니 만들기, 목공예, 건축 기술, 철 공예 등의 직업 교육을 실시합니다. 몇몇 청소년들은 어린이센터의 모든 과정을 수료 후 협력교회의 직원으로 고용됩니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	매주 기도회가 있으며 부모님들은 매달 매우 어려운 가정의  집을 고쳐 주는 등의 지역사회를 위한 활동에 참여합니다.
</div>