﻿							
<!-- 토고 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">토고는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    점심식사로 생선이나 고기를 동반한 밥 또는 파스타가 제공됩니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	학업에 열심히 임할 수 있도록 학습 돌봄이 시스템을 운영하고 있습니다. 학습 돌봄이 시스템의 혜택을 받은 어린이들은 85% 이상의 높은 성취율을 이루었습니다. 또한 질병 예방을 위해 위생 교육을 실시하고 깨끗한 식수 공급을 위해 집에서 사용 가능한 정수기를 제공합니다.<br /><br />

	<strong class="txt-childinfo3">청소년 프로그램</strong>
	급격한 신체 변화, 감정 변화에 적응할 수 있도록 교육을 실시합니다.<br /><br />

	<strong class="txt-childinfo3">직업교육</strong>
	스스로 수입을 창출할 수 있도록 자수, 양장 기술, 정원 가꾸기, 가축 돌보기 등의 직업 교육을 실시합니다.<br /><br />

	<strong class="txt-childinfo3">교외 활동</strong>
	체육, 악기 연주, 춤, 성가대, 미술 활동 등을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	양육보완기금으로 학부모들에게 수입 창출을 위한 교육을 제공합니다. 또한 음식 준비를 도와주시며 어린이센터의 기초 기반 작업에 동참하십니다.
</div>