﻿							
<!-- 탄자니아 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">탄자니아는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	{{modalChild.item.name}}이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
    아침으로는 죽, 홍차 또는 밀크티, 계란, 빵 등을 먹고 점심에는 쌀, 소고기, 콩, 과일, 우갈리 등을 먹습니다. 특별히 단백질은 어린이들이 집에서 섭취할 수 없는 영양소이기 때문에 매 끼니 제공됩니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">교외 활동</strong>
	건강한 신체를 위해 체육 시간이 있고 체육, 게임, 캠핑, 지역 사회 내 나무 심기 및 위생 관리를 위한 활동 등을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">청소년 프로그램</strong>
	급격한 신체 변화, 감정 변화에 적응할 수 있도록 교육을 실시합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	스스로 수입을 창출할 수 있도록 자수, 양장 기술, 정원 가꾸기, 가축 돌보기 등의 직업 교육을 실시합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	음식 준비를 도와주며 어린이센터의 기초 기반 작업에 동참합니다.
</div>