﻿
multiselect {
    display: block;
}

    multiselect .btn {
        width: 100%;
        /*background-color: #fdfdfd;*/
        background: #fdfdfd url('/common/img/bu/sel_bg1.png') no-repeat right center;
    }

    multiselect .open .btn {
        width: 100%;
        /*background-color: #fdfdfd;*/
        background: #fdfdfd url('/common/img/bu/sel_bg1_on.png') no-repeat right center;
    }

    multiselect .btn.error {
        border: 1px solid #da4f49 !important;
    }

    multiselect .dropdown-menu {
        max-height: 300px;
        overflow-y: auto;
    }

    multiselect .dropdown-menu {
        width: 100%;
        box-sizing: border-box;
        padding: 2px;
    }

        multiselect .dropdown-menu > li > a {
            padding: 3px 10px;
            cursor: pointer;
        }





/*bootstrap 추가*/
.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: transparent;
    background-image: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.btn-link {
    border-color: transparent;
    cursor: pointer;
    color: #0088cc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

    .btn-link:hover, .btn-link:focus {
        color: #005580;
        text-decoration: underline;
        background-color: transparent;
    }

    .btn-link[disabled]:hover, .btn-link[disabled]:focus {
        color: #333333;
        text-decoration: none;
    }

[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 14px;
    height: 14px;
    *margin-right: .3em;
    line-height: 14px;
    vertical-align: text-top;
    background-image: url("/participation/visiontrip/form/template/glyphicons-halflings.png");
    background-position: 14px 14px;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.icon-ok {
    background-position: -288px 0;
}

.icon-remove {
    background-position: -312px 0;
    /*background-position: -288px 0;
    background-image: url("/participation/visiontrip/form/template/glyphicons-halflings-white.png") !important;*/
} 

.btn {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    color: #767676;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #fdfdfd;
    *background-color: #fdfdfd;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    /*
     background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
     background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
     background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
     background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
     background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
     background-repeat:repeat-x;
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
     border-color:#e6e6e6 #e6e6e6 #bfbfbf;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
     *background-color:#e6e6e6;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);*/
    border: 1px solid #cccccc;
    *border: 0;
    /*border-bottom-color: #b3b3b3;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}

    .btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
        color: #333333;
        /*background-color: #e6e6e6;
                *background-color: #d9d9d9;*/
    }
    /*.btn:active,.btn.active{background-color:#cccccc \9;}*/
    .btn:first-child {
        *margin-left: 0;
    }
    /*.btn:hover,.btn:focus{color:#333333;text-decoration:none;background-position:0 -15px;-webkit-transition:background-position 0.1s linear;-moz-transition:background-position 0.1s linear;-o-transition:background-position 0.1s linear;transition:background-position 0.1s linear;}*/
    /*.btn:focus{outline:thin dotted #333;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
.btn.active,.btn:active{background-image:none;outline:0;-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);box-shadow:inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);}*/
    .btn.disabled, .btn[disabled] {
        cursor: default;
        background-image: none;
        opacity: 0.65;
        filter: alpha(opacity=65);
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .btn .caret {
        margin-top: 8px;
        margin-left: 0;
    }

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

.open {
    *z-index: 1000;
}

    .open > .dropdown-menu {
        display: block;
    }

.dropdown {
    position: relative;
}

    .dropdown .caret {
        margin-top: 8px;
        margin-left: 2px;
    }

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

    .dropdown-menu.pull-right {
        right: 0;
        left: auto;
    }

    .dropdown-menu .divider {
        *width: 100%;
        height: 1px;
        margin: 9px 1px;
        *margin: -5px 0 5px;
        overflow: hidden;
        background-color: #fdfdfd;
        border-bottom: 1px solid #ffffff;
    }

    .dropdown-menu > li > a {
        display: block;
        padding: 3px 20px;
        clear: both;
        font-weight: normal;
        line-height: 20px;
        color: #333333;
        white-space: nowrap;
    }

        .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
            color: #767676;
            background: #fdfdfd;
            text-decoration: underline;
        }
    /*{text-decoration:none;
    color:#ffffff;background-color:#0081c2;background-image:-moz-linear-gradient(top, #0088cc, #0077b3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);background-image:-o-linear-gradient(top, #0088cc, #0077b3);background-image:linear-gradient(to bottom, #0088cc, #0077b3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);}*/
    .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
        color: #767676;
        background: #fdfdfd;
        text-decoration: underline;
    }
    /*{color:#ffffff;text-decoration:none;outline:0;background-color:#0081c2;background-image:-moz-linear-gradient(top, #0088cc, #0077b3);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));background-image:-webkit-linear-gradient(top, #0088cc, #0077b3);background-image:-o-linear-gradient(top, #0088cc, #0077b3);background-image:linear-gradient(to bottom, #0088cc, #0077b3);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0);}*/
    .dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
        color: #999999;
    }

        .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
            text-decoration: none;
            background-color: transparent;
            background-image: none;
            filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
            cursor: default;
        }

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}


/*.sel_type2 .sbOptions a:hover{color:#767676;background:#fff;text-decoration:underline;}
.sel_type2 .sbOptions a.selected {color:#767676;font-weight:normal;background:#fff;} */
/* 선택된 옵션 표시 */

.subContents.member .input_div .box {
    width: 500px;
    text-align: center;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    padding: 20px 20px 0px;
}

    .subContents.member .input_div .box p {
        text-align: center;
        line-height: 22px;
        margin-bottom: 20px;
    }


.tbl_agreement {
    width: 100%;
}

    .tbl_agreement tr td {
        height: 44px;
        vertical-align: middle;
    }

    .tbl_agreement .confirm {
        font-size: 15px;
        color: #333;
        text-align: left;
    }

.agree_check {
    color: red;
}
