﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pp_ax_hub.aspx.cs" Inherits="_test_pay_batch_test_pp_ax_hub" %>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
	<title>*** KCP Online Payment System [ASP.NET Version] ***</title>

    <script type="text/javascript">
            function goResult()
            {
             //   document.pay_info.submit();
            }

            // 결제 중 새로고침 방지 샘플 스크립트
            function noRefresh()
            {
                /* CTRL + N키 막음. */
                if ((event.keyCode == 78) && (event.ctrlKey == true))
                {
                    event.keyCode = 0;
                    return false;
                }
                /* F5 번키 막음. */
                if(event.keyCode == 116)
                {
                    event.keyCode = 0;
                    return false;
                }
            }
            document.onkeydown = noRefresh ;

    </script>
</head>
<body onload="goResult();">
    <form name="pay_info" method="post" action="./result">
        

    </form>
</body>
</html>

