﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="subtemplate.aspx.cs" Inherits="_subtemplate" MasterPageFile="~/main.Master"%>
<%@ MasterType virtualpath="~/main.master" %>


<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
</asp:Content>

<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
</asp:Content>

<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">

</asp:Content>

