﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="sponsortest" MasterPageFile="~/main.Master"%>
<%@ MasterType virtualpath="~/main.master" %>
<%@ Register Src="/common/breadcrumb.ascx" TagPrefix="uc" TagName="breadcrumb" %>


<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
	
</asp:Content>

<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
	
	<script type="text/javascript">
		$(function () {

		});

	</script>
</asp:Content>

<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">

	<uc:breadcrumb runat="server"/>

	<h3>1. 일시</h3>
	<h4>CIV
	<asp:DropDownList runat="server" ID="civ_campaignId"></asp:DropDownList>
	<asp:LinkButton runat="server" ID="btn_submit" OnClick="btn_submit_Click">후원하기</asp:LinkButton>
		</h4>

	<h4>CSP 첫아이
	<a href="/sponsor/CSP/first-birthday">후원하기</a>
		</h4>
	<h4>CSP 결혼
	<a href="/sponsor/CSP/wedding">후원하기</a>
		</h4>
	<h3>2. 정기</h3>
	<h4>CDSP
	<asp:TextBox runat="server" ID="cdsp_child" placeholder="childmasterid"></asp:TextBox>
	<asp:LinkButton runat="server" ID="btn_cdsp" OnClick="btn_cdsp_Click">정기 후원하기</asp:LinkButton>
		</h4>
	<h4>CIV
	<asp:DropDownList runat="server" ID="civ_campaignId2"></asp:DropDownList>
	<asp:TextBox runat="server" ID="civ_amount" placeholder="civ_amount" Text="10000"></asp:TextBox>
	<asp:LinkButton runat="server" ID="LinkButton1" OnClick="LinkButton1_Click">후원하기</asp:LinkButton>
	</h4>
	<h4>CDSP 결혼
	<a href="/sponsor/CDSP/wedding">후원하기</a>
</h4>
</asp:Content>
