﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="player.aspx.cs" Inherits="participation_experience_player"  %>

<div style="background:transparent;width:800px;height:450px;">

    
	<!-- 일반팝업 width : 800 -->
	<div class="pop_type1 w800">
		<div class="pop_title">
			<span>체험전 홍보 영상</span>
			<button class="pop_close" ng-click="modal.close($event)"><span><img src="/common/img/btn/close_1.png" alt="팝업닫기" /></span></button>
		</div>

		<div class="pop_content movie">
			<iframe runat="server" id="youtube_frame" width="800" height="450" title="영상" src="https://www.youtube.com/embed/QvTsPKs3n7E?rel=0&showinfo=0&wmode=transparent" wmode="Opaque" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<!--// popup -->


</div>