<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pcc_V3_popup_seed.aspx.cs" Inherits="pcc_V3_popup_seed" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
<script language="JavaScript">
	function end() {
	window.opener.location.href = 'http://.../pcc_V3_result_seed.aspx' + '<%=param%>';	
	self.close();
	}
</script>
</head>
<body onload="javascript:end()">
</body>
</html>