﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="menu.aspx.cs" Inherits="common_js_site_menu" %>
<%@OutputCache Duration="36000" VaryByParam="mode" %>
<!-- Duration : second  , 3600 = 1h-->
var _menu = <asp:Literal runat="server" id="data"></asp:Literal>
