﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="mail.aspx.cs" Inherits="_test_mail" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<input type="text" id="email" runat="server" placeholder="이메일주소" />
		<asp:LinkButton runat="server" ID="btn_send" OnClick="btn_send_Click">전송</asp:LinkButton>
    </div>
    </form>
</body>
</html>
