﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pbciv.aspx.cs" Inherits="_test_pbciv" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>

		<asp:DropDownList runat="server" ID="pbcivList"></asp:DropDownList>

    </div>
    </form>
</body>
</html>
