﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="roamer.aspx.cs" Inherits="_test_roamer" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<input type="text" id="txt" runat="server" style="width:1000px" />

		<br />

		<asp:textbox runat="server" ID="msg" Width="1000"></asp:textbox>
		<br />

		<asp:LinkButton runat="server" ID="btn_go" OnClick="btn_go_Click">변환</asp:LinkButton>
		
    </div>
    </form>
</body>
</html>
