﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ssw.aspx.cs" Inherits="_test_ssw" Culture="auto" UICulture="auto" MasterPageFile="~/main.Master" EnableEventValidation="false" %>

<%@ MasterType VirtualPath="~/main.master" %>


<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
</asp:Content>
<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">


</asp:Content>

<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">


</asp:Content>
