﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="계좌검증.aspx.cs" Inherits="_test_계좌검증" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<asp:LinkButton runat="server" ID="btn_submit" OnClick="btn_submit_Click">전송</asp:LinkButton>
    </div>
    </form>
</body>
</html>
