﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="푸시피아.aspx.cs" Inherits="_test_푸시피아" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<input type="text" id="bizId" runat="server" placeholder="bizId" value="359a0c69fa364ac49b2e6d802dfec4c3" />
		<input type="text" id="title" runat="server" placeholder="title" value="테스트리얼타임" />
		<input type="text" id="message" runat="server" placeholder="message" value="내용리얼타임" />
		<input type="text" id="custId" runat="server" placeholder="custId" value="whilestomach" />
		<asp:LinkButton runat="server" ID="btn_submit" OnClick="btn_submit_Click">전송</asp:LinkButton>

    </div>
    </form>
</body>
</html>
