﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="효성ARS.aspx.cs" Inherits="_test_효성ARS" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
		<asp:LinkButton runat="server" ID="btn_submit" OnClick="btn_submit_Click">녹취요청</asp:LinkButton>

		<input type="text" runat="server" id="agreementAgentId" />
		<asp:LinkButton runat="server" ID="btn_verify" OnClick="btn_verify_Click">검증</asp:LinkButton>

    </div>
    </form>
</body>
</html>
