﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pop-detail.aspx.cs" Inherits="sponsor_user_detail"  %>


<div style="background:transparent;z-index:2147483468;" class="fn_pop_container" id="childModalview">
	<!-- 일반팝업 width : 800 -->
	<div class="pop_type1 w800 fn_pop_content" >
		<div class="pop_title">
			<span>나눔펀딩 개설안내</span>
			<button class="pop_close" ng-click="detail.hide($event);"><span><img src="/common/img/btn/close_1.png" alt="팝업닫기" /></span></button>
		</div>

		<div class="pop_content sf_regist_guide">
			
			<div class="con_top">
				<p class="tit">어떤 펀딩을 구성할 수 있나요?</p>
				<p class="con">
					에콰도르 지진 긴급 구호, 기근에 시달리는 에티오피아를 위한 식량 지원 사업 등<br />
					나눔펀딩을 제작하는 시점에서 가장 모금이 시급한 기부처를 안내해드립니다.
				</p>
			</div>

			<div class="con_btm">
				<p class="tit1">어떤 나눔 스토리를 써야 하나요?</p>
				<p class="s_con3">
					누구나 나눔펀딩의 개설자가 될 수 있습니다. 많은 사람들이 공감할 수 있는 구체적인 이야기를 들려주세요.<br />
					작성이 막막하다면, 아래 내용을 참고해서 구성해보세요.<br />
				</p>

				<p class="tit2">자기소개</p>
				<p class="s_con3">
					당신은 누구신가요?<br />
					사람들이 신뢰를 갖고 함께할 수 있도록 간단하게 ‘자신’을 소개해주세요.
				</p>

				<p class="tit2">관심 주제</p>
				<p class="s_con3">
					컴패션 홈페이지를 둘러보며, 관심있는 주제를 찾아보세요.<br />
					주제별 기부처의 모금 목표액을 고려하여, 적절한 금액의 목표금액을 설정하는 것도 중요합니다.
				</p>

				<p class="tit2">기념일 모금</p>
				<p class="s_con3">
					생일, 승진, 졸업 등 오래 기억하고 싶은 날이 있을 때, ‘나눔펀딩’을 통해 기념일을 더 특별하게 기억해보세요.
				</p>

				<p class="tit2">리워드 제공</p>
				<p class="s_con3">
					모금에 성공할 경우, 참여한 사람들이 기념할 수 있는 리워드를 제공해보세요.<br />
					더 즐겁고 활발한 모금이 이루어질 수 있습니다.<br />
					예: 후원 성공 시, 캘리그라피 엽서 제공
				</p>

				<p class="tit2">소식 업데이트</p>
				<p class="s_con3">
					기부자들과 소통해보세요!<br />
					모금함 개설 후, ‘업데이트 소식’ 메뉴를 통해 모금과 관련된 소식들을 전달할 수 있습니다.
				</p>
			</div>
		</div>
	</div>
	<!--// popup -->
</div>
