﻿							
<!-- 볼리비아 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/BO.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">볼리비아는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>정기적으로 균형 잡힌 식사와 간식을 제공합니다. 간식은 달걀 샌드위치, 차, 과일 및 크래커, 과일 샐러드, 오트밀 또는 빵을 제공하며 점심식사로는 야채 수프, 렌틸 버거, 샐러드, 밥, 과일 주스와 디저트를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[의료 지원]</em>정기적으로 예방접종 및 건강 검진, 의료 혜택을 제공합니다.</span>
		<span><em>[청소년 프로그램]</em>청소년 상담, 수련회, 지역 사회 봉사를 실시하고 컴퓨터, 제과 제빵, 의류 제작 등과 같은 직업 기술 교육을 진행합니다.</span>
		<span><em>[학부모 모임]</em>매달 부모님을 대상으로 성경 공부를 진행합니다. 또한 올바른 양육을 위한 교육, 건강한 결혼 생활을 위한 세미나 등을 진행합니다. 부모님과 형제들을 위한 치과 진료 및 안과 진료를 제공합니다.</span>
	</p>
</div>

