﻿							
<!-- 브라질 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/BR.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">브라질은 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[의료 지원]</em>유행성 질병 및 인플루엔자 A등과 같은 필수 예방접종을 실시합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[신앙 활동]</em>1년 이내에 성경을 지급합니다.</span>
		<span><em>[특별활동]</em>체육경기, 신앙 캠프, 율동대회, 직업체험, 야외활동 등을 진행합니다. 또한 정기적으로 어린이들과 학부모들에게 위생과 질병예방에 대한 교육을 실시합니다.</span>
		<span><em>[학부모 모임]</em>분기별로 학부모 모임을 통해 어린이들의 센터 활동에 대한 안내를 받습니다. 또한 어머니의 날, 아버지의 날, 어린이의 날을 기념해 어린이센터에서 온 가족을 초대하여 행사를 진행합니다.</span>
	</p>
</div>

