﻿							
<!-- 에콰도르 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/EC.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">에콰도르는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>매일 점심식사를 먹습니다. 식사는 탄수화물과 야채가 풍부하게 들어간 수프와 고기 등이 제공됩니다. 또한 귀가 시 간식을 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[신앙 활동]</em>연령에 따라 성경에 대한 이해, , 기도훈련, 예배, 성경공부 등 다양한 신앙 교육을 제공합니다.</span>
		<span><em>[특별활동]</em>지역에 따라 방과 후 교실 개념의 수업을 시행하며 축구, 미술, 음악 교실, 캠프 등을 진행합니다.</span>
		<span><em>[직업 훈련]</em>매우 다양한 직업훈련 프로그램을 운영합니다. 또한, 연령에 맞춘 눈높이 직업훈련을 통해 어린이들의 자립을 돕습니다.</span>
		<span><em>[예방접종]</em>예방 접종을 정기적으로 실시합니다.</span>
		<span><em>[학부모 모임]</em>월별 학부모 모임을 통해 어린이들이 어린이센터에 집중할 수 있도록 요청합니다. 또한 성경공부를 통해 부모님들의 영적 성장을 돕습니다.</span>
	</p>
</div>

