﻿							
<!-- 에티오피아 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/ET.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">에티오피아는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>하교 후 어린이센터에 오는 어린이들에게 간단한 간식이 제공 됩니다. 간식은 주로 빵과 과자, 차를 제공합니다. 곡식과 조리를 위한 오일은 세 달에 한 번씩 가족들에게 제공되며 영양이 특별히 더 필요한 어린이들에게는 의사의 처방에 따른 음식이 제공됩니다. 주식이 제공 되지 않는 이유는 정부와의 협약 시, 정부에서 식사를 어린이들에게 제공하는 것을 지양하였기 때문입니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[신앙 활동]</em>성경공부</span>
		<span><em>[특별활동]</em>다양한 스포츠 활동, 나무 심기 등 환경을 돌보기 위한 활동, 안전한 교통 문화, 아동 보호 교육, 소풍, 캠프와 같은 다양한 활동</span>
		<span><em>[학부모 모임]</em>올바른 양육방법과 수입 창출을 위한 교육을 받습니다.</span>
	</p>
</div>

