﻿							
<!-- 페루 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/PE.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">페루는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>어린이센터에 출석할 때마다 일주일에 세 번 점심식사를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[예방접종]</em>어린이들에게 필수 예방접종을 맞힙니다.</span>
		<span><em>[청소년 프로그램]</em>급격한 신체 변화, 감정 변화에 적응할 수 있도록 교육을 실시합니다.</span>
		<span><em>[직업 훈련]</em>직업훈련 프로그램 운영하며 제과제빵, 쥬얼리, 실크스크린 등을 교육합니다.</span>
		<span><em>[학부모 모임]</em>정기적인 학부모 모임을 통해 자녀양육 훈련을 진행합니다.</span>
	</p>
</div>

