﻿							
<!-- 우간다 -->

<div class="gdp" style="background:url('/common/img/page/sponsor/gdp/UG.jpg') no-repeat;"></div>

<div class="nation">
	<p class="tit">우간다는 컴패션에서 어떤 지원을 받나요?</p>
	<p class="content">
		<span><em>[학교에 갈 수 있는 기회 제공]</em>000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.</span>
		<span><em>[영양 지원]</em>수수, 쌀, 마토케(삶아먹는 바나나), 콩 및 소고기 등을 점심식사로 제공합니다. 또한 간식으로 차, 죽, 빵 등을 줍니다. 영양이 매우 부족한 어린이들은 3~6개월의 영양치료를 받게 됩니다. 영양치료 시 사용되는 재료는 가정에 공개되어 부모님들의 식사 준비를 위한 교육에 활용됩니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.</span>
		<span><em>[교외 활동]</em>체육, 연극 수업, 토론, 직업 체험, 거리 청소 등을 진행합니다.</span>
		<span><em>[직업 훈련]</em>목공예, 양장 기술, 뜨개질, 바느질, 매트 제작 등의 직업 기술 교육을 받습니다.</span>
		<span><em>[학부모 모임]</em>문맹률 개선을 위한 언어 수업이 매달 진행되며 위생, 올바른 양육, 수입 창출을 위한 수업이 있습니다. 어린이센터 교과 과정을 평가하기 위한 모임도 매월 진행됩니다.</span>
	</p>
</div>

