﻿<div class="wrap-layerpop">
    <div class="header2">
        <p class="txt-title"><img src="/common/img/common/logo1.png" alt="" width="112" height="42" /></p>
    </div>
    <div class="contents">

        <div class="etc-birthday">
            <strong class="txt-f20">어린이의 생일을 <span class="color1">축하해주세요.</span></strong><br /><br />

            <p class="color2">
                후원자님의 사랑이 담긴 축하 메세지는<br />
                다가오는 어린이의 생일을<br />
                더욱 특별하게 만들어준답니다.<br />
                가난과 문화적인 이유로 한번도 생일 축하를<br /> 받아본 적이 없는 어린이들도 있어요. <br />
                후원어린이에게 축하 메세지와 선물 또는 <br />
                선물금으로 특별한 생일을 만들어주세요.
            </p>
            <div class="wrap-bt">
                <a href="/etc/app-info/" class="bt-type6"><span class="icon letter">편지쓰기</span></a>
                <a href="/store/" class="bt-type6"><span class="icon gift">선물하기</span></a>
                <a href="/my/sponsor/gift-money/pay/" class="bt-type6"><span class="icon money">선물금 보내기</span></a>
            </div>
            <p class="bu">편지쓰기는 PC 버전 홈페이지 및 컴패션 앱을 통해 이용하실 수 있습니다.</p>

			<span class="checkbox-ui mt20">
				<input type="checkbox" class="css-checkbox" id="all-supportchild" />
				<label for="all-supportchild" class="css-label" style="font-size:13px">오늘 하루동안 보지 않기</label>
			</span>
        </div>

    </div>
    <div class="close2"><span class="ic-close btn_lp_close fix_pop" data-id="popup_900001">레이어 닫기</span></div>
</div>

