﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="CountryAbbreviationList.aspx.cs" Inherits="Mate_translation_CountryAbbreviationList" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="/common/css/mate_Translation.css" />
</head>
<body>
    <form id="form1" runat="server">
    <div style="margin:20px 20px 20px 20px">
    <div style="position:relative; top:0px; left:0px; width:100%; height:100px; overflow:hidden;"> 
        <img scr='' src="../../image/mate/bg-header.jpg" />
        <div style='position:absolute; top:25%; left:30px; width:100px; height:80px; z-index:1;'>
        <img scr='' src="../../image/mate/logo.png" />
        </div> 
        <div style='position:absolute; top:40%; left:150px; z-index:2;font-weight:900; font-size:x-large'>
        <asp:Label ID="lblTitle"
            runat="server" Text="국가 약칭" Font-Size="X-Large" Font-Bold="True" ForeColor="White"></asp:Label>
        </div> 
        
    </div>
    
        </br>

<%=sgHtml%>
</div>
    </form>
</body>
</html>
