﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TranslationPreView.aspx.cs" Inherits="Mate_translation_TranslationPreView" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
 <head>
 <title></title>

 <script language="javascript">
     function GetSizeView() {
         //var SizeView = document.getElementById("tdSizeView").offsetWidth;
         //alert(SizeView);
         //HtbMain.style.height = "925px";
         //SizeView.style.width = "1000px";
         //document.getElementById("tdPreView").style.width = SizeView;
         //document.getElementById("tbPreView").style.width = SizeView;
         //document.getElementById("trPreView").style.width = SizeView;
         
     }
 </script>

 </head>
<body>
<form id="form1" runat="server">
<div style="margin:20px 20px 20px 20px">
    <div style="position:relative; top:0px; left:0px; width:100%; height:100px; overflow:hidden;"> 
        <img scr='' src="../../image/mate/bg-header.jpg" />
        <div style='position:absolute; top:25%; left:30px; width:100px; height:80px; z-index:1;'>
        <img scr='' src="../../image/mate/logo.png" />
        </div> 
        <div style='position:absolute; top:40%; left:150px; z-index:2;font-weight:900;'>
        <font color="white" size = "5" face="굴림체" ><b>번역 미리보기</b></font>
        </div> 
        
    </div>
        
        </br>

<%=sgHtml%>
</div>

 </form>
</body>
</html>
