﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="TranslationTemplate.aspx.cs" Inherits="Mate_translation_TranslationTemplate" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function ShowTemplate(sTemplate, sShowValue, sImgExtend, sTdTitle) {

            var Template = document.getElementById(sTemplate);



            if (document.getElementById(sShowValue).value == "") {
                document.getElementById(sShowValue).value = "1";
            }
            else if (document.getElementById(sShowValue).value == "1") {
                document.getElementById(sShowValue).value = "0";
            }
            else if (document.getElementById(sShowValue).value == "0") {
                document.getElementById(sShowValue).value = "1";
            }

            var qa = document.getElementById(sTdTitle);

            if (document.getElementById(sShowValue).value == "1") {
                Template.style.display = "";
                document.getElementById(sImgExtend).src = '../../image/imate/icon/icon_red.png';
                qa.style.color = "#3DB7CC";
                
            }
            else {
                Template.style.display = "none";
                document.getElementById(sImgExtend).src = '../../image/imate/icon/icon_ext.png';
                qa.style.color = "#000000";

                //document.getElementById(sShowMainValue).value = "0";

            }
        }

        function ShowTemplateMain(sTemplate, sShowMainValue, sImgMainExtend) {

            var Template = document.getElementById(sTemplate);



            if (document.getElementById(sShowMainValue).value == "") {
                document.getElementById(sShowMainValue).value = "1";
            }
            else if (document.getElementById(sShowMainValue).value == "1") {
                document.getElementById(sShowMainValue).value = "0";
            }
            else if (document.getElementById(sShowMainValue).value == "0") {
                document.getElementById(sShowMainValue).value = "1";
            }

            if (document.getElementById(sShowMainValue).value == "1") {
                Template.style.display = "";
                document.getElementById(sImgMainExtend).src = '../../image/imate/icon/icon_red.png';

            }
            else {
                Template.style.display = "none";
                document.getElementById(sImgMainExtend).src = '../../image/imate/icon/icon_ext.png';

            }
        }

        function inputClose(sTemplate) {

            var sTemplateJoin = sTemplate.split("|b").join("\n");
            sTemplateJoin = sTemplateJoin.split("|n").join("\n");

            //window.dialogArguments.document.all.txtTranslate.value = sTemplateJoin;
            if (window.opener && !window.opener.closed) {
                window.opener.document.getElementById('txtTranslate').value += sTemplateJoin;
            }

            self.close();

        }

    </script>
</head>
<body style="overflow-X:hidden">
    <form id="form1" runat="server">
    
    
    <div style="margin:20px 20px 20px 20px">
    <div style="position:relative; top:0px; left:0px; width:100%; height:100px; overflow:hidden;"> 
        <img scr='' src="../../image/mate/bg-header.jpg" />
        <div style='position:absolute; top:25%; left:30px; width:100px; height:80px; z-index:1;'>
        <img scr='' src="../../image/mate/logo.png" />
        </div> 
        <div style='position:absolute; top:40%; left:150px; z-index:2;font-weight:900;'>
        <font color="white" size = "5" face="굴림체" ><b>편지 템플릿 적용</b></font>
        </div> 
        
    </div>
    </br>
       
        
        <%=sgHtml %>
        <%--<div>
            <input type='hidden' id='txtShowValue1'/>
            <table>
                <tr style='cursor:pointer;' onclick="ShowTemplate('Title1','txtShowValue1','imgExtend1','tdTitle1')">
                    <td>
                        <img id='imgExtend1' src="../../image/btn/imate/icon_ext.png">
                    </td>
                    <td id='tdTitle1' title='템플릿 내용을 확인합니다'>
                        <b>가나(GA)</b>
                    </td>
                </tr>
            </table>
            </div>
            <div id='Title1' style='margin:0px 0px 0px 20px'>
                <input type='hidden' id='txtShowMainValue1'/>
                <table>
                    <tr style='cursor:pointer;' onclick="ShowTemplateMain('Template1','txtShowMainValue1','imgMainExtend1')">
                        <td>
                            <img id='imgMainExtend1' src="../../image/btn/imate/icon_ext.png">
                        </td>
                        <td>
                            About Me
                        </td>
                        <td title='템플릿 내용을 번역 내용으로 입력합니다'>
                            <input type='image' src='' onclick="inputClose('1'); return false;"/>
                        </td>
                    </tr>
                </table>
            </div>
            <div id='Template1' style='margin:0px 0px 0px 40px'>
            <table cellspacing='0' style='border: 1px solid #000000;border-style:solid'>
                <tr>
                    <td>
                       내용
                    </td>
                </tr>
            </table>
            <script type='text/javascript'>
                var TemplateMain = document.getElementById('Template1');
                TemplateMain.style.display = 'none';
                document.getElementById('txtShowMainValue1').value = '0';
            </script>

            
            </div>
            <script type='text/javascript'>
                var Template = document.getElementById('Title1');
                Template.style.display = 'none';
                document.getElementById('txtShowValue1').value = '0';
             </script>
    </div>--%>
    


    </form>
</body>
</html>
