﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="default.aspx.cs" Inherits="participation_nk_church_default" culture="auto" uiculture="auto" MasterPageFile="~/main.Master" enableEventValidation="false" %>
<%@ MasterType virtualpath="~/main.master" %>

<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
</asp:Content>
<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">

    <script type="text/javascript">
    </script>
</asp:Content>

<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">
  
    <div class="wrap-sectionsub">
<!---->
    
    <div class="participation-church">
    	
        <p class="txt-slogon">CHURCH +  COMPASSION</p>
        
        <div class="bg-child sectionsub-margin1">
            <p class="txt-caption">교회와 컴패션이 만나<br />
				하나님 나라를 확장해 갑니다
            </p>
            <p class="txt-sub">교회는 하나님의 소망이며 지속적으로 확장되는 하나님 나라
                입니다. 컴패션은 교회와 함께 교회를 통하여 주님의 지상명령 
                성취 사역에 열정적으로 동참합니다.
            </p>
        
            <p class="txt-caption">교회와 교회가 연합하는 통로가 됩니다</p>
            <p class="txt-sub">컴패션은 하나님의 사랑을 전하는 교회의 사명을 완수하기 위해
                전략적으로 어린이들을 돌보는 전 세계 현지 교회와 협력합니다.
                현재 25개국의 약 6,900개 이상의 교회와 협력하고 있고, 작년 
                한 해만 컴패션 수혜국에서 예수님을 구주로 고백한 어린이들과
                엄마들이 12만 명을 넘습니다. 어린이들은 희망을 찾고, 삶의 
                현장에서 기쁨으로 예수님을 전하는 작은 선교사로 살아가게 
                될 것입니다.
            </p>
		</div> 
        
        <p class="txt-caption2">교회협력 프로그램 소개</p>
        
        <p class="txt-caption3">컴패션선데이</p>    
		<div class="youtube">
        	<iframe src="https://www.youtube.com/embed/Pbbu6Cx-q5s?rel=0&amp;showinfo=0wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="txt-sub">
        	<strong>어느 특별한 주일로의 초대!</strong><br />
            컴패션선데이(CS)란 주일 예배를 교회와 컴패션이 협력하여 
            드리는 것을 말합니다 
        </p>    
            
		<p class="txt-caption3">컴패션선데이플러스(CS+)</p>    
        <div class="photo"><img src="/common/img/page/participation/img-church.jpg" alt="" /></div>
        <p class="txt-sub">
        	컴패션선데이플러스(CS+)란 컴패션선데이를 진행한 후에 
            교회의 후원자 분들을 대상으로 교회 내에서 진행되는 후원자
            후속 모임입니다. 후원자 분들이 가장 궁금해 하시는 컴패션의 
            주요 사역, 후원금 사용 방법 그리고 편지쓰기 방법 및 프로세스 
            등에 대해 자세하게 안내해 드립니다. 그리고 이후에는 자체적
            으로 모임을 진행할 수 있도록 도와 드립니다.
        </p>
        
		<p class="txt-caption3">교회학교 컴패션나눔별</p>    
        <div class="photo"><img src="/common/img/page/participation/img-church2.jpg" alt="" /></div>
        <p class="txt-sub">
        	나눔별프로그램이란 교회학교 부서 (초등부, 중고등부, 청년부)
            에서 한 어린이를 결연하여 함께 후원하는 프로그램입니다.
            교회학교에서 나눔별프로그램을 요청하시면, 컴패션과 교회
            학교가 연합하여 나눔별예배를 드립니다.
        </p>
        
        <p class="txt-caption3">교회로 찾아가는 체험전</p>    
		<div class="youtube">
        	<iframe src="https://www.youtube.com/embed/QvTsPKs3n7E?rel=0&amp;showinfo=0wmode=transparent" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="txt-sub">
        	<strong>교회로 찾아가는 체험전은</strong><br />
            - 교회로 찾아가는 이동식 체험 전시입니다.<br />
            - 교회와 협력하여 진행됩니다.<br />
            - 지역 주민을 전도할 수 있는 기회입니다.<br />
            - 하나님이 기뻐하시는 나눔의 삶으로 안내합니다.
        </p>    
        
        <p class="txt-caption3">목회자 비전트립</p>    
        <p class="txt-sub">
        	목회자 비전트립은 ‘가난’이라는 이름으로 어려움을 겪고 있는 
            전 세계 어린이들을 돕기 위한 현지 컴패션 어린이센터의 사역 
            현장을 방문해 컴패션의 비전을 눈으로 확인하고 함께 나누기 
            위한 목회자분들을 위한 여행입니다. 
        </p>    
            
		 <div class="box-tel">
        	<p class="txt-title">문의</p>
            <a class="tel" href="tel:02-741-1000"><strong>전화</strong> 02)741-1000</a>
        </div>

		<div class="box-linkpc">
        	<span class="link-pc"><a runat="server" id="btn_pc">PC 버전 바로가기</a></span><br />
            더욱 자세한 내용은 PC 버전에서 확인하실 수 있습니다.
        </div>
        
        
    </div>
    
<!--//-->
</div>

</asp:Content>