﻿	
	<div class="pop_type1 w800">
		<div class="pop_title" style="text-align:left;">
			<span>특별한 생일 만들기</span>
			<button class="pop_close btn_lp_close fix_pop" data-id="popup_9000001"><span><img src="/common/img/btn/close_1.png" style="display:block;" alt="팝업닫기" /></span></button>
		</div>

		<div class="pop_content special_bd tac">

			<p class="s_tit6">어린이의 생일을 축하해주세요.</p>

			<p class="s_con3">
				후원자님의 사랑이 담긴 축하 메세지는<br />
				다가오는 어린이의 생일을 더욱 특별하게 만들어준답니다.<br />
				가난과 문화적인 이유로 한번도 생일 축하를 받아본 적이 없는 어린이들도 있어요.<br />
				<br />
				후원어린이에게 축하 메세지와 선물 또는 선물금으로<br />
				특별한 생일을 만들어주세요.
			</p>

			<div class="btn_ac mb10">
				<a href="/my/letter/write/" target="_blank" class="btn_type1"><span class="icon letter">편지쓰기</span></a>
				<a href="/store/?gift_flag=1" target="_blank" class="btn_type1"><span class="icon gift">선물하기</span></a>
				<a href="/my/sponsor/gift-money/pay/" target="_blank" class="btn_type1"><span class="icon money">선물금 보내기</span></a>
			</div>

            <span class="checkbox_ui mt20">
                <input type="checkbox" class="css_checkbox nomore_today" data-id="popup_9000001" data-set-cookie="true" id="chk_temp5" />
                <label for="chk_temp5" class="css_label font1">오늘 하루동안 보지 않기</label>
            </span>

		</div>
	</div>

