﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="info-change-check.aspx.cs" Inherits="popup_custom_info_change_check" %>

<asp:placeholder runat="server" id="info_change" visible="false">
    if (popupManager.getCookie("info") == "") {
        var infoChange = window.open("/popup/custom/info-change", "infoChange", "width=400,height=634, scrollbars=no, resizable=no, location=no");
    }
</asp:placeholder>
