﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="pwd-notice-check.aspx.cs" Inherits="popup_custom_pwd_notice_check" %>

<asp:placeholder runat="server" id="pwd_change" visible="false">
    if (popupManager.getCookie("pwdChange") == "") {
        var pwdChange = window.open("/popup/custom/pwd-notice", "pwdChange", "width=800,height=744, scrollbars=no, resizable=no, location=no");
    }
</asp:placeholder>
