﻿<%@ Control Language="C#" AutoEventWireup="true" codefile="breadcrumb.ascx.cs" Inherits="Common.breadcrumb" %>
<%@OutputCache Duration="36000" varybyparam="none" varybycustom="url"  %>
<asp:SiteMapPath runat="server" ID="sitemap" SiteMapProvider="web" PathSeparator="" PathSeparatorStyle-CssClass="path_hidden" CurrentNodeStyle-CssClass="current" CssClass="loc_wrap"></asp:SiteMapPath>
<input type="hidden" runat="server" id="sitemap_resourcekey" />
