﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="complete.aspx.cs" Inherits="join_company_complete" MasterPageFile="~/main.Master"%>
<%@ MasterType virtualpath="~/main.master" %>


<asp:Content runat="server" ID="head_meta" ContentPlaceHolderID="head_meta">
	
</asp:Content>

<asp:Content ID="head_script" runat="server" ContentPlaceHolderID="head_script">
	
	<script type="text/javascript">
	    $(function () {
	        var main_img_path = "/common/img/page/member/member_main_bg";
	        var random = Math.floor((Math.random() * 3) + 1);

	        $("#main_img").attr("style", "background: url('" + main_img_path + random + ".jpg') no-repeat center top;");

		});
	    history.pushState("complete", "complete", "complete");

	    window.onpopstate = function (event) {
	        location.href = "/login";
	    };

    </script>
</asp:Content>

<asp:Content runat="server" ID="body" ContentPlaceHolderID="body">
	
      <!-- sub body -->
	<section class="sub_body">

		<!-- s: sub contents -->
		<!---------- member_main_bg1 ~ 3 까지 랜덤으로 노출 ----------->
		<div class="subContents member done" id="main_img">
			<div class="w980">
				<div class="wrap">
					<div class="logo"><img src="/common/img/common/logo_1.png" alt="Compassion 로고" /></div>
					<div class="done_box">
						<h1 class="tit">회원가입 신청완료</h1>
						<p class="con1">감사합니다. <br />한국컴패션 웹사이트 회원가입 신청접수가 <br />완료되었습니다.</p>
						<a runat="server" id="btn_main" class="btn_b_type4 mb30">메인 페이지로 이동</a>
						<div class="con2 mb15">
							기업/단체회원은 가입정보 확인이 필요하여, 별도로 한국컴패션의 승인 후에 로그인이 <br />
							가능합니다. 승인이 완료되면 등록해주신 이메일로 안내해드리겠습니다.
						</div>
						<p><span class="s_con1">기업/단체 회원가입 문의 : 후원지원팀 (02-740-1000 평일 9시~18시/공휴일제외)<br />info@compassion.or.kr</span></p>
					</div>
				</div>
			</div>
		</div>
		<!--// e: sub contents -->

    </section>
    <!--// sub body -->


</asp:Content>
