﻿@charset "UTF-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
ul,li,ol {list-style:none}
img {max-width:100%;border:0;vertical-align:top}
a {text-decoration:none}
iframe {border:none}

.btn {display:inline-block}
#wrap {max-width:768px;margin:0 auto;padding-bottom:50px}
#wrap.lighten {padding-bottom:0}
.header {position:relative;z-index:30}
.header-wrap {overflow:hidden;height:44px}
.header.scrolled .gnb {position:fixed;top:0}
.header.scrolled .gnb a:before {content:none}
.header.scrolled .lnb {display:none}
.header.scrolled .gnb a span {display:none}
.logo {float:left}
.logo img {height:44px}
.snb {float:right;margin-right:10px;margin-top:10px}
.snb a {display:inline-block;vertical-align:top}
.snb img {height:24px;vertical-align:top}
.gnb {position:absolute;top:44px;left:0;width:100%;background:rgba(0,0,0,0.5);text-align:center}
.gnb a {display:inline-block;position:relative;margin-left:8px;line-height:40px;font-size:12px;color:#fff}
.gnb a:first-child {margin-left:0}
.gnb a:before {content:'';position:absolute;bottom:0;left:50%;width:17px;height:7px;margin-left:-8px;background:url(../../images/blit_header.png) no-repeat center top}
.gnb a span {position:absolute;display:block;top:47px;left:0;width:100%;font-size:11px;color:#fff;z-index:1;line-height:14px}
.gnb a:first-child span {top:54px}
#wrap.lighten .gnb a:before {content:none}
.lnb {position:absolute;top:84px;left:0;width:100%;height:40px;background:url(../../images/bg_header.png);text-align:center}
.lnb a {display:inline-block;font-size:11px;color:#fff;vertical-align:middle}
.btn-top {position:fixed;bottom:55px;right:15px;width:40px}
.btn-scrolldown {position:absolute;bottom:25px;left:50%;width:26px;margin-left:-13px}
.main-link {display:block;position:fixed;bottom:0;left:0;width:100%;padding:12px 0 12px 0;background:#ff9600;font-size:18px;font-weight:600;color:#fff;text-align:center;letter-spacing:-1px;z-index:5}
.main-visual {position:relative;background:url(../../images/pattern_red.jpg)}
.main-slider__color {display:none;position:absolute;top:0;left:0;width:100%;height:100%}
.main-story:after {content:'';display:block;height:80px;background:url(../../images/bg_redblue.jpg) no-repeat center top;background-size:100% 100%}
.main-story__iframe {width:100%;height:830px;}
.main-story--blue .main-listwrap {background:url(../../images/pattern_blue.jpg)}
.main-story--blue:after {background:url(../../images/bg_blueyellow.jpg) no-repeat center top;background-size:100% 100%}
.main-story--yellow .main-listwrap {background:url(../../images/pattern_yellow.jpg)}
.main-story--yellow:after {content:none}
.main-listwrap {background:url(../../images/pattern_red.jpg)}
.cp-sean a {display:block;position:relative}
.cp-sean__wrap {position:relative}
.cp-sean iframe {position:absolute;top:0;left:10%;width:80%;height:100%;z-index:555}
.cd-info {background:url(../../images/bg_donation.jpg); background-size:100% auto}
.cd-meta, .cd-present {position:relative}
.cd-meta {margin-top:-15%}
.cd-meta a, .cd-present a {position:absolute;display:block;left:0;width:100%;text-align:center}
.cd-meta a {bottom:10%}
.cd-present a {bottom:28%}
.cd-meta a img, .cd-present a img {max-width:50%}
.cp-guest__wrap {padding:0 30px;padding-bottom:40px;background:url(../../images/bg_people1.jpg) no-repeat center top;background-size:cover;text-align:center}
.cp-concert {margin-bottom:-12px}
.cp-donation {position:relative;margin-bottom:-12px;padding:30px;background:url(../../images/img_people10.png) no-repeat center top;background-size:contain;text-align:right;z-index:1}
.cp-donation img {max-width:50%}
.cp-donation__btn {margin-top:12px;text-align:center}
.cp-donation__btn img {max-width:50%}
.footer {padding-top:50px;padding-bottom:30px;background:url(../../images/bg_donation.jpg) no-repeat center bottom;text-align:center}
.lighten footer {background:url(../../images/bg_donation.jpg) center bottom}
.footer-logo img {max-width:45%}
.footer-info {margin-top:15px;font-size:12px;color:#9e9e9e;line-height:1.5}
.footer-copyright {margin-top:12px;font-size:11px;color:#9e9e9e}
@media screen and (min-width:500px) {
.main-story__iframe {height:1175px}	
}	
@media screen and (max-width:375px) {
.main-story__iframe {height:800px}
}
@media screen and (max-width:320px) {
.main-story__iframe {height:730px}
.main-story:after {height:50px}
}