﻿@charset "UTF-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
ul,li,ol {list-style:none}
img {max-width:100%;border:0;vertical-align:top}
a {text-decoration:none}
iframe {border:none}

.main-list {max-width:90%;margin:0 auto}
.main-list li {margin-top:10px;padding:12px 15px;padding-bottom:30px;background:url(../../images/bg_list.png) no-repeat center top;background-size:100% 100%}
.main-list li:first-child {margin-top:0}
.main-list__time {padding-left:22px;background:url(../../images/blit_clock.png) no-repeat left top;background-size:18px 18px;font-size:13px;color:#666;line-height:18px}
.main-list__info-name {font-size:17px;color:#666;font-weight:600}
.main-list__info-meta {margin-top:12px;font-size:14px;color:#666}
.main-list__wrap {margin-top:24px;margin-bottom:14px}
.main-list__wrap:after {content:'';display:block;clear:both}
.main-list__img {position:relative;float:left;width:36%;margin-left:10px}
.main-list__img img {-webkit-border-radius:50%;border-radius:50%}
.main-list__info {float:right;width:52%;padding-top:2%}
.btn-donation {display:block;max-width:60%;margin:0 auto;padding:12px 0 12px 0;background:#ff9600;font-size:16px;font-weight:600;color:#fff;text-align:center;-webkit-border-radius:24px;border-radius:24px}
.main-list__img:before {content:'';position:absolute;bottom:-4px;right:-4px;width:42px;height:42px;background:url(../../images/img_smallflower1.png) no-repeat center top;background-size:100% auto}
.main-list--blue .main-list__img:before {background:url(../../images/img_smallflower2.png) no-repeat center top;background-size:100% auto}
.main-list--yellow .main-list__img:before {background:url(../../images/img_smallflower3.png) no-repeat center top;background-size:100% auto}

.main-list__imginner {padding-top:100%;text-indent:-9999px;-webkit-border-radius:50%;border-radius:50%;background-size:cover !important;}
.main-list__imginner span {position:absolute;top:0;left:0;visibility:hidden;z-index:-1}

@media screen and (max-width:320px) {
.main-list__info {padding-top:0}
}