﻿@charset "utf-8";


@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
    font-family:ng;
    src:url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.eot)
}
body{font-family:'Nanum Gothic',ng,sans-serif , dotum, arial, Serif;font-size:12px;color:#000;background:#ecf0f5;}
input,textarea,select,h1,small,a,h3,h1,h2,h4 {font-family:'Nanum Gothic';outline-style:none;}
input,textarea,select{font-size:12px !important}

.tr_link{cursor:pointer}
.tr_link td{vertical-align:middle !important}
.tr_over td{vertical-align:middle !important}
.control-label-text{padding-top:0 !important}

.table tr th{text-align:center ;}
.table tr td{text-align:center ;}
.text-left{text-align:left !important}

/* template override */

.treeview-menu a,.btn{font-size:12px !important;}
.sidebar-menu li a span{padding-bottom:20px !important;}


#s_display label{margin-right:10px;}

#s_type label {margin-right:10px;}


.form-radio label {margin-right:5px;}

/* 로딩박스 */
.loading_box {
    min-width: 282px;
    height: 134px;
    padding: 90px 35px 0 35px;
    font-size: 15px;
    color: #929292;
    text-align: center;
    letter-spacing: -0.5px;
    border: 1px solid #ededed;
    background: #fff url('../img/loading.gif') no-repeat center 30px;
}

.fancybox-close {
    position: absolute;
    top: -20px;
    right: -25px;
    width: 30px;
    height: 30px;
    background: transparent url('/@mgt/template/plugins/fancybox-1.3.4/fancybox/fancy_close.png') -30px 0px;
    cursor: pointer;
    z-index: 1103;
}