﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="ImageCanvas.ascx.cs" Inherits="Controls_ImageCanvas" %>
<asp:Image id="DyImage" runat="server"></asp:Image>
<asp:HiddenField ID="hidImageID" runat="server" />