﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MateCommunityRight.ascx.cs" Inherits="Controls_MateCommunityRight" %>
<div id="sidebar" class="sec-notice">
	<div class="tit">
		<h2>메이트 알림</h2>
	</div>
	<ul id="lnb" class="lnb">
		<li id="sub1" runat="server"><a href="noticelist.aspx" class="dep1"><span>공지사항</span></a></li>
		<li id="sub2" runat="server"><a href="monthlymatelist.aspx" class="dep2"><span>이달의 MATE</span></a></li>
		<li id="sub3" runat="server"><a href="faq.aspx" class="dep3"><span>FAQ</span></a></li>
        <!--
        <li id="sub4" runat="server"><a href="ChristmasLoveLetterList.aspx" class="dep4"><span>LoveletterContest</span></a></li>
        -->
        <%--<li id="sub5" runat="server"><a href="ChristmasLoveLetterList.aspx" class="dep7"><span>크리스마스 러브레터</span></a></li>--%>
	</ul>
	<ul class="banner1">
        <%--<li><a href="/community/ChristmasLoveLetterList.aspx"><img src="/image/mate/mate-xmasletter.jpg" width="199" height="105" alt="" /></a></li>--%>
		<li><a href="/Intro/MateIntro.aspx"><img src="/image/mate/mate-apply.jpg" width="199" height="105" alt="" /></a></li>
		<!--<li><a href="/mate/mypage/programDown.aspx"><img src="/image/mate/imate-down.jpg" width="199" height="53" alt="" /></a></li>-->
        <!--<li><a href="http://www.compassion.or.kr/community/ChristmasLoveLetterList.aspx" target="_blank"><img src="/image/mate/Banner_Loveletter.jpg" width="199" alt="" /></a></li>-->
	</ul>
</div>