﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="MypageRight.ascx.cs" Inherits="Mate_Controls_MypageRight" %>
<div id="sidebar" class="sec-mypage">
	<%--<div class="tit">
		<h2>마이 페이지</h2>
	</div>--%>
	<ul id="lnb" class="lnb">
		<%--<li id="sub1" runat="server"><a href="/Mate/Mypage/ServiceBreakDown.aspx" class="dep1"><span>봉사 내역 확인</span></a></li>
        <% //주석처리 2013-06-05, //주석풀기 2013-06-10 %>
		<li id="sub2" runat="server"><a href="/Mate/Mypage/ApplyResult.aspx" class="dep2"><span>MATE 신청결과</span></a></li>--%>
		<!--<li id="sub3" runat="server"><a href="" class="dep3"><span>내 등급보기</span></a></li>-->
		<!--<li id="sub4" runat="server"><a href="/Mate/Mypage/programDown.aspx" class="dep4"><span>번역프로그램 DOWN</span></a></li>-->
	</ul>
	<ul class="banner1">
        <li><a href="/Mate/Mypage/ServiceBreakDown.aspx"><img src="/image/mate/check-bongsa.png" width="199" height="126" alt="" /></a></li>
        <%--<li><a href="/community/ChristmasLoveLetterList.aspx"><img src="/image/mate/mate-xmasletter.jpg" width="199" height="105" alt="" /></a></li>--%>
		<li><a href="/Intro/MateIntro.aspx"><img src="/image/mate/mate-apply.jpg" width="199" height="105" alt="" /></a></li>
		<!--<li><a href="/mate/mypage/programDown.aspx"><img src="/image/mate/imate-down.jpg" width="199" height="53" alt="" /></a></li>-->
	</ul>
</div>
