﻿@charset "utf-8";
@import url(/common/css/font.css);


.w980 {display:block;width:980px;height:auto;margin:0 auto;}

/* sub page */
.subContents {padding-top:40px;}
.subContents.padding0 {padding-top:0;}


/* header & gnb */
header.topLogo {height:130px;}
header.topLogo .w980 {padding-top:28px;text-align:center;}
header.topLogo .w980 .logo {display:inline;}

.header {width:100%;height:130px;position:relative;}
.header .wrap {width:100%;height:130px;position:absolute;left:0;top:0;z-index:300;}
.header .wrap.fixed {width:100%;height:130px;position:fixed;left:0;top:0;z-index:300;}
.header.topOnly {height:35px;}
.header.topOnly .wrap {height:35px;}

.header .wrap .header_top {width:100%;height:35px;background:#005dab;}
.header .wrap .header_bottom {width:100%;height:95px;background:#fff;border-bottom:1px solid #efefef;
		   -webkit-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
			  -moz-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
			    -o-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
			   -ms-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
				   box-shadow:0px 0px 10px rgba(75, 75, 75, 0.1);
}

.header_top ul {float:right;}
.header_top ul li {float:left;width:auto;height:35px;position:relative;}
.header_top ul li a {display:inline-block;font-size:13px;color:#fff;text-align:center;line-height:35px;padding:0 20px;border-left:1px solid #1a6eb4;vertical-align:top;}
.header_top ul li.post {position:relative;}
.header_top ul li.post a {width:70px;text-indent:-9999px;padding:0;background:url('/common/img/common/icon_post.png') no-repeat center;}
.header_top ul li.post span {display:inline-block;width:auto;height:16px;font-family:'noto_m';font-size:10px;color:#fff;text-indent:0px;text-align:center;line-height:16px;padding:0 4px 0 5px;background:#9c2032;border-radius:4px;
							 position:absolute;left:38px;top:5px;
				-webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
				   -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
					 -o-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
					-ms-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
						box-shadow:1px 1px 3px rgba(0, 0, 0, 0.7);
}
.header_top ul li.store a {width:90px;text-align:left;border-left:0;background:#004c8c url('/common/img/bu/arr_11.png') no-repeat 64px center;text-decoration:none;}
.header_top ul li.store:hover a {background:#004c8c url('/common/img/bu/arr_10.png') no-repeat 64px center;}
.header_top ul li.store .storeSub {display:none;position:absolute;right:0;top:35px;width:137px;border:1px solid #e9e9e9;border-top:0;background:#fff;z-index:10;}
.header_top ul li.store .storeSub li {width:100%;height:auto;}
.header_top ul li.store .storeSub li a {display:inline-block;width:100%;height:inherit;font-family:noto_r;font-size:14px;color:#666;line-height:inherit;text-align:right;padding:10px 20px 10px 0;border:0;background:#fff url('');}
.header_top ul li.store .storeSub li a:hover {background:#f1f1f1;text-decoration:none;}
.header_bottom {position:relative;}
.header_bottom .logo {float:left;padding-top:16px;}
.header_bottom .gnb_wrap {float:right;}
.header_bottom .gnb_wrap .d1 li {float:left;width:auto;height:95px;}
.header_bottom .gnb_wrap .d1 li a {display:inline-block;width:auto;height:95px;font-family:'noto_r';font-size:24px;color:#121212;line-height:95px;margin-right:55px;}
.header_bottom .gnb_wrap .d1 li a:hover {font-family:'noto_b';font-size:24px;color:#005dab;}
.header_bottom .gnb_wrap .d1 li a.on {font-family:'noto_b';font-size:24px;color:#005dab;text-decoration:underline;}
.header_bottom .gnb_wrap .d1 li a.menu {width:50px;text-indent:-9999px;background:url('/common/img/common/btn_menu.png') no-repeat center;padding:0;margin:0;}
.header_bottom .gnb_wrap .d1 li a.menu.on {background:url('/common/img/btn/close_3.png') no-repeat center;}
.header .gnbsub_wrap {width:100%;height:336px;background:#fff;border-bottom:1px solid #efefef;position:fixed;left:0;top:130px; 1top:-350px;z-index:290;
		   -webkit-box-shadow:0px 3px 10px rgba(75, 75, 75, 0.1);
			  -moz-box-shadow:0px 3px 10px rgba(75, 75, 75, 0.1);
			    -o-box-shadow:0px 3px 10px rgba(75, 75, 75, 0.1);
			   -ms-box-shadow:0px 3px 10px rgba(75, 75, 75, 0.1);
				   box-shadow:0px 3px 10px rgba(75, 75, 75, 0.1);
}
header .gnbsub_wrap .area {float:left;width:245px;height:336px;border-right:1px solid #ebebeb;}
header .gnbsub_wrap .area.gnb {border-left:1px solid #ebebeb;position:relative;}
header .gnbsub_wrap .area.banner {text-align:center;padding-top:30px;}
header .gnbsub_wrap .area.banner a {display:inline-block;width:204px;height:276px;overflow:hidden;}
header .gnbsub_wrap .area.gnb .d2 {width:245px;height:336px;position:absolute;left:-1px;top:0;background:#fff;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;padding-top:16px;}
header .gnbsub_wrap .area.gnb .d3 {width:245px;height:336px;position:absolute;left:244px;top:0;background:#fff;border-right:1px solid #ebebeb;padding-top:16px;}
header .gnbsub_wrap .area.gnb .d4 {width:245px;height:336px;position:absolute;left:245px;top:0;background:#fff;border-right:1px solid #ebebeb;padding-top:16px;}

header .gnbsub_wrap .area.gnb .d2 a {display:inline-block;width:100%;height:40px;font-family:'noto_m';font-size:16px;color:#121212;line-height:40px;padding-left:20px; background:#fff url('/common/img/common/icon_arr_1.png') no-repeat 217px center;}
header .gnbsub_wrap .area.gnb .d2 a:hover {color:#fff;background:#005dab url('/common/img/common/icon_arr_1_on.png') no-repeat 217px center;text-decoration:none;}
header .gnbsub_wrap .area.gnb .d2 a.on {color:#fff;background:#005dab url('/common/img/common/icon_arr_1_on.png') no-repeat 217px center;text-decoration:none;}
header .gnbsub_wrap .area.gnb .d3 a {display:inline-block;width:100%;height:40px;font-family:noto_d;font-size:14px;color:#666;line-height:40px;padding-left:20px; background:#fff url('/common/img/common/icon_arr_2.png') no-repeat 217px center;}
header .gnbsub_wrap .area.gnb .d3 a:hover {font-family:noto_m;color:#fff;line-height:39px;background:#66afe0 url('/common/img/common/icon_arr_2_on.png') no-repeat 217px center;text-decoration:none;}
header .gnbsub_wrap .area.gnb .d3 a.on {font-family:noto_m;color:#fff;line-height:39px;background:#66afe0 url('/common/img/common/icon_arr_2_on.png') no-repeat 217px center;text-decoration:none;}
header .gnbsub_wrap .area.gnb .d4 a {display:inline-block;width:100%;height:40px;font-size:14px;color:#666;line-height:40px;padding-left:20px; background:#fff;}
header .gnbsub_wrap .area.gnb .d4 a:hover {font-family:'noto_m';color:#444;line-height:39px;background:#efefef;text-decoration:none;}
header .gnbsub_wrap .area.gnb .d4 a.on {font-family:'noto_m';color:#444;line-height:39px;background:#efefef;text-decoration:none;}

header .gnbsub_wrap .area.gnb .d2 a.none {background:#fff url('');}
header .gnbsub_wrap .area.gnb .d2 a.none:hover {background:#005dab url('');}
header .gnbsub_wrap .area.gnb .d2 a.on.none {background:#005dab url('');}
header .gnbsub_wrap .area.gnb .d3 a.none {background:#fff url('');}
header .gnbsub_wrap .area.gnb .d3 a.none:hover {background:#66afe0 url('');}
header .gnbsub_wrap .area.gnb .d3 a.on.none {background:#66afe0 url('');}


/* 전체메뉴 */
.menuAll {width:980px;height:540px;background:#fff;}
.menuAll:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.menuAll .menuNav {float:left;width:190px;height:540px;background:#005dab;}
.menuAll .menuList {float:left;width:790px;height:540px;background:#fff;overflow:auto;}
.menuAll .menuNav .nav_tit {width:100%;height:91px;padding:26px 0 0 30px;}
.menuAll .menuNav .nav_tit span {display:inline-block;font-family:'noto_m';font-size:24px;color:#fff;padding-left:33px;background:url('/common/img/common/btn_menu2.png') no-repeat 0 11px;}
.menuAll .menuNav .list li {width:100%;height:70px;text-align:right;}
.menuAll .menuNav .list button {width:180px;height:70px;font-family:'noto_r';font-size:20px;color:#fff;line-height:70px;text-align:left;background:#005dab;padding-left:20px;}
.menuAll .menuNav .list button:hover {text-decoration:underline;}
.menuAll .menuNav .list button.on {color:#005dab;background:#fff url('/common/img/bu/arr_4.png') no-repeat 148px center;}
.menuAll .menuNav .list button:hover.on {text-decoration:none;}
.menuAll .menuList {position:relative;}
.menuAll .menuList .wrap {position:absolute;left:20px;top:25px;}

.menuAll .menuList .Ad1 {display:inline-block;width:740px;height:auto;margin:0 0 10px 0;}
.menuAll .menuList .Ad1 .tit {display:block;font-family:'noto_r';font-size:22px;color:#005dab;padding-bottom:5px;margin-bottom:18px;border-bottom:2px solid #767676;}

.menuAll .menuList .Ad2 {padding-bottom:10px;margin-bottom:20px;border-bottom:1px solid #eae9e9;}
.menuAll .menuList .Ad2:after {display:block;height:0;clear:both;content:".";visibility:hidden;}
.menuAll .menuList .Ad2 .tit2 {display:inline-block;font-family:'noto_r';font-size:16px;color:#121212;margin-bottom:10px;}
.menuAll .menuList .Ad2 .tit2:hover {color:#005dab;text-decoration:underline;}
.menuAll .menuList .Ad2 li {float:left;width:165px;margin-right:20px;border-bottom:0;}
.menuAll .menuList .Ad2 li:nth-child(4n) {margin-right:0;}

.menuAll .menuList .Ad3 li {float:none;margin-bottom:7px;border-bottom:0;}
.menuAll .menuList .Ad3 li a {font-family:'noto_d';color:#666;letter-spacing:-0.3px;}
.menuAll .menuList .Ad3 li a:hover {color:#005dab;text-decoration:underline;}

.menuAll .menuList .Ad4 {padding:9px 0 1px 0;}
.menuAll .menuList .Ad4 li {float:none;margin-bottom:4px;border-bottom:0;}
.menuAll .menuList .Ad4 li a {font-family:'noto_d';color:#767676;letter-spacing:-0.3px;}
.menuAll .menuList .Ad4 li a:hover {color:#005dab;text-decoration:underline;}

.menuAll .menuList .Ad1.last {display:inline-block;width:740px;height:auto;margin:0 0 10px 0;background:#f1f1f1;}
.menuAll .menuList .Ad1.last:after {display:block;height:0;clear:both;content:".";visibility:hidden;}
.menuAll .menuList .Ad1.last li {float:left;display:inline-block;width:25%;height:90px;padding:0 30px;margin:30px 0;border-right:1px solid #d9d9d9;}
.menuAll .menuList .Ad1.last li:last-child {width:50%;border-right:0;}
.menuAll .menuList .Ad1.last .tit {display:block;font-family:'noto_r';font-size:22px;color:#005dab;padding-bottom:0px;margin-bottom:0px;border-bottom:0;}
.menuAll .menuList .Ad1.last .Ad2 {padding:0px;margin:0;border-bottom:0;}
.menuAll .menuList .Ad1.last .Ad2 li {float:left;width:50%;height:inherit;padding:0;margin:0px;border:0;}
.menuAll .menuList .Ad1.last .Ad2 .tit2 {display:inline-block;font-family:'noto_r';font-size:16px;color:#121212;margin:10px 0 0 0;}


/* footer */
.footer {width:100%;min-width:980px;background:#f5f5f5;}
.footer .fb_area1:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area1{height:69px;border-bottom:1px solid #d1d1d1;}
.footer .fb_area1 .util_menu{float:left;width:auto;}
.footer .fb_area1 .util_menu li{float:left;background:url('/common/img/common/ft_bar.png') no-repeat right center;padding:0 15px 0 13px;}
.footer .fb_area1 .util_menu li:first-child{padding-left:0;}
.footer .fb_area1 .util_menu li a{font-family:'noto_b';color:#444;line-height:70px;font-size:14px;}
.footer .fb_area1 .util_menu li a:hover{color:#005dab !important;text-decoration:underline;}
.footer .fb_area1 .util_menu:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area1 .util_menu li.noline {background:url('');}
.footer .fb_area1 .util_menu li:last-child{background:url('');}
.footer .fb_area1 .util_menu .gallery{display:inline-block;color:#005dab;padding-left:30px;background:url('/common/img/icon/ft_gallery.png') no-repeat left 28px;}
.footer .fb_area1 .ft_sns{float:right;width:auto;padding:18px 0}
.footer .fb_area1 .ft_sns:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area1 .ft_sns li{float:left;display:block;width:34px;height:34px;margin-left:10px;}
.footer .fb_area1 .ft_sns li a{display:block;width:100%;height:100%;text-indent:-9999px;background:url('/common/img/icon/sns_footer.png') no-repeat 0 0;}
.footer .fb_area1 .ft_sns li a:hover{color:#005dab !important;text-decoration:underline;}
.footer .fb_area1 .ft_sns li a.facebook{background-position:0 0;}
.footer .fb_area1 .ft_sns li a.youtube{background-position:-44px 0;}
.footer .fb_area1 .ft_sns li a.instargram{background-position:-88px 0;}
.footer .fb_area1 .ft_sns li a.twitter{background-position:-132px 0;}
.footer .fb_area1 .ft_sns li a.yellow{background-position:-176px 0;}
.footer .fb_area1 .ft_sns li a.naver_cafe{background-position:-220px 0;margin-right:0;}
.footer .fb_area1 .ft_sns li a.facebook:hover{background-position:0 -54px;}
.footer .fb_area1 .ft_sns li a.youtube:hover{background-position:-44px -54px;}
.footer .fb_area1 .ft_sns li a.instargram:hover{background-position:-88px -54px;}
.footer .fb_area1 .ft_sns li a.twitter:hover{background-position:-132px -54px;}
.footer .fb_area1 .ft_sns li a.yellow:hover{background-position:-176px -54px;}
.footer .fb_area1 .ft_sns li a.naver_cafe:hover{background-position:-220px -54px;}

.footer .fb_area2{display:inline-block;padding-bottom:17px;border-bottom:1px solid #d1d1d1}
.footer .fb_area2 .ft_map:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area2 .ft_map li{float:left;width:196px;}
.footer .fb_area2 .ft_map li .fmap_tit{color:#444;font-size:20px;font-family:'noto_b';padding:19px 0 20px 1px;}
.footer .fb_area2 .ft_map li .fmap_lst li{margin-bottom:5px;}
.footer .fb_area2 .ft_map li .fmap_lst li a{font-family:'noto_r';color:#666;letter-spacing:-1px;font-size:13px;}
.footer .fb_area2 .ft_map li .fmap_lst li a:hover{color:#005dab !important;text-decoration:underline;}

.footer .fb_store{padding:20px 0;border-bottom:1px solid #d1d1d1;}
.footer .fb_store ul:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_store ul li{float:left;color:#767676;font-size:13px;padding:0 11px;margin-bottom:3px;background:url('/common/img/common/ft_bar.png') no-repeat right center;}
.footer .fb_store ul li:first-child{padding-left:0;}
.footer .fb_store ul li:last-child{background:url('');}
.footer .fb_store em {font-family:noto_b;}

.footer .fb_area3{padding-top:24px;position:relative;}
.footer .fb_area3 .ft_logo{width:128px;height:47px;position:absolute;top:28px;left:0;}
.footer .fb_area3 .address{margin:0 0 0 160px;}
.footer .fb_area3 .address ul:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.footer .fb_area3 .address ul li{float:left;color:#767676;line-height:20px;font-size:13px;padding:0 11px;background:url('/common/img/common/ft_bar.png') no-repeat right center;}
.footer .fb_area3 .address ul li:first-child{padding-left:0;}
.footer .fb_area3 .address ul li:last-child{background:url('');}
.footer .fb_area3 .address p{color:#767676;line-height:20px;font-size:13px;}
.footer .fb_area3 .address .copyright{font-family:'noto_r';color:#666;font-size:13px;padding:13px 0 48px;}
.footer .fb_area3 .address em {font-family:noto_b;}
.footer .fb_area3 .cw{width:200px;height:36px;position:absolute;top:24px;right:0;}
.footer .fb_area3 .cw button{width:100%;height:100%;font-family:'noto_d';font-size:12px;color:#767676;text-align:left;line-height:32px;border:2px solid #d0d0d0;padding-left:15px;background:#f5f5f5 url('/common/img/common/cw_bg_up.png') no-repeat 170px center;}
.footer .fb_area3 .cw button.on{background:#f5f5f5 url('/common/img/common/cw_bg_down.png') no-repeat 170px center;}
.footer .fb_area3 .cw ul{display:none;width:200px;height:auto;position:absolute;bottom:34px;left:0;background:#f5f5f5;border:2px solid #d0d0d0;padding:15px 0 0 15px;}
.footer .fb_area3 .cw ul li{margin-bottom:13px;}
.footer .fb_area3 .cw ul li a{font-size:12px;color:#767676;text-decoration:none;}
.footer .fb_area3 .cw ul li a:hover{color:#767676;text-decoration:underline;}
.footer .address li{font-family:'noto_d'}
.footer .address p{font-family:'noto_d'}