﻿@charset "utf-8";

/* 인재 채용_list */



/* 애드보킷_view */
.advocate .notice{margin-bottom:40px;}


/* 애드보킷_list */
.advocate .notice .list{margin-bottom:40px;border-top:2px solid #444;border-bottom:1px solid #bbb;}
.advocate .notice .list li{width:100%;padding:29px 0;border-top:1px solid #e8e8e8;}
.advocate .notice .list li:first-child{border:none;}
.advocate .notice .list li:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.advocate .notice .list li .lst_box{display:block;}
.advocate .notice .list li .lst_box .whole_box{display:block;width:auto;height:auto;padding-bottom:17px;}
.advocate .notice .list li .lst_box .whole_box:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.advocate .notice .list li .lst_box .whole_box .whole_notice{display:block;float:left;width:88px;color:#f78122;line-height:20px;font-size:20px;}
.advocate .notice .list li .lst_box .whole_box .lst_tit{display:block;float:right;width:879px;color:#333;font-size:20px;font-family:'noto_d';margin-top:-5px;padding-left:9px;}
.advocate .notice .list li .lst_box .lst_tit2{display:inline-block;width:auto;color:#333;font-size:20px;font-family:'noto_d';margin-top:-5px;padding-bottom:17px;}
.advocate .notice .list li .lst_img{display:block;float:left;width:245px;padding:0 20px;}
.advocate .notice .list li .lst_box{display:block;width:auto;padding-left:10px;}
.advocate .notice .list li.thumb:after{display:block;height:0;clear:both;content:".";visibility:hidden;}/* 썸네일이 있는 경우 */
.advocate .notice .list li.thumb .lst_img{display:block;float:left;width:230px;height:120px;padding:0 20px;}/* 썸네일이 있는 경우 */
.advocate .notice .list li.thumb .lst_img .img_wh{display:block;width:190px;height:120px;overflow:hidden;}/* 썸네일이 있는 경우 */
.advocate .notice .list li.thumb .lst_box{display:block;float:left;width:750px;}/* 썸네일이 있는 경우 */
.advocate .notice .list li .lst_box .lst_txt{display:block;color:#767676;font-size:13px;}
.advocate .notice .list li .lst_box .lst_txt .lst_bar{display:inline-block;width:1px;height:10px;vertical-align:middle;background:#c9c9c9;margin-left:14px;}
.advocate .notice .list li .lst_box .lst_txt .lst_hit{display:inline-block;margin-left:10px;padding-left:22px;background:url('/_html/temp/img/advocate_eye.png') no-repeat left center;}
.advocate .notice .list li .lst_box .list_link{display:block;color:#767676;line-height:24px;font-size:15px;font-family:'noto_d';padding-top:17px;}




/*****************************/


/* 공감 */



/* common */
