﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="guide.aspx.cs" Inherits="advocate_about_friends_shop_guide"  %>

<div class="fn_pop_container" style="background:transparent;" id="popup">
		<!-- 일반팝업 width : 800 -->
	<div class="pop_type1 w800 fn_pop_content" style="height:1561px;padding-top:50px; margin-bottom:50px;">
		<div class="pop_title">
			<span>프렌즈샵 신청 안내</span>
			<button class="pop_close" ng-click="modalInfo.close($event)"><span><img src="/common/img/btn/close_1.png" alt="팝업닫기" /></span></button>
		</div>

		<div class="pop_content shopGuide">

			<p class="intro s_con3">후원자님과 같은 마음으로 어린이를 후원하고 계신 후원자님에게 따뜻한 마음을 베풀어 주세요.</p>
			
			<div class="guide_con">
				<p class="s_tit6">프렌즈샵의 역할</p>
				<ul class="box_type3">
					<li class="s_con7">매장 공간의 자원을 활용해 컴패션을 홍보하고 어린이 결연업무를 대행하는 기회를 제공합니다.</li>
					<li class="s_con7">후원자 방문 시, 후원자 대상 혜택을 제공하여 컴패션 가족으로서의 소속감과 자부심을 부여합니다.</li>
					<li class="s_con7">자신의 사업장에 블루보드를 설치하여 후원자를 기다리고 있는 어린이를 소개합니다.</li>
					<li class="s_con7">매장의 시간과 여건이 가능한 선에서 컴패션 후원자(애드보킷)들의 요청에 따라 소규모 행사를 위한 장소를 제공합니다.</li>
				</ul>
				<p class="s_tit6">참여 조건</p>
				<ul class="box_type3">
					<li class="s_con7">모든 업종 또는 규모과 상관없이 컴패션에 긍정적 영향을 제공하기에 적합한 매장</li>
					<li class="s_con7">매장 소유주 또는 직원이 컴패션 회원인 경우</li>
					<li class="s_con7">비치 후 관리에 대한 서면, 직접 오리엔테이션을 의무사항으로 함</li>
					<li class="s_con1">
						매장의 업종 등을 사전 확인 후 사행성, 음주, 청소년 유해 업체 등 컴패션 미션과 비전에 부적합하다고 판단되는<br />
						매장인 경우 승인을 허가하지 않음
					</li>
				</ul>
				<p class="s_tit6">참여 혜택</p>
				<ul class="box_type3">
					<li class="s_con7">컴패션이 매장 내 컴패션프렌즈샵의 디자인 명패를 부착/비치하도록 제공</li>
					<li class="s_con7">사이트 홍보배너로 매장사이트에 연결하거나, 장소/연락처 등을 제공함으로써, 전 온라인 회원 대상으로 홍보가 가능함</li>
					<li class="s_con7">매장 비치용 컴패션의 홍보물, 포스터, 결연서 등을 요청할 수 있음</li>
					<li class="s_con7">컴패션프렌즈샵 이야기’ 등 뉴스레터나 웹진 등을 통해 프렌즈샵을 소개할 수 있음</li>
				</ul>
				<p class="s_tit6">참여 절차</p>
				<ul class="box_type3">
					<li class="s_con7">분기별 모집 기간 내에 컴패션 사이트를 통해 신청한 후 협의를 거쳐 선정함.</li>
					<li class="s_con7">1년의 제휴협약을 통해 프렌즈샵으로서 활동할 수 있고, 1년간의 제휴내용과 실질적인 협조, 효과 등을 Review하여 연간 갱신하는 방식을 취함.</li>
				</ul>
				<p class="s_tit6">해지 안내</p>
				<ul class="box_type3">
					<li class="s_con7">
						컴패션과 프렌즈샵간에 제휴협약의 이행에 있어 상호 이미지와 명성을 손상시키는 행위를 할 경우, 연간계약기간이
						남아있더라도 컴패션 또는 프렌즈샵이 2주전 공지를 통해 제휴내용을 해지할 수 있음.
					</li>
				</ul>
			</div>

			<p class="tel"><span class="t s_con3">문의</span><span class="s_con3">  :  02) 3668-3516</span></p>
			<div class="tac pt30" ng-click="modalInfo.close($event)"><a href="#" class="btn_type1">확인</a></div>



		</div>
	</div>
	<!--// popup -->
</div>