@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
ul,li,ol {list-style:none}
img {max-width:100%;border:0}
a {text-decoration:none}
a:hover {color:inherit;text-decoration:none}
iframe {border:none}

.sprite {background:url(../../images/sprite.png) no-repeat;text-indent:-9999px}
.btn {display:inline-block}
.table {display:table;height:100%;width:100%}
.cell {display:table-cell;vertical-align:middle}
.row {position:relative;width:1366px;margin:0 auto}
.row:after {content:'';clear:both;display:block}
#wrap {min-width:1366px;font-family:'Noto Sans KR'}
.header {position:fixed;top:0;left:0;width:100%;height:80px;background:url(../../images/bg_header.png);z-index:30}
.logo {position:absolute;top:0;left:0}
.gnb {text-align:center;line-height:80px}
.gnb li {display:inline-block}
.gnb li a {display:block;padding:0 25px;font-size:18px;font-weight:500;color:#fff;line-height:80px}
.gnb li a span {position:relative;display:inline-block;line-height:1.6}
.gnb li a span:before {content:'';position:absolute;bottom:-3px;left:0;width:0;height:2px;background:#fff;transition:all .3s ease-out}
.gnb li a:hover span:before {width:100%}
.snb {position:absolute;top:20px;right:50px}
.snb li, .snb__item {display:inline-block}
.snb__item {width:40px;height:40px;margin-left:4px}
.snb__item--in {background-position:-42px 0}
.snb__item--na {background-position:-84px 0}
.lnb {position:fixed;right:30px;top:50%;height:124px;margin-top:-62px}
.lnb a {overflow:hidden;display:block;width:12px;height:12px;margin-top:25px;background:#ccc;text-indent:-9999px;-webkit-border-radius:6px;border-radius:6px;box-sizing:border-box}
.lnb a.active {border:2px solid #ccc;background:none}
.lnb a:first-child {margin-top:0}
.btn-top {display:none;position:fixed;bottom:60px;right:15px;width:60px}
.modal-open {width:100%;height:100%;position: fixed;overflow-x: hidden;overflow-y: scroll}
/*light header*/
.lighten .header {background:#f9f4f1}
.lighten .gnb li a {color:#6c6c6c}
.lighten .gnb li:hover a {color:#004f98}
.lighten .gnb li.active a {color:#004f98}
.lighten .gnb li a span:before {background:#004f98}
.lighten .snb__item {background-position:0 -42px}
.lighten .snb__item--in {background-position:-42px -42px}
.lighten .snb__item--na {background-position:-84px -42px}
.main-video {position:fixed;top:0;left:0;width:100%;height:100%;background:url(../../images/bg_dim.png);z-index:50}
.main-video__wrap {position:absolute;top:50%;left:50%;width:700px;height:580px;margin-top:-290px;margin-left:-350px}
.main-video__top {overflow:hidden;margin-bottom:5px;color:#fff}
.main-video__tit {float:left;font-weight:200}
.main-video__close {float:right;padding-right:10px;line-height:36px}
.main-video__close img {vertical-align:middle}
.main-video__btn {overflow:hidden}
.main-video__btn a {display:block;float:right}
.main-video__btn a:first-child {float:left}
.main-intro {position:relative;padding-top:56.25%}
.main-intro:before {content:'';position:absolute;bottom:0;left:0;width:100%;height:65px;background:url(../../images/bg_introfooter.png) no-repeat center top;z-index:2}
.main-intro__videowrap {position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;visibility:hidden;opacity:0;transition:all .5s ease-out}
.main-intro__videowrap.active {z-index:1;visibility:visible;opacity:1}
.main-intro__video {position:absolute;top:0;left:0;width:100%;height:100%}
.main-intro__videodesc {position:absolute;bottom:16%;left:0;width:100%;font-size:19px;color:#fff;font-weight:500;line-height:30px;text-align:center}
.main-intro__slider li {height:1064px}
.main-intro__img {display:none;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center}
.main-intro__content {display:none;text-align:center}
.main-intro__flower {padding-top:80px}
.main-intro__desc {margin-top:5px;font-size:19px;color:#fff;font-weight:500;line-height:30px}
.main-intro__btn {margin-top:20px}
.btn-scrolldown {position:relative;top:0;width:46px;height:42px;background-position:-126px 0;-webkit-animation : scrolldown 0.8s linear none infinite alternate;animation : scrolldown 0.8s linear none infinite alternate}
.btn-maindonation {position:fixed;bottom:60px;right:90px;width:200px;z-index:3}
.fixLeft .btn-maindonation {right:auto;left:20px}
.main-story--red {height:1850px;background:url(../../images/pattern_red.jpg)}
.main-story--blue {height:2024px;background:url(../../images/pattern_blue.jpg)}
.main-story--yellow {height:1948px;padding-top:225px;background:url(../../images/pattern_yellow.jpg)}
.main-story__inner {position:relative;width:1366px;height:100%;margin:0 auto}
.main-story__item {position:absolute;opacity:0;visibility:hidden;transition:all .8s ease-out}
.main-story__item.active {opacity:1;visibility:visible;margin-left:0;transform:rotate(0deg)}
.main-story__item--01 {top:40px;left:54px;margin-left:-20px}
.main-story__item--02 {top:696px;left:684px;margin-left:30px;transform:rotate(10deg)}
.main-story__item--03 {top:1164px;left:186px;margin-left:-30px}
.main-story__item--04 {top:58px;left:578px;margin-left:20px}
.main-story__item--05 {top:752px;left:62px;margin-left:-30px;transform:rotate(5deg)}
.main-story__item--06 {top:1310px;left:595px;margin-left:30px}
.main-story__item--07 {top:5px;left:40px;margin-left:-20px}
.main-story__item--08 {top:785px;left:685px;margin-left:30px;transform:rotate(10deg)}
.main-story__item--09 {top:1158px;left:65px;margin-left:-30px}
.main-story__line {position:absolute;top:0;left:0;z-index:1}
.main-story__line--red {transition:all .5s ease-out;clip:rect(0px,1366px,0px,0px)}
.main-story__line--blue {transition:all .5s ease-out;clip:rect(0px,1366px,0px,0px)}
.main-story__line--yellow {transition:all .5s ease-out;clip:rect(0px,1366px,0px,0px)}
.main-slogan {position:relative;height:370px;background-repeat:no-repeat;background-position:50% 250px;background-attachment:fixed}
.main-slogan:before {content:'';position:absolute;top:0;left:0;width:100%;height:14px}
.main-slogan:after {content:'';position:absolute;bottom:0;left:0;width:100%;height:14px}
.main-slogan--red {background-image:url(../../images/img_slogan1.jpg)}
.main-slogan--red:before {background:url(../../images/bg_redtop.png) no-repeat center top}
.main-slogan--red:after {background:url(../../images/bg_redbottom.png) no-repeat center top}
.main-slogan--blue {background-image:url(../../images/img_slogan2.jpg)}
.main-slogan--blue:before {background:url(../../images/bg_bluetop.png) no-repeat center top}
.main-slogan--blue:after {background:url(../../images/bg_bluebottom.png) no-repeat center top}
.main-slogan--yellow {background-image:url(../../images/img_slogan3.jpg)}
.main-slogan--yellow:before {background:url(../../images/bg_yellowtop.png) no-repeat center top}
.main-slogan--yellow:after {background:url(../../images/bg_yellowbottom.png) no-repeat center top}
.main-slogan__desc {position:absolute;top:0;left:50%;width:1366px;height:100%;margin-left:-688px;padding-right:110px;text-align:right;box-sizing:border-box}
.main-slogan--blue .main-slogan__desc {padding-right:200px}
.main-donation {position:relative;padding:60px 0;padding-bottom:180px;text-align:center}
.main-donation__iframe {width:100%;height:465px}
.main-donation--red {background:url(../../images/pattern_red.jpg)}
.main-donation--blue {padding-bottom:0;background:url(../../images/pattern_blue.jpg)}
.main-donation--yellow {padding-bottom:20px;background:url(../../images/pattern_yellow.jpg)}
.main-donation--red:before {content:'';position:absolute;bottom:0;left:0;width:100%;height:449px;background:url(../../images/bg_redblue.jpg) no-repeat center top}
.main-donation--blue:before {content:'';position:absolute;bottom:0;left:0;width:100%;height:449px;background:url(../../images/bg_blueyellow.jpg) no-repeat center top}
.main-donation__tit {margin-bottom:64px}
.footer {padding:52px 0;background:url(../../images/pattern_yellow.jpg)}
.footer__logo, .footer__info {float:left}
.footer__logo {margin-left:230px;margin-right:122px}
.footer__info {font-size:13px;color:#9e9e9e;line-height:20px}
.footer__copyright {margin-top:20px}

/*content*/
.lighten #container {padding-top:80px}
.content-donation {}
.cd-intro {position:relative;height:670px;background:url(../../images/img_donation.jpg) no-repeat center top;background-size:cover}
.cd-intro__wrap {position:absolute;top:0;left:50%;width:1366px;height:100%;margin-left:-683px}
.cd-intro__meta {position:absolute;top:35px;right:106px;text-align:center}
.cd-intro__desc {position:relative;top:-5px;font-size:18px;color:#fcf9f2;line-height:27px}
.cd-intro__desc span {position:relative;display:inline-block;top:2px;width:88px;height:23px;background-position:-199px 0}
.cd-info {position:relative;height:2094px;background:url(../../images/bg_donation.jpg) no-repeat center top}
.cd-info__present {position:relative;top:-175px;margin-bottom:-175px;text-align:center}
.cd-info__present a {position:absolute;bottom:162px;left:50%;width:275px;height:76px;margin-left:-137px}
.cd-info__find {position: relative;text-align:center}
.cd-info__find a {position:absolute;left:50%;bottom:258px;width:275px;height:76px;margin-left:-137px;text-align:center}
.lighten .footer {background:url(../../images/bg_donation.jpg) no-repeat center bottom}
/*people*/
.cp-intro {height:688px;background:url(../../images/bg_people.jpg) no-repeat center top;text-indent:-9999px}
.cp-sean {height:1045px;background:url(../../images/bg_sean.jpg) no-repeat center top}
.cp-sean__content {position:relative;height:1045px;background:url(../../images/img_sean.jpg) no-repeat center top}
.cp-sean__video {position:absolute;top:524px;left:50%;width:620px;height:348px;margin-left:-310px;border:3px solid #b685c2;box-sizing:border-box;box-shadow:2px 2px 5px #444;}
.cp-sean__video:before {content:url(../../images/img_seanflower1.png);position:absolute;left:-238px;top:85px}
.cp-sean__video:after {content:url(../../images/img_seanflower2.png);position:absolute;right:-65px;top:256px}
.cp-sean__video iframe {position:absolute;top:0;left:0}
.cp-sean__video img {cursor:pointer}
.cp-guest {height:1013px;background:url(../../images/bg_guest.jpg) no-repeat center top}
.cp-guest__content {position:relative;height:1013px;background:url(../../images/img_guest.jpg) no-repeat center top}
.cp-guest__btn {position:absolute;top:615px;left:0;width:100%;text-align:center}
.cp-guest__video {position:absolute;bottom:88px;left:0;width:100%;text-align:center}
.cp-concert {margin-bottom:-18px;background:#fdfcf0;text-align:center}
.cp-donation {position:relative;height:368px;margin-bottom:-18px;background:url(../../images/bg_peopledonation.png) no-repeat center top}
.cp-donation__content {width:1200px;height:368px;margin:0 auto;padding-left:500px;text-align:center;box-sizing:border-box}
.layer {display:none;position:fixed;top:0;left:0;width:100%;height:100%;background:url(../../images/bg_dim.png);z-index:50}
.layer-wrap {position:absolute;top:100px;left:50%;width:860px;height:700px;margin-left:-430px;background:#fff}
.layer-header {background:#004f98;font-size:18px;font-weight:600;color:#fff;line-height:50px;text-align:center}
.layer-body {padding:30px}
.layer-body iframe {width:100%;height:580px}
.layer-video__wrap {}
.btn-layerclose {position:absolute;top:0;right:0;width:50px;height:50px;border:none;background:#fff;line-height:50px;color:#004f98;text-align:center;font-size:20px;cursor:pointer}
.layer-video__body {position:absolute;top:50%;left:50%;width:1000px;height:563px;margin-left:-500px;margin-top:-281px;background:#fff}
.layer-video__close {position:absolute;top:-14px;right:-54px;width:60px;cursor:pointer}
/*banner*/
.main-banner {display:none;position:absolute;top:280px;left:160px;z-index:1}
.main-banner a {display:block}
.main-banner a img {vertical-align:top}
.main-banner__close {position:absolute;top:0;right:0;width:30px;height:30px;background:#004f98;text-align:center;cursor:pointer}
.main-banner__close img {position:relative;top:6px}
.main-banner__no {cursor:pointer;text-align:right;font-size:12px;color:gray;line-height:22px}
@-webkit-keyframes scrolldown {
	from {opacity:0.5;top:0px}
	to {opacity:1;top:10px}
}
@keyframes scrolldown {
	from {opacity:0.5;top:0px}
	to {opacity:1;top:10px}
}