@charset "UTF-8";
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,fieldset,p,input,textarea,select,button,th,td,blockquote {margin:0;padding:0}
ul,li,ol {list-style:none}
img {max-width:100%;border:0}
a {text-decoration:none}
iframe {border:none}

.main-donation__list {text-align:center;color:#666}
.main-donation__list li {display:inline-block;width:340px;height:465px;margin:0 5px;background:url(../../images/bg_list.png) no-repeat center top}
.main-donation__list-item {width:275px;margin:0 auto;padding:14px 20px}
.main-donation__list-dday {position:relative;padding-left:30px;font-size:15px;text-align:left}
.main-donation__list-dday:before {content:'';position:absolute;top:0;left:0;display:block;width:23px;height:23px;background:url(../../images/sprite.png) no-repeat -174px 0}
.main-donation__list-img {position:relative;width:150px;height:150px;margin:30px auto 20px auto;-webkit-border-radius:50%;border-radius:50%;text-indent:-9999px}
.main-donation__list-img:before {content:'';position:absolute;bottom:-5px;right:-10px;width:60px;height:63px;background:url(../../images/img_smallflower1.png) no-repeat right bottom}
.main-donation__list--blue .main-donation__list-img:before {background:url(../../images/img_smallflower2.png) no-repeat right bottom}
.main-donation__list--yellow .main-donation__list-img:before {background:url(../../images/img_smallflower3.png) no-repeat right bottom}
.main-donation__list-img img {-webkit-border-radius:75px;border-radius:75px}
.main-donation__list-name {margin-bottom:4px;font-size:21px}
.main-donation__list-nation, .main-donation__list-info {font-size:15px}
.main-donation__list-info {margin-bottom:36px}
.btn-donation {display:inline-block;width:90%;padding:12px 0;background:#ff9600;-webkit-border-radius:35px;border-radius:35px;font-size:21px;color:#fff;letter-spacing:-1px;transition:all .5s ease-out}
.btn-donation:hover {background:#e28000;text-decoration:none;color:#fff}