﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="GetTxnId.aspx.cs" Inherits="_test_kakaopay_GetTxnId" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<title></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<script type="text/javascript">
    function setTxnId() {

        var resultCode = "<%=resultCode%>";
        var resultMsg = "<%=resultMsg%>";
        var txnId = "<%=txnId%>";
        var prDt = "<%=prDt%>";
        var channelType = "<%=channelType%>";

        // 가져온 결과를 payForm에 세팅
        parent.document.getElementById('resultCode').value = resultCode;
        parent.document.getElementById('resultMsg').value = resultMsg;
        parent.document.getElementById('txnId').value = txnId;
        parent.document.getElementById('prDt').value = prDt;
	    

        parent.cnspay();
    }
</script>
</head>
<body onload="setTxnId()">
    <form id="form1" runat="server">
    <div>

    </div>
    </form>
</body>
</html>
