﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="payment_virtualaccount.aspx.cs" Inherits="my_activity_pay_payment_virtualaccount" %>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>payment</title>
</head>

<body>
    <form id="RetForm" runat="server">
        <asp:Label ID="lblMsg" runat="Server" OnLoad="GetData" />
        <input type="hidden" name="result" value="0000"/>
    </form>
</body>
</html>
