<!--
    PAGE : INDEX PAGE
    Copyright (c)  2013   KCP Inc.   All Rights Reserverd.
//-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title></title>
<meta http-equiv="Content-Type" content="text/html; charset=euc-kr" />
<meta name="viewport" content="width=device-width, user-scalable=1.0, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
<link href="auth/css/style.css" rel="stylesheet" media="all" id="cssLink">
</head>
<body style="background:#0e66a4;">
<div id="sample_index">
  <h1>PAYMENT SAMPLE</h1>
  <div class="btnSet">
    <a href="./auth/chk_plugin.html" class="btn1" >&sdot; 배치키 발급 요청 <span>&rarr;</span></a>
    <a href="./payx/order.aspx" class="btn2">&sdot; 배치키 결제 요청 <span>&rarr;</span></a>
    <a href="./payx/cancel.aspx" class="btn3">&sdot; 취소 요청 <span>&rarr;</span></a>
  </div>
  <!--footer-->
  <div class="footer">
    Copyright (c) KCP INC. All Rights reserved.
  </div>
  <!--//footer-->
</div>
</body>
</html>