html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section { display: block;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: ''; content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

html, body { position: relative; height: 100%;}
body { background: #eee; color:#fff; margin: 0; padding: 0;	font-size:10px;}
.swiper-container { width: 100%; height: 100%; position:relative; background: #000;}
.swiper-container.white { background: #fff;}
header { width:100%; height:5.625em; position:absolute; left:0; top:0; z-index:100; background:#000;}
header h1  { width:35%; float:left; text-align:center; font-size:1em;}
header h1  img {height:3.750em; width:auto; margin-top:0.625em;}
header ul { width:65%; float:right;}
header ul li { float:left; width:16%; margin:1.688em 2% 0; }
header ul li a { line-height:1.125em; text-decoration:none; color:#fafafa; }
header ul li a img { height:2.438em}
header ul li.on a { font-weight:900; color:#fff;}
footer { width:100%; height:5.625em; position:absolute; left:0; bottom:0; z-index:100; background:#003796;}
footer a { display:block; width:100%; height:5.625em; line-height:6.5em; text-align:center; }
footer a img { height:1.8125em; width:auto;}

.swiper-slide { text-align: center; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}

.sharewrap { display:inline-block; }
.sharewrap img, .sharewrap a { float:left;}

.swiper-wrapper p { display:none; z-index:90; }
img.bg { width:100%; height:auto;}
.swiper-slide .t0 { position:absolute; left:0; top:0; z-index:80;  display:block; opacity:0.15; width:100%; text-align:center;}
.swiper-slide p img { width:100%; height:auto;}

.sw0 .swiper-slide:nth-child(1) .t1 { position:absolute; left:0;  top:-7em; width:100%; display:block; opacity:0; z-index:105;}
.sw0 .swiper-slide:nth-child(1) .t2 { position:absolute; left:0; top:0; width:100%; display:block; opacity:0; z-index:105;}

.sw0 .swiper-slide:nth-child(2) .t1, 
.sw0 .swiper-slide:nth-child(2) .t2,
.sw0 .swiper-slide:nth-child(2) .t3 { position:absolute; left:0; top:0; width:100%; display:block; opacity:0; z-index:105;}

.sw0 .swiper-slide:nth-child(3) .t1,
.sw0 .swiper-slide:nth-child(3) .t2,
.sw0 .swiper-slide:nth-child(3) .t3 { position:absolute; left:0; top:0; width:100%; display:block; opacity:0; z-index:105;}

.sw0 .swiper-slide:nth-child(4) .t1,
.sw0 .swiper-slide:nth-child(4) .t2,
.sw0 .swiper-slide:nth-child(4) .t3 { position:absolute; left:0; top:0; width:100%; display:block; opacity:0; z-index:105;}

.sw0 .swiper-slide:nth-child(5) .t1,
.sw0 .swiper-slide:nth-child(5) .t2,
.sw0 .swiper-slide:nth-child(5) .t3 { position:absolute; left:0; top:0; width:100%; display:block; opacity:0; z-index:105;}

.sw0 .swiper-slide:nth-child(6) .t1 { position:absolute; left:50%; top:7.500em; margin-left:-2.875em; width:5.75em}
.sw0 .swiper-slide:nth-child(6) .t2 { position:absolute; left:50%; top:22.875em; margin-left:-15.21875em; width:30.4375em}
.sw0 .swiper-slide:nth-child(6) .t3 { position:absolute; left:50%; top:28.938em; margin-left:-15.09375em; width:30.1875em;}
.sw0 .swiper-slide:nth-child(6) .t4 { position:absolute; left:0; top:35.688em; width:100%; text-align:center;}
.sw0 .swiper-slide:nth-child(6) .t4 img { height:2.57em; width:auto;}
.sw0 .swiper-slide:nth-child(6) .t5 { position:absolute; left:0; top:39.875em; width:100%; text-align:center;}
.sw0 .swiper-slide:nth-child(6) .t5 img { height:4.5em; width:auto;}

.sw1 .swiper-slide:nth-child(1) .t1 { position:absolute; left:0; top:-7em; width:100%; display:block; opacity:0; z-index:95;}
.sw1 .swiper-slide:nth-child(1) .t2,
.sw1 .swiper-slide:nth-child(1) .t3 { position:absolute; left:0; top:0; width:100%; z-index:100;}

.sw1 .swiper-slide:nth-child(2) .t1 { position:absolute; left:0; top:0; width:100%;}
.sw1 .swiper-slide:nth-child(2) .t2,
.sw1 .swiper-slide:nth-child(2) .t3 { position:absolute; left:0; top:0; width:100%;}

.sw1 .swiper-slide:nth-child(3) .t1,
.sw1 .swiper-slide:nth-child(3) .t2,
.sw1 .swiper-slide:nth-child(3) .t3 { position:absolute; left:0; top:0; width:100%;}

.sw1 .swiper-slide:nth-child(4) .t1,
.sw1 .swiper-slide:nth-child(4) .t2,
.sw1 .swiper-slide:nth-child(4) .t3 { position:absolute; left:0; top:0; width:100%;}

.sw1 .swiper-slide:nth-child(5) .t1,
.sw1 .swiper-slide:nth-child(5) .t2,
.sw1 .swiper-slide:nth-child(5) .t3 { position:absolute; left:0; top:0; width:100%; text-align:left;}

.sw1 .swiper-slide:nth-child(6) .t1 { position:absolute; left:50%; top:13.5em; margin-left:-7.09375em; width:14.1875em; display:block; opacity:0.5; }
.sw1 .swiper-slide:nth-child(6) .t2 { position:absolute; left:50%; top:22.875em; margin-left:-15.21875em; width:30.4375em}
.sw1 .swiper-slide:nth-child(6) .t3 { position:absolute; left:50%; top:28.938em; margin-left:-15.09375em; width:30.1875em;}
.sw1 .swiper-slide:nth-child(6) .t4 { position:absolute; left:0; top:35.688em; width:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(6) .t4 img { height:2.57em; width:auto;}
.sw1 .swiper-slide:nth-child(6) .t5 { position:absolute; left:0; top:39.875em; width:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(6) .t5 img { height:4.5em; width:auto;}

.sw1 .magic { width:100%; height:auto;}

.ytframeWrap { position:relative; padding-bottom:25.4%; height:0; overflow:hidden; width:45%; z-index:95; left:12.81%; }
.ytframeWrap iframe, .ytframeWrap object, .ytframeWrap embed { position:absolute; top:0; left:0; width:100%; height:100%;}
.ytframeWrap.w2 { padding-bottom:43.4%; width:76.56%; left:11.72%; }

@media only screen and (min-width:320px) {
@-ms-viewport{device-width;}
body { font-size:10px;}
}
@media only screen and (min-width:480px) and (max-width:747px) {
@-ms-viewport{device-width;}
body { font-size:12px;}
}
@media only screen and (min-width:748px) and (max-width:1003px) {
@-ms-viewport{device-width;}
body { font-size:15px;}
}
@media only screen and (min-width:1004px) and (max-width:1179px) {
@-ms-viewport{device-width;}
body { font-size:18px;}
}
@media only screen and (min-width:1180px) {
@-ms-viewport{device-width;}
body { font-size:20px;}
}
