html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section { display: block;}
ol, ul { list-style: none;}
blockquote, q { quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {	content: ''; content: none;}
table {	border-collapse: collapse;	border-spacing: 0;}

html, body { position: relative; height: 100%;}
body { background: #eee; color:#fff; margin: 0; padding: 0;	font-size:10px;}
.swiper-container { width: 100%; height: 100%; position:relative; background: #000;}
.swiper-container.white { background: #fff;}
header { width:100%; height:5.625em; position:absolute; left:0; top:0; z-index:100; background:#003796;}
header h1  { width:35%; float:left; text-align:center; font-size:1em;}
header h1  img {height:3.750em; width:auto; margin-top:1em;}
header ul { width:65%; float:right;}
header ul li { float:left; width:16%; margin:0.8em 4% 0; }
header ul li a { line-height:0.125em; text-decoration:none; color:#fafafa; }
header ul li a img { height:4em}
header ul li.on a { font-weight:900; color:#fff;}

footer a { display:block; width:100%; height:5.625em; line-height:6.5em; text-align:center; }
footer a img { height:1.8125em; width:auto;}

.swiper-slide { text-align: center; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}

.sharewrap { display:inline-block; }
.sharewrap img, .sharewrap a { float:left;}

.swiper-wrapper p { display:none; z-index:90; }
img.bg { width:100%; height:auto;}
.swiper-slide .t0 { position:absolute; left:0; top:0; z-index:0;  display:block; opacity:1; width:100%; text-align:center;}
.swiper-slide p img { width:100%; height:100%;}
.swiper-slide p embed { width:100%; height:100%;}

.swiper-slide .link1 {position:absolute;bottom:70%;left:4%;width:45%;height:20%;}
.swiper-slide .link2 {position:absolute;bottom:70%;left:50%;width:45%;height:20%;}
.swiper-slide .link3 {position:absolute;bottom:47%;left:4%;width:45%;height:20%;}
.swiper-slide .link4 {position:absolute;bottom:47%;left:50%;width:45%;height:20%;}

.sw1 .swiper-slide:nth-child(1) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(1) .t2 { position:absolute; left:0; top:0; width:100%;}
.sw1 .swiper-slide:nth-child(1) .t3 { position:absolute; left:0; top:0; width:100%;}
.sw1 .swiper-slide:nth-child(1) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(1) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(1) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(1) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(2) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(2) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(2) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(2) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(2) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(3) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(3) .t2 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(3) .t3 { position:absolute; left:0; top:0; width:100%;}
.sw1 .swiper-slide:nth-child(3) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(3) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(3) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(3) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(4) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(4) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(4) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(4) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(4) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(5) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(5) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(5) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(5) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%; text-align:center;}
.sw1 .swiper-slide:nth-child(5) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(6) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(6) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(6) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(6) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(6) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(7) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(12) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(12) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(12) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(12) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(8) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(8) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(8) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(8) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(8) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(9) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(9) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(9) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(9) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(9) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(10) .t1 { position:absolute; left:0; top:35%; width:100%;}

.sw1 .swiper-slide:nth-child(11) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(11) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(11) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(11) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(11) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(12) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(12) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(12) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(12) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(12) .t5 img { height:4.5em; width:auto;}

.sw1 .swiper-slide:nth-child(13) .t1 { position:absolute; left:0; top:35%; width:100%;}

.sw1 .swiper-slide:nth-child(14) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(14) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(14) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(14) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(14) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(15) .t1 { position:absolute; left:0; top:35%; width:100%;}

.sw1 .swiper-slide:nth-child(16) .t1 { position:absolute; left:0; top:35%; width:100%;}

.sw1 .swiper-slide:nth-child(17) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(17) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(17) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(17) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(17) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(18) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(18) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(18) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(18) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(18) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(19) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(19) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(19) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(19) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(19) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(20) .t1 { position:absolute; left:0; top:35%; width:100%;}

.sw1 .swiper-slide:nth-child(21) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(21) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(21) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(21) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(21) .t5 img { height:4.5em; width:auto;}



.sw1 .swiper-slide:nth-child(22) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(22) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(22) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(22) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(22) .t5 img { height:4.5em; width:auto;}



.sw1 .swiper-slide:nth-child(23) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(23) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(23) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(23) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(23) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(24) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(24) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(24) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(24) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(24) .t5 img { height:4.5em; width:auto;}


.sw1 .swiper-slide:nth-child(25) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(25) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(25) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(25) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(25) .t5 img { height:4.5em; width:auto;}



.sw1 .swiper-slide:nth-child(26) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(26) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(26) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(26) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(26) .t5 img { height:4.5em; width:auto;}




.sw1 .swiper-slide:nth-child(27) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(27) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(27) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(27) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(27) .t5 img { height:4.5em; width:auto;}



.sw1 .swiper-slide:nth-child(28) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(28) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(28) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(28) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(28) .t5 img { height:4.5em; width:auto;}



.sw1 .swiper-slide:nth-child(29) .t1 { position:absolute; left:0; top:35%; width:100%;}
.sw1 .swiper-slide:nth-child(29) .t4 { position:absolute; left:0; top:77%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(29) .t4 img { height:4.5em; width:auto;}
.sw1 .swiper-slide:nth-child(29) .t5 { position:absolute; left:0; top:87%; width:100%; height:100%;text-align:center;}
.sw1 .swiper-slide:nth-child(29) .t5 img { height:4.5em; width:auto;}


.sw1 .magic { width:50%; height:auto;}


.ytframeWrap { position:absolute; padding-bottom:50.4%; height:0; overflow:hidden; width:50%; z-index:95; left:12.81%; }
.ytframeWrap iframe, .ytframeWrap object, .ytframeWrap embed { position:absolute; top:0; left:0; width:100%; height:100%;}
.ytframeWrap.w2 { padding-bottom:50%; width:90%; left:5%; }



@media only screen and (min-width:320px) {
@-ms-viewport{device-width;}
body { font-size:10px;}
}
@media only screen and (min-width:480px) and (max-width:747px) {
@-ms-viewport{device-width;}
body { font-size:12px;}
}
@media only screen and (min-width:748px) and (max-width:1003px) {
@-ms-viewport{device-width;}
body { font-size:15px;}
}
@media only screen and (min-width:1004px) and (max-width:1179px) {
@-ms-viewport{device-width;}
body { font-size:18px;}
}
@media only screen and (min-width:1180px) {
@-ms-viewport{device-width;}
body { font-size:20px;}
}
