﻿							
<!-- 엘살바도르 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">엘살바도르는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	연령대에 맞춰 성경을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
	어린이센터의 모든 어린이에게 식사와 간식을 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	부모님들이 시기에 맞춰 예방접종을 할 수 있도록 독려하며, 예방접종기록을 관리합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	컴퓨터, 미용, 제과제빵, 재봉, 이발, 목수, 차 수리 등의 교육을 진행합니다.
</div>