﻿							
<!-- 가나 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">가나는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
	대부분 어린이들이 가정에서 균형 잡힌 식사를 하지 못하고 어린이센터 출석 시 배가 고픈 상태로 오게 됩니다. 특별히 영양실조에 처한 아이들에게는 달걀, 우유, 콩, 쌀, 기름과 같은 식료품을 한 달에 한 번 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	성경공부<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	체육 활동<br /><br />
	
	<strong class="txt-childinfo3">직업 훈련</strong>
	청소년을 위한 바틱 만들기, 구슬 공예, 비누 제작, 바구니 제작 등의 교육<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	예방 접종을 정기적으로 실시합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	올바른 양육 훈련과 수입창출 교육을 받습니다.
</div>