﻿							
<!-- 온두라스 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">온두라스는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	연령에 맞는 성경을 제공하며, 성경공부를 진행합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
	온두라스의 공립학교에서는 식사를 제공하지 않고, 후원어린이들의 가정은 형편이 어려워 어린이들의 영양이 많이 부족한 상태입니다. 따라서 영양학 훈련을 받은 선생님이 균형잡힌 식단으로 점심식사를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	어린이가 센터에 등록될 때 예방접종기록 확인 후 미 접종 시 공공기관에서 받을 수 있도록 돕습니다.<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	HIV예방교육 및 식수사용, 환경적인 부분에 대한 교육을 진행합니다. 또한 각종 체육활동 및 현장학습도 진행합니다.<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	재봉기술, 수공예, 컴퓨터, 제과제빵, 미용학교 등의 직업훈련을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	2~3개월마다 학부모 모임을 통해 자녀양육 훈련을 진행합니다.
</div>