﻿							
<!-- 케냐 -->

<div class="editor-html">
	<p class="txt-childinfo1 mt30">케냐는 컴패션에서<br />어떤 지원을 받나요?</p>

	<strong class="txt-childinfo3 mt20">학교에 갈 수 있는 기회 제공</strong>
	000이(가) 학교에 다닐 수 있도록 하고 학용품, 교복 등을 제공합니다.<br /><br />

	<strong class="txt-childinfo3">영양 지원</strong>
	매주 토요일에 - 점심과 간식을 제공합니다. 간식으로는 죽, 차, 빵, 과일과 계란 등을 제공하며 점심으로는 우갈리, 소고기 스튜, 레구메와 케일 또는 양배추와 같은 채소를 제공합니다. 또한 정기적인 건강검진으로 어린이들의 건강을 책임집니다.<br /><br />

	<strong class="txt-childinfo3">신앙 활동</strong>
	성경공부<br /><br />

	<strong class="txt-childinfo3">특별활동</strong>
	체육 활동<br /><br />

	<strong class="txt-childinfo3">직업 훈련</strong>
	청소년을 위한 바틱 만들기, 구슬 공예, 비누 제작, 바구니 제작 등의 교육 및 효율적인 농업을 위해 가뭄에 강한 농작물 교육과 비닐하우스 재배, 염소와 토끼 같은 가축 사육을 통한 수입 창출 교육을 진행합니다.<br /><br />

	<strong class="txt-childinfo3">예방접종</strong>
	예방 접종을 정기적으로 실시합니다.<br /><br />

	<strong class="txt-childinfo3">학부모 모임</strong>
	올바른 양육 훈련과 수입창출 교육을 받습니다.
</div>