
<FRAMESET cols="20%,80%">
<FRAMESET rows="30%,70%">
<FRAME src="crosscert.html" name="crosscert">
<FRAME src="menu.html" name="menu">
</FRAMESET>
<FRAMESET rows=",100">
<FRAME src="Object_chk.html" name="main">
<FRAME src="bottom.html" name="bottom">
</FRAMESET>
</FRAMESET>