﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="upload.aspx.cs" Inherits="common_handler_upload" %>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<script>
		//document.domain = <%:Request.Url.Host%>;
		document.domain = location.host;
	</script>
</head>
<body>
	<asp:Literal runat="server" ID="msg"></asp:Literal>
</body>
</html>
