﻿@charset "utf-8";

* {
	margin:0; 
	padding:0; 
	-webkit-box-sizing: border-box; 
	   -moz-box-sizing: border-box; 
			box-sizing: border-box;
}

html, body, body div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;font-family:'noto_d';font-size:100%;font-weight:normal;vertical-align:baseline}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block}

body {font-family:'noto_d';font-weight:normal;font-size:13px;color:#666;background-color:transparent;-webkit-text-size-adjust:none;}
img {border:0px;display:block;}
html, body {width:100%; height:100%;}
table {table-layout:fixed;}
ul,ol {margin:0 auto;padding:0;list-style:none}
input,textarea,select {font-family:'noto_d';font-size:13px;color:#666;border:0;outline-style:none;}
.invisible, caption, legend {position:absolute;left:-9999px;font-size:0;line-height:0%;visibility:hidden}
label.hidden {position:absolute;left:-9999px;font-size:0;line-height:0%;visibility:hidden}
button {font-family:'noto_d';background:none;border:0;cursor:pointer;outline-style:none;}
button>span {position:relative;}
em {font-style:normal;}
b {font-family:noto_m;}

/* common */
.fl {float:left}
.fr {float:right}
.hidden {overflow:hidden;}
.txt_hidden {display:block;width:0;height:0;font-size:0;position:absolute;left:-9999px;}
.clear {display:block;height:0;clear:both;content:".";visibility:hidden}
.clear2:after {content:".";clear:both;display:block;height:0;visibility:hidden}
.relative {position:relative}
.elps {overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.wb {word-break:break-all;}
.border {border:1px solid red}
.inline {display:inline;}
.inblock {display:inline-block;}
.block {display:block !important;}
.tac {text-align:center !important;}
.tar {text-align:right !important;}
.tal {text-align:left !important;}
.vam {vertical-align:middle !important;}
.cursor {cursor:pointer;}
.tac .posR {position:absolute;right:0;top:0;}

.v_stnd {width:1%;height:100%; display:inline-block; vertical-align:middle;}
.v_center {width:98%; text-align:center; display:inline-block; vertical-align:middle;}
.visual_dim {width:100%;height:100%;position:absolute;left:0;top:0;background:#000;opacity:0.1;filter:alpah(opacity=10)}

/* padding */
.pl5 {padding-left:5px;}
.pl10 {padding-left:10px;}
.pl15 {padding-left:15px;}
.pl20 {padding-left:20px;}
.pl25 {padding-left:25px;}
.pl30 {padding-left:30px;}
.pl40 {padding-left:40px !important;}
.pl45 {padding-left:45px !important;}

.pr10 {padding-right:10px !important;}
.pr20 {padding-right:20px !important;}

.pt5 {padding-top:5px;}
.pt10 {padding-top:10px;}
.pt15 {padding-top:15px;}
.pt20 {padding-top:20px;}
.pt30 {padding-top:30px;}
.pt40 {padding-top:40px;}
.pt50 {padding-top:50px;}
.pt60 {padding-top:60px;}

.pb5 {padding-bottom:5px;}
.pb10 {padding-bottom:10px;}
.pb15 {padding-bottom:15px;}
.pb20 {padding-bottom:20px;}
.pb30 {padding-bottom:30px;}

/* margin */
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt30 {margin-top:30px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}

.mb5 {margin-bottom:5px;}
.mb10 {margin-bottom:10px;}
.mb15 {margin-bottom:15px;}
.mb20 {margin-bottom:20px;}
.mb25 {margin-bottom:25px;}
.mb30 {margin-bottom:30px;}
.mb35 {margin-bottom:35px !important;}
.mb40 {margin-bottom:40px;}
.mb50 {margin-bottom:50px !important;}
.mb55 {margin-bottom:55px;}
.mb60 {margin-bottom:60px;}
.mb70 {margin-bottom:70px;}
.mb80 {margin-bottom:80px;}

.ml5 {margin-left:5px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml25 {margin-left:25px;}
.ml30 {margin-left:30px;}
.ml40 {margin-left:40px;}

.mr5 {margin-right:5px;}
.mr8 {margin-right:8px;}
.mr10 {margin-right:10px;}
.mr15 {margin-right:15px;}
.mr20 {margin-right:20px;}
.mr25 {margin-right:25px;}
.mr30 {margin-right:30px;}
.mr33 {margin-right:33px;}
.mr40 {margin-right:40px;}
.mr50 {margin-right:50px;}
.mr60 {margin-right:60px;}

.mlr1 {margin:0 1px;}
.mlr3 {margin:0 3px;}

/* height */
.h40 {height:40px;}
.h100 {height:100px;}

/* font */
.fc_blue {color:#005dab !important;}
.fc_gray {color:#767676 !important;}
.fc_gray2 {color:#666 !important;}
.fc_black {color:#121212 !important;}
.fc_black2 {color:#333 !important;}
.fc_red {color:#f05353 !important;}

.fs_m {font-family:'noto_m';}
.fs13 {font-size:13px !important;}
.fs14 {font-size:14px !important;}
.fs15 {font-size:15px !important;}
.fs16 {font-size:16px !important;}
.fs18 {font-size:18px !important;}
.fs22 {font-size:22px !important;}

.lineH_20 {line-height:20px !important;}
.lineH_22 {line-height:22px !important;}
.lineH_24 {line-height:24px !important;}

.spacing05 {letter-spacing:-0.5px;}

/* 링크효과 */
a {color:#666;text-decoration:none;cursor:pointer;}
a:hover {color:#666;text-decoration:underline;}

a.link1 {text-decoration:none;}
a.link1:hover {color:#005dab !important;text-decoration:underline !important;}

a.link2 {color:#333;text-decoration:underline;}
a.link2:hover {color:#333 !important;text-decoration:underline !important;}

button.link1 {text-decoration:none;}
button.link1:hover {text-decoration:underline;}

button.link2 {color:#666;text-decoration:none;}
button.link2:hover {color:#005dab;text-decoration:underline;}


/********** common : contents **********/

/* title & location */
.page_tit {width:100%;min-width:980px;height:160px;border-bottom:1px solid #d1d1d1;}
.page_tit .titArea {width:980px;height:160px;text-align:center;padding-top:40px;margin:0 auto;position:relative;}
.page_tit .titArea h1 {font-family:'noto_r';font-size:38px;color:#121212;}
.page_tit .titArea h1 em {font-family:'noto_r';}
.page_tit .titArea .desc {font-size:14px;color:#767676;}
.page_tit .loc_wrap {position:absolute;right:0;top:12px;width:500px;text-align:right;}
.page_tit .loc_wrap span {font-size:12px;color:#888;background:url('/common/img/common/loc_bar.png') no-repeat right center;padding-right:17px;margin-right:8px;}
.page_tit .loc_wrap span.current {font-family:'noto_m';color:#005dab;background:url('');padding:0;margin:0;}
.path_hidden{display:none}

.s_tit1 {font-family:'noto_m';font-size:22px;color:#333;}
.s_tit2 {font-family:'noto_m';font-size:18px;color:#333;}
.s_tit3 {font-family:'noto_m';font-size:24px;color:#333;}
.s_tit4 {font-family:'noto_r';font-size:13px;color:#666;}
.s_tit5 {font-family:'noto_r';font-size:18px;color:#333;}
.s_tit6 {font-family:'noto_r';font-size:22px;color:#333;}
.s_tit7 {font-family:'noto_r';font-size:22px;color:#121212;}
.s_tit8 {font-family:'noto_r';font-size:30px;color:#121212;}

.s_con1 {display:inline-block;font-size:13px;color:#666;padding-left:8px;line-height:22px; letter-spacing:-0.3px;background:url('/common/img/bu/rect_01.png') no-repeat 0 10px;}
.s_con2 {display:inline-block;font-size:14px;color:#767676;padding-left:8px;line-height:22px; letter-spacing:-0.3px;background:url('/common/img/bu/rect_01.png') no-repeat 0 10px;}
.s_con3 {font-family:'noto_d';font-size:15px;color:#767676;}
.s_con4 {font-family:'noto_r';font-size:18px;color:#333;}
.s_con5 {font-family:'noto_r';font-size:14px;color:#005dab;}
.s_con6 {font-family:'noto_d';font-size:14px;color:#767676;}
.s_con7 {display:inline-block;font-size:15px;color:#767676;padding-left:8px;line-height:24px; letter-spacing:-0.3px;background:url('/common/img/bu/bar_1.png') no-repeat 0 11px;}
.s_con8 {display:inline-block;font-size:15px;color:#767676;padding-left:8px;line-height:24px; letter-spacing:-0.3px;background:url('/common/img/bu/bar_2.png') no-repeat 0 11px;}
.s_con9 {display:inline-block;font-size:13px;color:#767676;padding-left:8px;line-height:22px; letter-spacing:-0.3px;background:url('/common/img/bu/star_1.png') no-repeat 0 10px;}

/* sns icon animation */
.sns_ani {display:inline-block;}
.common_sns_share {display:inline-block;width:40px;height:40px;text-indent:-9999px;vertical-align:middle;background:url('/common/img/icon/sns.png') no-repeat;background-position:0 0;cursor:pointer;}
.common_sns_share:hover {background:url('/common/img/icon/sns.png') no-repeat;background-position:0 -50px;}
.common_sns_group {display:inline-block;width:0px;height:40px;vertical-align:middle;overflow:hidden;opacity:0;}
.common_sns_group .wrap {display:block;width:185px;height:40px;}
.common_sns_group a {display:inline-block;width:40px;height:40px;text-indent:-9999px;vertical-align:middle;background:url('/common/img/icon/sns.png') no-repeat;margin:0 4px 0 0;}
.common_sns_group a.sns_facebook {background-position:-45px 0;}
.common_sns_group a.sns_facebook:hover {background-position:-45px -50px;}
.common_sns_group a.sns_story {background-position:-90px 0;}
.common_sns_group a.sns_story:hover {background-position:-90px -50px;}
.common_sns_group a.sns_twitter {background-position:-135px 0;}
.common_sns_group a.sns_twitter:hover {background-position:-135px -50px;}
.common_sns_group a.sns_url {background-position:-180px 0;}
.common_sns_group a.sns_url:hover {background-position:-180px -50px;}

.sns_ani.down .common_sns_share {display:block;}
.sns_ani.down .common_sns_group {display:inline-block;width:40px;height:0;vertical-align:middle;overflow:hidden;opacity:0;}
.sns_ani.down .common_sns_group .wrap {display:block;width:40px;height:185px;}
.sns_ani.down .common_sns_group a {display:block;margin-top:6px;}

/* sns : 40 * 40 */
.sns3 {display:inline-block;width:40px;height:40px;background:url('/common/img/icon/sns3.png');}
.sns3.facebook {background-position:0 0;}
.sns3.youtube {background-position:-40px 0;}
.sns3.insta {background-position:-80px 0;}
.sns3.facebook:hover {background-position:0 -40px;}
.sns3.youtube:hover {background-position:-40px -40px;}
.sns3.insta:hover {background-position:-80px -40px;}
.sns3.facebook.on {background-position:0 -40px;}
.sns3.youtube.on {background-position:-40px -40px;}
.sns3.insta.on {background-position:-80px -40px;}


/* 텍스트 안내문구 */
.guide_comment1 {display:inline-block;min-height:20px;font-size:13px;color:#00a3c6;padding:1px 0 0 28px;background:url('/common/img/icon/txt_guide_1.png') no-repeat;}
.guide_comment2 {display:inline-block;min-height:20px;font-size:13px;color:#f05353;padding:1px 0 0 28px;background:url('/common/img/icon/txt_guide_2.png') no-repeat;}
.guide_comment3 {display:inline-block;min-height:20px;font-size:13px;color:#767676;padding:1px 0 0 28px;background:url('/common/img/icon/txt_guide_2.png') no-repeat;}
.guide_comment4 {display:inline-block;min-height:20px;font-size:13px;color:#ffcd00;padding:1px 0 0 28px;background:url('/common/img/icon/txt_guide_4.png') no-repeat;}


/* 로딩박스 */
.loading_box {min-width:282px;height:134px;padding:90px 35px 0 35px;font-size:15px;color:#929292;text-align:center;letter-spacing:-0.5px;border:1px solid #ededed;background:#fff url('/common/img/common/loading.gif') no-repeat center 30px;}

/* 스탬프 이미지 */
.stampImg_wrap {text-align:center;}
.stampImg_wrap .stampImg {display:inline-block;width:200px;height:200px;margin-bottom:40px;background-size:200px !important;}
.stampImg_wrap .stampImg {background:url('/common/img/icon/stamp/common_off.jpg') no-repeat;}/* 공통 */
.stampImg_wrap .stampImg.cdsp {background:url('/common/img/icon/stamp/cdsp_off.jpg') no-repeat;}	/* 일대일어린이결연 */
.stampImg_wrap .stampImg.mail {background:url('/common/img/icon/stamp/mail_off.jpg') no-repeat;}	/* 편지쓰기 */
.stampImg_wrap .stampImg.cad {background:url('/common/img/icon/stamp/cad_off.jpg') no-repeat;}		/* CAD결연 */
.stampImg_wrap .stampImg.sf {background:url('/common/img/icon/stamp/sf_off.jpg') no-repeat;}		/* 특별한 나눔후원 */
.stampImg_wrap .stampImg.ufc {background:url('/common/img/icon/stamp/ufc_off.jpg') no-repeat;}		/* 나눔펀딩개설 */
.stampImg_wrap .stampImg.ufj {background:url('/common/img/icon/stamp/ufj_off.jpg') no-repeat;}		/* 나눔펀딩후원 */
.stampImg_wrap .stampImg.store {background:url('/common/img/icon/stamp/store_off.jpg') no-repeat;}	/* 스토어 주문 */

.stampImg_wrap .stampImg.on {background:url('/common/img/icon/stamp/common_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.cdsp.on {background:url('/common/img/icon/stamp/cdsp_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.mail.on {background:url('/common/img/icon/stamp/mail_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.cad.on {background:url('/common/img/icon/stamp/cad_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.sf.on {background:url('/common/img/icon/stamp/sf_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.ufc.on {background:url('/common/img/icon/stamp/ufc_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.ufj.on {background:url('/common/img/icon/stamp/ufj_on.jpg') no-repeat;}
.stampImg_wrap .stampImg.store.on {background:url('/common/img/icon/stamp/store_on.jpg') no-repeat;}

/* 최근 확인한 어린이 */
.header_bottom .recent_child_wrap {width:980px;height:0;margin:0 auto;position:relative;}
.header_bottom .recent_child {display:inline-block;position:absolute;right:0;top:100px;}
.header_bottom .recent_child .img {display:inline-block;width:90px;height:90px;border:7px solid #fff;box-sizing:content-box;border-radius:52px;}
.header_bottom .recent_child .tooltip {display:inline-block;width:355px;height:auto;text-align:left;background:#fff;padding:25px;border:1px solid #d8d8d8;border-radius:4px;position:absolute;right:0px;top:120px;
																-webkit-box-shadow:0px 2px 5px rgba(75, 75, 75, 0.3);
															       -moz-box-shadow:0px 2px 5px rgba(75, 75, 75, 0.3);
																	 -o-box-shadow:0px 2px 5px rgba(75, 75, 75, 0.3);
																	-ms-box-shadow:0px 2px 5px rgba(75, 75, 75, 0.3);
																		box-shadow:0px 2px 5px rgba(75, 75, 75, 0.3);
}
.header_bottom .recent_child .tooltip .tit {display:inline-block;font-size:16px;color:#333;margin-bottom:20px;}
.header_bottom .recent_child .tooltip .con {display:inline-block;font-size:13px;color:#666;}
.header_bottom .recent_child .tooltip .close {width:12px;height:12px;text-indent:-9999px;background:url('/common/img/btn/close_2.png') no-repeat;position:absolute;right:15px;top:15px;}
.header_bottom .recent_child .tooltip .arr {display:inline-block;width:22px;height:16px;background:url('/common/img/icon/tooltip_arr_2.png') no-repeat;position:absolute;right:40px;top:-16px;}


/*page navigation*/
.paging_type1 {display:inline-block;}
.paging_type1 .bg_page {display:inline-block;width:30px;height:30px;text-indent:-9999px;background:url('/common/img/btn/paging_1.png') no-repeat;vertical-align:middle;}
.paging_type1 .first {background-position:0 0;}
.paging_type1 .first:hover {background-position:0 -40px;}
.paging_type1 .prev {margin:0 6px 0 2px;background-position:-35px 0;}
.paging_type1 .prev:hover {background-position:-35px -40px;}
.paging_type1 .next {margin:0 2px 0 10px;background-position:-85px 0;}
.paging_type1 .next:hover {background-position:-85px -40px;}
.paging_type1 .last {background-position:-120px 0;}
.paging_type1 .last:hover {background-position:-120px -40px;}
.paging_type1 a.cnt {display:inline-block;width:30px;height:30px;font-size:15px;color:#b0b0b0;line-height:30px;text-align:center;text-decoration:none;vertical-align:middle;margin:0 1px;}
.paging_type1 a.cnt:hover {font-family:'noto_b';color:#333;text-decoration:underline;}
.paging_type1 .on {display:inline-block;width:30px;height:30px;font-family:'noto_b';font-size:15px;color:#333;line-height:30px;vertical-align:middle;margin:0 1px;}
.paging_type1 .on:hover {text-decoration:none;cursor:default}

.paging_type1 .on2 {display:inline-block;height:30px;font-family:'noto_m';font-size:15px;color:#333;line-height:30px;vertical-align:middle;margin-left:12px;}
.paging_type1 span.cnt {display:inline-block;height:30px;font-family:'noto_m';font-size:15px;color:#b0b0b0;line-height:30px;vertical-align:middle;margin-right:10px;}

/* top button */
.pageTop {width:100%;height:0;position:fixed;left:0;bottom:90px;text-align:right;}
.pageTop a {display:inline-block;width:58px;height:58px;text-indent:9999px;margin-right:30px; background:url('/common/img/common/btn_top.png') no-repeat;}
.pageTop a:hover {background:url('/common/img/common/btn_top_on.png') no-repeat;}

/* box type */
.box_type1 {width:100%;height:auto;font-size:15px;color:#666;line-height:24px;padding:20px;background:#fdfdfd;border:1px solid #d8d8d8;border-radius:4px;}
.box_type2 {width:100%;height:auto;font-size:15px;color:#666;padding:20px;background:#fdfdfd;border:1px solid #e8e8e8;}
.box_type2.padding1 {padding:30px;}
.box_type3 {width:100%;height:auto;color:#666;padding:30px;background:#fbfbfb;}
.box_type4 {width:100%;height:auto;color:#767676;padding:30px;background:#fff;border:1px solid #e5e5e5;border-radius:4px;}
.box_type4.padding1 {padding:20px 20px 20px 40px;}
.box_type4.padding2 {padding:20px;text-align:center;}
.box_type5 {width:100%;height:auto;color:#767676;padding:20px;background:#fff;border:1px solid #e8e8e8;}
.box_type5.padding1 {padding:20px 40px;}
.box_type5.padding2 {padding:25px;}
.box_type6 {width:100%;height:auto;font-size:13px;color:#666;padding:15px;background:#fbfbfb;border:1px solid #e8e8e8;}
.box_type9 {width:100%;height:100%;color:#666;padding:10px;  background:#f5f5f5; }

.box_icp {
  display: flex; /* equal height of the children */
}

.box_icp_detail {
  flex: 1; /* additionally, equal width */
  margin:8px;
}
 
/* tab type */
.tab_type1 {display:inline-block;width:100%;height:auto;vertical-align:top;border-right:1px solid #e8e8e8;}
.tab_type1 li {float:left;width:auto;height:66px;border-bottom:2px solid #444;}
.tab_type1 li a {display:block;width:100%;height:100%;font-family:'noto_d';font-size:16px;color:#666;text-align:center;padding-top:20px;background:#fbfbfb;border-top:1px solid #e8e8e8;border-left:1px solid #e8e8e8;}
.tab_type1 li a:hover {color:#121212;text-decoration:underline;}
.tab_type1 li.on {border-bottom:0;}
.tab_type1 li.on a {color:#121212;background:#fff;border:2px solid #444;border-bottom:0;}
.tab_type1 li.on a:hover {text-decoration:none;}
.tab_type1.font15 li a {font-size:15px;padding-top:22px;}
.tab_type1.font15 li a.line2 {padding-top:11px;}

.tab_type2 {display:inline-block;width:100%;height:auto;vertical-align:top;border-left:1px solid #e8e8e8;border-top:1px solid #e8e8e8;}
.tab_type2 li {float:left;width:auto;height:50px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;border-left:0;}
.tab_type2 li a {display:block;width:100%;height:100%;font-family:'noto_d';font-size:16px;color:#666;text-align:center;padding-top:14px;background:#fbfbfb;}
.tab_type2 li a:hover {color:#121212;text-decoration:underline;}
.tab_type2 li a.on {color:#121212;background:#fff;border:2px solid #444;}
.tab_type2 li a.on:hover {text-decoration:none;}

.tab_type3 {display:inline-block;width:auto;height:34px;vertical-align:top;}
.tab_type3 button {float:left;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#444;text-align:center;line-height:34px;background:#f5f5f5;transition: 0.4s;-webkit-transition: 0.4s;}
.tab_type3 button:hover {background:#dedede;}
.tab_type3 button.on {color:#fff;background:#444;}
.tab_type3 button.on:hover {color:#fff;}
.tab_type3 button:first-child {border-top-left-radius:4px;border-bottom-left-radius:4px;}
.tab_type3 button:last-child {border-top-right-radius:4px;border-bottom-right-radius:4px;}

.tab_type4 {display:inline-block;width:100%;height:auto;vertical-align:top;border:1px solid #e8e8e8;}
.tab_type4 li {float:left;width:auto;height:57px;background:url('/common/img/bu/bar_3.png') no-repeat left center;}
.tab_type4 li:first-child {background:none;}
.tab_type4 li a {display:block;width:100%;height:100%;font-family:'noto_d';font-size:16px;color:#767676;text-align:center;padding-top:20px;}
.tab_type4 li a:hover {color:#005dab;text-decoration:underline;}
.tab_type4 li.on {border-top:2px solid #005dab;}
.tab_type4 li.on a {font-family:'noto_m';color:#005dab;padding-top:17px;}
.tab_type4 li.on a:hover {text-decoration:none;}

.tbl_head {font-size:16px;color:#121212;margin-bottom:7px;position:relative;}

.table_tit {margin-bottom:15px;position:relative;}
.table_tit .tit {display:inline-block;font-family:'noto_m';font-size:22px;color:#333;}
.table_tit .subtit {font-size:17px;}
.table_tit .tit.nec {background:url('/common/img/icon/nec.png') no-repeat 0 8px;padding-left:28px;}
.table_tit .nec_info {position:absolute;right:0;top:10px;background:url('/common/img/icon/nec.png') no-repeat 0 center;padding-left:24px;}
.table_tit .btn {position:absolute;right:0;top:-5px;}
.table_tit .btn .sub_desc {display:inline-block;margin-right:20px;vertical-align:bottom;}
.table_tit .word {font-size:15px;color:#767676;position:absolute;right:0;top:10px;}


/* table type */
.tableWrap1 {width:100%;height:auto;border-top:2px solid #444;}
.tableWrap2 {width:100%;height:auto;border-top:1px solid #bbb;}
.tableWrap3 {width:100%;height:auto;border-bottom:1px solid #c6c6c6;}
.tableWrap4 {width:100%;height:auto;border:1px solid #e2e2e2;}
.tableWrap5 {width:100%;height:auto;border-top:2px solid #444;border-bottom:1px solid #bbb;}

.tbl_type1 {width:100%; border-collapse:collapse;}
.tbl_type1 th {font-family:'noto_r';font-size:18px;color:#333;font-weight:normal;text-align:left;vertical-align:top;padding:20px 0;border-bottom:1px solid #e8e8e8;background:#fff;}
.tbl_type1 td {vertical-align:top;padding:20px 0;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type1 input.rw1 {width:590px;}
.tbl_type1 .padding1 th, .tbl_type1 .padding1 td {padding:20px 0 5px 0;border-bottom:0;}
.tbl_type1 .padding2 th, .tbl_type1 .padding2 td {padding:5px 0 20px 0;}
.tbl_type1 .padding3 td {padding-left:0;padding-right:0;}
.tbl_type1.line1 tr:last-child th, .tbl_type1.line1 tr:last-child td {border-bottom:1px solid #bbb;}
.tbl_type1 tr.noline th, .tbl_type1 tr.noline td {border-bottom:0;padding-bottom:0;}
.tbl_type1 td.noline {border-bottom:0;}
.tbl_type1 th span.nec {display:inline-block;padding-left:28px;background:url('/common/img/icon/nec.png') no-repeat 0 4px;}

.tbl_type2 {width:100%; border-collapse:collapse;}
.tbl_type2 th {min-height:75px;font-family:'noto_r';font-size:18px;color:#333;font-weight:normal;text-align:left;vertical-align:middle;padding:20px 0 20px 20px;border-bottom:1px solid #e8e8e8;background:#fbfbfb;}
.tbl_type2 th span {display:inline-block;padding-left:28px;}
.tbl_type2 th span.nec {background:url('/common/img/icon/nec.png') no-repeat 0 4px;}
.tbl_type2 td {min-height:75px;font-size:15px;color:#666;vertical-align:middle;padding:20px 0 20px 30px;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type2 td .desc1 {display:inline-block;font-family:'noto_r';font-size:18px;color:#333;}
.tbl_type2 .nobg1 th {vertical-align:top;padding-top:28px;background:#fff;}
.tbl_type2 .line1 {border-bottom:1px solid #c6c6c6;}

.tbl_type3 {width:100%; border-collapse:collapse;}
.tbl_type3 th {min-height:62px;font-family:'noto_r';font-size:18px;color:#333;font-weight:normal;vertical-align:middle;padding:20px 0;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;background:#fbfbfb;}
.tbl_type3 th:last-child {border-right:0;}
.tbl_type3 td {min-height:75px;font-size:15px;color:#666;text-align:center;vertical-align:middle;padding:20px 10px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type3 td:last-child {border-right:0;}
.tbl_type3 tr.padding1 td {padding:10px;}

.tbl_type4{width:100%;color:#767676;text-align:center;font-size:15px;border-collapse:collapse;}
.tbl_type4 thead tr th{border-bottom:1px solid #005dab;}
.tbl_type4 tr th{height:54px;color:#fff;text-align:center;font-weight:normal;background:#005dab;vertical-align:middle;}
.tbl_type4 tr td {min-height:75px;padding:15px 20px;border-bottom:1px solid #e8e8e8;vertical-align:middle;word-break:break-all;}
.tbl_type4 tr td.tit{font-family:'noto_r';color:#333;}
.tbl_type4 tr td.color1{color:#121212;}
.tbl_type4 tr td a{display:block;color:#767676;line-height:18px;font-size:15px;}
.tbl_type4 tr:last-child td {border-bottom:0;}
.tbl_type4 tr td .font-small{font-size:14px;}
.tbl_type4 tr td .status{display:inline-block;width:50px;height:50px;color:#fff;font-size:13px;font-family:'noto_m';padding-top:16px;border-radius:25px;}
.tbl_type4 tr td .status.ing{background:#f4b438;}
.tbl_type4 tr td .status.ing.blue{background:#f4b438;color:#005dab;}
.tbl_type4 tr td .status.end{background:#767676;}
.tbl_type4 tr td .status.deadline{background:#bbbbbb;}
.tbl_type4 tr td .status.expected{background:#fffaf0;color:#f8ad1b;}
.tbl_type4 tr td .status.result{background:#767676;font-size:12px;line-height:14px;padding-top:11px;}
.tbl_type4 tr td .status.earlydeadline{background:#578EBE;}  
.tbl_type4 tr td .status.apply {background:#66afe0;}  /*신청완료 */

.tbl_type5 {width:100%; border-collapse:collapse;}
.tbl_type5 th {font-size:15px;color:#333;font-weight:normal;vertical-align:middle;padding:20px 0;border-bottom:1px solid #ccc;background:#fbfbfb;}
.tbl_type5 th.border-right{font-size:15px;color:#333;font-weight:normal;vertical-align:middle;padding:20px 0;border-bottom:1px solid #ccc;border-right:1px solid #ccc;background:#fbfbfb;}
.tbl_type5 td {font-size:15px;color:#767676;text-align:center;vertical-align:middle;padding:20px 0;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type5 td.border-right {font-size:15px;color:#767676;text-align:center;vertical-align:middle;padding:20px 0;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;word-break:break-all;}
.tbl_type5 td .subject {display:block;width:100%;font-size:15px;color:#767676;text-align:left;text-decoration:none;padding-left:30px;}
.tbl_type5 td .subject:hover {color:#005dab;text-decoration:none;}
.tbl_type5 td.no_result,.tbl_type5 td.no_content {padding:70px 0;}
.tbl_type5 tr:last-child td {border-bottom:1px solid #bbb;}

.tbl_type6 {width:100%; border-collapse:collapse;}
.tbl_type6 th {font-family:'noto_d';font-size:15px;color:#333;font-weight:normal;vertical-align:middle;padding:15px 20px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;background:#fbfbfb;}
.tbl_type6 th:last-child {border-right:0;}
.tbl_type6 td {font-size:15px;color:#767676;text-align:center;vertical-align:middle;padding:15px 20px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type6 td:last-child {border-right:0;}
.tbl_type6 tr:last-child td {border-bottom:1px solid #bbb;}
.tbl_type6.padding1 th, .tbl_type6.padding1 td {padding:15px 5px;}
.tbl_type6.padding2 td {padding:20px 5px;}
.tbl_type6 td.tit {text-align:left;padding:15px;}
.tbl_type6 td.tit a {color:#767676;}
.tbl_type6 td.price {color:#121212;text-align:right;padding-right:15px;}
.tbl_type6 td.no_content {padding:70px 0;}

.tbl_type7 {width:100%; border-collapse:collapse;}
.tbl_type7 th {font-size:15px;color:#333;font-weight:normal;text-align:left;vertical-align:top;background:#fff;padding:5px 0;}
.tbl_type7 td {font-size:15px;color:#767676;vertical-align:top;background:#fff;padding:5px 0;word-break:break-all;}

.tbl_type8 {width:100%; border-collapse:collapse;}
.tbl_type8 th {height:55px;font-family:'noto_d';font-size:15px;color:#555;font-weight:normal;vertical-align:middle;border-bottom:1px solid #e8e8e8;background:#fbfbfb;}
.tbl_type8 td {height:55px;font-size:15px;color:#000;text-align:right;vertical-align:middle;padding-right:30px;border-bottom:1px solid #e8e8e8;}
.tbl_type8 tr.sum th {color:#121212;text-align:left;padding-left:30px;background:#edf6fe;}
.tbl_type8 tr.sum td {font-size:16px;color:#005dab;background:#edf6fe;}
.tbl_type8 tr.sum td em {font-family:noto_m;}
.tbl_type8 tr:last-child th, .tbl_type8 tr:last-child td {border-bottom:1px solid #bbb;}

/*.tbl_type9 {width:100%; border-collapse:collapse;}
.tbl_type9 th[scope=col] {font-family:'noto_d';font-size:15px;color:#767676;font-weight:normal;vertical-align:middle;padding:15px;border-bottom:1px solid #ccc;border-right:1px solid #e8e8e8;background:#fff;}
.tbl_type9 th[scope=col]:first-child {color:#333;background:#fbfbfb;border-right:0;}
.tbl_type9 th[scope=col]:last-child {border-right:0;}
.tbl_type9 th[scope=row] {font-family:'noto_d';font-size:14px;color:#333;font-weight:normal;vertical-align:middle;padding:15px;border-bottom:1px solid #e8e8e8;border-right:0;background:#fbfbfb;}
.tbl_type9 td {font-family:noto_d;font-size:15px;color:#767676;line-height:35px;vertical-align:middle;padding:15px 10px 15px 25px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type9 td:last-child {border-right:0;}
.tbl_type9.line tr:last-child th,
.tbl_type9.line tr:last-child td {border-bottom:1px solid #bbb;}*/
.tbl_type9 {width:100%; border-collapse:collapse;border-bottom:1px solid #bbb;}
.tbl_type9 th[scope=col] {font-family:'noto_d';font-size:15px;color:#767676;font-weight:normal;vertical-align:middle;padding:15px;border-bottom:1px solid #ccc;border-right:1px solid #e8e8e8;background:#fff;}
.tbl_type9 th[scope=col]:first-child {color:#333;background:#fbfbfb;border-right:0;}
.tbl_type9 th[scope=col]:last-child {border-right:0;}
.tbl_type9 th[scope=row] {font-family:'noto_d';font-size:14px;color:#333;font-weight:normal;vertical-align:middle;padding:15px;border-bottom:1px solid #e8e8e8;border-right:0;background:#fbfbfb;}
.tbl_type9 td {font-family:noto_d;font-size:15px;color:#767676;line-height:35px;vertical-align:middle;padding:15px 10px 15px 25px;border-right:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;word-break:break-all;}
.tbl_type9 td.nobottom {border-bottom:0;}
.tbl_type9 td:last-child {border-right:0;}
.tbl_type9.line tr:last-child th {border-bottom:1px solid #bbb;}
.tbl_type9.line tr:last-child td {border-bottom:0;}

.tbl_type10 {width:100%; border-collapse:collapse;}
.tbl_type10 thead th {height:56px;font-size:15px;color:#fff;background:#005dab;text-align:center;vertical-align:middle;}
.tbl_type10 thead th.deep {background:#0057a0;}
.tbl_type10 tbody th {font-size:13px;color:#333;text-align:left;vertical-align:middle;letter-spacing:-0.5px;line-height:20px;background:#fff;padding:15px;border-bottom:1px solid #e8e8e8;}
.tbl_type10 tbody th.vat,
.tbl_type10 tbody td.vat {vertical-align:top;}
.tbl_type10 tbody td {font-size:13px;color:#767676;text-align:left;vertical-align:middle;letter-spacing:-0.5px;line-height:20px;background:#fff;padding:15px;border-left:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;}
.tbl_type10 tbody tr.bg th,
.tbl_type10 tbody tr.bg td {background:#fbfbfb;}
.tbl_type10 tbody tr th.noline {border-bottom:0;}
.tbl_type10.line_b tbody tr:last-child td {border-bottom:1px solid #e8e8e8;}

.tbl_type11 {width:100%; border-collapse:collapse;}
.tbl_type11 tbody tr th {font-family:'noto_d';font-size:15px;color:#767676;font-weight:normal;vertical-align:middle;padding:15px 20px;}

/*비전트립 - 나의 현지방문관리 용 추가 2017.09.18 dasom.jeong*/
.tbl_type12 {width:100%; border-collapse:collapse;} 
.tbl_type12 th {font-size:15px;color:#333;font-weight:normal;vertical-align:middle;padding:10px 0;border-bottom:1px solid #ccc;border-right:1px solid #e8e8e8;background:#fbfbfb;} 
.tbl_type12 th.border-none {font-size:15px;color:#333;font-weight:normal;vertical-align:middle;padding:15px 0;border-bottom:1px solid #ccc;border-right:0px none;background:#fbfbfb;} 
.tbl_type12 td {font-size:14px;color:#767676;text-align:center;vertical-align:middle;padding:20px 0;border-bottom:1px solid #e8e8e8;border-right:1px solid #e8e8e8;word-break:break-all;}
.tbl_type12 td.border-none{font-size:14px;color:#767676;text-align:center;vertical-align:middle;padding:20px 0;border-bottom:1px solid #e8e8e8;border-right:0px none;word-break:break-all;}
.tbl_type12 td .subject {display:block;width:100%;font-size:15px;color:#767676;text-align:left;text-decoration:none;padding-left:30px;}
.tbl_type12 td .subject:hover {color:#005dab;text-decoration:none;}
.tbl_type12 td.no_result,.tbl_type5 td.no_content {padding:70px 0;}
.tbl_type12 tr:last-child td {border-bottom:1px solid #bbb;}
.btn_arrow{
    width: 0;
    height: 0;
    border-right: 15px solid red;
    border-bottom: 15px solid transparent;
    margin: auto;     
    position: absolute;
    margin-top: 2px;
    float: right; 
    margin-left: 98px;
    }
.tbl_sort {position:relative;min-height:20px;}
.tbl_sort .number {font-size:16px;color:#121212;}
.tbl_sort .txt1 {font-size:16px;color:#767676;}
.tbl_sort .pos1 {position:absolute;right:0;top:-15px;}
.tbl_sort .pos2 {position:absolute;right:0;top:-10px;}


/* popup type */
.pop_type1 {width:100%;height:auto;border-radius:4px;
-webkit-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.3);
   -moz-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.3);
	 -o-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.3);
	-ms-box-shadow:0px 0px 10px rgba(75, 75, 75, 0.3);
		box-shadow:0px 0px 10px rgba(75, 75, 75, 0.3);
}
.pop_type1.w400 {width:400px;}
.pop_type1.w500 {width:500px;}
.pop_type1.w600 {width:600px;}
.pop_type1.w800 {width:800px;}
.pop_type1.w980 {width:980px;}

.pop_type1 .pop_title {width:100%;font-family:'noto_r';height:54px;font-size:22px;color:#fff;line-height:52px;background:#005dab;padding:0 60px 0 20px;position:relative;border-top-left-radius:4px;border-top-right-radius:4px;}
.pop_type1 .pop_title button.pop_close {position:absolute;right:20px;top:17px;}
.pop_type1 .pop_content {width:100%;height:auto;background:#fff;padding:30px;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}
.pop_type1 .pop_content.padding1 {padding:0 0 30px 0;}
.pop_type1 .pop_content.bg1 {background:#fbfbfb;}
.pop_type1 .pop_content.common_info .con {width:100%;height:auto;text-align:center;padding:40px 0 70px 0;}
.pop_type1 .pop_content.common_info .con p {font-size:22px;color:#333;line-height:30px;text-align:center;margin-bottom:30px;}
.pop_type1 .pop_content.common_info .desc {font-size:15px;color:#767676;line-height:24px;text-align:center;border-top:1px solid #e8e8e8;padding-top:30px;}
.pop_type1 .pop_content.common_info .desc .em1 {color:#121212;}
.pop_type1 .pop_content.common_info .desc .em2 {color:#005dab;}
.pop_type1 .pop_content.movie {width:100%;height:450px;padding:0;overflow:hidden;}
.pop_type1 .pop_content .sub_tit {font-family:'noto_r';font-size:22px;color:#333;margin-bottom:25px;}
.pop_type1 .pop_content .sub_tit2 {font-family:'noto_r';font-size:22px;color:#333;margin-bottom:30px;padding-bottom:15px;border-bottom:1px solid #bbb;position:relative;}
.pop_type1 .pop_content .sub_tit2.noline {border-bottom:0;}
.pop_type1 .pop_content .sub_tit2.nomargin {margin-bottom:0;}
.pop_type1 .pop_content .sub_tit2 .date {font-family:'noto_d';font-size:15px;color:#767676;position:absolute;right:0;bottom:10px;}
.pop_type1 .pop_content .sub_tit2 .posR {position:absolute;right:0;bottom:15px;}

.pop_type1 .bottom {width:100%;height:34px;text-align:right;line-height:34px;background:#f5f5f5;padding-right:20px;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
.pop_type1 .bottom button {font-size:13px;color:#767676;}
.pop_type1 .bottom button:hover {color:#767676;text-decoration:underline;}


/* layer popup type */
.layer_type1 {width:auto;height:auto;border:1px solid #d8d8d8;border-radius:4px;position:relative;
-webkit-box-shadow:0px 1px 4px rgba(75, 75, 75, 0.2);
   -moz-box-shadow:0px 1px 4px rgba(75, 75, 75, 0.2);
	 -o-box-shadow:0px 1px 4px rgba(75, 75, 75, 0.2);
	-ms-box-shadow:0px 1px 4px rgba(75, 75, 75, 0.2);
		box-shadow:0px 1px 4px rgba(75, 75, 75, 0.2);
}
.layer_type1 .con {border-top-left-radius:4px;border-top-right-radius:4px;}
.layer_type1 .btn_close {position:absolute;right:15px;top:15px;}
.layer_type1 .btn_area {text-align:center;background:#f8f8f8;padding:30px 0;border-bottom-left-radius:4px;border-bottom-right-radius:4px;}



/*Button*/
.btn_type1{display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:14px;color:#fff;text-align:center;line-height:48px;background:#005dab;text-decoration:none;vertical-align:middle;padding:0 40px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type1:hover{color:#fff;background:#005297;text-decoration:none;}

.btn_type2{display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:14px;color:#fff;text-align:center;line-height:48px;background:#929292;text-decoration:none;vertical-align:middle;padding:0 40px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type2:hover{color:#fff;background:#757575;text-decoration:none;}

.btn_type3{display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:14px;color:#444;text-align:center;line-height:48px;background:#f5f5f5;text-decoration:none;vertical-align:middle;padding:0 40px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type3:hover{color:#444;background:#dedede;text-decoration:none;}

.btn_type4{display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:14px;color:#666;text-align:center;line-height:46px;background:#fff;text-decoration:none;vertical-align:middle;padding:0 40px;border:2px solid #bbb;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type4:hover{color:#666;background:#fff;text-decoration:none;border:2px solid #808080;}

.btn_type5{display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:14px;color:#333;text-align:center;line-height:48px;background:#ffcd00;text-decoration:none;vertical-align:middle;padding:0 40px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type5:hover{color:#333;background:#ffb400;text-decoration:none;}

.btn_type7{display:inline-block;width:auto;height:38px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:38px;background:#444;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type7:hover{color:#fff;background:#282828;text-decoration:none;}

.btn_type8{display:inline-block;width:auto;height:38px;font-family:'noto_d';font-size:13px;color:#444;text-align:center;line-height:38px;background:#f5f5f5;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type8:hover{color:#444;background:#dedede;text-decoration:none;}

.btn_type9{display:inline-block;width:auto;height:38px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:38px;background:#929292;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type9:hover{color:#fff;background:#757575;text-decoration:none;}

.btn_type10{display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:14px;color:#005dab;text-align:center;line-height:46px;background:#fff;text-decoration:none;vertical-align:middle;padding:0 40px;border:2px solid #005dab;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_type10:hover{color:#005dab;background:#fff;text-decoration:none;border:2px solid #005dab;}

/* small button */
.btn_s_type1{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:34px;background:#005dab;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type1:hover{color:#fff;background:#005297;text-decoration:none;}

.btn_s_type2{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:34px;background:#929292;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type2:hover{color:#fff;background:#757575;text-decoration:none;}

.btn_s_type3{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#444;text-align:center;line-height:34px;background:#f5f5f5;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type3:hover{color:#444;background:#dedede;text-decoration:none;}

.btn_s_type4{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#666;text-align:center;line-height:32px;background:#fff;text-decoration:none;vertical-align:middle;padding:0 15px;border:2px solid #bbb;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type4:hover{color:#666;background:#fff;text-decoration:none;border:2px solid #808080;}
.btn_s_type4.on{color:#666;background:#fff;text-decoration:none;border:2px solid #808080;}

.btn_s_type5{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#333;text-align:center;line-height:34px;background:#ffcd00;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type5:hover{color:#333;background:#ffb400;text-decoration:none;}

.btn_s_type6{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:34px;background:#005dab;text-decoration:none;vertical-align:middle;padding:0 20px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type6:hover{color:#fff;background:#005297;text-decoration:none;}

.btn_s_type7{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:34px;background:#444;text-decoration:none;vertical-align:middle;padding:0 20px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type7:hover{color:#fff;background:#282828;text-decoration:none;}

.btn_s_type8{display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:34px;background:#444;text-decoration:none;vertical-align:middle;padding:0 15px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type8:hover{color:#fff;background:#282828;text-decoration:none;}


.btn_s_type_arrow{ border-top: 15px solid;border-left: 15px solid transparent; display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#666;text-align:center;line-height:32px;background:#fff;text-decoration:none;vertical-align:middle;padding:0 15px;border:2px solid #bbb;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_s_type_arrow:hover{color:#666;background:#fff;text-decoration:none;border:2px solid #808080;}
.btn_s_type_arrow.on{color:#666;background:#fff;text-decoration:none;border:2px solid #808080;}

/* 배너 및 실사버튼 */
.btn_b_type1{display:inline-block;width:auto;height:50px;font-family:'noto_m';font-size:16px;color:#555;text-align:center;line-height:46px;background:#fff;text-decoration:none;vertical-align:middle;padding:0 40px;border:2px solid #bbb;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_b_type1:hover{color:#555;background:#fff;text-decoration:none;border:2px solid #808080;}

.btn_b_type2 {display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:16px;color:#fff;text-align:center;line-height:46px;text-decoration:none;vertical-align:middle;padding:0 35px;border:2px solid #fff;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_b_type2:hover {background:#fff;color:#121212;text-decoration:none;}

.btn_b_type3 {display:inline-block;width:auto;height:48px;font-family:'noto_m';font-size:16px;color:#444;text-align:center;line-height:46px;text-decoration:none;vertical-align:middle;padding:0 35px;border:2px solid #444;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_b_type3:hover {background:#444;color:#fff;text-decoration:none;}

.btn_b_type4 {display:inline-block;width:100%;height:60px;font-family:'noto_m';font-size:24px;color:#fff;text-align:center;line-height:60px;background:#005dab;text-decoration:none;vertical-align:middle;padding:0 40px;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_b_type4:hover {color:#fff;background:#005297;text-decoration:none;}

.btn_b_type5 {display:inline-block;width:auto;height:34px;font-family:'noto_d';font-size:13px;color:#fff;text-align:center;line-height:32px;text-decoration:none;vertical-align:middle;padding:0 15px;border:2px solid #fff;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_b_type5:hover {background:#fff;color:#121212;text-decoration:none;}

/* more 버튼 */
.btn_com_more{display:block;width:100%;height:54px;text-indent:-9999px;background:#f4f4f4 url('/common/img/btn/social_more.png') no-repeat center;}


/* etc */
.btn_view1{display:inline-block;width:auto;height:50px;font-family:'noto_r';font-size:18px;color:#fff;text-align:center;line-height:46px;text-decoration:none;vertical-align:middle;padding:0 35px;border:2px solid #fff;border-radius:4px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_view1:hover{background:#fff;color:#121212;text-decoration:none;}

.btn_arr1{display:inline-block;width:8px;height:7px;background:url('/common/img/bu/down_3.png') no-repeat;margin-left:4px;vertical-align:middle;}

.btn_arr_type1{display:inline-block;font-size:15px;color:#121212;text-decoration:none;border-bottom:1px solid #121212;}
.btn_arr_type1 span{display:inline-block;width:5px;height:10px;background:url('/common/img/bu/arr_1.png') no-repeat;background-position:0 0;margin-left:7px;vertical-align:middle;}
.btn_arr_type1:hover{color:#005dab;text-decoration:none;border-bottom:1px solid #005dab;}
.btn_arr_type1:hover span{background-position:0 -10px;}

.btn_arr_type2{display:inline-block;font-size:11px;color:#767676;text-decoration:none;padding:1px 5px 2px 5px;border:1px solid #d1d1d1;}
.btn_arr_type2 span{display:inline-block;width:3px;height:5px;background:url('/common/img/bu/arr_3.png') no-repeat;margin-left:4px;vertical-align:middle;}
.btn_arr_type2:hover{color:#767676;text-decoration:none;border-bottom:1px solid #d1d1d1;}
.btn_arr_type2:hover span{background-position:0 0px;}

.ic_down {display:inline-block;width:16px;height:20px;background:url('/common/img/icon/download.png') no-repeat;vertical-align:middle;margin-right:5px;}
.ic_look {display:inline-block;width:14px;height:20px;background:url('/common/img/icon/look.png') no-repeat 0 1px;vertical-align:middle;margin-right:5px;}


/* 이전,다음 버튼 */
.btn_com_prev1 {display:inline-block;width:50px;height:50px;text-indent:-9999px;background:url('/common/img/btn/com_rolling_1.png') no-repeat;background-position:-1px -2px;border:2px solid #999;border-radius:50px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_com_prev1:hover {border:2px solid #444;background-position:-64px -2px;}
.btn_com_next1 {display:inline-block;width:50px;height:50px;text-indent:-9999px;background:url('/common/img/btn/com_rolling_1.png') no-repeat;background-position:-63px -65px;border:2px solid #999;border-radius:50px;transition: 0.5s;-webkit-transition: 0.5s;}
.btn_com_next1:hover {border:2px solid #444;background-position:2px -65px;}



/*btn center 정렬*/
.btn_ac {width:100%;display:inline-block;text-align:center;vertical-align:top;}
.btn_ac div {display:inline-block;vertical-align:top;}
.btn_ac:after {content:".";clear:both;display:block;height:0;visibility:hidden}
.btn_ac .posR {position:absolute;right:0;top:0;}

/*Form Type*/
.input_type1 {width:100%; height:38px;font-family:'noto_d';font-size:13px;color:#767676;1color:#a9a8a8;background:#fdfdfd;padding:0 10px 0 20px;border:1px solid #d8d8d8;border-radius:4px;vertical-align:middle;}
.input_type1:focus {font-family:'noto_d';font-size:13px;color:#767676;border:1px solid #005dab;}
.input_type1:disabled {background:#f1f1f1;border:1px solid #005dab;}

.input_type2 {width:100%; height:34px;font-family:'noto_d';font-size:13px;color:#767676;1color:#a9a8a8;background:#fdfdfd;padding:0 10px 0 20px;border:1px solid #d8d8d8;border-radius:4px;vertical-align:middle;}
.input_type2:focus {color:#767676;border:1px solid #005dab;}
.input_type2:disabled {background:#f1f1f1;}

.input_type3 {width:100%; height:34px;font-family:'noto_d';font-size:14px;color:#767676;background:#fdfdfd;text-align:center;padding:0;border:1px solid #d8d8d8;border-radius:4px;vertical-align:middle;}
.input_type3:focus {color:#767676;border:1px solid #005dab;}

.input_type4 {width:100%; height:34px;font-family:'noto_d';font-size:13px;color:#767676;background:#fff;padding:0 10px 0 20px;border:1px solid #fff;border-radius:4px;vertical-align:middle;}
.input_type4:focus {color:#767676;border:1px solid #fff;}


.btn_quantity {position:relative;}
.btn_quantity input {color:#121212;}
.btn_quantity input:focus {color:#121212;border:1px solid #d8d8d8;}
.btn_quantity .pluse {width:17px;height:17px;text-indent:-9999px;position:absolute;right:0;top:0;background:url('/common/img/btn/pluse.png') no-repeat;}
.btn_quantity .minus {width:17px;height:17px;text-indent:-9999px;position:absolute;right:0;bottom:0;background:url('/common/img/btn/minus.png') no-repeat;}

.input_search1 {width:100%;height:38px;font-family:'noto_r';font-size:14px;color:#bdbdbd;padding-right:40px;border-bottom:2px solid #a6a6a6;}
.input_search1:focus {color:#666;border-bottom:2px solid #a6a6a6;}
.search_area1 {display:inline-block;width:40px;height:30px;text-indent:-9999px;text-align:left;position:absolute;right:0;top:0;background:#fff url('/common/img/icon/search_2.png') no-repeat right center;}

.input_search2 {width:100%;height:64px;font-family:'noto_d';font-size:22px;color:#bdbdbd;padding:0 60px 0 20px;border:2px solid #e8e8e8;border-radius:4px;background:#fff url('/common/img/icon/search_3.png') no-repeat right center;}
.input_search2:focus {color:#666;}
.search_area2 {width:70px;height:64px;text-indent:-9999px;position:absolute;right:0;top:0;background:#fff;opacity:0.01;filter:alpha(opacity=0.1);}

.textarea_type1 {width:auto;height:auto;font-family:'noto_d';font-size:14px;color:#666;text-align:left;line-height:22px;background:#fff;padding:20px;border:1px solid #e8e8e8;border-radius:4px;overflow:auto;resize:none;}
.textarea_type1:focus {border:1px solid #005dab;}
.textarea_type2 {width:100%;height:auto;font-family:'noto_d';font-size:14px;color:#666;text-align:left;line-height:22px;background:#fdfdfd;padding:20px;border:1px solid #e8e8e8;border-radius:4px;overflow:auto;resize:none;}
.textarea_type2:focus {border:1px solid #005dab;}

/* 기간조회 */
.search_period {text-align:center;}
.search_period .tit {display:inline-block;font-size:16px;color:#005dab;margin-right:40px;}
.search_period .input_type2 {font-size:15px;}
.search_period .calendar {display:inline-block;width:18px;height:18px;background:url('/common/img/icon/calendar.png') no-repeat;margin:0 7px;vertical-align:middle;}

/* jquery calendar */
#ui-datepicker-div {width:250px !important;}
.ui-corner-all {border-radius:0;}

.ui-widget-content {background:#fff;border:1px solid #999;padding:20px 20px 15px 20px;width:210px !important;}
.ui-widget-content .ui-icon {background:url();}
.ui-widget-header {font-family:'Nanum Gothic';width:210px !important;font-size:13px;color:#333;font-weight:600;text-align:center;padding:0 !important;border:1px solid #fff;background:#fff url('');margin-bottom:13px;}
.ui-widget-header .ui-icon {background:url();}

.ui-icon {display:none;}
.ui-state-hover .ui-icon {display:none;}

.ui-datepicker-prev {width:27px !important;height:25px !important;left:0 !important;top:0 !important;background:#fff url('/common/img/bu/arr_5.png') no-repeat center;border:1px solid #e4e4e4;cursor:pointer;}
.ui-datepicker-prev:hover {width:27px;height:25px;left:0;top:0;background:#fff url('/common/img/bu/arr_5.png') no-repeat center;border:1px solid #e4e4e4;}
.ui-datepicker-prev span, .ui-datepicker-prev:hover span {display:none;}

.ui-datepicker-next {width:27px !important;height:25px !important;right:0 !important;top:0 !important;background:#fff url('/common/img/bu/arr_6.png') no-repeat center;border:1px solid #e4e4e4;cursor:pointer;}
.ui-datepicker-next:hover {width:27px;height:25px;right:0;top:0;background:#fff url('/common/img/bu/arr_6.png') no-repeat center;border:1px solid #e4e4e4;}
.ui-datepicker-next span, .ui-datepicker-next:hover span {display:none;}

.ui-datepicker-title {display:inline-block;width:100px;padding:0 !important;}
.ui-datepicker-title select {width:65px !important;height:25px;font-size:13px;color:#333; border:1px solid #e4e4e4;margin:0 !important;}
.ui-datepicker-month {float:right;}

.ui-datepicker-calendar {font-family:'Nanum Gothic';width:210px !important;}
.ui-datepicker-calendar th {font-size:10px;color:#666 !important;border-top:1px solid #9ea0a3;border-bottom:1px solid #e1e4e8;}
.ui-datepicker-calendar th:first-child {color:#c5513e !important;}
.ui-datepicker-calendar td {width:30px;}

.ui-state-default {display:block;width:30px !important;height:25px !important;font-size:11px !important;font-weight:600 !important;color:#555 !important;line-height:23px;padding:0 !important;background:#f8f8f8 url('') !important;border:1px solid #f8f8f8 !important;text-align:center !important;}
.ui-state-default.ui-state-highlight {display:block;width:30px !important;height:25px !important;color:#c5513e !important;background:#fff url('') !important;border:1px solid #c5513e !important;}
.ui-state-default:hover {display:block;width:30px !important;height:25px !important;color:#fff !important;background:#c5513e url('') !important;border:1px solid #c5513e !important;}



/* check box */
.checkbox_ui {display:inline-block;}
.checkbox_ui label.css_label {display:inline-block;background:url('/common/img/icon/checkbox_bg1.png') no-repeat;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
.checkbox_ui input[type=checkbox].css_checkbox {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0}
.checkbox_ui input[type=checkbox].css_checkbox + label.css_label {width:auto;height:auto;min-height:20px;padding:0 0 0 25px;cursor:pointer;background-position:0 1px;}
.checkbox_ui input[type=checkbox].css_checkbox:focus + label.css_label {outline-style:inherit !important;}
.checkbox_ui input[type=checkbox].css_checkbox:checked + label.css_label {background-position:0 -19px;}
.checkbox_ui input[type=checkbox].css_checkbox + label.css_label.font1 {font-family:'noto_d';font-size:13px;color:#444;}
.checkbox_ui input[type=checkbox].css_checkbox + label.css_label.font2 {font-family:'noto_r';font-size:14px;color:#7d7d7d;}

.checkbox_ui.default input[type=checkbox].css_checkbox + label.css_label {width:17px;height:17px;min-height:18px;text-indent:-9999px;margin:0;padding:0;}

.checkbox_ui.blue label.css_label {background:url('/common/img/icon/checkbox_bg2.png') no-repeat;}

.checkbox_ui.inpop {margin-top:8px;}
.checkbox_ui.inpop label.css_label {background:url('/common/img/icon/checkbox_bg3.png') no-repeat;}



/* radio button */
.radio_ui {display:inline-block;}
.radio_ui label.css_label {display:inline-block;background:url('/common/img/icon/radio_bg1.png') no-repeat;
	-webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none}
.radio_ui input[type=radio].css_radio {position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0}
.radio_ui input[type=radio].css_radio + label.css_label {width:auto;height:auto;min-height:20px;font-family:'noto_d';font-size:15px;color:#666;padding:0px 0 0 26px;cursor:pointer;background-position:0 3px;}
.radio_ui input[type=radio].css_radio:checked + label.css_label {background-position:0 -17px;}

.radio_ui.yellow2 label.css_label {background:url('/common/img/icon/check_2.png') no-repeat;}
.radio_ui.yellow2 input[type=radio].css_radio + label.css_label {width:30px;height:30px;text-align:left;min-height:30px;padding:0;background-position:0 0;text-indent:-9999px;}
.radio_ui.yellow2 input[type=radio].css_radio:checked + label.css_label {background-position:0 -30px;}

.radio_ui.yellow3 label.css_label {background:url('/common/img/icon/check_3.png') no-repeat;}
.radio_ui.yellow3 input[type=radio].css_radio + label.css_label {width:42px;height:42px;text-align:left;min-height:30px;padding:0;background-position:0 0;text-indent:-9999px;}
.radio_ui.yellow3 input[type=radio].css_radio:checked + label.css_label {background-position:0 -42px;}


/* 파일첨부 */
input[type="file"].fileInputHidden{height:38px;position:absolute;left:0px;top:0px;opacity:0;cursor:pointer;padding:0 !important;font-size:14px;
	filter: alpha(opacity=0);
	-ms-filter: "alpha(opacity=0)";
	-khtml-opacity: 0;
	-moz-opacity: 0;
}
.fileInputHidden + .btn_type8 {transition: 0.5s;-webkit-transition: 0.5s;}
.fileInputHidden:hover + .btn_type8{color:#444;background:#dedede;}


/* select box */
.sbSelector{cursor:pointer}

/* select - height 38 */
.sel_type1 {display:inline-block;vertical-align:middle;}
.sel_type1 .sbHolder{position:relative;width:100%;height:38px;border:1px solid #d8d8d8;border-radius:4px;}/* 기본 레이아웃 */
.sel_type1 .sbSelector{display:block;width:100%;height:38px;font-family:'noto_d';font-size:13px;color:#767676;text-align:left; overflow:hidden;position:absolute;left:0;top:0;padding:8px 0 0 20px;}/* 기본 텍스트 스타일 */
.sel_type1 .sbSelector.on{color:#767676;font-weight:600;}/* 오픈시 select 텍스트 스타일 */
.sel_type1 .sbToggle{display:block;width:100%;height:36px;position:absolute;left:0;top:0;background:#fdfdfd url('/common/img/bu/sel_bg1.png') no-repeat right center;border-radius:4px;}/* 닫힌 화살표 */
.sel_type1 .sbToggleOpen{height:36px;background:#fdfdfd url('/common/img/bu/sel_bg1_on.png') no-repeat right center;}/* 열린 화살표 */
.sel_type1 .sbOptions{width:100%;background:#fff;border:solid 1px #d9d9d9;position:absolute;left:-1px;top:36px !important;z-index:1;overflow-y:auto;box-sizing:content-box;padding:5px 0;border-radius:4px;}/* 옵션테두리 */
.sel_type1 .sbOptions a{display:block;width:100%;height:auto;font-size:13px;color:#666;text-align:left;border-bottom:0;padding:6px 0 6px 20px;}
.sel_type1 .sbOptions a:hover{color:#767676;background:#fff;text-decoration:underline;}
.sel_type1 .sbOptions a.selected {color:#767676;font-weight:normal;background:#fff;}/* 선택된 옵션 표시 */
.sel_type1 .sbOptions li.last a{border-bottom:none;}
.sel_type1 .sbOptions .sbDisabled{display:block;width:100%;height:auto;color:#aaa;background:#f1f1f1;border-bottom:solid 1px #f2f2f2;padding:6px 0 6px 20px;}/* 옵션 disabled */

/* select - height 34 */
.sel_type2 {display:inline-block;vertical-align:middle;}
.sel_type2 .sbHolder{position:relative;width:100%;height:34px;border:1px solid #d8d8d8;border-radius:4px;}/* 기본 레이아웃 */
.sel_type2 .sbSelector{display:block;width:100%;height:34px;font-family:'noto_d';font-size:13px;color:#767676;text-align:left; overflow:hidden;position:absolute;left:0;top:0;padding:7px 0 0 20px;}/* 기본 텍스트 스타일 */
.sel_type2 .sbSelector.on{color:#767676;font-weight:600;}/* 오픈시 select 텍스트 스타일 */
.sel_type2 .sbToggle{display:block;width:100%;height:32px;position:absolute;left:0;top:0;background:#fdfdfd url('/common/img/bu/sel_bg1.png') no-repeat right center;border-radius:4px;}/* 닫힌 화살표 */
.sel_type2 .sbToggleOpen{height:32px;background:#fdfdfd url('/common/img/bu/sel_bg1_on.png') no-repeat right center;}/* 열린 화살표 */
.sel_type2 .sbOptions{width:100%;background:#fff;border:solid 1px #d9d9d9;position:absolute;left:-1px;top:32px !important;z-index:1;overflow-y:auto;box-sizing:content-box;padding:5px 0;border-radius:4px;}/* 옵션테두리 */
.sel_type2 .sbOptions a{display:block;width:100%;height:auto;font-size:13px;color:#666;text-align:left;border-bottom:0;padding:6px 0 6px 20px;}
.sel_type2 .sbOptions a:hover{color:#767676;background:#fff;text-decoration:underline;}
.sel_type2 .sbOptions a.selected {color:#767676;font-weight:normal;background:#fff;}/* 선택된 옵션 표시 */
.sel_type2 .sbOptions li.last a{border-bottom:none;}
.sel_type2 .sbOptions .sbDisabled{display:block;width:100%;height:auto;color:#aaa;background:#f1f1f1;border-bottom:solid 1px #f2f2f2;padding:6px 0 6px 20px;}/* 옵션 disabled */
.sel_type2 .sbHolderDisabled .sbToggle{background:#f1f1f1 url('/common/img/bu/sel_bg1.png') no-repeat right center;}/* 기본 disabled */

.sel_type2.white .sbToggle{background:#fff url('/common/img/bu/sel_bg1.png') no-repeat right center;}
.sel_type2.white .sbToggleOpen{background:#fff url('/common/img/bu/sel_bg1_on.png') no-repeat right center;}

.sel_type2.padding1 .sbSelector, .sel_type2.padding1 .sbOptions a, .sel_type2.padding1 .sbOptions .sbDisabled {padding-left:10px;}
.sel_type2.disability_1 .sbOptions {height:250px;}



/* select - 공지사항 */
.sel_type3 {display:inline-block;vertical-align:middle;}
.sel_type3 .sbHolder{position:relative;width:100%;height:38px;border-bottom:2px solid #a6a6a6;}/* 기본 레이아웃 */
.sel_type3 .sbSelector{display:block;width:100%;height:38px;font-family:'noto_d';font-size:15px;color:#767676;text-align:left; overflow:hidden;position:absolute;left:0;top:0;padding:8px 0 0 0px;}/* 기본 텍스트 스타일 */
.sel_type3 .sbSelector.on{color:#767676;font-weight:600;}/* 오픈시 select 텍스트 스타일 */
.sel_type3 .sbToggle{display:block;width:100%;height:36px;position:absolute;left:0;top:0;background:#fff url('/common/img/bu/sel_bg1.png') no-repeat right center;border-radius:4px;}/* 닫힌 화살표 */
.sel_type3 .sbToggleOpen{height:36px;background:#fff url('/common/img/bu/sel_bg1_on.png') no-repeat right center;}/* 열린 화살표 */
.sel_type3 .sbOptions{width:100%;background:#fff;border:solid 1px #d9d9d9;position:absolute;left:-1px;top:35px !important;z-index:1;overflow-y:auto;box-sizing:content-box;padding:5px 0;border-radius:4px;}/* 옵션테두리 */
.sel_type3 .sbOptions a{display:block;width:100%;height:auto;font-size:15px;color:#666;text-align:left;border-bottom:0;padding:6px 0 6px 10px;}
.sel_type3 .sbOptions a:hover{color:#767676;background:#fff;text-decoration:underline;}
.sel_type3 .sbOptions a.selected {color:#767676;font-weight:normal;background:#fff;}/* 선택된 옵션 표시 */
.sel_type3 .sbOptions li.last a{border-bottom:none;}

/* board list type */
.boardList_1{overflow:hidden;}
.boardList_1 .sortWrap{margin-bottom:20px;}
.boardList_1 .sortWrap:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardList_1 .sortWrap .sort{display:block;float:left;width:auto;text-align:center;margin-top:20px}
.boardList_1 .sortWrap .sort a{font-family:'noto_m';font-size:15px;color:#767676;padding-left:22px;}
.boardList_1 .sortWrap .sort .bar{display:inline-block;width:1px;height:10px;vertical-align:middle;margin-left:15px;background:#c9c9c9;}
.boardList_1 .sortWrap .sort .recent{background:url('/common/img/icon/sort_recent.png') no-repeat left center;}
.boardList_1 .sortWrap .sort .recent.on{color:#005dab;background:url('/common/img/icon/sort_recent_on.png') no-repeat left center;}
.boardList_1 .sortWrap .sort .interest{margin-left:15px;background:url('/common/img/icon/sort_interest.png') no-repeat left center;}
.boardList_1 .sortWrap .sort .interest.on{color:#005dab;background:url('/common/img/icon/sort_interest_on.png') no-repeat left center;}
.boardList_1 .sortWrap .sort .finish{margin-left:15px;background:url('/common/img/icon/sort_finish.png') no-repeat left center;}
.boardList_1 .sortWrap .sort .finish.on{color:#005dab;background:url('/common/img/icon/sort_finish_on.png') no-repeat left center;}
.boardList_1 .list{width:1005px;margin-bottom:20px;}
.boardList_1 .list:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardList_1 .list li{float:left;width:310px;margin:0 25px 25px 0;border:1px solid #e8e8e8;position:relative;}
.boardList_1 .list li .img_wh{display:inline-block;width:308px;height:228px;overflow:hidden;vertical-align:top;background-size:cover !important;}
.boardList_1 .no_content,
.boardList_1 .no_result {width:980px !important;font-size:15px;color:#666;text-align:center;padding:150px 0;margin:0 25px 25px 0;border:1px solid #f0f0f0 !important;background:#fbfbfb;}
.boardList_1 .list li .tit_box{display:block;height:145px;padding:30px 20px 0 20px;}
.boardList_1 .list li .tit_box .tit{display:block;height:44px;color:#333;line-height:25px;font-size:18px;margin-bottom:20px;}
.boardList_1 .list li .tit_box .tit.tit2{height:18px;line-height:18px;margin-bottom:16px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.boardList_1 .list li .tit_box .name{display:inline-block;max-width:168px;color:#333;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;vertical-align:middle;}
.boardList_1 .list li .tit_box .bar{display:inline-block;width:1px;height:10px;vertical-align:middle;margin:0 10px;background:#c9c9c9;}
.boardList_1 .list li .tit_box .day{display:inline-block;font-family:'noto_r';color:#767676;vertical-align:middle;}
.boardList_1 .list li .nation{display:block;color:#666;vertical-align:middle;padding:10px 20px;background:#e8e8e8;}
.boardList_1 .list li .tit_box.box2{height:107px;}
.boardList_1 .list li .over {display:block;width:100%;height:100%;text-align:center;padding-top:160px;background:url('/common/img/main/story_bg.png');opacity:0;position:absolute;left:0;top:0;transition: 0.5s;-webkit-transition: 0.5s;}
.boardList_1 .list li:hover .over {display:block;opacity:1;}


.boardList_2 .list{margin-bottom:40px;border-top:2px solid #444;border-bottom:1px solid #bbb;}
.boardList_2 .list li{width:100%;padding:29px 0;border-top:1px solid #e8e8e8;}
.boardList_2 .list li:first-child{border:none;}
.boardList_2 .list li:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardList_2 .list li .lst_box{display:block;}
.boardList_2 .list li .lst_box .whole_box{display:block;width:auto;height:auto;padding-bottom:17px;}
.boardList_2 .list li .lst_box .whole_box:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardList_2 .list li .lst_box .whole_box .whole_notice{display:block;float:left;width:100px;color:#f78122;line-height:15px;font-size:20px;}
.boardList_2 .list li .lst_box .whole_box .lst_tit{display:block;float:left;width:800px;color:#333;font-size:20px;font-family:'noto_d';margin-top:-5px;1padding-left:9px;}
.boardList_2 .list li .lst_box .lst_tit2{display:inline-block;width:auto;color:#333;font-size:20px;font-family:'noto_d';margin-top:-5px;padding-bottom:17px;}
.boardList_2 .list li .lst_box .whole_box .lst_tit:hover,
.boardList_2 .list li .lst_box .lst_tit2:hover{text-decoration:underline;}
.boardList_2 .list li .lst_img{display:block;float:left;width:245px;padding:0 20px;}
.boardList_2 .list li .lst_box{display:block;width:auto;padding-left:10px;}
.boardList_2 .list li.thumb:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardList_2 .list li.thumb .lst_img{display:block;float:left;width:230px;height:120px;padding:0 20px;}
.boardList_2 .list li.thumb .lst_img .img_wh{display:block;width:190px;height:120px;overflow:hidden;}
.boardList_2 .list li.thumb .lst_box{display:block;float:left;width:750px;}
.boardList_2 .list li .lst_box .lst_txt{display:block;color:#767676;font-size:13px;}
.boardList_2 .list li .lst_box .lst_txt .lst_bar{display:inline-block;width:1px;height:10px;vertical-align:middle;background:#c9c9c9;margin-left:14px;}
.boardList_2 .list li .lst_box .lst_txt .lst_hit{display:inline-block;margin-left:10px;padding-left:22px;vertical-align:middle;background:url('/common/img/icon/hit.png') no-repeat left center;}
.boardList_2 .list li .lst_box .list_link{display:block;color:#767676;line-height:24px;font-size:15px;font-family:'noto_d';padding-top:17px;word-break:break-all;}
.boardList_2 .list li.no_content,
.boardList_2 .list li.no_result {width:100%;height:300px;font-size:15px;text-align:center;padding-top:140px;}

/* board view type */
.boardView_1.line1{border-bottom:1px solid #bbb;margin-bottom:40px;}
.boardView_1.margin0{margin-bottom:0px;}
.boardView_1 .tit_box{border-top:2px solid #444;border-bottom:2px solid #444;padding-top:40px;}
.boardView_1 .tit_box.noline{border-top:0;padding-top:0;}
.boardView_1 .tit_box .tit{display:block;color:#333;text-align:center;font-size:28px;line-height:28px;margin-bottom:10px;}
.boardView_1 .tit_box .sub_tit{display:block;color:#767676;text-align:center;font-size:14px;margin-bottom:10px;}
.boardView_1 .tit_box .txt{display:block;color:#767676;text-align:center;padding:20px 0 40px;}
.boardView_1 .tit_box .txt span{display:inline-block;vertical-align:middle;}
.boardView_1 .tit_box .txt .bar{display:inline-block;width:1px;height:10px;margin:0 10px;background:#c9c9c9;}
.boardView_1 .tit_box .txt .hit{padding-left:20px;background:url('/common/img/icon/hit.png') no-repeat left center;}
.boardView_1 .view_contents{color:#767676;font-size:15px;line-height:24px;margin-bottom:40px;padding:40px 20px;}
.boardView_1 .view_contents.line{margin-bottom:30px;border-bottom:1px solid #e8e8e8;}
.boardView_1 .view_contents.line2{border-bottom:1px solid #bbb;}
.boardView_1 .view_contents.padding0{padding-left:0;padding-right:0;}
.boardView_1 .view_contents img{display:inline;}
.boardView_1 .share_box{text-align:center;padding:40px 0 80px 0;}
.boardView_1 .comment{position:relative;}
.boardView_1 .comment:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardView_1 .comment .tit{display:inline-block;color:#333;font-size:20px;height:40px;}
.boardView_1 .comment .textarea_type1{display:block;float:left;width:864px;height:105px;margin-right:6px;}
.boardView_1 .comment .registration{display:block;float:right;width:110px;height:105px;color:#fff;font-size:16px;font-family:'noto_m';background:#bbb;border-radius:4px;}
.boardView_1 .comment_lst li:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardView_1 .comment_lst li{border-bottom:1px solid #ededed;}
.boardView_1 .comment_lst li .id_box{float:left;}
.boardView_1 .comment_lst li .id_box:after{display:block;height:0;clear:both;content:".";visibility:hidden;}
.boardView_1 .comment_lst li .id_box .id{display:block;float:left;width:115px;color:#333;font-size:15px;padding:22px 20px;}
.boardView_1 .comment_lst li .id_box .txt{display:inline-block;width:550px;color:#767676;font-size:15px;line-height:20px;padding:22px 20px;word-break:break-all;white-space:pre-wrap;}
.boardView_1 .comment_lst li .modify_box{float:right;padding:20px 20px;}
.boardView_1 .comment_lst li .modify_box .modify{display:inline-block;color:#005dab;vertical-align:middle;}
.boardView_1 .comment_lst li .modify_box .bar{display:inline-block;width:1px;height:10px;vertical-align:middle;margin:0 10px;background:#c9c9c9;}
.boardView_1 .comment_lst li .modify_box .delete{display:inline-block;color:#888;vertical-align:middle;}
.boardView_1 .comment_lst li .modify_box .day{color:#888;margin-left:30px;vertical-align:middle;}
.boardView_1 .comment_lst li .modifyArea {padding:25px 30px 30px 30px;background:#fbfbfb;margin-bottom:0px;}
.boardView_1 .comment_lst li.no_content {font-size:15px;text-align:center;padding:100px 0;}
.boardView_1 .view_list{margin-bottom:40px;border-top:1px solid #d4d4d4;border-bottom:1px solid #d4d4d4;}
.boardView_1 .view_list li{padding:20px 20px;}
.boardView_1 .view_list li:first-child{border-bottom:1px solid #ececec;}
.boardView_1 .view_list li .pre{font-family:'noto_r';color:#333;padding-right:20px;background:url('/common/img/bu/up.png') no-repeat right center;}
.boardView_1 .view_list li .next{font-family:'noto_r';color:#333;padding-right:20px;background:url('/common/img/bu/down.png') no-repeat right center;}
.boardView_1 .view_list li .bar{display:inline-block;width:1px;height:13px;vertical-align:middle;margin:0 30px;background:#c9c9c9;}
.boardView_1 .view_list li .txt{color:#767676;font-size:14px;vertical-align:middle;}



.slidesjs-navigation,.slidesjs-pagination{display:none}